[2020-09-09 09:33] SanderElias commented on #915
I already started to create a plugin for this a couple of days ago. I just learned about the "official" tool fir this, so I will use that instead of juice.

[2020-09-09 09:57] SanderElias commented on #912
@adityakoushikr11 There is nothing in your issue we can act upon.
There is no way to guide you, as we simply don't know what you are trying to do.
A wild guess would be, there is a mistake in the endpoint URL.

[2020-09-10 04:17] SanderElias commented on #912
Closing due to a lack of actionable context

[2020-09-10 04:17] #912 closed

[2020-09-10 05:06] ngdevelop-tech commented on #892
Same issue happening with me.

When I execute `npm run scully` command it is getting stuck at `Creating Route List 3/3`
![image](https://user-images.githubusercontent.com/34959339/92683670-19dc7400-f351-11ea-866b-37ad4ca104eb.png)

**Version Details :**
Node : v12.17.0

**Dependencies**
    "@angular/animations": "~10.1.0",
    "@angular/common": "~10.1.0",
    "@angular/compiler": "~10.1.0",

[2020-09-10 08:34] SanderElias commented on #892
@ngdevelop-tech they adding the `--host="0.0.0.0" cmd-line flag

[2020-09-10 11:01] becjon commented on #892
Same issue happening with me. Adding `--host="0.0.0.0" cmd-line flag did not change the behavior .

[2020-09-10 13:44] jorgeucano commented on #892
We are working to fix this issue :) ...

[2020-09-10 15:23] #888 closed

[2020-09-10 15:24] amycdurbin commented on #812
If @Brocco doesn't finish by 9/17, @jorgeucano take this issue.

[2020-09-11 13:42] jorgeucano commented on #892
We found the issue with WSL and some Linux distros... I added two commands for support puppeteer in these cases.

Here in [WSL Pre-Requisites](https://scully.io/docs/learn/getting-started/installation/) have the command and config your project need for WSL or a Linux distro with this "issue"

![Capture](https://user-images.githubusercontent.com/5982204/92932406-3f35b480-f41b-11ea-8e81-c7d77198e9df

[2020-09-11 13:42] #892 closed

[2020-09-11 13:45] jorgeucano commented on #844
In scully@latest we fix the issue, and we add some documentation of "Pre-requisites" to use Scully and WSL
[here](https://scully.io/docs/learn/getting-started/installation/)

![Capture](https://user-images.githubusercontent.com/5982204/92932910-ed415e80-f41b-11ea-9235-83d3cb417c09.PNG)

[2020-09-11 13:45] #844 closed

[2020-09-13 07:58] d-koppenhagen opened #919 "Plugin "googleAnalytics" of type "undefined" is not found, can not store config"
## 🐞 Bug report

When I will try to update some package in my Angular Scully project for my personal website ([Repo here](https://github.com/d-koppenhagen/d-koppenhagen.de)), the update is proceeded but there is a side effect that update also some part of the Scully plugin goolge analytics and the `package-lock.json` file is changed.

### Description

When I install all packages exactly as current

[2020-09-13 07:59] d-koppenhagen commented on #919
Oh my Scully config file BTW contains the following:

[code]

[2020-09-13 08:56] nhaancs opened #920 "Failed to execute 'removeChild' on 'Node'"
I dont know why this error below sometimes happens when I navigate between posts. When this happens, the url change, but not the post content. Anybody knows the reason?
`ERROR DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

[2020-09-14 13:28] jorgeucano opened #922 "Spanish documentation"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-09-14 13:33] SanderElias commented on #920
@nhaancs No, I didn't hear of this issue yet.
If you can provide a reproduction, we will fix it.

[2020-09-14 13:37] SanderElias commented on #919
@d-koppenhagen I did some related changes that are in the latest beta (.6), can you give that a try and see if it persists?

[2020-09-14 13:48] d-koppenhagen commented on #919
If I change this in my `package.json`:

[code]

... and run `npm i`, there still occurs the weird change in the `package-lock.json` file in `@scullyio/scully-plugin-google-analytics` (same as described in the issue) and it leads to the same error.

[2020-09-14 14:53] nhaancs commented on #920
Yeah,
You can clone this repo: [https://github.com/nhaancs/ngx-scully-blog](https://github.com/nhaancs/ngx-scully-blog)
Check out branch **nhannguyendacoder**
I use this command to build: `ng build --prod --stats-json && npm run scully && npm run scully:serve`

**First issue**
1. After build, goto route `http://localhost:1668/blog`
2. Click on the first post
3. Click on "Home" on the top navigatio

[2020-09-15 12:37] moritz31 commented on #892
@jorgeucano thanks for providing the wsl details. I try to get this working in a docker container but got the same issue as described. Is it possible that for docker there is an similar issue. The config for wsl didn't solved it.

Angular: 10
scully 1.0.0-beta.6

Some strange issue, the puppeteer version 3.3 with scully does not work locally, i need to install version 5.3 to make it work local, ma

[2020-09-15 13:22] jorgeucano commented on #892
@moritz31 I will test with @SanderElias, Can you create another issue for the docker problem so, we can track better?

[2020-09-15 13:31] moritz31 opened #924 "Scully stucks at step "Creating Route List: 3/3" inside Docker"
## 🐞 Bug report

### Description

Running scully on my local mac works as expected. When running scully inside a docker container it get's stuck during the the Creating Route List 3/3.
Tried it with a combination of the following flags
<code>
 --showGuessError --np --prod --host=0.0.0.0 --scanRoutes --serverTimeout=30000
</code>
#### 🔬 Minimal Reproduction

I've used different node images but buil

[2020-09-15 13:31] moritz31 commented on #892
https://github.com/scullyio/scully/issues/924

[2020-09-15 13:47] victorfrederiknielsen commented on #892
I have the same problem on WSL2, Windows Insider build.

scully.*.config.ts
[code]

generated scully-routes.json
[code]

`(sudo) npm run scully`
[code]

[2020-09-15 13:51] jorgeucano commented on #892
@victorfrederiknielsen Do you install chrome into the WSL?
[code]

[2020-09-15 13:54] victorfrederiknielsen commented on #892
Yes, I followed the guide for WSL.

Reinstalling:
[code]

This is what happens when I do --scanRoutes. Let me try with the --showGuessError flag
[code]

[2020-09-15 17:01] amycdurbin opened #925 "Create Sponsor section in Community Tab"

[2020-09-16 05:54] SanderElias commented on #920
I checked out your sample.
when you upgrade to the current release of Scully, there is _no_ error.
just run ` npm i @scullyio/ng-lib @scullyio/scully`

[2020-09-16 05:54] #920 closed

[2020-09-16 06:23] SanderElias commented on #924
This will happen if chrome isn't preinstalled in your docker container. We are looking at how to generate a more proper error for this.
for now, make sure you do something like this:

[code]
As a base docker config, and then make sure to set the environment correctly in the container that runs Scully:
In order to use this I create my projects' Docker file like this:

[code]

I hope this helps you.

[2020-09-16 06:23] #924 closed

[2020-09-16 06:25] SanderElias opened #926 "Add documentation for using Scully in Docker"

[2020-09-16 07:19] nhaancs commented on #920
I upgraded follow your instructions but the errors still happen

[2020-09-16 12:51] moritz31 commented on #924
@SanderElias thanks! This really fixed the issue for me.
I used node:12-slim and it seems like debian in combination with chrome didn't worked.

I've slightly modified your approach and added a non root user which is running that build:

`FROM node:12-alpine

RUN apk add --no-cache \
      chromium \
      nss \
      freetype \
      freetype-dev \
      harfbuzz \
      ca-certificates \
      t

[2020-09-16 14:26] SanderElias commented on #919
Ok, we will look futher into that, thanks for confirming

[2020-09-17 04:08] nhuyvan opened #927 "Scully getting stuck after creating route list on CircleCI"
## 🐞 Bug report

### Description
I ran Scully locally, and everything worked fine, but when I pushed my changes to CircleCI, Scully wouldn't get past this point as shown in the following image

<img width="1421" alt="Screen Shot 2020-09-16 at 9 00 19 PM" src="https://user-images.githubusercontent.com/13056129/93418645-af9b6600-f85f-11ea-99c5-f644fffb5ab7.png">

#### 🔬 Minimal Reproduction
.circlec

[2020-09-17 05:39] SanderElias commented on #927
Duplicate of #924.
We are in the process of adding a proper error message.

[2020-09-17 05:39] #927 closed

[2020-09-17 07:12] geromegrignon opened #928 "[Doc] Getting started section order"
## 🗄️ Docs report

### Description

When clicking on the 'Getting started' button on https://scully.io/, it navigate to the 'Minimal setup required' page (https://scully.io/docs/learn/getting-started/requirements/).

But at this page is placed as the fourth position of the 'Getting started' section, the next step based on the buttons on the bottom of the page is 'tips for testing', which might be

[2020-09-17 07:13] geromegrignon commented on #928
If you are fine with moving the 'minima setup required' step as the first position of the 'Getting started' section, i can make a PR.

[2020-09-17 07:29] geromegrignon opened #929 "[Refactor] ng-lib installation logs"
## 🐞 Bug report

### Description

When the project started, a support was added to Angular v8 with a dedicated `ng-lib-v8`.

The package is added in relation with the Angular version of the project in which Scully is added :

[code]

But as i just added scully on an Angular 10 project, it feels misleading to see the `for Angular v9` as Scully supports Angular 10.

![image](https://user-images.gith

[2020-09-17 07:30] geromegrignon commented on #929
if you are fine with removing the 'for Angular v9' part, i can make a PR.

[2020-09-17 11:24] adityakoushikr11 commented on #854
@SanderElias  i am getting the same issue on gitlab pipeline..

[2020-09-17 13:23] SanderElias commented on #928
This is now automated in #930 nd will be solved when that PR is merged

[2020-09-17 13:23] #928 closed

[2020-09-17 14:41] SanderElias commented on #854
This issue is also discussed in #924. This happens when chrome is not (correctly/completely) installed
We are adding an improved error message for this, but its not an issue with scully itself.
I'm going to close this, as it's answered in #924

[2020-09-17 14:41] #854 closed

[2020-09-17 15:23] #885 closed

[2020-09-17 15:25] #846 closed

[2020-09-17 15:25] #868 closed

[2020-09-17 15:25] #869 closed

[2020-09-17 15:25] #870 closed

[2020-09-17 15:25] #874 closed

[2020-09-17 15:25] #877 closed

[2020-09-17 15:25] #879 closed

[2020-09-17 15:25] #880 closed

[2020-09-17 15:25] #883 closed

[2020-09-17 15:25] #884 closed

[2020-09-17 15:25] #889 closed

[2020-09-17 15:25] #903 closed

[2020-09-17 15:26] #872 closed

[2020-09-17 15:26] #871 closed

[2020-09-17 15:26] #873 closed

[2020-09-21 12:16] SanderElias commented on #925
@amycdurbin I added the section, but I do stil need logo's and the names from all the sponsors.

[2020-09-22 09:22] SanderElias opened #934 "fix removeScripts Plugin"

[2020-09-22 09:57] SanderElias opened #936 "document splitRoute helper"

[2020-09-22 14:17] jorgeucano commented on #919
@d-koppenhagen Do you continue with the same issue?

[2020-09-22 14:18] d-koppenhagen commented on #919
Yep

[2020-09-22 14:54] #908 closed

[2020-09-22 15:03] SanderElias opened #938 "prep 1.0 release"

[2020-09-22 16:57] asotog commented on #924
Same for me on Vercel :(

[2020-09-22 18:10] asotog commented on #854
Same for me on Vercel :( but does not happen on Netflify works fine there

[2020-09-22 19:03] #938 closed

[2020-09-22 19:28] d-koppenhagen commented on #919
Tomorrow I will try to update all scully packages to the latest versions and then I can tell you if it still happens after updating to 1.0.0

[2020-09-22 20:21] aaronfrost opened #942 "Add a 'focusedRoute' config to scully.config so that I can just have the build focus on ONE route"
## 🧩 Feature request

### Description

 Similar to how I can do testing and tell the testing framework to only focus on a single test by using `it.only` or `fit`, I want to be able to have Scully only rebuild a single route so that I can focus on rapid-iteration development around a certain route/feature.

This would allow the users to run `ng build --watch` as well as `npm run scully:serve -- --w

[2020-09-22 21:46] asotog opened #944 "Docs links broken on plugins page"
## 🗄️ Docs report

### Description

Some docs pages links are broken

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://scully.io/docs/Reference/plugins/overview/

### Reproduction Steps\*\*

Click on `create the plugin function` link

### Expected vs Actual Behavior\*\*

Expected: go to specific page
Actual: is going to home page always

## 📷Screenshot

![image](https://user-im

[2020-09-23 07:06] SanderElias opened #945 "Research why `scully --watch` needs to be restarted on a regular interval"

[2020-09-23 08:15] d-koppenhagen commented on #919
Hey @jorgeucano , I juts update to scully version 1.0.0. Now the issue has gone away. I also notices that I added the GA plugin to the `dependencies` instead of `devDependencies`. Maybe that was part of the problem? .. anyway, with `1.0.0` everything work as expected.

[2020-09-23 08:15] #919 closed

[2020-09-23 09:29] kappy904 commented on #458
@dyingangel666 Thank you! Worked for me by installing and adding it to my polyfills.ts

[2020-09-23 09:42] SanderElias commented on #942
This feature is already implemented by using the `--routeFilter` option where you can give one or more (comma separated) routes you want to restrict building to

[2020-09-23 09:42] #942 closed

[2020-09-23 09:48] SanderElias commented on #944
Thanks for reporting this.
We didn't catch this, because our test was checking if the URL's where working. As we did see the 404 page as a proper result, this didn't work for those links.
I updated the test to actually check for the route to exist now.
By doing this I found quite a couple of broken links!
Fixed now.

[2020-09-23 14:00] asotog commented on #944
dank u... awesome

[2020-09-23 14:08] SanderElias commented on #854
@asotog see the puppeteer troubleshooting docs for more information on that.
As soon as puppeteer works the problem is gone.

[2020-09-23 14:14] SanderElias opened #947 "Add runtime test for node version to throw a error if the node version is too low?"

[2020-09-23 14:15] SanderElias commented on #947
Also display an waring during installation?
we do have it in the package.json, but people seem still be able to get the wrong version in.

[2020-09-23 14:38] SanderElias opened #948 "404 page for docs"

[2020-09-23 14:42] ruslanguns opened #949 "Schematic input does not validate against the schema NX Schematics"
## 🐞 Bug report

### Description

Getting issues from the CLI using NX monorepo, also is getting the wrong project instead the projected.

As you can see in the console output you will notice that I asking to scully cli to use the project ui-scully-app but instead is using ui-ng-hola-mundo (the default project)

#### 🔬 Minimal Reproduction

1. Install NX Monorepo and setup a basic project of Angul

[2020-09-23 14:56] ruslanguns commented on #949
Just in case you guys would like to see the command output, here's my project bug branch.

https://github.com/ruslanguns/ruslan-project/tree/bugs/scully/installation

[2020-09-23 15:02] asotog commented on #854
thank you, also what I'm wondered is their Scully sample works for them https://vercel.com/guides/deploying-scully-with-vercel

[2020-09-23 15:49] puku0x commented on #934
What if we could install the plugin by
[code]
instead of
[code]

[2020-09-23 16:17] SanderElias commented on #934
@puku0x  that looks like something went haywire somewhere! I'll fix this.

[2020-09-23 18:42] jorgeucano commented on #949
With vanilla and angular (started) nx workspace, work perfectly... I will check what happened in your workspace

[2020-09-23 18:53] jorgeucano commented on #949
@ruslanguns You have an error in your workspace, I clone the project, but the angular app not work! You need to fix that first and after you can install scully.... Is something in your config!

![Capture](https://user-images.githubusercontent.com/5982204/94056513-c5a3ac00-fdb4-11ea-90c3-a008c7854355.PNG)

[2020-09-23 18:54] jorgeucano commented on #949
Sorry, re-open fix one change! and now i can check the issue

[2020-09-23 19:07] jorgeucano commented on #949
I put the name of the project and work for me! Can you check that?

![Capture](https://user-images.githubusercontent.com/5982204/94057938-b887bc80-fdb6-11ea-9ca4-da97b7504462.PNG)

[2020-09-23 19:48] ruslanguns commented on #949
@jorgeucano thanks for doing it by yourserlf, it kinda weird, I tried twice but i did it not with the hola-mundo project instead a separated clean project called scully-app and the schematic did not point correctly.

[2020-09-23 19:50] jorgeucano commented on #949
I recommend checking this office hour with the NX team https://www.youtube.com/watch?v=DkU_xQMAdE8

[2020-09-23 21:05] damiansire commented on #922
Can you assign me this?

[2020-09-24 11:32] #949 closed

[2020-09-24 11:35] jorgeucano commented on #859
https://stackoverflow.com/teams/pricing

![Capture](https://user-images.githubusercontent.com/5982204/94139925-d699ff00-fe40-11ea-8459-26c62a524089.PNG)

[2020-09-24 12:40] jorgeucano opened #953 "update NX schematics to latest"

[2020-09-24 15:26] amycdurbin opened #955 "Update Scully routes in watch mode"

[2020-09-24 18:34] chrisguttandin opened #958 "Misleading description in readme"
## 🗄️ Docs report

### Description

The readme currently says:

I think this is not correct. As far as I understand it Scully uses the guess-parser which does a static code analysis to find the routes. The guess-parser is a part of the guess.js project which leverages machine learning techniques but the guess-parser itself does not.

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

The

[2020-09-24 19:04] netlander commented on #499
Any news on this?

[2020-09-25 06:59] #812 closed

[2020-09-25 06:59] #855 closed

[2020-09-25 06:59] #859 closed

[2020-09-25 06:59] #895 closed

[2020-09-25 06:59] #914 closed

[2020-09-25 06:59] #925 closed

[2020-09-25 06:59] #926 closed

[2020-09-25 06:59] #929 closed

[2020-09-25 06:59] #934 closed

[2020-09-25 06:59] #947 closed

[2020-09-25 07:11] SanderElias opened #959 "Make section in docs for scully's API"

[2020-09-26 06:41] SanderElias opened #965 "schematics move TS to peer-deps, and loosen its version checking."
urrently we are installing an extra TS that we probably don't need.

[2020-09-26 16:35] puku0x opened #967 "'/styles.css' is not found when rendering with Critical CSS plugin"
## 🐞 Bug report

### Description
File not found error is shown when running Scully with `@scullyio/scully-plugin-critical-css`.

[code]

I guess following line in the plugin should have been commented out.
[code]

#### 🔬 Minimal Reproduction

Add `criticalCSS` then run Scully.
[code]

#### 💻Your Environment

**Angular Version:**
<pre><code>Angular CLI: 10.1.3
Node: 12.16.3
OS: darwin x64

Angular:

[2020-09-26 17:51] SanderElias commented on #967
@puku0x Can you provide a repo that shows the issue. In our test, we are not seeing this issue.
The plugin is still inn beta, and the start css file isn't configurable yet. this will change shortly. But the tool needs to know the 'starting' css file(s)

[2020-09-27 04:46] puku0x commented on #967
@SanderElias Thank you for your reply.

This is the repo for the reproduction.
https://github.com/puku0x/scully-issue-967

[2020-09-28 11:48] SanderElias commented on #967
I just pushed v0.0.2 to NPM. Perhaps you can give that a spin.
The configuration options are also in there. When the PR is merged, the updated docs will also be available

[2020-09-28 15:26] puku0x commented on #967
Confirmed that the error has gone

[2020-09-28 15:26] #967 closed

[2020-09-29 23:29] EatonZ opened #986 "logFileSeverity problems"
## 🐞 Bug report

### Description

There are 2 problems with the `logFileSeverity` config setting:
1. Setting it like this results in an error during the build: `logFileSeverity: LogSeverity.none`.
2. To workaround that, I tried setting it to just 3 (none). My expectation is that no log file would be created. This is not the case.

#### 🔬 Minimal Reproduction

Set the log setting per the above, and

[2020-09-30 06:00] hubbertj commented on #955
I think a little more detail would allow other to work on this, rather then the core scully team.

[2020-09-30 11:04] SanderElias opened #990 "other languages don't show correclty in menu"

[2020-09-30 12:20] #948 closed

[2020-09-30 12:20] #990 closed

[2020-09-30 15:34] jorgeucano opened #994 "Remove !important from menu and fix mobile menu"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-01 12:52] BoshJeckerleg opened #1000 "Scully build fails immediately in new project"
## 🐞 Bug report

### Description

I have built a fresh angular application and followed the scully docs on how to add scully and build a static site.

However when running `npm run scully` I get the following error

[code]

#### 💻Your Environment
Windows

#### 💻Minimal reproduction steps
[code]
**Angular Version:**

<pre><code>

     _                      _                 ____ _     ___
    / \

[2020-10-01 15:15] #825 closed

[2020-10-01 15:15] #826 closed

[2020-10-01 15:15] #915 closed

[2020-10-01 15:15] #936 closed

[2020-10-01 15:15] #944 closed

[2020-10-01 15:15] #955 closed

[2020-10-01 15:15] #959 closed

[2020-10-01 15:15] #986 closed

[2020-10-01 17:15] jorgeucano commented on #1000
@BoshJeckerleg I  just test in my computer (Windows 10) And work perfect with the same angular node & scully version... Can you give me more info?

Windows Version:
Terminal:

[2020-10-01 17:35] BoshJeckerleg commented on #1000
@jorgeucano Sure, appreciate it might be a hard one to solve as the error isn't too helpful. I've created a repo where I can replicate the error here https://github.com/BoshJeckerleg/scully-demo. It's just a boilerplate app.

[2020-10-01 17:39] jorgeucano commented on #1000
I test and work for me your project

![Capture](https://user-images.githubusercontent.com/5982204/94843978-e642b600-03f3-11eb-9e45-5699f0c901b6.PNG)

what terminal are you using?

[2020-10-01 17:41] BoshJeckerleg commented on #1000
@jorgeucano  Interesting. I am using the integrated terminal in vscode so I guess powershell?

[2020-10-01 17:47] jorgeucano commented on #1000
We have a strange error with PowerShell sometimes due to a folder path issue, can you copy me the full path to be able to do a test?

Thank you!

[2020-10-01 17:49] BoshJeckerleg commented on #1000
@jorgeucano Cool, I was thinking that had something to do with it as when I cloned this to my desktop it works fine.

The folder path where it is broken is D:\Code\Git\Red Maple\scully-demo

[2020-10-01 19:01] BoshJeckerleg commented on #1000
@jorgeucano  So I've got it working now.

Removing the whitespace in the folder path meant that the minimal reproduction that I sent you started working again.

I then moved onto the actual repo where I am trying to add Scully and tried again, this is in the same directory. I got a more helpful error message that scully couldn't find the angular project of name ... in angular.json.

In the Scully

[2020-10-01 19:06] jorgeucano commented on #1000
Thanks you for test all of this... We will work for this "path problem" with PowerShell

[2020-10-01 19:11] BoshJeckerleg commented on #1000
@jorgeucano No worries, thanks for Scully, it's really cool.

[2020-10-01 22:18] aaronfrost opened #1002 "Add documentation for 'useTransferState'"
This is one of the best features we have, and it isn't in the docs. It isn't discoverable on our site. There aren't any examples of it in our repo. We need something for this.

Also... this should prompt a larger ticket where we make sure that each API is in the docs. @SanderElias can you orchestrate that?

[2020-10-02 14:32] SanderElias commented on #1002
We should at least add a sample to this page:
https://scully.io/docs/Reference/ngLib/transfer-state-service/

[2020-10-02 14:45] aaronfrost commented on #1002
We should add a ticket for all of our Angular-facing APIs to make sure that they are documented. The `ScullyLibModule.forRoot` API. The TransferState API. The `ScullyRouteService` API. And any others.

We shoudl create tickets for each of these to verify that the docs are up to snuff with the APIs, and htne we can mark then with the good-first-issue label so that the community can help us with the

[2020-10-02 16:58] aaronfrost opened #1006 "Spansih tab doesn't switch to spanish anymore."
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-02 23:57] skilletspecial opened #1010 "ANSI escape codes from terminal styling logged to scully.log file"
## 🐞 Bug report

### Description
Scully uses Chalk for terminal string styling.  Chalk adds ANSI escape characters and those are getting logged to the scully.log file when strings have nested styles.

#### 🔬 Minimal Reproduction

Run `npm run scully` with unhandled routes and check the scully.log file.  You will see this output:
[code]

#### 💻Your Environment

**Angular Version:**
Angular CLI 10.0

[2020-10-03 15:02] chrisguttandin opened #1016 "scully-plugin-critical-css has jsdom as peer dependency"
## 🐞 Bug report

### Description

The `scully-plugin-critical-css` package defines `jsdom` as a peer dependency but as far as I can tell it doesn't use `jsdom` and non of it's dependencies require it.

#### 🔬 Minimal Reproduction

Install `@scullyio/scully-plugin-critical-css` and look for any references to `jsdom`. It's only referenced in the `package.json` file.

#### 💻Your Environment

**Angula

[2020-10-03 20:39] IStep95 commented on #892
I had the same error with node v10.15.0, and change the node version to v12.18.3 and everything worked.

[2020-10-05 06:03] SanderElias commented on #1016
You are correct, and I will fix this.

[2020-10-05 07:12] SanderElias commented on #1002
Also, We should create a couple of chapters to learn about things like transferstate. Not everything should go that, but at least transferState. Preferable including some video demo.

[2020-10-05 07:19] SanderElias commented on #1002
I just checked, all except the `forRoot(config)`  do already have some docs. Most of it does need some TLC tho.

[2020-10-05 07:36] SanderElias commented on #1006
@jorgeucano You already had an issue for this? I can't find that anymore. Is this done?

[2020-10-05 07:38] SanderElias opened #1022 "Create docs for ngLib.forRoot(config)"

[2020-10-05 07:39] SanderElias opened #1023 "Documentation improvements"

[2020-10-05 14:24] SanderElias opened #1037 "create tool to use plugin readme's in our docs in a automated way."
We have quite a few plugins that all have their own documentation in their own readme.
We should pull those into the docs site in an automated fasion.

[2020-10-05 14:30] SanderElias commented on #1000
@BoshJeckerleg your problem is: `D:\Code\Git\Red Maple\scully-demo` Powershell gets confused if you use upper-case nd more so if you use spaces.
Switch to cmd. or remove all spaces and uppercase ut of your path. This is a windows/PowerShell thing.
I'm still finalizing some code that will detect this and give an appropriate warning.

[2020-10-05 15:22] #1010 closed

[2020-10-05 16:49] BoshJeckerleg commented on #1000
@SanderElias  That is what we figured out, but I agree, some error messaging would be helpful for others in future as I was completely stumped by this for a few hours.

[2020-10-05 23:18] skilletspecial opened #1038 "Process not found error on npm run scully"
## 🐞 Bug report

### Description
When running `npm run scully` the static files seem to be generated correctly but an error ocurrs.

#### 🔬 Minimal Reproduction
1. Create a brand new Angular CLI project
2. Run `ng add @scullyio/init`
3. Run `ng build --prod`
4. Run `npm run scully`

#### 💻Your Environment

**Angular Version:**
10.0.8

**Scully Version:**
1.0.0

## 🔥 Exception or Error

[code]

NOT

[2020-10-05 23:20] skilletspecial commented on #1038
Happy to try to run this down but no luck after a first look around.  Is there some non-obvious logging I could dig into?

[2020-10-06 05:19] hubbertj commented on #1038
I have seen "ERROR: The process "49376" not found" for a while now. I just assumed it was some dead process which they system is trying to close or something. Overall doesn't stop the static site from generating.

[2020-10-06 06:43] SanderElias commented on #1038
duplicate from #79

[2020-10-06 06:43] #1038 closed

[2020-10-06 09:55] SanderElias commented on #1000
reopened to hook to fix

[2020-10-06 13:02] #1000 closed

[2020-10-07 13:04] #901 closed

[2020-10-07 13:04] #1006 closed

[2020-10-07 13:04] #965 closed

[2020-10-07 13:04] #1016 closed

[2020-10-07 13:04] #958 closed

[2020-10-08 06:08] AlexFBP commented on #1000
Please note @SanderElias and/or @jorgeucano that this issue apparently is not related to Powershell: I'm having the same behavior with `zsh` (ohmyzsh) and with `bash` in elementaryOS 5.1 (Ubuntu 18 based).

If the project path has an space, Scully won't run. Or at least in my case? :thinking:

[2020-10-09 17:26] pegaltier opened #1063 "Remove useless _ngcontent dom attributes to the generated pages"
## 🧩 Feature request

### Description

- I don't use the view encapsulation of Angular because i make a simple website with a shared css shared as asset file
- At the moment the generated html pages contains many useless  _ngcontent attributes such as:  _ngcontent-nwc-c11=""
- It is useless code which increase the page size and make the diff impossible

### Describe the solution you'd like

- Solu

[2020-10-10 15:11] pegaltier commented on #1063
I close this issue since it's possible to fix using solution 1 or solution 2: ViewEncapsulation.None OR RegexPlugin

example with RegexPlugin
setPluginConfig(RegexPlugin, {
  replacements: [
    // regex to replace _ngcontent-abc-a16=""
    {
      from: new RegExp('(_ngcontent-([a-z]{3})-([a-z0-9]{3})="")', 'gi'),
      to: '',
    },
  ],
});

[2020-10-10 15:11] #1063 closed

[2020-10-10 19:28] pegaltier opened #1069 "Plugins should be installed as dev dependencies"
## 🗄️ Docs report

### Description

At the moment in the readme of most of the plugin the installation guide is not complete or not correct. For instance there is no install command or it give a npm install command as dependency and not dev dependency (without -D or --save-dev)

No command:
- @scullyio/plugins/logrocket
- @scullyio/plugins/google-analytics
- @scullyio/scully-plugin-remove-scripts

[2020-10-12 08:04] SanderElias commented on #1069
I agree that plugins should be a dev dependency. I would welcome a PR that aligns this across all plugins and uses a similar layout to show how to install them.

[2020-10-12 08:06] SanderElias opened #1080 "refactor Markdown plugin to extract code formatting"
Code formatting is _not_ a concern of the markdown plugin, and should be living in it's own plugin.
We support other formats (HTML and adoc) that also might benefit from the code-format part.

[2020-10-13 12:07] jorgeucano opened #1084 "Scully Utils documentation"
## 🗄️ Docs report

### Description
In `/docs/reference/scully-api/utils` we have 8 titles without any documentation.
[code]

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-13 13:17] jorgeucano opened #1085 "add documentation for configValidator"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-13 13:17] jorgeucano opened #1086 "add documentation for ContentMetaData"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-13 13:19] jorgeucano opened #1087 "add documentation for ContentMetaData"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-10-13 13:29] #911 closed

[2020-10-13 14:09] harounchebbi opened #1088 "Problem with scully when building project with --base-href flag"
## 🐞 Bug report
After building my angular app with --base-href flag, scully content is not rendered in the browser.

### Description

#### 🔬 Minimal Reproduction

ng build --prod --base-href /project-name/ && npm run scully
scully content not found when navigating to the route in question.
This only happens when specifying --base-href which I obviously need to deploy the static site.

#### 💻Your E

[2020-10-14 09:05] pegaltier commented on #1069
Thanks for your feedback, I will try to do that this week-end

[2020-10-15 07:37] SanderElias commented on #1088
Duplicate of #699
This is a direct result of what base-href does.
If you need a base-href, use our base-href plugin to set it.
You can use the angular CLI for this, but then you need to move your distribution files into the correct folder structure before Scully can render it.

[2020-10-15 07:37] #1088 closed

[2020-10-16 09:57] harounchebbi commented on #1088
Thank you @SanderElias . It worked with the plugin 😃

[2020-10-16 11:34] SanderElias commented on #1063
Also, If you are using normal angular encapsulation, they are not useless. Those are used in the css selectors that angular generates.

[2020-10-16 11:45] SanderElias commented on #1000
@AlexFBP I'm on Ubuntu 20. Spaces in pathnames is an issue in _many_ tools.
What you are seeing is a similar yet different issue.
Perhaps just don't use spaces in path-names ;)
I took a quick look, and it seems to be something around typescript that goes haywire.
When you think this is important enough, please open a new ticket.

[2020-10-17 18:51] EatonZ commented on #986
@SanderElias ^

[2020-10-19 04:05] ngdevelop-tech commented on #1037
@jorgeucano @SanderElias anyone looking into this feature?

[2020-10-19 11:53] SanderElias commented on #1037
@ngdevelop-tech Not right now.
It's on @jorgeucano task-list, but I suspect he will not come around to this shortly.
(@jorgeucano correct me if I'm wrong!)

[2020-10-20 10:58] AlexScigalszky commented on #922
I made this test https://github.com/scullyio/scully/pull/1099 and I discover that the english file \docs\learn\introduction_es.md is not there but there is a spanish translation. Need I remove the spanish file?

[2020-10-20 14:46] amycdurbin commented on #1069
Done. PR merged

[2020-10-20 14:46] #1069 closed

[2020-10-21 17:04] SanderElias commented on #922
Its mostly the same as the overview.md
I did split it out a bit. if you have translated the other files, this one can go. Unless you think there are portions of that not accounted in other parts

[2020-10-22 17:57] jorgeucano opened #1102 "Add environment file and env flag"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-10-23 01:57] #922 closed

[2020-10-24 19:55] khalithartmann commented on #78
Hello @SanderElias  where can I find the firebase plugins for Scully? Are they published yet? And do you know what the status is on the "transfer state option"?

[2020-10-26 14:26] SanderElias commented on #78
@khalithartmann The transferState is fully implemented. I think a couple of days after my previous remark in this thread.

As far as I know. none did publish a firebase plugin (they are still in use tho)
Perhaps @jorgeucano knows a published firebase-plugin?

[2020-10-28 08:03] SanderElias opened #1104 "Fallback to original observable in stransferstate"
## 🧩 Feature request

### Description
When a user uses the transferState, and they require data from a route that is not generated, they now receive nothing
(there is a warning logged to console)
It would be nice to fall back to the original observable when this happens.

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a

[2020-10-28 21:21] magbeat commented on #924
Beside installing the mentioned packages I also had to add the following option to the `scully.config` file
` puppeteerLaunchOptions: { args: ['--no-sandbox', '--disable-setuid-sandbox'] },`

Thanks @moritz31 !

[2020-10-28 23:26] brleinad commented on #1084
@jorgeucano Are you currently working on this? If not, I can tackle this in the next few days.

[2020-10-29 05:48] SanderElias opened #1105 "Make static server independent of config"
The static server is now also compiling the config. this is double work that doesn't need to take place.
We should make it so that it can boot and function without an actual config in place, using the defaults from the configuration.
The only real change would be that if an user wants a different port number this is something that must be provided on the CMD line.
Then when Scully starts it can se

[2020-10-30 09:16] SanderElias opened #1107 "Make 'rubber-stamp' plugin set"
## 🧩 Feature request

### Description
Make a set of plugins that work in conjunction to create repeated pages.
A simple sample of this would be the current markdown pages, those are all the same base-page, with different content inserted at a single place. (not taking in account titles and other things right here)
We could render the base-page once, and then use the same "stamp" on all of the file

[2020-10-30 15:22] thinktank67 opened #1108 "Error TS5042: Option 'project' cannot be mixed with source files on a command line when running npm run scully"
## 🐞 Bug report

The following error happens when I try running npm run scully:

using plugins from folder "./scully"
Typescript error while compiling plugins. the error is:
error TS5042: Option 'project' cannot be mixed with source files on a command line.

⠹ undefined
npm ERR! code ELIFECYCLE
npm ERR! errno 15
npm ERR! <project-name>@0.0.0 scully: `scully`
npm ERR! Exit status 15
npm ERR!
npm ER

[2020-10-31 06:55] SanderElias commented on #1108
@thinktank67 I can't reproduce this. (I don't have access to a windows machine)
By any chance, are you using PowerShell? We have seen some issues with PowerShell before. Most notably, specs or upper-case letters in pathnames seem to be an issue there.

[2020-10-31 06:56] SanderElias commented on #1084
@brleinad I'm pretty sure @jorgeucano has other obligations at this moment, so go ahead!

[2020-11-01 23:14] ataherinmobly commented on #1108
it is happening with me as well in both vscode terminal and in an ubuntu terminal installed on windwos

[2020-11-02 10:41] SanderElias commented on #1108
@ataherinmobly @thinktank67
I would love a repo that shows this issue.  It doesn't reproduce for me.

[2020-11-02 11:20] SanderElias commented on #1108
@ataherinmobly @thinktank67
I just noticed you used Version 1.0.0 of Scully and 4.0.2 of typescript.
Can you update both to the latest?

[2020-11-02 14:15] #887 closed

[2020-11-03 02:05] brleinad commented on #1084
Cool, thanks @SanderElias.  Are there any guidelines for writing documentation? I couldn't find any.

I was planning on following the structure there is for `ROUTESPLIT` on https://scully.io/docs/Reference/scully-api/utils/.  Usage along with a short description of the return values and an example for each of the utils.

 I will submit a PR probably next week. I read the CONTRIBUTING.md and signed

[2020-11-04 16:03] thinktank67 commented on #1108
Hi this was the test app I'm using to setup Scully
[get-hydroponics-online (2).zip](https://github.com/scullyio/scully/files/5488931/get-hydroponics-online.2.zip)

[2020-11-04 16:29] thinktank67 commented on #1108
I've updated to the lastest scully:
 "@scullyio/init": "~1.0.1",
    "@scullyio/ng-lib": "~1.0.0",
    "@scullyio/scully": "^1.0.4",
Type script seems to be at the latest available version but I'm still having the same issue.  I also tried running the command in a command window instead of using powershell but still no joy

[2020-11-04 17:43] kunjee17 opened #1112 "Scully build server hardware requirement"
## 🐞 Bug report
What is the hardware requirement for Scully Build ?
### Description
Scully build process don't complete on small build server using docker build.
#### 🔬 Minimal Reproduction
If you are running scully build on small machine (2 GB, 1 CPU), it just don't exit. I m building application using gitlab CI.
#### 💻Your Environment
Docker running inside small VM. (2 GB, 1 CPU)
**Angular Versi

[2020-11-05 05:24] SanderElias commented on #1108
@thinktank67
I did unpack your app:
![image](https://user-images.githubusercontent.com/1249083/98200886-db1d0180-1f2e-11eb-91cb-08cfc33ec881.png)
I used npx so I was sure to use local installed packages. I did also a run with `npm run scully`
Also worked.
DM me somewhere and I'll try to look with you at this.
Windows seems to have issues with certain chars in the path-name.
Are you sure you are in

[2020-11-05 06:17] SanderElias commented on #1112
@kunjee17 Frankly, I have no idea.
Scully itself is a nodeJs program. It needs enough memory to keep your route-list with some additions in memory. It really depends on your setup here.
Then we need puppeteer. I checked, but could not find minimal requirements for that. As puppeteer  itself is also mostly a nodeJs program, the memory requirements are probably not that big either.
However, puppetee

[2020-11-05 06:17] #1112 closed

[2020-11-05 06:19] SanderElias commented on #1112
@kunjee17 Oh, as you mentioned docker, you might want to look into issue #924  too.

[2020-11-05 06:29] SanderElias opened #1114 "Style-guide for docs contributions."
## 🧩 Feature request

### Description

Add a document that explains how to contribute to the docs, and provides some guidance on making uniform looking documentation.
This should include creating new pages, and chapters. Also explain the use of the `overview.md`, and the required front-matter stuff.

[2020-11-05 06:30] SanderElias commented on #1084
@brleinad Thanks!
We don't have a style-guide and/or guidelines for documentation yet. (it is on my wish-list(#1114), alongside a lot of other things!)

Don't hesitate to DM me if you need any assistance getting up and running.

[2020-11-05 11:54] thinktank67 commented on #1108
Hi I must appologies, there was a space in the full execution path.  I didn't check as I run all my angular projection under this path ok. I have however come across another problem now when I run Scully, could you suggest what this could be related too? Every time I run npm run scully it returns a different "ERROR: The process "6872" not found"

using plugins from folder "./scully"
 ☺   new Angul

[2020-11-05 12:13] kunjee17 commented on #1112
@SanderElias may be the case. Thanks a lot. I ll surely have a look. Will poke you again if stuck somewhere. Thanks a lot for reply.

[2020-11-05 16:08] #1108 closed

[2020-11-05 16:11] #674 closed

[2020-11-05 16:11] #781 closed

[2020-11-05 16:11] #782 closed

[2020-11-06 01:10] aaronfrost opened #1115 "Enhance the documentation around allDone plugin and routeDiscoveryDone plugin"
I looked at the doc, and I didn't understand what I would use them for. I didn't understand what they returned.

We need to add examples for both. [https://scully.io/docs/Reference/plugins/types/allDone/](https://scully.io/docs/Reference/plugins/types/allDone/)

[2020-11-06 01:14] aaronfrost opened #1116 "Fix documentation around `router plugin` and `router process plugin`"
I was reading the docs for `router process plugin` because a client emailed me and asked how he could remove certain routes from his app. So I was going to tell him to use a `router process plugin` to do this. However, the way it is described is too much like a `router plugin`. We need to re-write the docs to describe exactly how to do this. I would need to read the source or test it out to unders

[2020-11-06 06:54] SanderElias commented on #1108
For your process question. its a duplicate of #79

[2020-11-08 01:16] viderme opened #1117 "Build is not working (possible question?)"
I created a project of Angular with Scully. First time i compiled, all things working perfect. Some days later, i tried to compile again, and nothing happens. I start the compilation `npm run scully`, but nothing happens: **no errors, no messages**. Anyone has light about this?

![image](https://user-images.githubusercontent.com/16581931/98454743-b307eb00-2146-11eb-8f13-6273c7e38c5e.png)

[2020-11-08 20:12] viderme commented on #1117
Add: Trying again today, after start command 'npm run scully', and wait changes in terminal, my computer start to freeze. Then, i open my Manager Tasks (on windows), and there was dozens of nodejs process, all of them are from scully command. It was consuming all memory of my PC, more less 12GB.

[2020-11-09 12:45] SanderElias commented on #1117
@viderme I have not heard about this issue before.  From the description, it seems like a corrupted node execution. Does it still occur after you have restarted the computer?

[2020-11-09 16:44] tomling opened #1118 "Properties returned from ScullyRoutesService getCurrent() undefined when switching posts"
## 🐞 Bug report

### Description

I have an issue with getting properties from ScullyRoutesService getCurrent() when running the app in prod mode.

When I initially go to a post, the ScullyRoutesService getCurrent() method returns a list of properties that I can use on the page (such as the page title). When I go back and navigate to a different route, these properties are then undefined. This pro

[2020-11-09 16:53] SanderElias commented on #1118
Sounds like you lost a subscription or something. Are you sure you don't have a `first` or `take(1)` in there somewhere? Are you using guards for this?
If not, I'll take a look at your app tomorrow.

[2020-11-09 17:05] tomling commented on #1118
I haven't got any route guards and no calls to those specific operations.

The app is fairly basic and as I am fairly new to Angular, this could completely be down to my implementation... but some help would be very much appreciated 😊

[2020-11-09 17:31] viderme commented on #1117
I restarted the pc but the same thing happens. Is there any way to show some verbosity/log execution of the command? I tried the options in the cli, but nothing works. Below is a gif of execution and the processes consuming memory:

![asd](https://user-images.githubusercontent.com/16581931/98575396-eb6b0e80-2297-11eb-82ce-0658cb9c75d0.gif)

[2020-11-09 19:55] EatonZ opened #1119 "New logSeverity command line option does not work"
## 🐞 Bug report

### Description

The new `logSeverity` command line option added https://github.com/scullyio/scully/pull/988 unfortunately does not appear to be working. A log file still gets created.

#### 🔬 Minimal Reproduction

`npm build` [this application](https://github.com/scullyio/scully/files/5512949/NewApp.zip), then `npm scully`. Observe the created `scully.log` file.
Notice how in `pa

[2020-11-10 07:42] SanderElias commented on #1118
@tomling
Problem turns to be something in your template:
I changed it to this:
[code]
and now it is showing properly.

I did this in your controller:
[code]
there is no reason to assign the observable (a function itself) inside the ngOnInit.
But mostly I added the tap to see what was going on. (you can remove that)
And it turns out, the `getCurrent()` is working as expected. When you do this, you

[2020-11-10 07:42] #1118 closed

[2020-11-10 07:46] SanderElias commented on #1117
@jorgeucano Do you have any idea?

@viderme We have seen strange things with PowerShell before. Can you try it with `command` or the wsl?

[2020-11-10 15:32] afriedma commented on #291
Hello @msacket,  I just installed latest version and see the same issue.  It brought down my lighthouse rating, do you have any other workarounds?

![image](https://user-images.githubusercontent.com/22999195/98694891-04c79580-2340-11eb-9ded-005b173bc895.png)

[2020-11-10 18:16] viderme commented on #1117
I've tried with npx and with ubuntu terminal, same thing;
I try to reproduce the bug, i thing it is related to the utilization o Rush with Angular/Scully. But no logs are being showing.

Repo: https://github.com/viderme/scully-test2

You'll need https://rushjs.io/ to work.

[2020-11-11 07:53] moritz31 opened #1121 "Flicker on page load"
## 🐞 Bug report

### Description

I've an website running with Scully. What happens if that I have some buttons on the page that are determined by angular and are jumping on page load. What happens is that I enter the page, the Scully page shows instantly and then after maybe 1-2 seconds the angular page is loaded and the buttons are all jumping around.

Is there maybe a flag that Scully do not sh

[2020-11-13 09:57] adityakoushikr11 opened #1122 "Puppeteer render issue."
## 🐞 Bug report
Puppeteer render issue.
### Description
Scully build works fine in my local computer, when we are trying to run scully build through Gitlab CI/CD pipeline, i get the following error
The ___Scully_system_plugins_Alter_at_own_RISK___ plugin "puppeteerRender has thrown the below error,
              while trying to render route "unknown"
              Scully will exit
Error: Protocol

[2020-11-13 09:57] adityakoushikr11 commented on #1122
![Web capture_13-11-2020_152024_gitlab com](https://user-images.githubusercontent.com/33486608/99059550-c2fb5100-25c4-11eb-88ec-c65bfe48dd7d.jpeg)

[2020-11-13 10:33] SanderElias commented on #1122
@adityakoushikr11 Can you try Scully 1.0.4? There was something similar to this that was solved.
Aside from that, we have a cmd-line option that is there so Scully will progress, without exiting when a route fails. (`--pluginsError=false`).  Then you can access what route is missing, and isolate the problem a bit more.

[2020-11-13 10:36] adityakoushikr11 commented on #1122
@SanderElias sure. I will get back to you in sometime.

[2020-11-13 11:54] adityakoushikr11 commented on #1122
@SanderElias i am getting same error even after adding update scully to 1.0.4 and executing npm run scully --pluginsError=false

[2020-11-13 13:17] SanderElias commented on #1122
I have looked at your logs again. It seems an issue with Puppeteer.
Can you try lowering the config options `maxRenderThreads: 32` to half of the threads you have available on your system?

[2020-11-15 08:42] bampakoa opened #1124 "Schematic input validation error with Angular CLI 11 project"
## 🐞 Bug report
When I install Scully in an Angular CLI 11 application, I get a schematic input validation error.

### Description

#### 🔬 Minimal Reproduction

1. Create a new Angular CLI project with `ng new my-app --routing`
2. Install Scully with `ng add @scullyio/init`

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 11.0.1
Node: 12.19.0
OS: win32 x64

Angular:
...
Ivy

[2020-11-16 05:10] aaronfrost opened #1125 "Docs have missing link to ScullyRouteService"
https://scully.io/docs/Reference/ngLib/overview/

The above link should have a link to ScullyRoutesService. But instead of has the idle-monitor service two times. We need to fix that.

[2020-11-16 05:26] adityakoushikr11 commented on #1122
@SanderElias  can u tell me where to set maxRenderThreads: 32

[2020-11-16 05:51] adityakoushikr11 commented on #1122
@SanderElias i am getting the following error
`Puppeteer error while rendering "/videos/flutter-saas-app-dashboard-installation-set-up-" TimeoutError: Navigation timeout of 30000 ms exceeded  we will retry rendering this page up to 3 times.
Puppeteer error while rendering "/videos/node-js-clothing-dashboard-installation-set-up-" TimeoutError: Navigation timeout of 30000 ms exceeded  we will retry

[2020-11-16 07:17] aaronfrost opened #1126 "Error on @scullyio/init on project"
When I run `ng add @scullyio/init` on the `github.com/aaronfrost/DonutStore` `main` branch, it runs and then at the end I get the following error:

![image](https://user-images.githubusercontent.com/662832/99223052-01e5fe00-27a1-11eb-9003-cc5a38b21648.png)

This error needs to not happen. Not sure what is causing it. Didn't happen in the past. Not sure if it is the upgrade to angular or the upgrad

[2020-11-16 14:59] SanderElias commented on #1126
Looking into this. Seems related to the Angular CLI 11.

[2020-11-16 14:59] #1125 closed

[2020-11-16 15:00] SanderElias commented on #1124
Duplicate of #1126.
(I knew this is older, but I'm going to focus communication there.)
Seems related to CLI 11.

[2020-11-16 15:00] #1124 closed

[2020-11-16 15:04] SanderElias commented on #1122
That seems like a failure of a single page (or actually 2 different ones)
Is there anything special in those?

[2020-11-16 19:39] AlexScigalszky commented on #1116
Nnotify me when it's ready and i'll translate it into spanish

[2020-11-16 20:04] AlexScigalszky commented on #499
I made this one ( https://github.com/AlexScigalszky/scully/commit/64ee44a7ee01cae1a464fe85497947f36153f460 )
I used jsonRouterPlugin as example to make it but I need to make same tests. I can`t figure out how write a test.

The idea is write the strapi query on config section like this:
![image](https://user-images.githubusercontent.com/20727215/99302166-c04f6480-282d-11eb-854d-44a88a07acc3.png)

[2020-11-18 14:31] SanderElias commented on #1122
As there is no current actionable activity in here, I'm closing this for now.
If there is anything new, We are more than willing to reopen the issue!

[2020-11-18 14:31] #1122 closed

[2020-11-18 14:33] SanderElias opened #1131 "Documentation. Add a some info about "flicker" to faq"

[2020-11-18 15:33] petterhoel commented on #1126
Same here Scully and Angular @latest

[2020-11-18 18:10] aaronfrost opened #1132 "Create a postrenderer to combine all styles inside style tags into one tag"
## 🧩 Feature request

A video by @jeffwhelpley taught me some things. See it [HERE](https://www.loom.com/share/35330a858cd741ba92e8be0c0496ffbb).

One of the things: for AMP, you must have all your styles inside one style tag in the head. Brilliant! Scully makes this EASY AF!

We need to build a series of AMP plugins for Scully Users. Once that takes all of the Styles from your pages <head> and co

[2020-11-18 19:47] aaronfrost opened #1133 "Create a DisableAngular plugin that can cache the assets for the other pages that will use Angular"
## 🧩 Feature request

Create a plugin like the `DisableAngular` plugin. But instead of simply removing the script tags required by the Angular runtime, get them cached by the serve instead. Maybe via a `fetch` link or something.

### Description

 A clear and concise description of the problem or missing capability...

If we can disable Angular on some pages, but on those pages we fetch the assets

[2020-11-18 20:02] aaronfrost commented on #1126
I am seeing that the schematic worked, and the project runs. But the error... I don't like it.

[2020-11-18 20:38] aaronfrost commented on #1132
Here is some starter code, as this plugin would be crazy easy to write.

[code]

**THIS MAY INFACT WORK!!!** I just don't have time to try it and make sure that it is working.

Make sure and add to the docs for this that you must execute this plugin BEFORE the CriticalCSS plugin.

[2020-11-18 20:40] aaronfrost opened #1135 "Document the CriticalCSS/DiscountFlashPrevention plugins"
## 🗄️ Docs report

Possibly two of the coolest plugins we've built in a while, and we haven't documented it.

[2020-11-19 01:30] aaronfrost commented on #1122
We need to make sure we get this solved. This would be very frustrating,
and I'm sure others are seeing it too.

On Wed, Nov 18, 2020, 7:31 AM Sander Elias <notifications@github.com> wrote:

[2020-11-20 23:31] jsanta opened #1137 "Initial page shows before rendering internal pages directly"
Hi.
Trying Scully with an Angular 11 app (this also happened before updating Angular version).
Defined my initial page / to be rendered. As the app has many other internal pages defined in the angular-routing files  the issue happens when navigating directly to any other internal page, different from the initial page.
The initial page gets rendered and it's visible for a few seconds before renderi

[2020-11-21 08:43] denversaka opened #1138 "scully error 8500 on: npm run scully -- --scanRoutes"
## 🐞 Bug report
⠼ Erreur�: le processus "8500" est introuvable

### Description

source code to reproduce:
git clone https://jargon330@bitbucket.org/jargon330/blog-iner-code.git

#### 🔬 Minimal Reproduction
ng add @scullyio/init
ng build --prod

npm run scully
`
npm run scully

using plugins from folder "./scully"
 ☺   new Angular build imported
 ☺   Started servers in background
Finding all route

[2020-11-22 12:20] SanderElias commented on #1138
Duplicate of #79

[2020-11-22 12:20] #1138 closed

[2020-11-22 12:28] SanderElias commented on #1137
@jsanta I'm unsure what you are asking?
It looks to me you are using Scully on pages that are behind a login on something?
If I understand you correctly, you don't want Scully to render those pages?
In that case, use the `ignored` router plugin for those routes you want to exclude.
Also, set up your server so it redirects a user landing on those pages directly to a page that handles those requests

[2020-11-22 15:06] jsanta commented on #1137
Hi thanks for answering.
I'm not using  Scully on any other pages  besides the home page.
My app has the following route structure (on the Angular routing-module):

[code]

Direct navigation to / works perfectly.
But if I  navigate to any internal page, before getting the internal page rendered on the browser, I see the home page rendered, just for a few seconds or less, but enough to notice. I ca

[2020-11-22 22:19] andrwagn opened #1139 "Broken link or missing content"
## 🗄️ Docs report

### Description

On the homepage, https://scully.io/, I clicked on "Plugin System" and was redirected to "https://scully.io/docs/learn/plugins/overview" which shows "SORRY, COULD NOT LOAD STATIC PAGE CONTENT".

[2020-11-23 10:31] SanderElias commented on #1137
You should have the "internal' routes redirected to `404.html` which is the original `index.html` that is not pre-rendered. Again, this is a setting you should arrange for on your server. Not something Scully can provide much help in. If you use the original HTML, there will be not Scully pre-rendered content in there at all.

[2020-11-23 13:10] Niaro commented on #907
@SanderElias Hi there! First of all tons of thanks for the tool!
Is it okay that the Scully command run compiles into js the scully.config.ts and the plugins folder? I kinda don't want js files nearby ts files....

[2020-11-23 15:31] SanderElias commented on #907
@Niaro Yes, in this situation there is no way around without doing really funky rewrites of the import/requirements that are done in the user-provided modules.
After Scully is done you can remove the JS files if you really want.
The temporary config.js file is auto removed by Scully. We leave the stuff in the `./scully/` subfolder because it is allowed to write those things in JS too.

[2020-11-24 11:05] yelhouti opened #1141 "Starting with scully"
## 🐞 Bug report

### Description
We running the scully schematic, a folder scully is created with a dummy default plugin and the tsconfig.json
1- When I delete the plugin, For cleaner code I should be able to compile since this method is not used
2- The compile code (.js .js.map) should be put in the dist folder and used from there if needed, instead of polluting the source code.
3- scully.log sho

[2020-11-24 12:28] viztastic opened #1142 "GA4 (Google Analytics 4) with Scully?"
## 🧩 Feature request

I'm not sure if this is a feature or doc request, but is there any guidance on how to implement the new GA 4 with Scully? The documentation on GA4 seems sparse and I can't seem to get my Angular/scully app to fire off events so I know which page I'm on.

Is there any reference implementation for this?

### Description

 A clear and concise description of the problem or missin

[2020-11-24 15:04] aaronfrost opened #1143 "Document resultsMapper for json plugin"
Speaking with a user today, they needed better documentation on the JSON plugin. They weren't really reading the doc, so I sent them to the doc. But I noticed that the `resultsHandler` (or maybe it is called `resultsMapper`?) isn't documented in there. We need to document that better. We documented the `headers` config. But not how to map an object from the server into an array that we then pluck

[2020-11-24 16:46] sansan88 commented on #428
Any update on this?

[2020-11-25 08:53] bampakoa commented on #1126
Hey all, I just tested it with version 1.0.4 and the error has gone. One thing that I noticed though is that running`ng add @scullyio/init` takes very long to complete in relation to previous version.

[2020-11-28 21:48] jsanta commented on #1137
Makes some sense, though I don't like the redirection part.
Will give it a try and share my findings.
Thanks.

[2020-11-30 20:11] aaronfrost commented on #1135
We need to add this Plugin to the docs, essentially: https://github.com/scullyio/scully/blob/48bff92cd7517fcfd1f0c0d8afa7517d84638db9/libs/plugins/scully-plugin-critical-css/README.md

[2020-11-30 20:17] sumitparakh commented on #1135
Hi @aaronfrost , I wanna contribute.

[2020-11-30 20:53] aaronfrost commented on #1135
@sumitparakh I am here for questions. Also @jorgeucano and @SanderElias are here for questions. Good luck on this. Thanks for your willingness to help.

[2020-12-01 04:33] pjlamb12 commented on #1132
@aaronfrost back from Thanksgiving break and gonna take a stab at this. I'm just not sure the best way to deploy it under the scullyio org. Also, do you have a preference for how the repo is set up?

[2020-12-01 05:15] sumitparakh commented on #1135
Hi @aaronfrost, I'm getting this error.

[code]

Am I missing something or I just have to install (globally?) the missing dependency?

![image](https://user-images.githubusercontent.com/4236211/100699860-142b8300-33c2-11eb-8b45-9183aabbc7ed.png)

[2020-12-01 14:43] #1115 closed

[2020-12-01 18:30] pjlamb12 commented on #1132
@SanderElias @jorgeucano any ideas on what you prefer for the repo? Do you want to create a GitHub repo under the scully org that the code can be added to? And then the plugin can be deployed under the npm org as well? Or where should the plugin code be stored?

[2020-12-01 18:43] EatonZ commented on #79
FYI, this appears to be fixed now using latest Scully & Node.

[2020-12-01 20:56] pjlamb12 commented on #1132
The code for this can be found in [this repo](https://github.com/pjlamb12/scully-plugin-amp-css). Its format is based off the [scully-plugins](https://github.com/notiz-dev/scully-plugins) repo.

Just running `ng build --prod` and `npm run scully` produce no `style` tags in the `index.html` file. Is there another plugin needed to render those styles?

@aaronfrost @jorgeucano @SanderElias

[2020-12-02 03:40] aaronfrost commented on #1132
I love it. You're awesome @pjlamb12. Good luck on this.

[2020-12-02 04:58] pjlamb12 commented on #1132
This is coming along well. Having a little Jest/unit test issue, but once that's worked out the plugin should be about ready for a release.

[2020-12-02 07:54] aaronfrost commented on #1126
@SanderElias did you figure out why the `ng add @scullyio/init` is taking so long to run vs previous versions?

[2020-12-02 14:03] auxilien0 commented on #892
1. npm run build --prod
2. ng serve
3. (open new terminal)
4. npm run scully

This worked for me, do not know about you guys
`"@scullyio/scully": "^1.0.5",`

[2020-12-02 17:12] EatonZ commented on #1119
@SanderElias @jorgeucano I'm sorry, but this still doesn't appear to be fixed. Have you actually tested this feature?
Re-run my sample app and you can still see a log file generated with Scully 1.0.6.

[2020-12-02 22:47] pjlamb12 opened #1156 "Config Compiling when Using Logging"
## 🐞 Bug report

### Description
I'm using the log, logWarn, and yellow functions from Scully in a plugin. When I run Jest on a spec file and that plugin function is used, Scully starts parsing and using the scully config file. Scully v1.0.6 should have fixed this issue, but it doesn't seem to have changed anything.

#### 🔬 Minimal Reproduction
Clone https://github.com/pjlamb12/scully-plugin-amp-c

[2020-12-03 09:08] SanderElias opened #1157 "definition of ports needs to move to dotfile"
Right now, the ports are defined in the scully config file.
That means that the server part is depending on the config file, and I can only start the server after:

1. a config file is there
2. the config file compiles completely.
3. bumps if there is an error anywhere.

I would propose to move the port definitions into the dotfile, and make that the primary driver.
then when it's updated in the c

[2020-12-03 09:49] SanderElias commented on #1119
It didn't create one in my tests.  But I do have an suspiction

[2020-12-03 10:04] SanderElias commented on #1126
@aaronfrost depending on your node version, puppeteer or chromium (and even some more dependencies) might be compiled from source. That does take a while, but this will solve itself, as those dependencies will release binaries for those node versions.

[2020-12-03 10:06] bampakoa commented on #1126
@SanderElias it would be great if Scully could report an appropriate message during compilation for the convenience of the user.

[2020-12-03 13:21] Gyrosh opened #1159 "Scully Starters"
Starters are boilerplate projects that users can use to set up site quickly.

I was wondering about different section in showcase or separate page for Scully Starters for specific Headless CMS (like in Gatsby).

What do you think about it?

I am currently testing [Scully Blog Starter](https://github.com/flotiq/scully-blog-starter) using [Flotiq CMS](https://flotiq.com) and i see they have
another

[2020-12-04 10:20] SanderElias commented on #1159
cc: @aaronfrost @jorgeucano @Brocco

[2020-12-04 10:24] #1135 closed

[2020-12-04 10:28] SanderElias opened #1161 "Overwrite console.log|error|warn with our own log versions?"
Some of the 3rth parties we use, use those console.xxx to inform the user.
However, this means that our logging system can't pick them up, and the error's don't get rtecoreded into sentry.

We can overwrite those to use our logging, but I don't want to do this without first discussing this.

[2020-12-04 12:27] #1156 closed

[2020-12-04 13:04] #769 closed

[2020-12-04 13:04] #771 closed

[2020-12-04 13:04] #761 closed

[2020-12-04 13:04] #762 closed

[2020-12-04 13:04] #763 closed

[2020-12-04 13:04] #764 closed

[2020-12-04 13:04] #765 closed

[2020-12-04 13:04] #766 closed

[2020-12-04 13:04] #767 closed

[2020-12-04 13:04] #768 closed

[2020-12-04 13:06] #1116 closed

[2020-12-07 17:37] pjlamb12 commented on #1132
@aaronfrost @SanderElias @jorgeucano I just finished up the tests (thanks to Sander pushing the 1.0.8 version) and the plugin is ready to be deployed. I will need access to the scully organization in NPM to deploy to @scullyio/scully-plugin-amp-css. Or I can publish it under my own account. Whichever one you'd rather.

[2020-12-07 21:47] hisham commented on #915
Now that Angular cli supports this out of the box (https://github.com/angular/angular-cli/issues/11395), is there any change needed for this feature on the scully side?

[2020-12-08 04:08] AlexFBP commented on #1000
Honestly this was the first time I had to move a whole project to another folder, just by having a space in the path...

However, yes, it doesn't matter so much after all. What I'm saying is that I don't think that it is directly related to Scully, but to one of its dependencies, as that error appears not only with Scully but [in other places, projects](https://www.google.com/search?q=error+TS5042

[2020-12-08 07:16] SanderElias commented on #915
@hisham Our critical-CSS tool works differently from what Angular is doing.
Also, we do inline all the CSS that is needed above the fold for that 1 exact route, and then lazy load the rest.
As the CLI doesn't know what route it is going to serve, it needs to put way more blocking CSS in place.
What the CLI team has done is a big step forward. Our Critical-CSS plugin might now be a bit more optiona

[2020-12-09 03:47] pjlamb12 commented on #1143
@aaronfrost  Looking at the page linked above, there is some documentation on the resultsHandler in the code block comments. Is there something more you want than what is there already?

[2020-12-09 05:56] aaronfrost commented on #1143
@pjlamb12 I think I fixed that and then pushed it out there. I should have closed this ticket.

[2020-12-09 05:56] #1143 closed

[2020-12-09 14:12] jsanta commented on #1122
Same problem here. Tried deleting one by one  the extraRoutes on my scully.config.ts file with no success.

[code]

No useful information for debugging, at least on this level. The sad  part for me is that this worked a few weeks ago and the only change in my code has been adding a new route, doing nothing different from the other routes in my app.

[2020-12-09 16:31] SanderElias commented on #1122
@jsanta can you try again with Scully 1.0.8? (`npm i @scullyio/scully` will do)
I did some changes that might be of influence here. If that doesn't help, ping me, and I will get you a special version so we can debug this a bit more.  This is an error that should be impossible, but I will go over the code one more time to see if I can spot anything that provides any clue

[2020-12-09 18:37] jsanta commented on #1122
HI thanks for your answer.
Updated, and still the same issue. Trying to find the unknown route, but don't even know where it appeared from.
Also tried  deleting node_modules and just made everything explode....

[2020-12-09 20:56] jsanta commented on #1122
OK some findings:
* Had to install some packages by hand. Somehow I skipped them from my initial npm install run, so they weren't on the package.json . Explosions solved.
* Trying to run scully:serve script showed that port 1668 was taken. Perhaps an old scully failed run... Killed the process and the same error.
* Adjusted some weird redirections on  one of my routes, no results.
* Changed the sc

[2020-12-11 16:14] pegaltier opened #1165 "Bug: the scully meta tag generator attribute is incorrect"
## 🐞 Bug report

### Description

In the previous version of scully @scullyio/scully@1.0.2 the meta tag generator version was correct:
[code]
Since i have upgrade to @scullyio/scully@1.0.8 the meta tag generator version is incorrect:
[code]

#### 🔬 Minimal Reproduction

npm run scully

#### 💻Your Environment

**Angular Version:**

<pre><code>
Package                         Version
---------------

[2020-12-13 09:40] TGihan opened #1168 "Cannot read property 'search' of null"
## 🐞 Bug report

### Description
`ng add  @scullyio/init` finished with the error `Cannot read property 'search' of null` and `scully.<projectName>.config.ts` file is not created in the project

#### 🔬 Minimal Reproduction
1. ng add  @scullyio/init

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 9.1.12
Node: 14.15.1
OS: win32 x64

Angular: 9.0.4
... common, compiler, compil

[2020-12-14 07:47] SanderElias commented on #1168
I have found no way to reproduce this issue. @jorgeucano can you test on windows?

[2020-12-14 16:29] andrzejwp commented on #1159
@SanderElias Hi there, Andrew from Flotiq team here. I'm thrilled to see that these projects are getting some traction!
Let me know if we can help somehow to make these starters / boilerplates available to the Scully community.

The list is actually a little longer:

- https://github.com/flotiq/scully-products-starter - Scully, Flotiq and Snipcart boilerplate
- https://github.com/flotiq/scully-eve

[2020-12-14 16:38] SanderElias commented on #1159
@Gyrosh @andrzejwp We will add a page for starters soon. I'll post back here when it's in place.
When that is the case, you can PR your starters on that page. (can be done by using the 'edit' button on the page itself)

[2020-12-15 20:40] pjlamb12 commented on #1132
@aaronfrost @SanderElias this ticket can now be closed. :)

[2020-12-16 09:27] #1132 closed

[2020-12-16 13:44] SanderElias commented on #1168
@TGihan Jorge did do a check on windows too, and we can't reproduce. That means there is not much we can do.
If you have a way for us to reproduce your issue, I will gladly reopen this issue, but for now, I'm going to close it.

[2020-12-16 13:46] SanderElias commented on #1165
This is closed by the above PR and will be fixed in the next release we will push out.
(let us know if you need it faster, and we will do an interim release)

[2020-12-16 13:46] #1165 closed

[2020-12-17 19:37] raphaelApard commented on #529
Hi,

I am trying to achieve something similar to @Splaktar. With TrailingSlashUrlSerializer and seoHrefOptimise as the defaultPostRenderer for Scully, it works fine, but when I go directly to https://mysite/an-url/ the homepage shows up quickly before the real page appears. And this only happens with part of the browser cache because it does not happen in the new incognito window.
I don't understa

[2020-12-18 03:34] kananlanginhooper commented on #529
No idea if this will help, but check your redirect settings on your
hosting.  Regular angular hosting everything that's not an asset (img, css,
js) gets redirected to index.html.  if that is still enabled, you'll see
exactly what you're describing.

On Thu, Dec 17, 2020, 2:37 PM Raphael Apard <notifications@github.com>
wrote:

[2020-12-18 09:17] raphaelApard commented on #529
I'm using nginx with : try_files $uri $uri/ /index.html;

[2020-12-18 15:57] kananlanginhooper commented on #1141
#3 - scully.log is in .gitignore

[2020-12-18 16:01] kananlanginhooper commented on #1137
Please check your redirect settings on your hosting.  For regular angular hosting, everything that's not an asset (img, css, js) gets redirected to index.html.  If that is still enabled, you'll see exactly what you're describing.  It'll do an internal redirect to index.html, show that static page, then when the angular takes over, it'll read the route from the url, and show the internal (detail) p

[2020-12-19 21:53] atao60 commented on #701
Why this issue has been closed?

[2020-12-21 11:45] jsanta commented on #1137
Thanks. That currently works, instead of making the nginx location configuration point to index.html on a 404 pointing it to 404.html makes angular deal with not found resources. Don't like it as we delegate this pain on server admins, but it's what we have. Thanks.

[2020-12-21 23:46] diminutivesloop opened #1177 "build fails when running from monorepo with hoisted dependencies"
## 🐞 Bug report

### Description
I'm trying to add Scully to a Lerna-based monorepo with all dependencies installed at the repo root. When I try to build the Scully project I get an error complaining that I started Scully outside the project folder. I've tried fixing this by using `npm link` to symlink `node_modules/@scullyio/scully` into the Scully project directory but I still get the same error

[2020-12-22 22:46] kananlanginhooper opened #1179 "scully-docs sample project not building locally"
## 🐞 Bug report

scully-docs sample project not building locally when using: `node \dist\libs\scully\src\scully.js --tds --project=scully-docs`

`Error: Browser is not downloaded. Run "npm install" or "yarn install"
    at ChromeLauncher.launch (.....\node_modules\penthouse\node_modules\puppeteer\lib\Launcher.js:236:15)`

### Description

Issue with the penthouse ' critical path css generator' mod

[2020-12-23 06:24] pjlamb12 opened #1180 "Document the findPlugin Function"
## 🗄️ Docs report

### Description
Document the `findPlugin` method

[2020-12-23 11:32] SanderElias commented on #1141
1. if you remove the sample plugin, you should update the tsconfig in the scully folder too. Scully tells TS to compile everything in the `./scully/` subfolder. it throws if there is nothing in there. This is not something we can/want to fix. If you don't want user plugins, just delete the complete `./scully/` subfolder
2. Because we compile your TS files on the fly, and there is _no_ bundler invo

[2020-12-23 11:50] SanderElias commented on #529
@raphaelApard It just occured to me that your SW might be serving the 'original' index.html instead of the Scully generated one?

[2020-12-23 11:51] SanderElias commented on #701
@atao60 because its solved?

[2020-12-23 11:56] SanderElias commented on #1137
I'm going to close this, as this is not something Scully can solve. It needs to be solved using the server's redirect rules. Just as for _all_ static site hostings.

[2020-12-23 11:56] #1137 closed

[2020-12-23 12:10] atao60 commented on #701
I'm still struggling to deploy a scully blog on gh-pages, using @scullyio/scully-plugin-base-href-rewrite. It seems related to the way I organized the angular components.
As #1088 is also closed, as soon as I'll have narrowed the case, i'll probablbly open a new issue.

[2020-12-23 12:12] SanderElias commented on #701
@atao60 Please do. If you have something we can reproduce, it helps also understanding the issue!

[2020-12-23 13:22] jorgeucano commented on #1179
@kananlanginhooper I'm just using a clean fork and work fine for me on win 10 node 15.

I'm run:
[code]
In your log, you have an `npm error` .... Can you try removing the node_modules and installing them again!
The GA/test works fine with the same command on linux.

[2020-12-23 13:22] #1179 closed

[2020-12-23 13:34] jorgeucano commented on #1177
@diminutivesloop we don't have support for Lerna, so I download your project and test it, I just add
[code]
Into the project (scully-demo) and work, I suppose work with peerDependency too... But I'm not sure.

[2020-12-23 13:34] #1177 closed

[2020-12-23 15:58] kananlanginhooper commented on #1179
Well, you are very correct.  I was getting to a "clean" for by running `git checkout main && git reset head --hard`.  There must be some other files that are still hanging around.  node_modules for sure, but I still get the error when deleting that.  I'll look into it more, or just start from a fresh fork, like I had mentioned.  Thanks for looking at this.

[2020-12-28 13:31] falcon-Z opened #1184 "Could not connect to server"
## 🐞 Bug report

### Description
I just installed Scully and it doesn't work as expected throws an error and exits when I npm run Scully

#### 🔬 Minimal Reproduction

#### 💻Your Environment
Windows 10

**Angular Version:**

<pre><code>

Angular CLI: 11.0.5
Node: 12.19.0
OS: win32 x64

Angular: 11.0.5
... animations, cli, common, compiler, compiler-cli, core, forms
... platform-browser, platform-br

[2020-12-28 13:56] kunjee17 opened #1185 "Getting data from Firebase Cloud store to generate pages"
As per docs I have to put API and map ids to create un-handled pages.  What if I have to create page using firestore that is already there in application ? Or I have to create some api to access at build time for pages to get created?

[2020-12-28 17:42] SanderElias commented on #1185
@kunjee17 You can use firestore without an issue. The only thing you have to take into account, we do watch for page completion. Firebase observables usually don't complete, so your page will not reach the 'ready' state.
An easy fix might be adding something like this to your pipe's:
[code]

[2020-12-28 19:51] kgajera opened #1186 "Transfer state does not escape double quotes"
## 🐞 Bug report

### Description

If an API returns JSON that contains double quotes:

[code]
An error occurs when `JSON.parse` is called on the saved state:

[code]

#### 🔬 Minimal Reproduction

https://github.com/kgajera/scully-transfer-state-bug
https://github.com/kgajera/scully-transfer-state-bug/blob/main/src/app/app.component.ts

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angu

[2020-12-29 04:14] kunjee17 commented on #1185
@SanderElias Sorry if I was not clear.

Here is what I m trying to do. We have a product page. And `product/:slug` will have product detail page. So, for now slug is not getting resolved obviously. So, only generated page is `product/index.html` . Then it will take care of fetching product details based on slug.

Now, I want to generate page based on slug. Data is stored in firestore as mentioned

[2020-12-30 10:42] stewwan opened #1187 "HubSpot chat bubble doesn't show up"
## 🐞 Bug report

### Description

I wanted to integrate the chat service from HubSpot but for some reason it's not working with the rehydration result generated from scully.

#### 🔬 Minimal Reproduction
needs a hubspot account (it's free) with chat widget configured (it's just a script paste into index.html)
https://www.hubspot.com/

then the normal workflow
ng build --prod and &&  npm run scully

[2020-12-30 11:55] stewwan commented on #1187
Managed to fix it by doing a few checks and loading the script dynamically.

Solution

[code]

[2020-12-30 11:55] #1187 closed

[2020-12-30 13:13] baeteja opened #1188 "Issue with regular routes"
I have been trying to convert my angular application to a static generated site with scully.
I have a feeling that I'm missing something here, as there seems to be a problem with regular routing on my application.

I have the following route
{ path: ':lang/home', component: Home }

I went through the faq (https://scully.io/docs/faq/) and tried to implement the solution for language parameters, I n

[2020-12-30 13:46] PkerUNO commented on #529
@SanderElias I'm not really up to speed with Angular Service Workers but I'm trying to get a Scully site working with PWA and encountering the same issues as the rest of the thread. Going to a deep link in my site directly seems to load the correct template for that page, but examining the Network tab shows that the service worker is loading the main index.html and resources instead, so the data.j

[2020-12-30 14:20] raphaelApard commented on #529
I confirm that adding ?ngsw-bypass remove the first load of the main index.html
This problem happens only when the service worker is enabled.

If i unregister service worker and access to /some-page/. I don't see the homepage appear. But atfer a second refresh (with fresh registered service worker, i see the homepage appear 1sec before the right page.

[2020-12-30 20:34] BenLune opened #1189 "Angular project without Angular Router"
Hi there,
First of all, thank you and congratulations for this great project.
I am working on an Angular project without the Angular Router. I'm not sure Scully can manage it, am I wrong ?
I succeeded make it work with the CLI commands with extraRoutes, but when I add the ScullyLibModule in my AppModule, I have this runtime error :
`NullInjectorError: R3InjectorError(AppModule)[ScullyLibModule ->

[2020-12-31 20:15] ruslanguns opened #1190 "WSL gets stuck at running scully"
## 🐞 Bug report

### Description

Having issues probably because my WSL. I followed the instructions adding the Puppeteer and adding the settings into my scully config file.

#### 🔬 Minimal Reproduction

1. Create a project with ng new
2. Add scully
3. Add blog `ng g @scullyio/init:blog`
4. Build and run scully `npm run build && npm run scully` <= this is where it gets stuck

#### 💻Your Environmen

[2021-01-01 03:20] chriskinzel opened #1191 "Add decorator to provide TransferState functionality"
## 🧩 Feature request

### Description

Currently, to transfer state from Scully to a running app, we must inject and wrap values with `TransferStateService` like so

e.g.

[code]

it would be nice if it were possible to do this using a decorator instead.

### Describe the solution you'd like

Example using decorator:

[code]

[2021-01-02 02:02] chriskinzel opened #1192 "CriticalCSS plugin prints error message when trying to process image files"
## 🐞 Bug report

### Description

When using the @scullyio/scully-plugin-critical-css plugin, the plugin does not automatically ignore image files and will instead error out and print an error message to the console during Scully build. The plugin handler is skipped so this does not result in build failure, but the generated error messages are noise in the console.

The ideal behaviour here would

[2021-01-02 22:32] fireflysemantics opened #1193 "Scully doubles the body"
Within `app.component.html` I have markup like this:

[code]

When Scully renders this page it wraps the body in another body with the `MinimumPadding` class on it.  Here's a screenshot:

![Screenshot from 2021-01-02 16-30-13](https://user-images.githubusercontent.com/25155787/103467777-131aa800-4d18-11eb-9f0a-faa851765186.png)

So since the minimum top padding is `10rem` this ends up being 20 REM

[2021-01-03 13:32] jsanta commented on #1122
Hi. I know this issue is closed, but I have more accidental findings. I was debugging the app and commented a component that opens a modal with an embedded Youtube video iframe. No puppeteer errors regarding an unknown route. Tried uncommenting and the error appeared again. So the solution was something mentioned on https://github.com/scullyio/scully/issues/801

On the `scully.config.ts` file adde

[2021-01-04 06:31] SanderElias commented on #1122
@jsanta We do expose a globally available variable that you can use, as well as the `isScullyRunning()` function to handle those kinds of things. Although if the root cause is _inside_ an iframe, that doesn't help you much.
If you could provide me with a sample that fails, I can take a look, and come up with either a fix or document a workaround like yours.

[2021-01-04 06:38] SanderElias commented on #1193
@fireflysemantics This is how Angular renders your page. Scully doesn't change that.
Also, [HTML semantics only allow 1 body element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body) and using multiple might have some other surprising effects.

[2021-01-04 06:38] #1193 closed

[2021-01-04 06:43] SanderElias commented on #1192
The error is printed from _inside_ of the Critical tool, and can't be prevented. (I looked into this)
We have an outstanding discussion (#1161) that would somewhat take care of this, but there isn't much we can do otherwise.
Closing this as there is nothing actionable for us now. If you know/find a way to handle this, we will reopen this issue

[2021-01-04 06:43] #1192 closed

[2021-01-04 06:49] SanderElias commented on #1190
@jorgeucano Can you take a look?
related: #1117 #892
@ruslanguns have you seen the [WSL Pre-Requisites](https://scully.io/docs/learn/getting-started/installation/)

[2021-01-04 06:52] SanderElias commented on #1189
The Angular router is mandatory for Scully.
It can be used without, but you won't be able to use the `ng-lib`, which would put a load of responsibilities onto your code.

[2021-01-04 06:52] #1189 closed

[2021-01-04 08:51] ruslanguns commented on #1190
Yes, I did.

El lun., 4 ene. 2021 6:49, Sander Elias <notifications@github.com> escribió:

[2021-01-04 12:30] SanderElias commented on #1191
@chriskinzel I like the idea.
There is an inherent issue here. To be able to do this, I need the transferState service injected into the decorator. As decorators work outside of Angular's scope this is a bit problematic. We really need access to the app's injector, because the transferState service is depending on Angulars router.

[2021-01-04 12:43] SanderElias commented on #1188
@baeteja The sample in the docs is just that, a sample. Aside from adding the routes, you can also have it add the needed extraRoutes automatically.
[code]
Something along those lines would work for you, right?
I think this answers your question, so I'm going to close this. If I did misunderstand your question, let me know, and I'll reopen it happily

[2021-01-04 12:43] #1188 closed

[2021-01-04 12:45] SanderElias commented on #1186
@kgajera This is because we had to close a possible (when using untrusted API's) security issue. I'll work on this bug today. we had another related issue too.

[2021-01-04 12:47] SanderElias commented on #1184
@falcon-Z What happens when you run `npm run scully:serve`?

[2021-01-04 12:56] SanderElias commented on #1185
Ah, well you need to add your own route plugin then! (sorry for the late replay, I didn't work during the holidays)
something like this would probably work for you (not real code, but it should get you going!):

[code]

I know that @jorgeucano did something like this too. @jorgeucano, anything to add?
Does that answer your question completely? if so, we can close the issue

[2021-01-04 13:52] kunjee17 commented on #1185
Thanks for reply @SanderElias . And no need for sorry. No one should work on holidays. :)

I guess I did understand what you are trying to tell. I ll wait for @jorgeucano 's reply. Else we can surely close it.

PS: Just to confirm. If I don't want data to be fetched, dynamically I can blocked using isScullyRunning right ?

[2021-01-04 14:31] falcon-Z commented on #1184
Scully-serve works
Also, I ran the project on WSL it worked fine with the config as in documentation.
So I figured the problem in windows must be with launching chrome and I added no-default-browser-check and disable-gpu flags to Scully config file and it worked

[2021-01-04 14:45] chrisguttandin commented on #529
I might be wrong, but I think the problem is exactly the opposite of what is described [here](https://github.com/scullyio/scully/issues/529#issuecomment-750208587). Angular's Service Worker uses the `index.html` file in the root directory as the basis for every route. If that file is pre-rendered the content of the home page will be visible for a split second until Angular dynamically rendered the

[2021-01-04 15:02] PkerUNO commented on #529
@chrisguttandin Thanks for that, I'll take a look and digest it later. For the time being I "solved" my issue by setting `"navigationRequestStrategy": "freshness"` in ngsw-config.json which as I understand it means it'll only ever use the prerendered pages if the user's connection is offline, otherwise it'll grab it from the server.

[2021-01-04 16:17] jorgeucano commented on #1190
@ruslanguns  I tried and work for me, we need more info!
Can you share your project?

[2021-01-04 18:43] SanderElias commented on #1185
Yep, thats right:
[code]

[2021-01-04 22:34] chriskinzel commented on #1191
Yeah I was thinking about how this could be done, I think one way to do it is to have an interface that must be implemented on the component to use this feature. It would require a property `transferStateService: TransferStateService` to be present (user would have to inject this manually, don't see how it could be done automatically with just a decorator). Then the decorator could just lookup thi

[2021-01-05 06:02] SanderElias commented on #1191
@chriskinzel Hmm, When there is a mandatory need to inject the service and hook it up to the class, most of the simplicity of the decorator would be gone? Do you really think the gain id big enough in that case?
I'm going to mull this one over for a while, I don't like decorators because they are a TS and not a JS thing, but this would make the adaption of theTS a bit easier.

[2021-01-05 09:42] SanderElias commented on #1184
@falcon-Z I'm glad you got it fixed. I'll close this issue now

[2021-01-05 09:42] #1184 closed

[2021-01-05 11:33] #1180 closed

[2021-01-06 01:44] chriskinzel commented on #1191
@SanderElias I agree the gain is a bit marginal but I think it still has an impact in reducing boilerplate associated with wrapping observables with `this.stateTransferService.useScullyTransferState(...)`. Not only is something like `@TransferState` less typing, the decorator could also auto-generate the key using the class name and the property key which would be nice.

[2021-01-06 05:50] pjlamb12 commented on #1084
findPlugin was documented on #1180 and has been merged.

[2021-01-06 05:53] pjlamb12 commented on #573
@aaronfrost I've been working on an article/guide with @SanderElias for this. It's almost done.

[2021-01-06 08:02] SanderElias commented on #1192
@chriskinzel It just occurred to me that you can "fix" this in your config file.
somewhere in your config:
[code]

Those will overwrite the global console log and error, and make them more in line with the rest of Scully output

[2021-01-06 08:17] SanderElias commented on #1191
That's true. I'll spike this, and see if I can get a hold of the injector inside a decorator without actually adding anything to the class.
Otherwise, this will be a support night mare.

[2021-01-06 12:51] jorgeucano opened #1196 "update NX to latest"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-06 12:52] jorgeucano opened #1197 "add update changelog mandatory"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-06 15:56] belamrani commented on #773
Hi ! I have the same usecase with Netlify CMS. @SanderElias could you please share the plugin you made in your exemple ?
Thank you very much :)

[2021-01-06 16:02] SanderElias commented on #773
@belamrani  The entire code for the plugin is in the message above. I would call it something different as  `tadaa` tho  ;)

[2021-01-06 16:35] belamrani commented on #773
@SanderElias ^^ ok  I thought there was something else that I missed because I tried several time on my project and it doesn't work for me :( .

If you have any idea that could help me :)  ?

My config.ts file :

[code]

In scully-routes.json I have only this {"route":"/home"}

PS: I have other .md blog files in this project and it works perfectly.

Thank you

[2021-01-06 17:31] belamrani commented on #773
If I add data, like in the following exemple, the data are well added  : {"route":"/home","title":"Hello","test":"test"}

[code]

I can't find why the content of the .md file is not added in the scully-routes.json.

[2021-01-07 09:21] SanderElias commented on #773
@belamrani I just double-checked. [here](https://github.com/aaronfrost/directmarkdownpage/tree/markdownOnRoot) is my updated branch of the repo where we did test this. I updated t to the latest of angular and Scully, and it still works as expected.

[2021-01-07 16:06] tpiros commented on #318
I'm sorry for responding to an already closed issue. I have read through this thread but I'm not 100% sure if I see the solution. Is it the combination of using the the `base-href-rewrite` plugin and the RegEx by @dyingangel666?

[2021-01-07 19:01] BenLune opened #1199 "Does Scully work without Angular Router ?"
Hi There,
I wish you all a happy new year ! And congratulations for this great tool ! I'm working on Angular projects without the Router, and I would like to know if Scully can handle this kind of Angular project.
Thank you !
Benoît

[2021-01-07 21:59] diminutivesloop commented on #1177
Ok I was able to work around the issue by running `npm install` in the scully packages subfolder. I do still think Scully should support running with hoisted dependencies as that project structure isn't unique to Lerna and most other tools I've used support it (e.g. Angular CLI, Gulp, Storybook). However I understand if that functionality isn't high priority right now. I may also try pnpm as an al

[2021-01-09 16:55] dyingangel666 commented on #318
@tpiros Ok let's sumarize all things from my working project:

The package.json with some build stuff:
[code]

Then the scully config (ts version):
[code]

And finally the angular.json:
[code]

And here the code for my fixStaticLinks.js file:
[code]

[2021-01-11 11:06] tpiros commented on #318
Thank you @dyingangel666! I found what was missing at my end ... it was the pesky `seoHrefOptimise` renderer. I didn't notice that I was missing that up until now ... 🙄  thank you again!

[2021-01-11 14:24] SanderElias commented on #1199
@BenLune No, Scully does not work without the router.
If you really want, it can be done, but the out of the box experience requires the router.
When you want to go without the router, you need to manually set it up, and there is no guidance. It _is_ possible, but there is no documentation or help available if you want to do so.

[2021-01-11 14:24] #1199 closed

[2021-01-11 15:47] ruslanguns commented on #1190
So sorry for delay...

Repository link: https://github.com/ruslanguns/blog-starter-kit

BTW I created a video for you Jorge Cano in Spanish https://www.youtube.com/watch?v=BfLjWQkdBcQ

[2021-01-13 06:54] kunjee17 commented on #1112
Just for the future reference. If you are using `buildkite/puppeteer` image instead of node12 everything works without any issue.

[2021-01-13 10:23] daniloff200 opened #1201 "Exclude some routes from prerendering"
I'm looking for ability to exclude some routes from prerendering.

That was mentioned in https://github.com/scullyio/scully/issues/154 and looks to be fixed by `voidPlugin`, but, I can't find anything about that in the docs, or, some examples.

So,  my question is: **Does this plugin works for now?**

I also have some routes in the app (mostly some dynamic routes, which number can increase every d

[2021-01-13 11:41] darxx commented on #1201
I had similar question related to route id. What helped in my case [The Angular Jamstack with Scully by Aaron Frost](https://www.youtube.com/watch?v=XJ1WzPKPSQo). Let us know if it helps in Your case.

[2021-01-13 16:26] tpiros commented on #318
Just curious @dyingangel666 (and if you're on some Slack or Discord channel where we can converse, let me know) but, does your Scully command "hang"? I get the routes generated and everything seem to be working fine except in `scully.log` I get `Received Kill command` and the process hangs for about 1-2 minutes and after it just quits. Not sure why this is but I'm not getting the same behaviour wi

[2021-01-13 16:39] dyingangel666 commented on #318
@tpiros Mh nope in my project everything is working and running successfully... Can you post the complete error log?

[2021-01-13 17:03] daniloff200 commented on #1201
hey, @darxx
Thanks for the link, I've watched all the video, also, found the repo, presented here (https://github.com/aaronfrost/DonutStore, and checked all the steps here, but, couldn't find something, related to my question). Could you describe your solution?

[2021-01-13 19:43] daniloff200 commented on #1201
I assume I can use `ignored` plugin for that, but, in this case, I don't get generated HTML in static folder, but, when I try to go to such route and reload the page, I get two type of errors

Like,` cannot get /route/page`
or
`404 - URL not provided in the app Scully is serving
The url "/route/abc" is not provided in the scully.routes.json, so it can't be generated`

[2021-01-14 08:37] darxx commented on #1201
In my case we had API endpoint that's return all id that need to be static pages. And by json plugin we able to get all routes that's as it was shown in YouTube link. In our case we need to generate all /product/:id. Hope @SanderElias can help You more.

[2021-01-14 09:50] tpiros commented on #318
@dyingangel666 oddly enough, it turned out to be a process that got "stuck". For reasons unknown, the `ScullyServer` process didn't shut down and was running and while I started it again, it would just keep on crashing. Good 'ol `pkill -9 ScullyServer` did the job ...

[2021-01-14 17:56] #1201 closed

[2021-01-14 20:51] diminutivesloop commented on #1177
Looks like pnpm has the same problem. I assume this is because package-local dependencies are symlinked to the root node_modules and Scully apparently can't handle symlinks.

[2021-01-14 23:32] darxx opened #1202 "Running CI scully process not finishing."
## 🐞 Bug report

### Description
Scully node js process never ends.
And files are generated. And if NodeJS process is killed by hand.
 All files can be deployed.

#### 🔬 Minimal Reproduction
Use GitLab docker container and run GitLab-runner container.
configure .gitlab-ci.yml.
script commands
<pre><core>
build-dev:
  stage: build
  script:
     - time node --max-old-space-size=12096 ./node_modules

[2021-01-15 07:15] christseng89 commented on #1202
Thanks, Darxx.  I got a similar issue for 'ng new hello-world' by using @angular@11.0.7.

ng new hello-world
? Do you want to enforce stricter type checking and stricter bundle budgets in the workspace?
  This setting helps improve maintainability and catch bugs ahead of time.
  For more information, see https://angular.io/strict No
? Would you like to add Angular routing? No
? Which stylesheet fo

[2021-01-15 09:15] SanderElias commented on #1202
@darxx duplicate of #924
@christseng89 Scully doesn't work without the router. Also, you have a problem with the Angular CLI. try using it with npx, and a set version.
something like:
[code]

@darxx If this somehow a different issue, please let me know, and I happily reopen this issue

[2021-01-15 09:15] #1202 closed

[2021-01-15 09:16] SanderElias commented on #1190
@ruslanguns @jorgeucano Is this still an issue?

[2021-01-15 09:19] ruslanguns commented on #1190
@SanderElias I recorded that video 4 days ago, I can retry this afternoon if you want, after upgrading everything out.

[2021-01-15 09:41] pegaltier opened #1203 "Scully jsonRoutePlugin support a microfrontend architecture"
## 🧩 Feature request

### Description

Currently the jsonRoutePlugin seems to not work correctly with a microfrontend lazy module (using webpack5 and module federations).

For instance in my app i would like to generate product details pages using the products from the fakestoreapi.com and the product module comes from the product microfrontend (see configuration below). This configuration is not

[2021-01-15 10:36] SanderElias commented on #1186
This is closed in Scully 1.0.11

[2021-01-15 10:36] #1186 closed

[2021-01-15 10:44] pegaltier commented on #1203
After chatting with Sanders on Gitter, he explained me that in the routes config we traverse the local source, we can't traverse something that's not there (the microfrontend module is not there) Instead of adding those routes to the routes config I should add it to the extraroutes config and Scully will traverse them. Extraroutes takes a promise, so it's possible to fetch them from an external ap

[2021-01-15 11:02] SanderElias commented on #1203
@pegaltier Thanks for the update.
For now, I'm going to close this issue, as there is no actionable content. If there is, we can reopen this issue any time

[2021-01-15 11:02] #1203 closed

[2021-01-15 11:05] SanderElias commented on #1190
@ruslanguns let's await @jorgeucano's reaction. I know he has a _large_ workload ATM.

[2021-01-15 11:25] pegaltier commented on #1203
Yes solution explained with extraRoutes is working, Thank you very much!

![image](https://user-images.githubusercontent.com/2479323/104719394-aeeedf80-572c-11eb-8e82-7eebdecc5f92.png)

[2021-01-15 14:51] SanderElias commented on #1203
Ok, now its more clear to me what you wanted.
You can have the same result with:
[code]

[2021-01-16 02:02] ruslanguns commented on #1190
@SanderElias  @jorgeucano On Windows side works smoothly, just with the downside of WSL

![image](https://user-images.githubusercontent.com/19806968/104794316-b18a1d00-579e-11eb-8dc4-33893f672f91.png)

[2021-01-16 02:22] fireflysemantics opened #1204 "Scully Strips Web Components from Generated Content"
## 🐞 Bug report

### Description

If we include a web component inside content that scully should create static content for, it strips the web component.

For example if we have content like this:

[code]

The custom element gets stripped from the output.

#### 🔬 Minimal Reproduction

https://github.com/fireflysemantics/scully-custom-element-test

The generate route is '' and this is the component

[2021-01-16 05:17] SanderElias commented on #1204
When I run your application, this is what is presented to Scully:
[code]
As you can see, the  `fs-image` element is not in there. It's impossible for Scully to render something that is not present.
Your app doesn't generate the element, so Scully can _not_ magically add it to your output HTML files.

[2021-01-16 05:17] #1204 closed

[2021-01-16 05:42] SanderElias commented on #1190
@ruslanguns Well, I work on Ubuntu (no WSL,  I run it bare bones in my system) and I have no issue.
I know Jorge is using windows and is also using the WSL without issue.
As it is working on your computer when you are not using the WSL, it seems something in your WSL environment.
Probably it has something to do with setting up puppeteer and chromium in there.
Have a look at the [puppeteer troubles

[2021-01-16 08:55] ruslanguns commented on #1190
In my case I will switch over Windows to be able to work with Scully, eventually will retry from a clean environment (a fresh WSL) and will update this issue.

Thank you!

[2021-01-16 08:56] Markus-Ende opened #1205 "Arguments other than strings and Errors are lost when enhancedLog is called"
## 🐞 Bug report

### Description

Arguments other than strings and Errors are lost when enhancedLog is called.

#### 🔬 Minimal Reproduction

1. Start scully in watch mode
2. Look at the `enable reload on port`, which is missing the port number, because it has type `number`
#### 💻Your Environment

**Angular Version:**

<pre><code>
11.1.5
</code></pre>

**Scully Version:**

<pre><code>
1.0.11
</code

[2021-01-16 09:39] SanderElias commented on #1190
Ok, So, I'm going to close this issue for now. When you have new findings, let me know, and we will reopen the issue.

[2021-01-16 09:39] #1190 closed

[2021-01-16 09:44] SanderElias commented on #1205
Closed by #1206
Thanks @Markus-Ende

[2021-01-16 09:44] #1205 closed

[2021-01-16 13:44] ruslanguns commented on #1190
Sure! Thanks 😊

El sáb., 16 ene. 2021 9:39, Sander Elias <notifications@github.com>
escribió:

[2021-01-16 14:22] fireflysemantics commented on #1204
AH - I see what you are saying.  Angular is still stripping it even though the custom element Schema is in place.

[2021-01-16 20:21] diminutivesloop commented on #1141
I just initialized a new Scully project w/ @scullyio/init@1.0.1 and `.gitignore` is still not updated. After building w/ Scully several files are generated and I would expect that most generated files should be ignored but it would be helpful if that was configured automatically when initializing the project.

[2021-01-16 21:18] diminutivesloop opened #1207 "No pages generated for blog route"
## 🐞 Bug report
### Description
I followed [the instructions to add blog support](https://scully.io/docs/learn/create-a-blog/add-blog-support/) but when I rebuilt w/ `ng build && scully` no pages were generated for the blog route even though matching markdown files exist in the content folder.

#### 🔬 Minimal Reproduction
https://github.com/diminutivesloop/scully-blog-test

#### 💻Your Environment

[2021-01-18 15:26] jorgeucano commented on #1207
Hi @diminutivesloop I check your repo and you have here the published false, if you change to true this will work!
https://github.com/diminutivesloop/scully-blog-test/blob/master/blog/2021-01-16-blog.md

[2021-01-18 15:26] #1207 closed

[2021-01-18 15:26] #1196 closed

[2021-01-19 19:43] yringler commented on #247
@SanderElias is this elaborated in the docs?
I'm using the json plugin, and added a title and description to the response.
The title is used to create a title tag, but the description isn't.

Also, in addition to <title> and <description>, I want to set all the other tags - og, twitter card, etc ([ngx-sec](https://www.npmjs.com/package/ngx-seo) handles all of them. would be great if that worked wi

[2021-01-20 14:39] diminutivesloop commented on #1207
@jorgeucano I published the post as you described, but Scully still only renders the `"/"` route.
[code]

[2021-01-20 16:10] SanderElias commented on #1207
@diminutivesloop :
[code]
It works for me

[2021-01-20 20:10] diminutivesloop commented on #1207
Ok I'm not sure what the issue was but after I successfully got the build working on another machine I deleted and reinstalled `node_modules` on the original machine and the build is now working there too.

[2021-01-21 04:31] kunjee17 opened #1211 "Page is getting generated without data"
## 🐞 Bug report
I have read access on services but page is getting generated without data
### Description
Below is angular code. Getting called in `ngInit`
[code]
faq service is fetching data from firestore. That have universal read access.
#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

11.0.9
</code></pre>

**Scully Version:**

<pre><code>

^1.0.0
</code><

[2021-01-21 16:06] diminutivesloop commented on #811
@GuzmanPI @SanderElias What happened to the mdReplaceRoutePlugin plugin? I found [the PR](https://github.com/scullyio/scully/pull/829) but it was closed without merging.

[2021-01-21 18:50] diminutivesloop opened #1213 ""unknown type" error for custom router plugin"
## 🐞 Bug report

### Description
I'm trying to add a custom plugin based on [this post](https://github.com/scullyio/scully/issues/773#issuecomment-662851518) but when I run `scully` I get an "unknown type" error indicating the plugin referenced in routes config can't be found.

#### 🔬 Minimal Reproduction
https://github.com/diminutivesloop/scully-blog-test/tree/unknown-type-plugin-error

#### 💻You

[2021-01-22 14:23] diminutivesloop opened #1214 "scully serve terminated when rebuilding"
## 🐞 Bug report

### Description
`scully serve` is terminated whenever the site is rebuilt using `scully serve`. This needlessly complicates the dev workflow when testing changes.

#### 🔬 Minimal Reproduction
https://github.com/diminutivesloop/scully-blog-test

#### 💻Your Environment

**Angular Version:**

<pre><code>Your global Angular CLI version (11.1.0) is greater than your local version (11.0

[2021-01-22 20:39] diminutivesloop commented on #1213
Looks like I needed to include an import from the plugin file in `scully.scully-blog-test.config.ts`
[code]

[2021-01-22 20:39] #1213 closed

[2021-01-24 07:16] stevemurch commented on #157
Just fyi, I've got some Python code that some people might want to work from in their devops build. See this post:

[Generating Sitemap from Scully Routes](https://www.stevemurch.com/generating-sitemap-from-scully-routes/2021/01)

[2021-01-25 17:37] EatonZ commented on #1119
@SanderElias Have you had time to take a look?

[2021-01-26 05:18] SanderElias commented on #1119
Yes, it isn't fixed yet, but i'm working on a  pr that will solve this as a side-effect.

[2021-01-26 05:19] SanderElias opened #1218 "Cache doesn't work on multiple projects"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2021-01-26 05:20] SanderElias opened #1219 "cache needs additional tests"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-26 05:45] SanderElias commented on #1211
Can you provide a reproduction repo for this?
My guess is that the faqService is returning a hot observable. When Scully is running this might take too long, so Scully is done extracting the HTML the results are not there?
Without access to a way to reproduce this issue, there is no way for me to know the actual cause.

[2021-01-26 05:47] #1185 closed

[2021-01-26 06:29] kunjee17 commented on #1211
@SanderElias  is it ok if I add you to gitlab private project? I am guessing your guess is right. Because I did face similar issue while doing form validation.

[2021-01-26 10:10] SanderElias commented on #1211
@kunjee17 I would prefer the GitHub repo, as that would give someone having the same problem an insight into what is going on.

[2021-01-26 13:17] andrzejwp commented on #1159
Hi @SanderElias - any news on this?

[2021-01-26 14:56] kunjee17 commented on #1211
Sure I ll do it. Basically I was skeptical about firebase access. I ll create temp project for same. Give me a day and it will be ready.

[2021-01-26 16:44] yringler commented on #1211
@kunjee17, I think I'm seeing an issue where if the stream is passed through a pipe, data isn't being saved.
Are you using pipes?

[2021-01-26 17:40] adyngom commented on #108
@jorgeucano @SanderElias I can see a fix has been merge but the error is still present:
[code]

[2021-01-26 17:53] kunjee17 commented on #1211
@yringler yes. I'm using pipe. But subscribing at very end.

[2021-01-26 18:34] yringler commented on #1211
**TL;DR**: I think we're having the same issue, see links for code.

Interesting.
I found in my case that scully only saved the data if I passed in the observable directly, but not if I first made a pipe.
Even though I also subscribed after.
Here's the commit which fixed it for me https://github.com/Health-Freedom/site/commit/e50a6eaef5dc6a86580c3df704a6643735283c03

A simpler diff when I ran into

[2021-01-26 18:52] kunjee17 commented on #1211
@yringler I'll give it a try and get back in a day. This should work.

[2021-01-26 19:02] yringler commented on #1211
Great! As I learn more about jamstack, I'm probably going to move to embracing it more fully

1. Only scully builds makes API calls
1. relying on ScullyRoutesService for any data I need
2. saving that data with transfer state
3. rebuilding with webhooks when data changes

which will avoid the whole issue, and also means I can start locking down my graphql server etc quite a bit more.

But dependin

[2021-01-27 05:51] kunjee17 commented on #1211
Sorry I couldn't able to make it work. Here is reproduction [repo](https://github.com/kunjee17/firebase-scually) . Run the application and go to `faq` page.

[2021-01-27 06:26] pjlamb12 opened #1222 "Fragment Links aren't generated properly"
## 🐞 Bug report
Fragment links (# info, for example) aren't generated properly from Markdown files

### Description
In my blog posts, I have the titles set up to be fragment links, so you can link to /blog/my-post#some-section, but the fragment links are not generated properly from the Markdown. Instead of /blog/my-post#some-section, the link is /#some-section.

#### 🔬 Minimal Reproduction
Create

[2021-01-28 06:54] SanderElias commented on #811
IIRC  there were some merge conflicts,  and @GuzmanPI would ix something that needed to be changed and would file a new PR.
@GuzmanPI Is this still on your radar?

[2021-01-28 06:59] SanderElias commented on #1211
@kunjee17 I'l work on this after I finish my current task

[2021-01-28 08:03] SanderElias commented on #1141
@jorgeucano / @Brocco Can you take a look at the schematics and check if the following files are automatically added to the `.gitignore` in a project:
[code]
@diminutivesloop  That should be all of them, right?

[2021-01-28 08:18] SanderElias commented on #1222
@pjlamb12 This is how those links should behave according to specs.
I agree that is not very useful, so to fix this, [we have a plugin](https://www.npmjs.com/package/@scullyio/scully-plugin-docs-link-update)

[2021-01-28 08:18] #1222 closed

[2021-01-28 08:18] SanderElias commented on #1218
this is fixed by now

[2021-01-28 08:18] #1218 closed

[2021-01-28 08:18] kunjee17 commented on #1211
No hurries @SanderElias . Code is working only, data is getting fetched runtime instead of scully time that is the only issue. So, it is not really a blocker as of now.

[2021-01-28 09:41] SanderElias commented on #1211
@kunjee17 The problem is that your firebase driver runs outside of ngZone.
Because of that, Scully does extract the HTML before the data is available.
For use-cases like this, we have a manualIdle control. That way, you can tell Scully when the page is ready.
I did a PR to your reproduction that show how that would work.
first I updated your component to this:
[code]

And in your config file I upd

[2021-01-28 09:41] #1211 closed

[2021-01-28 11:23] kunjee17 commented on #1211
Thanks @SanderElias that was quick. I ll surely have a look and keep you posted.

[2021-01-28 13:09] TomJWilliams opened #1228 "CircleCI build error"
## 🐞 Bug report

### Description
When building in CircleCI an error is received when attempting to run the command
<pre><code>
scully -- --scanRoutes --showGuessError
</code></pre>

:thinking: There is a potential this is related to puppeteer in CircleCI. I say this because this error occurs as an unhandled promise rejection when setRawMode of the input stream. I think scully does this after using

[2021-01-28 13:26] SanderElias commented on #1159
@andrzejwp see pr #1229

[2021-01-28 13:34] SanderElias commented on #1228
@TomJWilliams Your problem is likely due to puppeteer/chromium installation issues on circleCI.
see some of the docs here: https://developers.google.com/web/tools/puppeteer/troubleshooting#running_puppeteer_on_circleci

[2021-01-28 13:35] diminutivesloop commented on #1141
@SanderElias That mostly matches what I have in my projects although I've also ignored `scully-routes.json` since it's auto-generated by Scully. Is there any reason that file shouldn't be ignored?

[2021-01-28 13:45] SanderElias commented on #1141
@diminutivesloop Personal preference mostly.
Still, if someone checks out the project, and runs `ng serve` there is a reasonable expectation that it doesn't error out for missing dependencies.
I know it will be regenerated, but first impressions matter.

[2021-01-28 14:53] TheEnterpriseProgrammer commented on #1228
@SanderElias Thanks for the quick reply. I have performed those steps and included their puppeteer orb. I am still receiving the same error.

[2021-01-28 15:13] pjlamb12 commented on #1222
Thanks for the heads up!

[2021-01-28 16:40] TomJWilliams commented on #1228
@SanderElias Thanks for the quick reply. I have performed those steps and included their puppeteer orb. I am still receiving the same error.

[2021-01-28 18:09] pjlamb12 opened #1230 "Better Documentation for scully-plugin-docs-link-update"
## 🗄️ Docs report
I am trying to use the `scully-plugin-docs-link-update` plugin. The docs are pretty limited, and could use a little more information.

### Description
I installed and required the plugin in my config file and added it to the postRenderers array for blog posts, but no change has been made after building the app again.

 A clear and concise description of the problem...

## 🔬 Minim

[2021-01-29 07:04] SanderElias opened #1231 "More/better documentation for local-cache"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-29 07:05] SanderElias opened #1232 "More/better documentation for rendererDom"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-29 07:05] SanderElias opened #1233 "rename render plugin to renderer"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-29 07:06] SanderElias opened #1234 "rename renderJsDom to rendererDom"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-29 13:34] SanderElias opened #1235 "add support page on scullyDocs"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-01-31 06:23] jagdishjadeja opened #1237 "nested modules routes not loading when we go directly to url"
## 🐞 Bug report

### Description
I have app routing as following

`app.routing.ts`
[code]

`auth.routing.ts`
[code]
#### 🔬 Minimal Reproduction

when i open url `http://localhost:1668/` it will redirect to `http://localhost:1668/auth/login` as per route config
but if i directly open `http://localhost:1668/auth/login` it says `Cannot GET /auth/login`
is it happening due to auth guard or nested modu

[2021-02-02 07:51] SanderElias commented on #1237
The Scully render will go into every page of your site as a visitor in a new incognito tab. So every visit is a fresh, virgin request.
So there is no previous state.
Meaning that anything depending on a certain state will be handled according to its default settings.
If there is an auth-guard preventing the page from rendering, Scully can not render that page. (it will probably render the access-d

[2021-02-02 13:29] SanderElias commented on #1228
@TomJWilliams Sorry, for the delay.
Can you try adding the `--noPrompt` command line flag?

[2021-02-02 15:48] SanderElias opened #1239 "Rename rendererHtml and rendererDom plugins to?"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...
We need a more clear an descriptive name for this kind of plugin
@aaronfrost Any pointers?

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workaroun

[2021-02-02 15:49] SanderElias commented on #1239
bikeshed warning!

[2021-02-03 11:53] SanderElias opened #1240 "Tooling to aid automated NPM releases."
## 🧩 Feature request

### Description
We should create some tools that help us automate the process of releasing products.
it should be:
1. able to publish automatically under a 'nightly' or similar tag
2. update package.json of each package when its updated
3. publish changed packages on request, with updating the patch number

[2021-02-03 11:54] SanderElias opened #1241 "update build-new to use 'nighly' packages"
## 🧩 Feature request

### Description
The test that checks if we can build an new app should ue the 'nigtly' tag that is generated by other tooling

[2021-02-03 11:56] SanderElias opened #1242 "automatic publish on merge to master."
## 🧩 Feature request

### Description
Automate publishing new 'nightlu' packages when branches are merged into master.

[2021-02-04 19:16] adrian-ub opened #1245 "Cannot read property 'toString' of null"
## 🐞 Bug report

i am trying generate a plugin using schematics in a monorepo with Nx

### Description

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 11.1.2
Node: 14.15.1
OS: win32 x64

Angular: 11.1.1
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

[2021-02-05 01:19] TomJWilliams commented on #1228
@SanderElias I attempted the --noPrompt option and had no additional success. It resulted in the same error message at the same step of the build process in the same line of code.

[2021-02-06 00:18] adrian-ub commented on #773
I tried add meta

[code]

and return error:
[code]

any solution?

[2021-02-06 02:15] TomJWilliams commented on #1228
@SanderElias I just wanted to thank you for your assistance. I believe this issue has to do with alpine linux specifically. I was able to get the build working with CircleCI using both Ubuntu and also Windows Server. However, when I attempt to run the build on an alpine image despite the fact that the dependency installation completes. It still fails to build with the error provided at the beginni

[2021-02-07 17:02] jordankkk commented on #854
Still can't deploy vercel nowday

[2021-02-08 08:27] tpiros commented on #318
hi @dyingangel666 - one question. When you deployed your project, did you ever run into an issue where only one language would get pre-rendered and the other wouldn't? I'm having some funky issues when deploying to Amplify - one language doesn't pre-render the other does. Tt's almost like whatever I put in as the second `export LANG=xx && npm run scully` bit wins.

[2021-02-08 12:02] dyingangel666 commented on #318
@tpiros Mhhh nope no issues like that in my project. All languages successfully build in their respective subfolders... Was the default angular project built successfully with all languages and just within the scully build something goes wrong?

[2021-02-08 12:53] tpiros commented on #318
I'm trying to debug that. When deploying to Amplify, I need to run `npm run scully` once with one language in order to get pre-rendering. so the build script looks like this now:

[code]

I'm running some tests - not sure what has gone wrong ... :(

[2021-02-08 13:04] dyingangel666 commented on #318
Mhhh did you also tried to run the commands sequentially with && "ng build --prod --localize && npm run scully:en && npm run scully:en && npm run scully:es"

Not sure if it makes a difference... but it's worth a try

[2021-02-08 13:40] tpiros commented on #318
yes, that was the original, didn't make a difference. (theoretically `;` runs the script regardless of the success of the previous one, whereas `&&` only runs if the previous is successful)

This is the version that doesn't work. The EN site is empty the articles only load when JS is enabled, the ES site works both ways since the content is pre-rendered.

I have a feeling it has to do with my impl

[2021-02-08 13:56] SanderElias commented on #1228
@TomJWilliams Thanks for the feedback. I think a FAQ with regards to this would be a welcome PR ;)

[2021-02-08 13:56] #1228 closed

[2021-02-08 14:03] tpiros commented on #318
Found the culprit! It's the Storyblok JS client ... not sure why it works if I run scully 3x and why it doesn't work if I run it just twice...I'll talk to their devs and try to figure it out.

[2021-02-09 01:39] TomJWilliams commented on #1228
@SanderElias sir I would love to contribute. Ideally if you could tell me where in the FAQ I would be more than happy to add it. I was thinking in the FAQ for the CICD portion. Also I was thinking of creating some docker configurations that could be used for CircleCI that could get people started. However, I can understand if this is more niche because there are many people that would just as quic

[2021-02-09 05:29] adrian-ub opened #1248 "How to method POST external data api and modify routes"
## 🧩 Feature request

Example or idea to obtain an external API and modify the data of the routes.

### Description

Can retrieve external data from api, in my example it is get data from github api and include it in my scully generated routes.

I have tried as follows but it doesn't work

### Example

[code]

[2021-02-10 08:22] SanderElias opened #1250 "Bug in handling of blog routes with unicode chars"
## 🐞 Bug report

### Description
Here is a slug that will not be found:
[code]

When you use the `location.pathname' in the browser the result will be:
[code]
(this is the uriEncoded version of the same route)
Currently, Scully is unable to find this route. So it fails to display this route when Angular becomes active

[2021-02-10 12:55] SanderElias commented on #1248
There are multiple ways you can add already do this.
1. a routeing plugin. this would make the most sense. create a route in your app like '/github/:user` and map that to your plugin.
2. use a route process plugin, where you add in the extra routes.
3. use the extraRoutes config option.  It handles a `promise<string[]>` just fine, so you can hookup whatever there.

No matter what option you use, i

[2021-02-10 12:56] SanderElias commented on #1245
@jorgeucano can you check this out.

[2021-02-10 15:32] adrian-ub commented on #1248
I am making a portfolio with github repositories, I have started a route with the contentFolder plugin to store basic data of the repository and the content, then with the basic data that would be user and repository name, consult the Github api to obtain extra data, but for me it would be better to only consult the api during the generation of the site than to consult it every time the user enter

[2021-02-10 15:47] adrian-ub commented on #1248
For now I chose for the plugin to disable angular

[2021-02-11 05:32] #1248 closed

[2021-02-12 14:34] SanderElias commented on #1228
Here is a link. it takes you directly to the gitub editor for the FAQ page. Please take a look at the format we are using and try to keep the same layout.
https://github.com/scullyio/scully/edit/main/docs/faq.md?message=docs%3A%20describe%20your%20change...

[2021-02-13 05:20] SanderElias commented on #1248
@adrian-ub I think in your case its the easy way to use the Scully transfer-state from within your angular app. It does embedd the data into the HTML itself.

[2021-02-16 08:07] SanderElias opened #1255 "devops, make workflow do publish and test only on PR"
Discuss

[2021-02-16 08:09] SanderElias opened #1256 "devops, move deploy docs into main workflow"
move this job into the main workflow, and make it run only when changes are made to docs

[2021-02-16 08:16] SanderElias opened #1257 "devops, automate tagged releases"
Add functionality, so we can set a flag on a pr and then:
1. it should check which publishable are updated
2. update their patch version
3. publish them to NPM under the latest tag.

A follow up on the will be how to handle minor versions/

[2021-02-16 16:54] bilalshaikh42 commented on #108
Having the same problem, but getting "cannot read property 'search' of null"

[2021-02-17 02:55] Gamerulew commented on #843
Im getting this same issue, can you explain how to modify Scully index.js? Because i dont have this file, my ng add just added the dependence.

[2021-02-18 15:25] gbumanzordev opened #1261 "Scully could not find the <.scully-content>. tag in this page."
## 🐞 Bug report

### Description
When I create run `npm run scully -- --scanRoutes` it gives me a warning that the `<scully-content></scully-content>` is not found and that I should head to `http://localhost:4200` and query it in the console. I do that and it works, however. when I serve scully and try to go to a certain blog post, I get this:

[code]

#### 🔬 Minimal Reproduction
You can check my

[2021-02-18 20:15] aaronfrost opened #1262 "Adding Scully to update.angular.io project fails."
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

https://github.com/StephenFluin/angular-update-guide

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2021-02-18 20:16] aaronfrost opened #1263 "ng add references v9 - v10 even on v11 projects."
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2021-02-18 21:50] jorgeucano opened #1264 "Show error for not default project in the angular.json"
## 🐞 Bug report

### Description

If there is not default project in the angular.json and they attempt to add scully, we need to tell them that they don’t have a default project and will need to either set a default angular project or run the same command with the --project="PROJECT_NAME" flag.

#### 🔬 Minimal Reproduction

https://github.com/StephenFluin/angular-update-guide

#### 💻Your Environme

[2021-02-18 21:53] jorgeucano opened #1265 "Show error and message for old angular.json without sourceRoot"
## 🐞 Bug report

### Description

If there is no sourceRoot in the angular.json config, we need to tell them that they are running with an older version of the angular.json and that they will need to add a sourceRoot: "src" key to their angular.json.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pr

[2021-02-19 12:03] daniloff200 commented on #1201
@darxx yeah, in general, I also ended with such solution, and created api calls for such case

[2021-02-19 19:05] #1263 closed

[2021-02-22 10:16] SanderElias commented on #1261
@gbumanzordev I pulled your repo and ran Scully. It did work as expected?
Can I close this issue?
![image](https://user-images.githubusercontent.com/1249083/108694456-5bc43580-74ff-11eb-8364-7fd7474869df.png)

[2021-02-22 10:16] #1250 closed

[2021-02-22 10:17] SanderElias commented on #1245
@jorgeucano Is this part of your other issues/fixes?

[2021-02-22 11:24] #1262 closed

[2021-02-22 11:24] #1264 closed

[2021-02-22 11:24] #1265 closed

[2021-02-22 11:55] jorgeucano commented on #1245
yes, its fixed

[2021-02-22 11:55] #1245 closed

[2021-02-22 15:25] gbumanzordev commented on #1261
Yes, please!

Turns out after I added the blog I had to build again, since I didn't read that in the docs I didn't think it was necessary.

Thanks for your support.

[2021-02-22 15:53] #1261 closed

[2021-02-22 20:12] JadsonSouzaPG opened #1269 "Collection.json cannot be resolved"
## 🐞 Bug report

### Description
When trying to install Scully on a new angular project, the error is returned after installing packages:

`Installing packages for tooling via npm.
Installed packages for tooling via npm.
An unhandled exception occurred: Collection "/home/jadson/Naza/angular10blog/node_modules/@scullyio/init/src/collection.json" cannot be resolved.
See "/tmp/ng-lMzMY4/angular-error

[2021-02-23 09:27] SanderElias commented on #1269
@jorgeucano Can you check the new schematics for this?

[2021-02-23 10:02] billolo1 commented on #1269
Doubling down on this issue with both angular and nx workspaces

[2021-02-23 10:53] SanderElias commented on #1269
Closing this issue as its resolved by releasing schematics 1.1.1.

[2021-02-23 10:53] #1269 closed

[2021-02-23 10:55] SanderElias opened #1270 "Fix nx build schematics"
## 🐞 Bug report

### Description
Currently, when  one runs:
[code]
You end up with a non-working version of the schematics in the dist folder.
This should be fixed

[2021-02-23 10:57] SanderElias opened #1271 "Test for new project doesn't use packaged version of schematics"
## 🐞 Bug report

### Description
Currently the test for a new project does used the latest version of the schematics pulled from the Scully repo.
It should be using the packaged @develop version.

Also while doing this test, it should pull the @develop version over the @latest

[2021-02-24 12:39] ilyes24 opened #1274 "Conditional content appear for a little amount of time then dissapear when page refresh"
## 🐞 Bug report

### Description
The content of a **refreshed** web page is all loaded for the first time (even sections that are related with an `*ng-If`), then those sections are removed after small amount of time
#### 🔬 Minimal Reproduction
for example `cookies modal` in the home page
https://client.stagging.izeelogo.com
#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 11.

[2021-02-24 15:58] ilyes24 commented on #1274
@SanderElias  is there a bad implementation by my side ?

[2021-02-25 08:20] SanderElias commented on #1274
@ilyes24 I do suspect your static content isn't the same as the content you are loading in your app.
You can bring those in sync by using transferstate service, or by using `isScullyRunning()` during generation.
Scully does see every page of your site as a user on its very first visit to your site. So that is what gets rendered.
If you need to deviate from that, you need to use one of the availabl

[2021-03-01 12:18] SanderElias commented on #1274
Closing as there is no actionable issue left. Feel free to keep discussing in this thread.
We can reopen, or start a new issue if needed.

[2021-03-01 12:18] #1274 closed

[2021-03-04 06:19] SanderElias opened #1284 "localCache plugin concurrency issue"
## 🐞 Bug report

### Description
Currently, if multiple requests to the same resource are made on the same time, they are handles separately instead of bundled

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2021-03-05 13:29] flack commented on #1168
just to let you know, I'm seeing the same problem:

[code]

[code]

is there any way to get more debugging output?

[2021-03-05 13:59] SanderElias commented on #1168
@jorgeucano Can you take a look?

[2021-03-05 14:08] SanderElias opened #1286 "clean stale data from localCache."
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-03-05 18:18] daniloff200 opened #1287 "Add new custom page option for handle404"
## 🧩 Feature request

### Description

Right now we have `index` and `404` options, which allows us to show pages for unhandled routes from **./dist** folder .

I have a case when I have some private routes, protected by AuthGuard, which ignored by Scully and I want to show **index.html** or  some custom page, like, some loading page, and it's not located in `./dist` folder.

OR
Another case:
We j

[2021-03-06 04:54] SanderElias commented on #1287
@daniloff200 Once deployed to production, how is the app getting the page?

[2021-03-06 05:38] daniloff200 commented on #1287
Not sure, that I undersand your question correct, but...

Right now I'm showing **index.html** for my private routes, that ignored in Scully config,
 from my app/src build, and, it's located in dist root folder (I copy it there during the deployment process)

There's how it looks. Static folder - is a Scully build.
 ![Selection_020](https://user-images.githubusercontent.com/13692220/110196636-7fb4

[2021-03-08 08:48] SanderElias commented on #1168
@TGihan @flack This problem occurs if the `angular.json` file doesn't have its default project set correctly.
you can execute Scully with the `--projectName myProjectname` flag

[2021-03-10 00:39] ricardo-mello opened #1288 "schematics generating a wrong npm command"
## 🐞 Bug report

### Description
If you create a new scully website, the `npm run scully` script fails. If no one is working on it, please let me know so I can submit a fix.

#### 🔬 Minimal Reproduction
On terminal:
- `ng new blog`
- `ng add @scullyio/init`
- `ng build --prod`
- `npm run scully`

#### 💻Your Environment

**Angular Version:**

<pre><code>Angular CLI: 11.0.7
Node: 14.15.4
OS: darwin

[2021-03-10 10:29] flack commented on #1168
@SanderElias maybe I'm doing it wrong, but I added `"defaultProject": "myproject"` to the top level of `angular.json`. However, I still get the same error:

[code]

[2021-03-10 14:12] SanderElias commented on #1287
So, you want your server to serve a 404 when the route isn't in your Angular app?
That is a setting you need to do on your production server. Scully can't generate pages that are not there.
If you are using Scully, it will render all the pages you tell it to render. But pages that are not generated are _not_ there, so you can't provide functionality on something that you don't provide.
When you bu

[2021-03-11 15:41] flack commented on #1288
I have the same problem on a fresh angular project. This is the output I get:

[code]

[2021-03-11 16:34] SanderElias commented on #1168
@flack Does it work for you when you use the flag?
[code]

[2021-03-11 17:02] flack commented on #1168
@SanderElias nope, produces exactly the same output:

[code]

I also tried to run the command on a fresh angular project (separate directory, created with `ng new`), the idea being that I can just copy over the changes it makes. In the new project I don't get this error, but I run into #1288 instead, so I still can't get anything running. Is there a way to do the setup by hand?

[2021-03-11 22:27] dlewisharris commented on #1288
Having the exact same issue and error out as @flack also

[2021-03-12 11:49] quentinhayot commented on #1288
I have the same issue when trying to add scully to an existing angular app

[2021-03-12 12:18] quentinhayot commented on #1288
I was able to make it work by changing the package.json as follow:
[code]
to
[code]

[2021-03-12 13:05] SanderElias commented on #1168
@flack Can you give me access to your project? That way I can see what's going on in there.
For 1288, there is a solution in there already. and Jorge will take a look at what's going on.

[2021-03-12 14:58] daniloff200 commented on #1287
So, basically, I ended up with another solution.

My initial task was to avoid behaviour, like `reload the page -> login page -> user profile`, which happened for some routes in the app, which are under guard (in my case it was `AuthGuard`), like **UserProfile, Checkout**, etc.
It happens, because auth guard routes to login / landing page during the render, and in this case my idea was to show som

[2021-03-12 15:02] #1287 closed

[2021-03-12 22:18] dlewisharris commented on #1288
@quentinhayot Thank you, this worked for me in the end. I also think my issue was having a _dash_ in project name too. I renamed all instances my project in angular.json, deleted the node_modules folder, ran `npm install` then `npx scully --project` and it worked

[2021-03-13 04:26] quentinhayot commented on #1288
My project name was "b2b". So no dash...

[2021-03-15 09:58] klexxp opened #1289 "Using deprecated plugin type:"render" use "postProcessByHtml" instead"
## 🐞 Bug report

### Description
Hi, getting these errors after a new install. Don't know if I have the correct versions?
Thanks in advance

#### 🔬 Minimal Reproduction
<pre><code>
import { ScullyConfig, setPluginConfig } from '@scullyio/scully';
import './scully/plugins/multi-params';
import { environment } from './src/environments/environment';

const { DisableAngular } = require('scully-plugin-

[2021-03-15 12:43] SanderElias commented on #1289
The plugins that you are using need to be updated to use the new plugin structure. Its not breaking, but it _is_ deprecated.
The last one is a rtp party plugin, that they need to update. I think I did a PR on that already.

[2021-03-15 14:56] klexxp commented on #1289
Ok, thanks.
Using version 1.0.0 until they are updated.

[2021-03-15 14:56] #1289 closed

[2021-03-16 04:17] pjlamb12 commented on #1257
@SanderElias  So from what I can see, the workspace uses Nx, right? So GitHub Actions should be able to do the heavy lifting here I think. This is a link to an action that I use to run affected tests on libs/apps in a workspace, but you can do similar things to publish affected apps.

https://github.com/pjlamb12/ng-utah-nx-demo-app/blob/main/.github/workflows/nx-affected-tests.yaml

Essentially, y

[2021-03-16 04:17] pjlamb12 commented on #1256
Can you explain a little more what you mean by this?

[2021-03-16 04:20] pjlamb12 commented on #1255
Is this the workflow.yaml file, and just editing it to only run on PR to main instead of push?

[2021-03-17 06:40] SanderElias commented on #1257
Most of the scripting needed for this is in place already.
The nx toolset only gives an offset of the latest nx build, not of a previous version released to NPM.

[2021-03-17 06:43] SanderElias commented on #1256
We now have 1 big workflow that takes care of all parts of the build.
This workflow could also do the deployment of the docs, which is now still in its own separate flow.
Also, it can be a bit smarter, and check if a new deployment is needed. Now new docs get deployed even if there is no docs update.

[2021-03-17 06:47] SanderElias commented on #1255
yes it is the workflow.yaml.
but right now, its running on every push. and doing all f the work.
It should be changed so, that it only runs the last 2 steps on PR. We don't want to publish new @develop version on each push, but we do on every pr. The same goes for the Can we build test step, that is only needed on pr.

[2021-03-18 02:31] parikatla95 commented on #1288
I am getting the same issue, had to manually change the npm script to npx scully --project <projectName>.

[2021-03-18 10:32] unnhao commented on #1288
You can just change to "scully".

[2021-03-22 05:19] SanderElias commented on #1288
This is fixed in #1294. When that PR is approved I'll merge it. It's already released to npm, so, this should be fixed by now

[2021-03-22 05:19] #1288 closed

[2021-03-22 06:11] SanderElias opened #1296 "Transfer-state containing a template string with var causes issues"
## 🐞 Bug report

### Description
When we have a JSON response like this and embed it into transferstate, there are errors in the console, and the data.json becomes invalid
[code]

#### 🔬 Minimal Reproduction
use the above data in tranferstate
#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><cod

[2021-03-22 07:46] hchings opened #1297 "broken installation: ng-lib not installed automatically and no scully config file generated."
## 🐞 Bug report
Scully does not generate scully config file upon installation.

### Description
I'm trying to add Scully to an existing Angular 9 project by running `ng add @scullyio/init`.
It run through, however, it does not generate a scully config file under the top-level folder.

From the installation console output, it seems multiple installation steps didn't got triggered.
(See "Exception o

[2021-03-23 14:01] #1296 closed

[2021-03-24 08:14] hchings commented on #1297
Any help on this? Thanks

[2021-03-24 12:53] SanderElias commented on #1297
I'm sorry, but we can't reproduce your issue.
You might want to manually add Scully.
generate a new project, and look at the changes.
On top of my head, it is:
npm i @scullyio/scull @scullyio/ng-lib
add `ScullyLibModule` to your `app.module.ts`
create a `config.projectname.config.ts`  it should be something like this:
[code]

[2021-03-24 16:43] ufoscout opened #1298 ""404 - URL not provided in the app Scully is serving" when calling backend with a proxy"
## 🐞 Bug report

### Description
I am trying to prerender some pages that perform an HTTP call to the backend; so, I configured a proxy to forward all `/api/*` calls to a running backend. The issue is that when I launch `npm run scully`, every call to `/api` returns a "404 - URL not provided in the app Scully is serving" error.

#### 🔬 Minimal Reproduction
My scully configuration in package.json:

[2021-03-25 04:04] hchings commented on #1122
Issue solved w/ manual installed and modify relevant files. Still unsure about the root cause but can run Scully now. Thanks.

[2021-03-25 04:04] hchings commented on #1297
Issue solved w/ manual installed and modify relevant files. Still unsure about the root cause but can run Scully now. Thanks.

[2021-03-25 16:23] ufoscout commented on #1298
Hi @SanderElias, as you marked this as a question, I suppose there is an answer too :)
We are blocked on this issue, any advice?

[2021-03-25 18:24] aaronfrost commented on #1298
@ufoscout any chance you have a repo we can see? Or can we set up a call?

[2021-03-25 18:25] #1297 closed

[2021-03-25 18:28] aaronfrost commented on #1237
@jagdishjadeja after your build, do you have a `dist/static/auth/login/index.html`? Does it contain pre-rendered data?

[2021-03-25 18:28] aaronfrost commented on #1237
@jagdishjadeja did you ever get this solved?

[2021-03-25 19:31] ufoscout commented on #1298
@aaronfrost I cannot share it, it's not a public project. Let's have a call if you can, let me know your availabilities.

[2021-03-26 07:12] SanderElias commented on #1298
@ufoscout Sorry. I meant to answer it right away but got pulled away.
Have a look [at this ](https://scully.io/docs/Reference/config/#handle404).
We are using the proxy in our testbed, so if it would be this broken, I would know.
In our testbed we have this in the config file:
[code]
What you are seeing is the default behavior.  We set our defaults for the majority of use-cases.

[2021-03-26 07:17] SanderElias commented on #1297
@hchings The root cause might be an `angular.json` that has an invalid json.
We found that the parser used by the CLI is more forgiving than the one that is inside of the angular schematics. The Scully schematics silently fails in this case, leaving you in this spot.

[2021-03-26 07:18] SanderElias opened #1299 "Scully init ng-add schematic silently fails when there is invalid json in `angular.json`"
## 🐞 Bug report

### Description
As an example, when there is a trailing comma in one of the array's in `angular.json` the CLI will just work.
However, running `ng add @scullyio/init` will silently fail. It will exit without an error before its done.

[2021-03-26 07:20] SanderElias commented on #1299
When you have this issue. I did explain how to do a [manual installation here](https://github.com/scullyio/scully/issues/1297#issuecomment-805795681)

[2021-03-26 09:25] ufoscout commented on #1298
Hi @SanderElias ,
if that is the default behaviour, how can it be customized?

I think that the need for calling a backend is a pretty common scenario for Angular developers; supporting this use case is fundamental for Scully to become more and more popular. Otherwise, it will be usable only for static cases where other frameworks are much more affirmed than Angular.

@aaronfrost, I created a smal

[2021-03-26 17:04] SanderElias commented on #1298
@ufoscout By setting the handle404 setting in your config. As documented in the link I provided you with.

[2021-03-29 21:06] BartoszGl opened #1301 "Question about backend data pre rendering"

[2021-03-29 21:08] #1301 closed

[2021-03-31 11:43] ufoscout commented on #1298
@SanderElias
About the link you provided, thanks for it, but I have to say that that documentation is a little bit too thin to be of any help.
Anyway, I solved the issue by adding this to the `scully.my_app.config.ts` file:
[code]

Instead, if I add these two entries as suggested by you:
[code]
then `npm run scully` returns 404 error on every route.

[2021-03-31 12:34] SanderElias commented on #1298
For your setup you need:
[code]

[2021-03-31 14:22] SanderElias commented on #1270
closed by #1302

[2021-03-31 14:22] #1270 closed

[2021-04-02 11:42] chrisguttandin opened #1305 "support routeProcess plugins defined in external npm modules"
## 🧩 Feature request

### Description

I would like to propose adding support for external routeProcess plugins. It would be great if their order of execution could be defined in Scully's config file.

### Describe the solution you'd like

Currently the documentation for routeProcess plugins says: "There is no need to update the config file for this." But I think it is necessary to import those pl

[2021-04-02 13:24] SanderElias commented on #1305
What is the added value to this? You can already as many as you like. The 4rth parameter of registerplugin is a number. That number sets the order.

[2021-04-03 00:27] aaronfrost commented on #1305
@SanderElias the value would be that PersonA could make a plugin and deploy it. In their NPM package they call the `registerPlugin` function and register it with the 4th param.

Then PersonB comes a long and they can use that person's plugin and set their own priority instead of just getting the priority of the person who built it.

[2021-04-03 07:03] hchings opened #1306 "Building with BaseHref plugin does not produce correct index.html"
## 🐞 Bug report

### Description
Everything works fine when building in dev mode.
However, when we build with production configuration and with [scully-base-href-rewrite ](https://github.com/scullyio/scully/tree/main/libs/plugins/base-href-rewrite)plugin, index.html generated from different routes all have the same content.

[code]
Scully config:
[code]
From the console out put of running Scully,

[2021-04-03 14:42] chrisguttandin commented on #1305
I think @SanderElias is right. It's a theoretic problem so far. I only discovered this since I was implementing route process plugin support for angular-prerender. I don't have an actual use case where this would be a problem.

However if you want this to be changed before any user runs into the problem I would be happy to provide a PR. Although I'm not quite sure how to implement this in a backwa

[2021-04-05 07:57] SanderElias commented on #1305
@chrisguttandin I think the best way would be to enable a way to change the registration number. The actual sort happens just before they are executed.
So a `setPluginPriotity` function would do the trick. There is a symbol for the priority attached to the plugin.
something as:
[code]
Would do the trick.
We might need to add the export for `routeProcessPriority`

I would welcome a PR for this.

[2021-04-06 21:12] dbubenheim opened #1311 "Adding blog support not working in scully init version 1.1.3"
## 🐞 Bug report
When adding blog support in scully init version `1.1.3` no blog module is created and the project build fails. When I manually revert scully init to an earlier version , e.g. `1.0.1` the module is created and everything works as described in the documentation.
Not really sure if that's a bug or I screwed it up, just wanted to let you know what I figured out.

### Description
Today

[2021-04-07 05:59] SanderElias commented on #1311
@Jefiozie I think we missed more as only the JSON file. Would you be able to take a look?

[2021-04-07 08:19] Jefiozie commented on #1311
@dbubenheim thank you for reporting this issue, I tried to reproduce the issue based on your steps. The outcome is a bit different as you can look below:

![image](https://user-images.githubusercontent.com/17835373/113831532-ff079c00-9787-11eb-915a-9a682eb5d262.png)

That set, the Scully schematics (and Scully projects overall) require at least a route and the `RouterModule` included in an Angular

[2021-04-07 09:14] SanderElias commented on #1311
I'm going to close this as there is no actionable content left.
@dbubenheim We are going to add an error message that will highlight why the schematic isn't "working"

[2021-04-07 09:14] #1311 closed

[2021-04-07 09:58] SanderElias commented on #1306
Are you still having question regarding this?

[2021-04-07 11:17] hchings commented on #1306
Yes. We still need help on how to set up Scully correctly for the production build.

The production build happens on a Jenkin server that is currently not listed in the CSRF_TRUSTED_ORIGINS of the backend in prod. So the root cause should be that the Angular app Scully tentatively runs for pre-rendering does not have access to backend APIs in prod that is required for prerendering.

Specifically,

[2021-04-07 17:59] dbubenheim commented on #1311
Thanks for the clarification and quick response.

[2021-04-07 18:56] JoeyMckenzie opened #1315 "Using Netlify CMS with Netlify Identity causing dual login screens"
## 🐞 Bug report
**To preface, this only seems to be an issue and reliably reproducible when integrating Scully and Netlify CMS within Nx.**

When integrating Scully and Netlify CMS in an Nx monorepo, the admin page is displaying [two login widgets](https://user-content.gitter-static.net/9f89ee5c36b66c9aef0e1f1f8e967b3c7e9b8cb4/68747470733a2f2f66696c65732e6769747465722e696d2f35653032643766376437333

[2021-04-08 03:57] hchings commented on #1306
Resolved and closing this question.

[2021-04-08 03:57] #1306 closed

[2021-04-09 14:38] geromegrignon opened #1317 "[DOcs][Starters]: unclear table of contents"
## 🗄️ Docs report

### Description

On the starter [page](https://scully.io/docs/community/starters/) of the docs, the table of contents only contains 'details' sections.
It's both unclear and misleading.

![image](https://user-images.githubusercontent.com/32737308/114195297-a20b1200-9950-11eb-9c7a-6164be49ecb0.png)

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://scully.io/do

[2021-04-09 14:51] geromegrignon opened #1318 "[DOCS][FAQ] Hierarchy of File locations section"
## 🗄️ Docs report

### Description

Onto the faq [page](https://scully.io/docs/faq/), is the 'File Locations' supposed to be a sub part of 'Docker and CI/CD'?
![image](https://user-images.githubusercontent.com/32737308/114198297-7178a780-9953-11eb-8b2f-12d3891754a5.png)

While it may happen, it isn't directly related.
I would suggest to move this section from `h3` to `h2`

## 🔬 Minimal Reproductio

[2021-04-09 17:10] SanderElias commented on #1317
Hmm, the word details should be replaced by the title of the section.

[2021-04-09 18:06] Jefiozie commented on #1271
@SanderElias I think this one can be closed now #1312 is closed?

[2021-04-10 17:25] lukasmatta opened #1319 "Scully is using stored routes despite running with --scanRoutes"
## 🐞 Bug report

## Update:
I found the bug (more precisely it's misleading message). In the warning message it suggests to run:
`npm run scully -- --scanRoutes` but when I ran it, it didn't work, I think because it runs `npx scully -- --scanRoutes` instead of `npx scully --scanRoutes`. I ended up adding custom script to package.json:
```"scully:routes": "npx scully --scanRoutes",```

Hello,

I've

[2021-04-11 17:10] aquariuslt commented on #1319
try using `--forceScan` instead?

[2021-04-11 18:54] geromegrignon opened #1321 "[Docs] Missing ES translations"
## 🗄️ Docs report

### Description

Some pages aren't translated in spanish :

- [ ] [critical css](https://github.com/scullyio/scully/blob/main/docs/Reference/plugins/built-in-plugins/criticalcss.md)
- [ ] [flash prevention](https://github.com/scullyio/scully/blob/main/docs/Reference/plugins/built-in-plugins/flashPrevention.md)
- [ ] [starters](https://github.com/scullyio/scully/blob/main/docs/co

[2021-04-11 18:54] geromegrignon commented on #1321
@jorgeucano

[2021-04-11 19:06] geromegrignon opened #1322 "[Docs] Create a plugin page not published"
## 🗄️ Docs report

### Description

The 'Create a Plugin' [page](https://github.com/scullyio/scully/blob/main/docs/learn/create-a-plugin/create-a-plugin.md) is not published. But i can't track any work in progress issue which would explain it's not published yet.
## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://github.com/scullyio/scully/blob/main/docs/learn/create-a-plugin/cre

[2021-04-12 08:20] geromegrignon commented on #1317
closed by #1320

[2021-04-12 08:20] #1317 closed

[2021-04-12 08:25] ponju commented on #1319
I'm afraid that there are some problems about npm or npx arguments.

I can make all routes files by adding script on package.json like this.

"scripts: {
    "jam": "ng build && npx scully --scanRoutes && npm run scully serve"
}
I just skip arguments,"--",I don't know why does it work.

I was stacked on this issue too. Good luck
Sorry for my poorness of English. :(

[2021-04-12 08:37] Jefiozie commented on #1271
Closing this in favor of: #1312

[2021-04-12 08:37] #1271 closed

[2021-04-12 08:38] lukasmatta commented on #1319
Yes you're right. I've already updated my post, after I found that the problem is in argument handling:

I found the bug (more precisely it's misleading message). In the warning message it suggests to run:
`npm run scully -- --scanRoutes` but when I ran it, it didn't work, I think because it runs `npx scully -- --scanRoutes `instead of `npx scully --scanRoutes`. I ended up adding custom script to

[2021-04-12 09:28] aaronfrost opened #1323 "Move to Chokidar 3"
We need to move to Chokidar 3. The current version (2) doesn't work in Node 14. This is a big deal.

[2021-04-12 12:33] SanderElias commented on #1319
@lukasmatta This is more of an `npm` issue.
the `--` is telling npm to add whatever is after that, to the command that is being started.
However, if that command ends with `--` it's not entirely sure what happens.

[2021-04-12 13:24] aaronfrost opened #1325 "Document the cache plugin"
The cache plugin is documented in its readme, but not in the docs. We need to get it updated to have documentation in the docs under core plugins.

While at it, please update the plugin types. When you go to https://scully.io/docs/Reference/plugins/overview/ all plugin types are documented, but if you go to https://scully.io/docs/Reference/plugins/types/overview/ it is a stale list. We should prob

[2021-04-13 14:01] Ambuj8105 opened #1327 "ng add @scullyio/init is not working"
**Description**
on running this command ng add @scullyio/init i get the following error
Error: ENOENT: no such file or directory, stat '/home/knoldus/knoldus_Project/Testing_knoldus/Knoldus-New-Website/scullyio/ng-lib-v8.tgz'

**Angular Version:**
Angular CLI: 8.3.29
Node: 14.15.4
OS: linux x64
Angular: 8.2.14
... animations, common, compiler, compiler-cli, core, forms
... language-service, platfo

[2021-04-13 21:38] EdwinFdoGarcia opened #1328 "Scully does not create blog module when starting ng generate @ scullyio / init: blog"
## 🐞 Bug report

### Description
After installing angular with routing I follow the documentation process for Scully.
`ng new AmplifyAngular`
`ng add @scullyio/init`
` ng generate @scullyio/init:blog`
Here I only create the blog folder, but it does not create any module or files inside `/src/app/`
[code]

Then I try creating:
`ng generate @scullyio/init:markdown`
It asks me the expected questions

[2021-04-13 21:48] chrisguttandin commented on #1305
@SanderElias I created a basic PR (#1329) but I wasn't sure where to put a test for the new function. Please let me know if I should add a test and where to put it.

And please let me know if there is anything else I need to change.

[2021-04-14 06:08] SanderElias commented on #1305
@chrisguttandin Thanks!
A test would be welcome. It should be added to our jest tests in `./tests/jest/src/__tests__`
Just a no-fuss test would be ok, and checking the error if you try to set an unexisting one should be enough.
[code]

[2021-04-14 06:10] SanderElias commented on #1328
This is a duplicate, I know @Jefiozie  is already working on fixing this. I'll push out the update as soon as its ready

[2021-04-14 06:15] SanderElias commented on #1327
@Ambuj8105 We don't support version 8 anymore. It looks like you are trying to install a custom v8 lib, that's not in your project.
you might have success by using an older version like this:
[code]
but I have no idea which version you should pick.

[2021-04-14 06:15] #1327 closed

[2021-04-14 23:36] amiroslaw opened #1330 "Asciidoc asciidoc"
### Description
When I build scully with asciidoc file I've got:
`When you want to use asciidoc, you need to install the optional asciidocor.js module by: npm install -s asciidoctor.js`
I suppose the error is from the asciidoc.ts in scully/libs/scully/src/lib/fileHanderPlugins/

#### 💻Your Environment

**Angular Version:** 10.0.0
**Scully Version:** 1.0.0
asciidoctor.js 1.5.9

[2021-04-15 16:08] BlindDespair opened #1331 "data.json is not generated correctly"
## 🐞 Bug report

### Description
After update `scully` and `ng-lib`  to version `1.1.1` the `data.json` contains the following string:
[code]
While the `index.html` in state script contains the correct information and renders the page properly, navigating to the other pages in the running app breaks because it can't get the data from the state.
#### 🔬 Minimal Reproduction
1. Have an application th

[2021-04-15 16:39] SanderElias commented on #1331
@BlindDespair This problem is fixed already. It's happening if you have template strings inside the JSON you're trying to embed.
I'll check if we did release the fix tomorrow.

[2021-04-15 17:17] BlindDespair commented on #1331
@SanderElias sounds great, thank you for a quick response on the issue!

[2021-04-15 18:20] BlindDespair opened #1332 "Improve cache handling of data.json files"
## 🧩 Feature request

### Description
Depending on server config `data.json` files are cached sometimes. I know we can opt out from using them in favor of `index.html` files, but to have the highest performance I believe `data.json` is the best way.
It would be great if Scully provided a mechanism which would make these files work with cache.
 A clear and concise description of the problem or miss

[2021-04-17 08:19] aquariuslt opened #1333 "question: relative image location in markdown files"
When writing markdown with images (cover of the article, or attachment in markdown content), we can using absolute/relative image url in markdown syntax.

The relative link like

[code]

Is there any document about how to resolve relative image location in markdown file?
or can we provide custom plugins to process image location in markdown files?

[2021-04-19 12:58] riscie commented on #1332
We have the same request. This could also be handeled within the webserver config, but I would prefer, as @BlindDespair, to have scully handle it. An alternative to the date approach would be using the hash of the data.json file. This would have the advantage of keeping it cached, as long as it does not change.

[2021-04-19 13:32] SanderElias commented on #1332
This is a good feature request, and we will put it on our list. Don't expect a solution within a few weeks, but we will land one.

[2021-04-19 13:33] SanderElias commented on #1333
I would have to investigate, but I believe we are already handling this somewhere. I think the seoRewrite plugin takes care of this.
If not, there is another place where we are doing this

[2021-04-19 13:35] SanderElias commented on #1330
@amiroslaw did you try installing `asciidoctor.js`?

[2021-04-21 00:56] amiroslaw commented on #1330
Yes of course I've tried with asciidoctor.js 1.5.9 and asciidoctor 2.2.4.

[2021-04-21 04:44] SanderElias commented on #1330
I was just double-checking. I will test this in an isolated project, and add it to my list. You might be the first one (after me) that actually tries this :-D
iirc we do have a test that hits AD tho. I'll keep you posted.

[2021-04-21 09:46] geromegrignon opened #1336 "Automate Prettier write format"
## 🧩 Feature request

### Description

Prettier is included into the project but not automated.
It makes the format of the soruce code inconsistent with each new contribution.
Furthermore, it slows down reviews on PRs with new formatbeing applied (in #1326 for example)

### Describe the solution you'd like

I would suggest to :
- add a git hook
- include a format step into the CI (to protect the s

[2021-04-21 10:56] beatsbybre opened #1337 "Fixed - Space in folder name"
## 🐞 Bug report
I've downgraded AngularCli to 10.0.0

### Description

Ng new project
ng add @scullyio/init
ng generate module home --route home --module app
ng build --prod

npm run scully

logging with severity "warning"
using plugins from folder "./scully"
Typescript error while compiling plugins. the error is:
error TS5042: Option 'project' cannot be mixed with source files on a command line.

[2021-04-21 11:09] #1337 closed

[2021-04-23 22:11] mainawycliffe opened #1340 "Replace npm run with npx in Scully Docs"
## 🗄️ Docs report

### Description

Update Scully docs to use `npx` instead of `npm run` when executing Scully commands.

So instead of

[code]

This becomes

[code]

[2021-04-23 22:12] mainawycliffe commented on #1340
PS: I would like to tackle this update.

[2021-04-24 02:16] SanderElias commented on #1340
@aaronfrost In our docs, we have a mixture of 'npm run scully' and 'npx scully' and iirc a few other variants.
@mainawycliffe wants to go over, and update all of those. Are you happy with this too?

@mainawycliffe When you are going to do this, make sure you find all the different variants too.

[2021-04-24 02:20] SanderElias commented on #1331
@BlindDespair Do you still have this issue?
We encountered this before, and that turned out to be an issue with the htmlMinimize plugins. (you need to do some settings, but I don't recall which ones)

[2021-04-24 05:31] mainawycliffe commented on #1340
@SanderElias i can start as soon as I get the go ahead.

[2021-04-24 14:25] BlindDespair commented on #1331
I still have the issue, but I'll check how I can configure the htmlMinimize plugin and see if it helps. I'll post my findings here.

[2021-04-24 14:57] BlindDespair commented on #1331
@SanderElias I check the configs and what helps is switching off the `minifyJS` option off.
So here is the difference it produces:
`minifyJS: false,`:
![image](https://user-images.githubusercontent.com/15785773/115962793-42e6f900-a51d-11eb-855e-b82903ac5226.png)
`minifyJS: true,`:
![image](https://user-images.githubusercontent.com/15785773/115962818-6316b800-a51d-11eb-818d-705f9541df6d.png)
and th

[2021-04-25 11:33] SanderElias commented on #1340
@mainawycliffe I'm fairly sure @aaronfrost was kind of busy last week. IIRC he was hosting some conference ;)
If he doesn't respond by Tuesday, you can go ahead, and do it. I'm fine with this.

[2021-04-26 13:24] mrigank-taxak opened #1342 "Scanning of Lazy Loaded Routes Inside any Particular Modules not working"
## 🐞 Bug report

### I am unable to scan routes if any particular module has the lazy-loaded routes as children.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

@angular-devkit/architect       0.1100.7
@angular-devkit/build-angular   0.1100.7
@angular-devkit/core            11.0.7
@angular-devkit/schematics      11.0.7
@angular/cli                    11.0.7

[2021-04-27 17:38] SanderElias commented on #1342
@mrigank-taxak Can you provide a reproduction. We are only using lazy-loaded routes in our test apps.

[2021-04-27 17:46] SanderElias commented on #1331
Yes, the minify plugin does mess up the order of the lines. The script that is injected by Scully is optimized by hand and put in that exact order for a reason.
During the write-to-disk, the write-to-disk plugin extracts the _first_  string that is inside the `__SCULLY__xxx` markers.
The 17 bytes is probably some white-space, that is put in by the conversion from JSON to the embedded string.
As th

[2021-04-28 03:23] #1331 closed

[2021-04-28 07:04] mrigank-taxak commented on #1342
@SanderElias https://github.com/mrigank-taxak/scully-testing.git this is my repo of the project, I have removed the Scully configuration for now.

[2021-04-28 08:01] Jefiozie commented on #1328
HI @EdwinFdoGarcia,  there is a new version of the Scully schematics release `1.1.4`. This should resolve the issue that you reported. I will close this issue as it should be resolved, in case it isn't feel free to reopen it.

[2021-04-28 08:01] #1328 closed

[2021-04-30 16:04] BenLune opened #1344 "JSON:API contentType application/vnd.api+json"
## 🧩 Feature request
Authorize contentType application/vnd.api+json in httpGetJson function for JSON:API format calls

### Description
Hi there,
I'm working on Drupal headless projects with Angular. I'm enthusiastic to use Scully to pre-render the contents.
To get data from Drupal, we use JSON:API. When I use the Scully json plug-in I have an error, but too generic : Could not fetch data for route

[2021-05-02 23:42] AlexAegis opened #1346 "Can't find routes that are spread into the Route config"
I have a fresh Angular application, with a `routes.ts` file and the following content:

[code]

This is then imported in the AppModule into `RouterModule.forRoot(routes)`

This is pretty straightforward and common, and it works perfectly.

However, as soon as I want to move out some routes to a separate variable, and then spread it back into the config, scully can't follow:

[code]

I get the foll

[2021-05-02 23:46] AlexAegis commented on #1346
Workaround:

It looks like it's only the spread operator that it can't handle, if I just make two arrays, and concat them together there, it works:

[code]

[2021-05-03 00:35] AlexAegis opened #1347 "Relative path of lazy modules calculated from the AppModule instead of the file where the imports are"
## In the case of the `RouterModule.forRoot`

Scully tries to resolve the path of lazy modules from the AppModule, where the RouterModule is imported (forRoot) instead of the file where these statements are declared.

If I keep my root route declarations in a separate file, my relative paths to those modules will be different unless that `routes.ts` files is right next to the `app.modules.ts` file

[2021-05-03 06:32] SanderElias commented on #1346
@AlexAegis Thanks for digging into this, and reporting back your findings.
This is the behavior of the [GuessParser](https://github.com/guess-js/guess/tree/master/packages/guess-parser).
@mgechev would it be possible to support the spread operator in routes?

[2021-05-03 06:37] SanderElias commented on #1347
@mgechev I took a quick peek, and I think this is the default behavior of GuessParser.
Is this perhaps something I wired up incorrectly?

[2021-05-03 06:49] SanderElias commented on #1344
@BenLune We had some difficulties before with API's not returning valid JSON, that's why the strict chack is there.
But you have a valid concern, and we will add some code to cater to additional content types.

[2021-05-03 16:12] jsanta opened #1348 "Inconsistent behavior on npm run scully"
## 🐞 Bug report
npm run scully script sometimes finishes correctly and sometimes gets stuck without doing nothing.

### Description
I have  a couple of projects that run scully before being deployed to their servers.
The build process runs:
[code]

where the scully script is:
`scully --prod --showGuessError --showBrowser=false --pluginsError=true --logSeverity=normal`

#### 💻Your Environment

**An

[2021-05-03 17:04] SanderElias commented on #1348
We dus observe this before, and did put in a fix.
Can you try the develop version?
If that works, I'll release a patch version

Op ma 3 mei 2021 18:12 schreef Jose Ignacio Santa Cruz G. <
***@***.***>:

[2021-05-03 17:37] jsanta commented on #1348
Thanks @SanderElias . How can I try with the develop version?

I was trying by wrapping the scully command in
`bash -c '(sleep 300; kill $$) & exec _SCULLY_CMD_HERE_'`

but as I'm using a monorepo I'm loosing the project parameter. Anyway this workaround doesn't solve the problem, it just kills the process if it's running after 300 seconds...

[2021-05-03 18:16] BenLune commented on #1344
Thank you @SanderElias for you answer, I understand, and thank you for the great job :-)
For your information I extended the httpGetJsonApi function to be called as long as there are some contents to load. With JSON:API we have a links object in the answer containing a 'next' variable with the url to be called to get the next contents.
I also have a project where the urls used by the application a

[2021-05-03 20:34] mgechev commented on #1347
@AlexAegis would you open this as a bug in [guess-js/guess](https://github.com/guess-js/guess)?

[2021-05-03 20:37] mgechev commented on #1346
Route definitions need to be statically analyzable. We can make some of them work, but it'll be impossible in the general case.

There's no way to discover dynamically assembled routing config at build time. Imagine a dependency on `localStorage`:

[code]

We can't know what's in the user's `localStorage`. To simplify the parsing algorithm, we're also not interpreting expressions in route definiti

[2021-05-03 20:44] AlexAegis commented on #1347
@mgechev It looks like there is already one describing the same problem: https://github.com/guess-js/guess/issues/345

I'll close this, and mention it there for the more detailed explanation

[2021-05-03 20:44] #1347 closed

[2021-05-03 21:03] jsanta commented on #1348
Hello again.

OK, here's what I did:
1. Cloned the repo
2. npm run build-all
3. cd dist/libs
4. npm pack for scully, ng-lib and flash-prevention-plugin
5. Back to my project folder
6. npm install for each packed lib

So far so good, but I don't really know if I'm really working with a patched or corrected version (all tgz files read 1.1.1 as the version).

[2021-05-04 04:52] SanderElias commented on #1348
@jsanta Oh, sorry, that was very unlcear from me.
try it after `npm i @scullyio/scully@develop`
I'm fairly sure that will cure your issue.

[2021-05-04 04:59] SanderElias commented on #1346
@mgechev The question of @AlexAegis was:
Why does this work:
[code]
while this doesn''t:
[code]

Both of them seem to be statically analyzable?

[2021-05-04 15:44] jsanta commented on #1348
Thanks @SanderElias and sorry for not explaining myself very well.
The develop version  seems to work without problems. Will need to  make several more runs to validate but no problems detected yet.
Thanks :)

[2021-05-05 05:12] Jefiozie commented on #1086
@SanderElias I think this is a duplicate issue, see #1087

[2021-05-05 09:45] AxeMaster99 opened #1349 "Support of transfer state in resolvers"
## 🧩 Feature request

### Description

It seems like transfer state does not work in resolvers. That is due to the fact that the state is cleared when navigating, while filtering undefined values in the state$ observable. Therefore, the getState method will never emit events, causing the resolver to wait for a response infinitely.

in TransferStateService
[code]
and
[code]

### Describe the soluti

[2021-05-05 21:01] beatsbybre commented on #1348
I solved this by making sure to have a <router-outlet> on the components that were being used to host <app-index> as routes.

I'm using components to create SEO slugs and it'd freeze like this, but not after adding <router-outlet>

[2021-05-06 04:07] jadengis opened #1350 "Scully content component erases content on route with fragment using Angular router"
## 🐞 Bug report
When using the `ScullyContent` component on a page, routing to anchors on the same page using routerLink with a fragment erases the content on the page.

### Description
Suppose you have a component with the following template mounted on any route in your app:
[code]
Clicking on the anchor link will cause the currently rendered scully content to be erased completely.

After some di

[2021-05-08 01:19] jamieathans commented on #1348
I can verify I have encountered this same problem as @jsanta and the suggestion of @SanderElias to use the develop version solved the issue.

[2021-05-08 14:15] niklaas commented on #854
This took me nearly two hours to figure out, so I hope someone else benefits from this too. I have kept on wondering why Vercel's example repository for Scully worked while mine did not with the following error:

[code]

I downgraded Scully in my repository (mine is 1.1.4 while the example repository uses 1.1.1), installed puppeteer manually with `npm i -D puppeteer` and even tried alixaxel/chrome

[2021-05-12 16:35] jsanta opened #1354 "Puppeteer option 'timeout' being ignored in rendering"
## 🐞 Bug report

We have a Scully configuration for one of our company's project. As there have been some changes on the underlying API some pages are taking more time to get all the information so we began getting a:
`Puppeteer error while rendering "/some_url/final_url" TimeoutError: Navigation timeout of 30000 ms exceeded  we will retry rendering this page up to 3 times.`

We tried adding the t

[2021-05-13 05:37] tenoriojuann opened #1355 "Corporate Proxy support for JsonRoutePlugin"
## 🐞 Bug report

### Description

Tried to play with the proxy config to be able to send my requests through a corporate proxy but was unsuccessful. The agent field is never populated in the jsonRoutePlugin

#### 🔬 Minimal Reproduction

route config:

[code]

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 11.2.12
Node: 12.13.0
OS: darwin x64

Angular: 11.2.13
... a

[2021-05-13 07:39] #1340 closed

[2021-05-13 09:11] SanderElias commented on #1355
The proxy is there for your application. The Scully plugins don't run in there, they run in a node context, and can reach out to your APIs directly, they are not going through the proxy. Your config should not use customer-facing URI's but access them directly.
The following doesn't contain a valid URL, and will never work
[code]
The Scully config is _not_ part of your distribution, and is not use

[2021-05-13 09:19] SanderElias commented on #1354
The option isn't there by design.
when you have one or more pages that require an extra-long timeout, you can switch those pages to [manualIdle](https://scully.io/docs/Reference/ngLib/idle-monitor-service/ ). You can then fire the `I'm ready` event when all your data is in.

Let me know if you need more then that

[2021-05-13 16:46] tenoriojuann commented on #1355
Hi,

I am using the plugin to be able to fetch the values for my unhandled routes. I have to use the proxy to be able to retrieve those values.

I can try to call the API by myself and save the info to a file but I wasn't sure if the proxy would do the trick.

[2021-05-13 17:03] camilodavilabonilla commented on #439
@jorgeucano @SanderEliasI would like know the response of this case because I still with the same issue my currentversion
"@scullyio/init": "1.0.1",
"@scullyio/ng-lib": "1.0.2",
"@scullyio/scully": "1.1.0",

[2021-05-14 05:03] SanderElias commented on #439
@camilodavilabonilla Can you please make a new issue for this, reference this, and it does help if there is an way to reproduce the issue quickly.
As far as I can remember this issue is fixed, but I might remember wrongly, a lot can happen in a year.

[2021-05-14 05:09] SanderElias commented on #1355
@tenoriojuann Your plugins are run in nodeJs, not in a browser. So you can fetch it from wherever you like. There is no CORS in nodeJs.  You can directly use the data, or you can save it to a file and reuse the file, but as it is only used once (probably) I don't see the added value of doing that.

[2021-05-14 08:19] ufoscout opened #1356 "Ignored route plugin should accept wildcards"
We need to exclude an entire area of our website from prerendering.

But the `ignored` plugin accepts only a single route; consequently, we are forced to explicitly list every single page that needs to be ignored. E.g.:
[code]

Instead, we would like that the `ignored` plugin accepts wildcards; so, excluding a group of pages would be as simple as:
[code]

[2021-05-14 12:45] SanderElias commented on #1356
I think the following will work:
[code]

[2021-05-14 12:47] SanderElias commented on #1346
given the answer from @mgechev

There is nothing actionable left in here, so I'm going to close this

[2021-05-14 12:47] #1346 closed

[2021-05-14 13:13] ufoscout commented on #1356
@SanderElias
Your solution doesn't seem to work:
[code]
It keeps rendering the pages.

[2021-05-14 13:40] AlexAegis commented on #1346
@SanderElias  This problem has nothing to do with `localStorage`, you yourself commented the core of the problem. If `concat` works, why doesn't spreading. Every route is available to be statically analized in this scenario.

[2021-05-14 15:19] mainawycliffe opened #1358 "Add an explanation on why -- is needed"
## 🗄️ Docs report

### Description

Update the docs to indicate on why the `--` is needed when running Scully cli commands.

[2021-05-14 15:19] tenoriojuann commented on #1355
Hi,

I understand the plugin does not run on the browser and is not part of the distribution. And that is NodeJS that is running it.

I guess I worded my issues/feature request wrong.

Using the following route configuration: (where I'm not putting the real URL for this example)

[code]

Is there a way to provide an HTTP agent to the config? I am behind a firewall and need to use my company's prox

[2021-05-14 15:20] mainawycliffe commented on #1358
PS: I would like to tackle this one

[2021-05-14 15:22] mainawycliffe opened #1359 "Build a Manual Installation Page"
## 🗄️ Docs report

### Description

And a manual installation page for adding Scully to your project.

[2021-05-14 15:37] denisyilmaz commented on #1349
would love to see this feature.

[2021-05-14 15:49] denisyilmaz opened #1360 "Don't render certain elements marked with specific data-attribute"
## 🧩 Feature request or Docs Update

When rendering pages with Scully all scripts that the page will load are executed on the server.
This can cause some problem with Scripts like for example Cookie Banner scripts (like cookiebot.com)  that need to be inserted in the head of the index.html

[code]

As the HTML of the banner is rendered via Scully the resulting banner is not interactive anymore and

[2021-05-14 16:41] Jefiozie commented on #1355
Hi @tenoriojuann,just to understand you correctly. With  http agent do you mean a user-agent? Like a user agent header that needs to be in the request?

[2021-05-14 17:58] tenoriojuann commented on #1355
Hi,

I'm talking about node's Http Agent option.

https://nodejs.org/api/http.html#http_class_http_agent

if that can get exposed to the JsonPlugin I can create a Proxy Agent using something a custom implementation of the Agent class or use this https://www.npmjs.com/package/https-proxy-agent.

[2021-05-14 18:13] SanderElias commented on #1358
This is a good idea. It's not really about Scully, but people get confused around this.
(Heck i was confused for a while by this too)

[2021-05-14 18:15] SanderElias commented on #1359
I like this. We really should add it.
I have written about this in a Quick and Dirty way in one of the issues. I think you can reuse most of the text from there.
Also, it should contain how to add a Blog manually.

Thanks for picking those up!

[2021-05-14 18:52] jsanta commented on #1354
Thanks @SanderElias , that should work for routes defined on the routes object of our _ScullyConfig_.

How about the extraRoutes defined in the configuration?

The documentation points that using the manualIdle option in the app.module like:
[code]

What if the default 25 seconds are not enough? Shouldn't that timeout be configurable? as an enhancement I think.

In our project we are also using a

[2021-05-16 16:37] Jefiozie opened #1363 "Schematics uses deprecated ID property"
## 🐞 Bug report

### Description

With Angular V12 there is a deprecation warning when adding Scully to a Angular project.

#### 🔬 Minimal Reproduction

1. install angular/cli@12
2. ng new app
3. add a route
4. ng add @scullyio/init
5. see message:

![image](https://user-images.githubusercontent.com/17835373/118405004-b6d87500-b675-11eb-8114-2dc500265488.png)

#### 💻Your Environment

**Angular Ver

[2021-05-16 16:51] Jefiozie commented on #1363
I will try to pick this one up in upcoming week

[2021-05-17 06:01] SanderElias commented on #1360
@denisyilmaz You can safely take that this will not change. Significant parts of our system depend on it.
The change you propose is possible, but very costly, as we need to analyze all elements on all pages on every render.
If this is what you want, you can create a plugin, and use that to take out the things you want to take out
[code]
But it does take its time, on every page where it is used.
Th

[2021-05-17 06:01] #1360 closed

[2021-05-17 09:38] SanderElias commented on #1356
Then you can use a 'proccessedRoute' plugin to take them out.

[2021-05-17 21:07] BenLune commented on #1299
Thanks @SanderElias ,
I had the same kind of problem, but with an error, and not while the installation process. When running npm run scully, I had an error telling that Scully didn't find my project in the angular.json, but it was in. Thanks to this issue, I understood that the reason was a guilty comma in the angular.json file, then the JSON was invalid for Scully. After removing the comma, it w

[2021-05-19 04:01] jordankkk opened #1367 "304 redirect when updated to angular v12"
## 🐞 Bug report
once updated to angular v12 the home page will automatic 304 redirect, but the angular v11 is ok

### Description
current plugins: defaultPostRenderers: [GoogleAnalytics, 'seoHrefOptimise', Http404Plugin]

#### 💻Your Environment
Windows 10

**Angular Version:**
12.0.0

**Scully Version:**
"@scullyio/init": "^1.1.4",
"@scullyio/ng-lib": "^1.1.1",
"@scullyio/scully": "^1.1.1",

[2021-05-19 04:48] SanderElias commented on #1367
We need more details here. 304 redirects are sent out by the server, and there is very little that Scully can influence there.

[2021-05-19 06:45] jordankkk commented on #1367
Hi @SanderElias, Thanks for the fast response, can I know what details should I provide? So far have tested in localhost (localhost:1864, localhost:1668) is still same with 304 redirect

Thanks

[2021-05-20 14:25] jsanta commented on #1354
@SanderElias a quick question. Is there a way of overriding the default puppeteer render plugin in Scully? In that way we could adjust the code from the original one and use it, instead of the dirty code patching we're applying.

[2021-05-20 18:53] EatonZ commented on #1119
@SanderElias Which PR are you referring to? If it's already been merged let me know so I can check this and close if fixed.

[2021-05-21 12:28] yringler opened #1369 "Can not connect to server when other node API is running"
## 🐞 Bug report

### Description
I have a digital ocean droplet running strapi and a small node API.
Scully builds, but only when I stop the node API.
The server is able to start (I tried putting it on a custom port, and checked that the server could start by running the command manually).
It has worked in the past - I had a droplet set up a few months ago, deleted it, and now I restarted it. So m

[2021-05-21 12:47] yringler commented on #1369
Update: My node API was erroring out (because I hadn't run yarn yet), when I fixed the node API scully worked.
The angular app doesn't use the api - its a webhook.
Not sure if this is a node bug? Or something you want to look into in scully?
This issue can be closed.

[2021-05-21 14:13] SanderElias commented on #1119
I'm really unsure. If you check and find it id still open,  please let me know

[2021-05-24 05:24] BrendanSluke commented on #131
I know this is an older (non-Scully) issue but this issue shows up in search results for 'Scully Cloudflare' so I'll leave my findings here.

I was getting a weird obscure result where my Scully Content was rendering to this:
![image](https://user-images.githubusercontent.com/62220614/119300260-14486500-bc26-11eb-9fcc-71722c4fdc36.png)

It renders to `')[1].split('` for some reason (I'm not going

[2021-05-24 07:07] SanderElias commented on #131
@BrendanSluke I suspect there is some HTML modification going on that breaks The way Scully injects the comments it needs.
We had the same exact issue with an HTML minifier.
You might need to do a setting so that the script we inline in the pages does opt out of "optimization". You opt out of a 7 bytes optimization now. I did manually optimize that piece of code, and the bytes they remove will bre

[2021-05-24 16:08] #1369 closed

[2021-05-24 16:15] yringler commented on #1332
@SanderElias , what do you think of @BlindDespair 's solution?

In TransferStateService in ng-lib load data.json like so:
`/data.json?gen=${ScullyIOGenerationTime}`

Would you accept a community PR to that affect?

Traditionally, there would be some sort of hash in the file names (eg `data.f30f03ddc33.json`), but IDK if we need that here.

[2021-05-24 17:07] BrendanSluke commented on #131
@SanderElias Thank you for the quick and excellent feedback!

I was able to fix my issue based on your insight, I am now able to use Cloudflare's caching functionality with Scully.

The solution was to go into the Speed/Optimization settings area and turn off Auto Minify for HTML files:
![image](https://user-images.githubusercontent.com/62220614/119383133-99fcfc80-bc88-11eb-99e2-fe8eada7f1c3.png)

[2021-05-25 23:12] jsanta commented on #1354
Nevermind, figured it out by myself. Had to  read again the documentation and take a good look over Scully's internals.
Ended up making a copy of the PuppeteerRenderPlugin, as an _enterprise_ plugin as it matches the signature for the pluginHandler function, and making some additions in order to make some parameters adjustable.

[code]

and in the routes section, every route that requires the "spe

[2021-05-25 23:12] #1354 closed

[2021-05-26 17:31] flexWhale opened #1370 "Why do you get index.html second time?"
Hi guys!
Thank you for your work! I have question. Why don't you read state from variable in window? Why do you get index.html second time?
https://github.com/scullyio/scully/blob/712789eb64dbb49e4ff8087da4a50e87b2208a20/libs/ng-lib/src/lib/transfer-state/transfer-state.service.ts#L233

[2021-05-27 05:44] SanderElias commented on #1332
@yringler I would accept a PR for this.
The main problem is how to get the hash back into angular.
The way described has a flaw. We support partial rendering. That means, that your data.json might be generated in multiple sessions/ Scully runs.
A solution would have to cater for that. We do have incremental builds in the future, and those can not be hampered by supporting this feature.

Keeping an

[2021-05-27 05:50] SanderElias commented on #1370
We do get the state from the window variable, during the load process.
However, if you start navigating after that, the window variable doesn't reflect the state of that "page" anymore, and we need to read it from the server.
As we don't know what happens with window vars after the app has started, we do re-fetch it if you revisit your 'startup' page.

[2021-05-27 05:59] SanderElias commented on #1367
304 is how a server forwards a client(browser) to the `index.html` if you try to load a `folder`.
That is a server setting. Our dev-tool uses an express server, and we kept this behavior, as it is what most servers do. The Scully server is not something you should use outside f dev, that is outright dangerous, as we on purpose allow unsafe things.
However, most servers have a way to configure this

[2021-05-27 06:21] flexWhale commented on #1370
Probably I have bug. I'm not using navigation. I just open url and see two request for my index.html.
[https://eng4.me/exercise-test/123/master](url)
![1](https://user-images.githubusercontent.com/11042093/119775841-d6b93580-becc-11eb-913b-dc3159462769.PNG)

[2021-05-27 12:45] jordankkk commented on #1370
same here after the home page loaded finished then the page reload one time again

[2021-05-27 12:55] jordankkk commented on #1367
After upgraded to the angular latest version 12.0.2 seems is ok right now, but still have same issue (loaded twice) like #1370 mention

[2021-05-27 13:26] flexWhale commented on #1370
Page doesn't reload in my case. TransferStateService just gets index.html when inlineStateOnly=true and it's angular v11.

[2021-05-27 15:05] yringler commented on #1332
Given that scully knows what routes a given index.html routes to, what if -

_In general_
The index.html and data.json contain maps to the hashed data file, for example
[code]
Allowing the JS to know to request `/article/1/data.f0dd4ecf8f7fee2942a5f4d702199586.json'`

_In particular_
Scully generates 2 index.html and 2 data.json
A template file, with easily replaceable placeholders in the map
A ge

[2021-05-28 02:57] jordankkk commented on #1370
@flexWhale in my case angular v12 will reload but v11 is no problem

[2021-05-28 04:41] jordankkk commented on #1367
In my case for the angular v12 if the home page routing use lazy loading (loadChildren) then this issue will happen and load twice mention in (#1367).

When changed back to normal routing (component) then is ok

Thanks

[2021-05-28 04:58] SanderElias commented on #1367
That makes sense. LoadChildren is async, and by that, it means that it will cause a navigation effect after boot.
There is no way for Scully to detect that you are navigating to the same page. There is a chicken-egg situation in there.
I will close this now, but eel free to keep discussing this.

[2021-05-28 04:58] #1367 closed

[2021-05-29 03:29] SanderElias commented on #1370
@flexWhale can you create a small repo on GitHub that shows your issue? It is not what we are seeing.

[2021-05-29 10:06] SanderElias commented on #1168
Iḿ closing this, as I believe this problem is solved now. If I'm mistaken, let m know and I will reopen it

[2021-05-29 10:06] #1168 closed

[2021-05-29 19:08] jadengis commented on #1350
This bug should be resolved now.

[2021-05-29 19:08] #1350 closed

[2021-05-30 02:33] Splaktar commented on #1348
It looks like that `@develop` version was released as `1.1.1` which I thought at first solved this for me. Unfortunately, I've continued to see this problem where it finishes and just hangs.

Using
[code]

[2021-05-30 02:54] Splaktar commented on #849
I'm seeing the same issues as @yringler. Following the existing docs results in
[code]

[2021-05-30 03:04] Splaktar commented on #506
As mentioned in https://github.com/scullyio/scully/pull/507#issuecomment-850931982, the fix for this appears to have gotten lost in the move of the plugins folder.