[2019-12-13 01:15] nicoavila opened #1 "Logo Proposal"
Hi there!
Thanks for building this :heart:. I can't wait to try the alpha version 😃
I'd like to propose a logo for this project and explain the main idea. **I'm not a designer**, but I really like illustration and drawing.

**Logo**
The logo is based on the background topic of the name [Scully](https://en.wikipedia.org/wiki/Dana_Scully). An UFO seems fine for it. The font used is [Montserrat Black

[2019-12-16 05:08] aaronfrost opened #16 "Warn Users when an Angular route w/ route param doesn't have a config in the scully.config.js"
When a user runs `npm run scully` to pre-render their app, they may have their project mis-configured. We need to help them get it configured properly.

One way we can do this is to guide them when we detect the error.

When the Angular app has a route with a route param (example: `user/:userId`) but the `scully.config.ts` doesn't have a router plugin configured for that route, we need to warn the

[2019-12-16 05:09] aaronfrost commented on #16
Make sure that the warning is VERY VERY friendly and coaches them into a proper fix. Without this coaching, people will end up installing Scully, running the scully build, and then they WON'T see the pre-rendered app that they expected. We need the build to help coach them into a proper configuration.

[2019-12-16 11:55] #16 closed

[2019-12-16 18:02] webmaxru commented on #1
My proposal: Scully, scull and sculling :)

![scully](https://user-images.githubusercontent.com/1560278/70930916-98142000-2036-11ea-96ef-2242b1fdbe78.png)

[2019-12-16 18:25] webmaxru opened #23 "Creating opt-in opportunity to generate PWA"
It sounds very naturally to add some PWA features to the generated project:
- App shell
- App manifest + default icons

To give the full flexibility to extend a service worker if needed, I'd offer to use Workbox library in its "node module" form.

[2019-12-16 21:03] d-koppenhagen opened #27 "use defined project prefix if set"
generating a blog using scully should use the defined app prefix from `angular.json` file instead of always `app`.

Running this:

[code]

... will currently always lead to this `blog.component.ts` file content:

[code]

If a prefix is set in `angular.json` (path: `projects` => `<project name>` => `prefix`) it should be used by scully for setting it:

[code]

[code]

[2019-12-16 21:07] Splaktar opened #28 "projectRoot missing in "scully.json" due to fs_extra_1.pathExists is not a function"
# Steps to Reproduce
1. `ng add @scullyio/init`
1. `ng build`
1. `npm run scully`

# Error

[code]
Looking at my **`scully.config.js`** file:
[code]
The `projectRoot` is defined and seems to be correct for my repo.

Since I don't have any routes that have params, do I need to define `routes: {}` in `scully.config.js`?

The error message seems to be referring to the wrong file name? `scully.json`

[2019-12-16 21:19] Splaktar commented on #28
In my `AppModule`, I have the following
[code]
In `app-routes.ts`, I have the following:
[code]
It looks like the Schematics can't handle this configuration.

[2019-12-16 21:21] Splaktar commented on #28
However, even changing to the most simple setup gives the same error:
[code]

[2019-12-16 21:35] Splaktar commented on #28
This appears to be caused by `fs_extra_1.pathExists is not a function`. I found the docs [here](https://github.com/jprichardson/node-fs-extra/blob/master/docs/pathExists.md), but they don't help explain why this wouldn't be a function.

[2019-12-16 21:38] Splaktar commented on #28
`npm ls fs-extra` gives me
[code]
But nothing from Scully. `pathExists` came out in `fs-extra` `6.0.0`, so if it is using the `fs-extra` from `firebase-tools`, it won't exist. But if it gets the one from `karma`, it should...

[2019-12-16 21:40] beeman opened #29 "App without Ivy gives error: No provider for IdleMonitorService!"
First of all: congrats on the release! 🥳 I'm super exited to start exploring and using this, it's something I've been looking out for for a while now!

I'll file some issues and later probably some PR's, here's the first thing I ran into.

## Issue

When creating a new app with the latest version of @angular/cli (8.3.20) it has ivy disabled, this seems to yield this error:

[code]

## Workaround

[2019-12-16 21:42] Splaktar commented on #28
Adding `"fs-extra": "^8.1.0",` to `devDependencies` works around this issue. It looks like `@scullyio/scully` may need to add this as a dependency.

[2019-12-16 21:47] beeman opened #30 "Running ng add @scullyio/init a second time should not break the app"
# Issue
When running `ng add @scullyio/init` a second time in the same app, it makes the same updates to `src/app/app.component.ts` (which breaks the app) and `src/polyfills.ts`.

It's probably nice to add a check to see if the content already exists in those files and skip the addition if so ([here](https://github.com/scullyio/scully/blob/master/schematics/scully/src/ng-add/index.ts#L28) and [her

[2019-12-16 21:48] Splaktar opened #31 "cli: support catch all routes (i.e. to a custom 404 page)"
# Steps to Reproduce
1. `ng add @scullyio/init`
1. `npm i --save-dev fs-extra`
1. `ng build`
1. `npm run scully`

# Error
[code]

The debugger indicates that this is caused by the following line
https://github.com/scullyio/scully/blob/eba6fba6a5df182137fdb7b434893162bc962dc3/scully/utils/waitForServerToBeAvailable.ts#L13

That URL (`http://localhost:1864/_pong`) seems to be returning my Angular ap

[2019-12-16 22:55] sandyeveliz opened #33 "Load statics from md using angular serve"
This is more a enhancement

When the app is running with the angular serve does not load the static content, only after runing with scully it works fine.
I think this is expected in alpha, but to improve the development of a blog or any content page based on MD it would be good to also load the statics from Angular.

Running the up with

works fine
![image](https://user-images.githubusercontent.co

[2019-12-16 22:56] pjlamb12 opened #34 "Apply Settings From Markdown Frontmatter"
Markdown files have frontmatter that can declare variables, essentially, to use for the post. For example: canonical_url, published true/false flag, a date for when the post should be published, the permalink the post should be accessed at, page description for the head tag, etc.

When the blog posts are generated, the front matter should be examined and the fields there should be used for each po

[2019-12-16 22:57] pjlamb12 commented on #34
![image](https://user-images.githubusercontent.com/2006222/70950036-abb28d00-201c-11ea-9db5-947a2f308d4e.png)

Here is an example of frontmatter from a post on my site.

[2019-12-17 03:15] pjlamb12 commented on #34
I think this [front-matter](https://www.npmjs.com/package/front-matter) plugin could work perfectly. You use it to parse a markdown file, and it returns an object like this:

[code]
The attributes could then be applied to the document.

Another option could be using this [yaml-front-matter](https://www.npmjs.com/package/yaml-front-matter) plugin. It's similar to the above, but it just returns the

[2019-12-17 04:53] SanderElias commented on #34
Front-matter is already in use, and all the data is available to you angular app by means of the ScullyRouteService

[2019-12-17 04:53] #34 closed

[2019-12-17 05:01] SanderElias commented on #30
Good find!, thanks for the PR.

[2019-12-17 05:02] pjlamb12 commented on #34
Okay that's great, but I don't think this should be closed just yet. Some of those frontmatter items, like permalink or published or published date should be used. So if the filename is `2019-12-16-my-post.md`, but the publish_date is `2019-12-20`, the file should not be created until that day. In addition, if the permalink value is `/this-is-the-post-name`, that should be the generated file name,

[2019-12-17 05:08] SanderElias commented on #29
Right now, we don't have an v8 runtime available. For this to work we need to compile our things with version v8, and we don't have that  bandwidth available right now. We are aware of this, and we will probably have set this up before we go beta.

[2019-12-17 05:11] SanderElias commented on #28
Thanks for the PR! Good find.
I still wonder why this doesn't pop up for ourselves tho.

[2019-12-17 05:20] SanderElias commented on #34
Sorry, I didn't want to be rude. All of this is already planned. A couple
of those things will land before beta, and a couple of others right after.
That is the reason I closed the issue.

Op di 17 dec. 2019 om 06:02 schreef Preston Lamb <notifications@github.com>:

[2019-12-17 05:22] pjlamb12 commented on #34
Okay sounds great. :) Thanks for the explanation! Looking forward to those things. :)

[2019-12-17 05:35] Splaktar commented on #28
Not sure. I'm on macOS Catalina running the following
[code]

[2019-12-17 05:35] SanderElias commented on #33
I'm going to close this for now.
`ng serve` is using its own virtual, in-memory, file-system to serve the files for your app in development.
There is no way to access that we know of.
Then there is this issue that Scully is designed to work with actual files.
Still, we have a planned feature, where Scully watches, a single blog file, and updates it in the browser as soon as you update the markdown

[2019-12-17 05:35] #33 closed

[2019-12-17 05:37] SanderElias commented on #23
@webmaxru We would happy to work on this.

[2019-12-17 10:22] #30 closed

[2019-12-17 10:37] IxquitilisSaid opened #36 "Couldn't find a route declaration in /src/app/app.module.ts"
Since `ng g @scullyio/init:blog` requires a route declaration, should the [Blog](https://github.com/scullyio/scully/blob/master/docs/blog.md) Doc contain an "observation" so the user has the AppRoutingModule import? Or is it not required and I'm missing something?

Have a great day and Team Scully all the way!

[2019-12-17 11:36] jorgeucano commented on #27
thanks for the issue!
WIP in schematics/project-prefix

[2019-12-17 13:10] jorgeucano commented on #36
hey, have a great day you to @IxquitilisSaid !
Can you show me an example?

[2019-12-17 13:53] IxquitilisSaid commented on #36
Certainly! https://github.com/IxquitilisSaid/ScullyNoRouter

**Steps taken**

- Generated new Angular Project with `ng n` script
- On "Do you wish to add Angular Routing?" typed "n"
- Ran `ng add @scullyio/init`
- Ran `ng g @scullyio/init:blog`

**Result:** `Couldn't find a route declaration in /src/app/app.module.ts.`

**To note:** When I ran into this issue, I made a new project but included the

[2019-12-17 13:55] jorgeucano commented on #36
Ohhh the angular route is needed, that's the problem!
@Villanuevand Can you add this to the doc??

thanks!

[2019-12-17 14:05] IxquitilisSaid commented on #36
Makes sense since the scully.config needs the Routes object, but yeah, just a small bit of documentation missing 😜.

Also please let me know if I can help out with anything else, I'm really excited about this project and what's to come!

[2019-12-17 14:07] jorgeucano commented on #36
thanks @IxquitilisSaid, I think start to use it and check if you found bugs is the best option now for help us!

[2019-12-17 14:21] jorgeucano commented on #27
fixed and merged :) thanks for report

[2019-12-17 14:21] #27 closed

[2019-12-17 14:38] oleosjo opened #40 "Could not connect to server"
# 🐞 bug report

### Description

Tried running scully on an angular 9 app, got an error.

## 🔬 Minimal Reproduction
Run scully

## 💻Your Environment
Angular CLI: 9.0.0-rc.6
Node: 12.8.1
OS: darwin x64

## 🔥 Exception or Error
<pre><code>
started servers in background
Could not connect to server
</code></pre>

[2019-12-17 17:46] mbaljeetsingh opened #43 "scully serve not working inside windows 10"
I have run `ng build` & `npm run scully`

# 🐞 npm run scully:serve not working or start the server

### When I run npm run scully:serve, it shows starting static server..., but then it stops automatically.
![image](https://user-images.githubusercontent.com/872762/71020686-cc650a80-2122-11ea-849f-ba2a4e20edfd.png)Description

## 🔬 npm run scully:serve

## 💻Your Environment
**Angular Version:**
![im

[2019-12-17 18:46] jorgeucano commented on #43
Hello @mbaljeetsingh im working on windows 10!
For scully you need an angular 9 project!
Can you tell me what steps you try?
This is one example in windows 10
![Annotation 2019-12-17 154453](https://user-images.githubusercontent.com/5982204/71024695-44601000-20e4-11ea-8a5d-4639ffcbaa7b.png)

[2019-12-17 18:48] jorgeucano commented on #40
Can you give me more info?
Can you create a repo for try? i need more description about your environment!

[2019-12-18 06:25] SanderElias commented on #36
@aaronfrost  Do you think we need to add some more content/context to that error, aside form mentioning this in the documentation?

[2019-12-18 06:30] #28 closed

[2019-12-18 06:35] mbaljeetsingh commented on #43
Hi @jorgeucano

Yes, I'm using it inside the Angular 9 project.

Steps I have taken are as follows:

- npx @angular/cli new scully-project --routing --style=scss
- ng add @scullyio/init
- ng build
- npm run scully
- npm run scully:serve

[2019-12-18 07:14] robertbaker commented on #43
From the screenshots displaying your version, you using v8, not v9

[2019-12-18 07:25] mbaljeetsingh commented on #43
Oh yeah, This is because, I haven't used the global cli for the scully demo project, I just npx to create create project.

Here's the package.json screenshot,
![image](https://user-images.githubusercontent.com/872762/71064671-a4fb5580-2195-11ea-922e-b1408e2c94aa.png)

[2019-12-18 10:53] jorgeucano commented on #43
@mbaljeetsingh `npm run scully` just show this and never finish?

[2019-12-18 10:56] SanderElias commented on #29
I'm going to close this issue for now. This will land before, or pretty soon after we released the beta version. Feel free to reopen/refile when somehow this isn't fixed by then

[2019-12-18 10:56] #29 closed

[2019-12-18 10:58] SanderElias commented on #31
@Splaktar I'm unable to reproduce this, and would love to debug this together with you.
I have a faint idea what might be happening, but going over the code doesn't bring me any clue here.

[2019-12-18 10:59] SanderElias commented on #36
@IxquitilisSaid I'm closing this, because it works as designed.
However, we tok notes, and will update the docs and the error message to be more clear on this.

[2019-12-18 10:59] #36 closed

[2019-12-18 11:36] Markus-Ende opened #46 "Cannot find module 'fs-extra', when running scully npm script"
# 🐞 bug report

### Description
`npm run scully` fails with message:

`Error: Cannot find module 'fs-extra'`

(Fixed by installing fs-extra)

## 🔬 Minimal Reproduction

0. Create new Angular 9 project
0. Install scully
0. Run `npm run scully`

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.6
Node: 12.14.0
OS: linux x64

Angular: 9.0.0-rc.6
... animations, cli, common,

[2019-12-18 11:44] Markus-Ende opened #47 "generated Scully code breaks build when compiler option `noUnusedParameters` is activated"
# 🐞 bug report

### Description
With TypeScript compiler option `noUnusedParameters`activated, generated Scully code breaks the build:
[code]
Fixed by changing generated code to:

[code]

## 🔬 Minimal Reproduction

0. Create new Angular 9 project
0. Install scully
0. Run ng build

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.6
Node: 12.14.0
OS: linux x64

Angular: 9.

[2019-12-18 12:35] Markus-Ende opened #48 "Created index.html is not static"
# 🐞 bug report

### Description

The created index.html is not a static html file but the original index.html.

## 🔬 Minimal Reproduction

0. Create new Angular 9 project
0. Install scully
0. Run `npm run scully`

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.6
Node: 12.14.0
OS: linux x64

Angular: 9.0.0-rc.6
... animations, cli, common, compiler, compiler-cli, core,

[2019-12-18 12:49] jorgeucano commented on #48
@Markus-Ende thanks for open the issue, but this is not a bug, is part of how work scully.
You can check in this video about how work and the mix mode with and without javascript!

https://www.youtube.com/watch?v=Sh37rIUL-d4

[2019-12-18 12:50] jorgeucano commented on #46
@Markus-Ende thanks for open the issue... We have the fix for this, today we will publish the new version with the fix!

[2019-12-18 12:59] mbaljeetsingh commented on #43
`npm run scully` runs successfully, but getting some weird error at the end.

![image](https://user-images.githubusercontent.com/872762/71088363-38e41600-21c4-11ea-8382-45d90e13ae98.png)

[2019-12-18 13:01] jorgeucano commented on #43
ohhh ok, is not an error really @mbaljeetsingh , we are killing the process and for this show this `error`, now we are in alpha and for this you see this error.
We are working and focus in other place now, after finish some task, we will work in this `error`!
So if this the unique "error" you have, please tell me and close this issue :)

thanks!

[2019-12-18 13:11] Markus-Ende commented on #48
@jorgeucano ok, but then maybe this should be mentioned in the documentation? In [Getting started -> Test](https://github.com/scullyio/scully/blob/master/docs/getting-started.md#test) it says, I should try and disable JavaScript in the browser to check if static rendering works. But this can't work if the initial app component is added via JavaScript..

Content of my index.html:
[code]

[2019-12-18 13:19] Markus-Ende commented on #48
Content of my app.component is `hello world!`, so shouldn't the index html look like below?

[code]

[2019-12-18 13:20] jorgeucano commented on #47
@Markus-Ende the IdleMonitorService is only for scully, we need this inject, but we dont need run line....

@SanderElias @aaronfrost we have 2 options

1- add to the documentation if the project use `noUnusedParameters`, the dev need add the ts-ignore.
2- is read in the schematics the tsconfig and add the ts-ignore.

I really prefer the first

[2019-12-18 13:23] mbaljeetsingh commented on #43
Alright, Yes the build is successful with `npm run scully`.
Actually, this issue is related to `npm run scully:serve`. Can you share how it works?

[2019-12-18 13:26] jorgeucano commented on #43
Scully serve is for create 2 servers
the first server is a http server with the scully compile version.
the second server is a http server with the angular build version.

We found a bug when try to run the serve and you have a gost process...
So please, Can you try to start the `npm run scully:serve` and if dont run anything check in your task manager if you have any node process running, if you

[2019-12-18 13:35] SanderElias commented on #48
@Markus-Ende Can you show me your route for the top level? If you don't have one, there is no static content in the index.html. And that is according to design.
Scully will render all of your routes, but if you don't have an:
[code]
There is actually no static file for that.

@Villanuevand Can you put somethign about this in the documentation?

@Markus-Ende if this doesn't answer your question, pl

[2019-12-18 13:51] SanderElias commented on #47
@Markus-Ende Thanks for taking the time to fie an issue.
However, this is working according to design. By default the CLI doesn't have this option on.
If you want to use this more restrictive as the default CLI Typescript linting rule, the responsibility is upon you to put in adequate measures.
In this case you need to put in the following line:
[code]
Calling the `init` method will result in unfo

[2019-12-18 13:51] #47 closed

[2019-12-18 13:56] Markus-Ende commented on #48
Hi @SanderElias, thanks for the clarification. That's my setup:

[code]
app.component.html:
[code]
hello.component.html:
[code]
After ng build && npm run scully i have in dist/static 2 index.html files with the following body content:

dist/static/hello/index.html
[code]
dist/static/index.html
[code]

I would expect dist/static/index.html to have something like the following content:
[code]

I und

[2019-12-18 14:03] SanderElias commented on #43
@mbaljeetsingh As @jorgeucano explained, we are still in alpha.
There are a number of issues with `scully serve` which we are already addressing.
You issue is one of them. We expect to have this fixed in one or two days.
`Scully serve` in meant to be a developer tool so you can try the results of scully without any 3rth party tool.
Also, we are using it to 'serve' your distribution files, so we ca

[2019-12-18 14:03] #43 closed

[2019-12-18 14:13] Markus-Ende commented on #47
Ok thanks for the clarification. This is a TypeScript compiler option though, so `tslint:disable-next-line` will not do.
For future reference: the only way to fix this is to add `// @ts-ignore` above the constructor.

Just a quick follow-up question: is it important to add the service as property or is it enough to inject it? Because if the later is true, this would also be possible:
[code]

[2019-12-18 14:17] SanderElias commented on #48
@Markus-Ende
What happens if you do an `ng serve` and open `http://localhost:4200` in your browser?
I'm fairly sure it will not have `<me-root>` either.
We can not render something that your app is not rendering.

[2019-12-18 15:24] jorgeucano commented on #46
fixed in version 0.0.45! thanks for the report!

[2019-12-18 15:24] #46 closed

[2019-12-18 16:24] isaacplmann commented on #40
I get the same error in the scully branch of this repo:
https://github.com/isaacplmann/nx-monorepo-sample/tree/scully

I'm trying to get scully working in an nx monorepo, so maybe there's some hard-coded path that is expecting a default Angular CLI set up?

[code]

[2019-12-18 16:34] isaacplmann commented on #40
Could be related to lazy-loading routes with tsconfig path aliases.

`yarn scully:serve` gives this error:

[code]

And `AppModule` loads its routes like this:
[code]

[2019-12-18 16:36] Splaktar commented on #40
Possibly related to https://github.com/scullyio/scully/issues/31 as I saw this first before I saw the extra info from the errors in that issue.

[2019-12-18 16:56] Splaktar commented on #31
I restarted from scratch with `0.0.8` and I can still reproduce this.

[2019-12-18 17:20] Splaktar commented on #31
[code]
As you can see above, I didn't mention that my app is a PWA. I'm not sure if that breaks Scully, but I'll try to disable `service-worker` and see how that goes.

[2019-12-18 17:23] Splaktar commented on #31
However, I have SW disabled for dev builds like `ng build`, so it shouldn't be a problem here.
[code]

[2019-12-18 17:31] Splaktar commented on #31
Opening http://localhost:1864/ gives me a broken page with the following errors
[code]
For each of these failed resources, the server is sending back the contents of `index.html` instead of the proper file. This is likely happening with the `_pong` endpoint where it is getting the contents of `index.html` instead of a JSON payload.

[2019-12-18 19:02] Hypercubed commented on #31
I see the same issue... nothing special in my test app.  Generated a new ng8 app using the cli, `ng updated` to ng9-rc, then `ng add`ed scully.

Running `npm run scully` throws the `Invalid content-type` errors.

I see lots of `js` files in `dist/static`, however, all js requests on http://localhost:1864/  return contents of `index.html`.

[2019-12-18 19:20] isaacplmann commented on #40
Oops, I missed the first line of getting started that says you need Angular 9.x.  I'll upgrade and report back

[2019-12-18 19:37] Splaktar commented on #31
I wondering if there might be some dependance or issue with having Angular CLI version 8 installed globally, even if v9 is installed in the workspace. However, installing Angular CLI v9 globally didn't change anything.

I also tried `ng build --prod` instead of `ng build`, but that also had no effect.

[2019-12-18 20:28] isaacplmann commented on #40
I've updated that repo to angular 9 and am still getting the same error.  I think guess is having trouble with the lazy loaded routes.

I added a `console.log` to `node_modules/@scullyio/scully/node_modules/guess-parser/dist/guess-parser/index.js`
[code]

And modified `node_modules/@scullyio/scully/bin/routerPlugins/traverseAppRoutesPlugin.js`
[code]

And this is what shows up when I run `yarn scu

[2019-12-18 20:29] isaacplmann commented on #40
This line `/Users/isaac/Documents/code/nx-monorepo-sample/apps/ng-cli-app/src/app/@ng-cli-app/home/ui.ts` is obviously not a valid file path.

[2019-12-18 22:04] LayZeeDK opened #52 "The ComponentsModule is importing HttpClientModule"
# 🐞 Bug report

### Description
The `ComponentsModule` (in `@scullyio/ng-lib`) is a widget module that is importing a service module (`HttpClientModule`).

`HttpClientModule` should only be imported once per application. Scully's fine `init` schematic is already making sure to add this to `AppModule`.

Currently, every lazy-loaded feature module that imports `ComponentsModule` will add a shadowing

[2019-12-19 05:27] Hypercubed commented on #31
@Splaktar what routes do you have in your app?

I've think I have discovered if you try adding a route with only a slug (`path: ":page"`), I get the errors above.  I assume because `http://localhost:1864/_pong` is being treated like a angular defined route.

Similarly, looks like `http://localhost:1864/killMe` doesn't work so the Scully server never shuts down and all subsequent runs of `npm run s

[2019-12-19 06:01] Splaktar commented on #31
[code]

[2019-12-19 06:07] Splaktar commented on #31
I've noticed that the `node` processes stay around and have to be manually killed, otherwise they sit on those two ports indefinitely.

[2019-12-19 06:09] Splaktar commented on #31
@Hypercubed this [video](https://www.youtube.com/watch?v=Sh37rIUL-d4) covers how to set things up with the route parameters. However, I'm running into this issue w/o using any route params.

[2019-12-19 06:25] Hypercubed commented on #31
Try removing the ** catch all....

[2019-12-19 06:39] Splaktar commented on #31
That worked (after killing the `node` process that was still around from the previous run)!
[code]

[2019-12-19 06:50] Splaktar opened #55 "Comments should not be included in static/index.html"
# 🐞 Bug report

### Description
The static, generated `index.html` file should not include comments for styles, but it currently concats all of those comments together at the top of the inlined styles.

## 🔬 Minimal Reproduction
1. Add comments in multiple Sass partials and in your `styles.scss` file and then build and run Scully.
1. Check your `dist/static/index.html` output for comments

## 💻You

[2019-12-19 06:51] Splaktar commented on #55
Run `ng build --prod` and the Angular CLI will strip out your Sass comments. Then you can run `npm run scully` and they won't be included in your build.

[2019-12-19 06:51] #55 closed

[2019-12-19 07:10] Splaktar opened #56 "cli: dist/static does not include assets if Angular project is output to dist/"
# 🐞 Bug report

### Description
In dist/static, I have the following
- index.html
- assets
  - scully-routes.json

My `webmanifest.manifest`, `favicon.ico`, `sitemap.xml`, `robots.txt`, etc aren't available on my static site. It seems like all of this stuff is configured in the `angular.json` and part of my build in `dist/`, so it seems like Scully should copy that over for the static site? Or is

[2019-12-19 09:53] IxquitilisSaid commented on #56
Do you have a repo we can use for reproducing/debugging that?

[2019-12-19 10:51] Splaktar commented on #56
Not at this time. I can try to set one up in the next few days. Are you seeing the assets being properly available in your app?

[2019-12-19 11:00] mbaljeetsingh opened #57 "npm run scully (Getting count not connect to server)"
# 🐞 Bug report
![image](https://user-images.githubusercontent.com/872762/71168182-27f6db80-227c-11ea-901d-2a2d20d73bc1.png)

### Description
`dist/static` folder is not being generated. `npm run scully` stucks at started servers in backend and after sometime it disconnects while showing Could not connect to server. It was working sometime ago, suddenly stopped working. I'm using windows 10.

Getti

[2019-12-19 13:42] jorgeucano commented on #56
@Splaktar thanks for found the issue! ... @SanderElias can you check this?

[2019-12-19 14:06] SanderElias commented on #57
duplicate of #40

[2019-12-19 14:06] #57 closed

[2019-12-19 14:32] jorgeucano opened #61 "asciidoctor show a warning every time"
# 🐞 Bug report

### Description

When use asciidoctor show a warning every time

## 🔬 Minimal Reproduction

run scully into the main project

## 💻Your Environment
**Angular Version:**
<pre><code>

</code></pre>

**Scully Version:**
<pre><code>

</code></pre>
## 🔥 Exception or Error
<pre><code>
asciidoctor: WARNING: <stdin>: line 238: invalid style for paragraph: Illustration
</code></pre>

[2019-12-19 14:37] aaronfrost opened #62 "Add outDir to default scully.config.js"
# 🧩 Feature request
When I run the schematic to add scully, and it generates a `scully.config.js`, we need to add the outDir to the scully.config.js when it is generated.

Also, we need to warn them if the provide a config that doesn't have an outDir and the warning needs to tell them where we will put the output.

[2019-12-19 18:32] aaronfrost opened #64 "Don't require configValidator. Just warn if absent."
# 🧩 Feature request
Don't fail without config validators. Just warn, and add a default config validator.

[2019-12-19 20:45] jorgeucano opened #65 "issue: Server Could not connect"
somethings scully do not kill all the background servers, and this generate one error when you try to run again,

[2019-12-19 20:55] Villanuevand opened #66 "Improve commitizen implementation"
Commitizen is already installed, but we need to improve it

[2019-12-20 05:20] SanderElias commented on #65
Duplicate of #40

[2019-12-20 05:20] #65 closed

[2019-12-20 06:31] SanderElias commented on #56
@Splaktar The first step we take in Scully, is to copy over all the files in the app's dist folder, including the assets that are there. I just double-checked, and it is doing that for me
![image](https://user-images.githubusercontent.com/1249083/71233669-94aebc00-22f6-11ea-9fd9-40dc14cb58ba.png)

@jorgeucano Can you check my commit a38f8107b393b797131c48f446ff545a05354031 and try it on your windo

[2019-12-20 06:36] #48 closed

[2019-12-20 07:57] #64 closed

[2019-12-20 09:00] Markus-Ende commented on #48
I tried my example (without a `''` route) using Angular universal (using the Angular 8 example project from the [Universal tutorial](https://angular.io/guide/universal)). This is what is rendered on server side and what I'd expect:

[code]

I still do not understand what's the difference, but it's not a big issue anyway once it is documented. Thanks for your time and work!

[2019-12-20 11:15] jorgeucano commented on #56
work in my mac :
<img width="1362" alt="Captura de Pantalla 2019-12-20 a la(s) 08 12 34" src="https://user-images.githubusercontent.com/5982204/71251356-e8260780-2300-11ea-83ec-38db86312fb8.png">
<img width="638" alt="Captura de Pantalla 2019-12-20 a la(s) 08 15 13" src="https://user-images.githubusercontent.com/5982204/71251357-e8260780-2300-11ea-9acd-edcd03c38d9b.png">

[2019-12-20 11:31] jorgeucano commented on #56
I test the same in windows and work
![Annotation 2019-12-20 083040](https://user-images.githubusercontent.com/5982204/71252173-05f46c00-2303-11ea-8458-b8bae0e63c91.png)

@Splaktar can you test again with the lastest version?

[2019-12-20 11:57] #52 closed

[2019-12-20 12:02] #61 closed

[2019-12-20 14:34] Splaktar commented on #56
Yeah, I tested after updating to `0.0.9` and I'm still seeing this issue. One difference that I notice is that you have the following output:
[code]

But I don't:
[code]

[2019-12-20 14:36] Splaktar commented on #56
[code]

[2019-12-20 14:58] Splaktar commented on #56
I have been testing in another repo (https://github.com/Splaktar/test-blog) and I haven't been able to reproduce the issue so far.

The only difference is that my app puts its output in `dist/` and in my new repo the output goes in `dist/test-blog`. So it looks like Scully may not be able to handle the older style Angular CLI project.

[2019-12-20 15:08] jorgeucano commented on #56
ok, that's really important!! thanks @Splaktar !!
@SanderElias Can scully check this?

[2019-12-20 15:09] Splaktar commented on #56
OK, I changed my project to output to `dist/web` instead of `dist/` in `angular.json` and I now get the `😄 new Angular build imported` and my assets are all properly copied.

[2019-12-20 15:57] Hypercubed commented on #31
I'm pretty sure just need to move the `_pong` and `killMe` routes above the routes loop here: https://github.com/scullyio/scully/blob/596d09296ea78d100d5093c2af9683a79483ed5f/scully/utils/staticServer.ts#L37

I haven't yet been able to build scully for dev so I can't yet test that.

[2019-12-20 16:02] Splaktar commented on #56
@SanderElias Scully should be able to check the build->options->outputPath field in `angular.json` in order to find out where the application is output during the build.

[2019-12-20 16:49] SanderElias commented on #56
Yes, it is already doing that. But somehow it's not always pulling in all
assets, while it pull sin the rest of the app. Looking into that

Op vr 20 dec. 2019 om 17:02 schreef Michael Prentice <
notifications@github.com>:

[2019-12-20 17:21] Splaktar opened #74 "cli: edge case where <!doctype html> is removed from dist/static/index.html"
# 🐞 Bug report

### Description
In some edge cases, the `<!doctype html>` in `src/index.html` and `dist/web/index.html` is removed in the generated `dist/static/index.html`.

## 🔬 Minimal Reproduction
TBD. I reproduced this in one app, but not in a new CLI app. Investigating...

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.7
Node: 12.13.0
OS: darwin x64

Angular: 9.0

[2019-12-20 18:30] Splaktar commented on #74
I'm trying to debug this, but I am not sure exactly where to look. What code is actually used for processing the `src/index.html` file?

[2019-12-20 19:12] LayZeeDK commented on #52
Wait a minute, that's not a `ModuleWithProviders`, @SanderElias 🤔 Let me create a pull request.

[2019-12-20 19:26] LayZeeDK commented on #1
A 3rd option by [AJonP](https://ajonp.com/blog/scully-io/)
![image](https://user-images.githubusercontent.com/6364586/71286059-f60e7380-2366-11ea-814d-ac0c30d91504.png)

[2019-12-21 01:10] lacolaco opened #76 "`dist/static/index.html` isn't generated when using `redirectTo` for root path"
# 🐞 Bug report

### Description

## 🔬 Minimal Reproduction

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.3
Node: 10.16.0
OS: darwin x64
Angular: 9.0.0-rc.3
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
-----------------------------

[2019-12-21 01:51] lacolaco commented on #76
I've changed outputPath from `dist` to `dist/browser` then it looks solved. I have no idea.

[2019-12-21 01:51] #76 closed

[2019-12-21 03:15] Splaktar commented on #62
The error message seems to indicate that the option should be `outFolder`?

Cleaned up /Users/splaktar/Git/.../dist/static folder.

Adding that to my config, seems to have stopped the message:
[code]

[2019-12-21 16:05] SanderElias commented on #74
that is done by puppeteer. look in the pupeteerrenderer

[2019-12-21 16:08] SanderElias commented on #62
@Splaktar I will update the wording to be a bit more descriptive.
Im not sure what happened, but this issue is dealt with, so I'm going to close it now

[2019-12-21 16:08] #62 closed

[2019-12-21 16:11] SanderElias commented on #31
@Hypercubed Yes, that is part of the issue, but it seems to go a bit deeper. I have a PR in flight that will address this. But as I'm officially on holiday, I'm not entirely sure when I will be able to complete this one. Might be next year ☺

[2019-12-21 19:35] Marcusg62 opened #78 "Question: Product Lists"
Hi, I heard about Scully from Fireship and am really impressed. My team and I have battled with Angular Universal for 6 months now so this was much needed. We're ready to start converting my angular apps now!
Though, I do have a question. There are some pages that display products based off data from [Firestore](https://firebase.google.com/docs/firestore)- a database.

With scully, will this conte

[2019-12-21 23:46] Marcusg62 opened #79 "ERROR: The process "6824" not found."
# 🐞 Bug report

I'm running Scully for the first time. When I run `npm run scully`  it creates the static files but does not complete and gives the error ### ERROR: The process "6824" not found.

### Description

## 🔬 Minimal Reproduction

I don't know how to reproduce this without sending the whole application over...

## 💻Your Environment
**Angular Version:**
<pre><code>

Angular CLI: 9.0.0-rc.7

[2019-12-21 23:55] Marcusg62 commented on #79
I ran it again and got a different error : 3748

<pre><code>
$ npm run scully

Facing\thai-basil

The option outFolder isn't configures, we are using "C:\Users\marcu\OneDrive\Documents\Develop Denver Code\Thai Basil\Customer Facing\thai-basil\dist\static\ by default now"
Cleaned up C:\Users\marcu\OneDrive\Documents\Develop Denver Code\Thai Basil\Customer Facing\thai-basil\dist\static\ folder.
star

[2019-12-22 00:00] LayZeeDK commented on #1
Proposal from [live launch](https://youtu.be/Sh37rIUL-d4) cover image
![image](https://user-images.githubusercontent.com/6364586/71315123-4f090500-2456-11ea-8926-81cb35ea3d80.png)

[2019-12-22 02:35] Marcusg62 commented on #79
I tried with just a hello world app and get a similar error, except:
`ERROR: The process "17280" not found.`

I put the project in a [public repository](https://github.com/Marcusg62/Scully-Test). https://github.com/Marcusg62/Scully-Test

[2019-12-22 02:43] nicoavila commented on #1
More logo proposals:
**Scully 01**
![Logo 01](https://nicoavila.s3.us-west-2.amazonaws.com/SCULLY01.jpg)

[2019-12-22 02:43] nicoavila commented on #1
More logo proposals:
**Scully 02**
![Logo 02](https://nicoavila.s3.us-west-2.amazonaws.com/SCULLY02.jpg)

[2019-12-22 02:43] nicoavila commented on #1
More logo proposals:
**Scully 03**
![Logo 03](https://nicoavila.s3.us-west-2.amazonaws.com/SCULLY03.jpg)

[2019-12-22 05:59] Marcusg62 commented on #79
Update: I ran `npm run scully` on a Mac and the cli does not throw any errors. However, it does not fix the `cdk-global-scrollblock` issue.
Like I said, this is an Angular Material css class. My page initializes with a dialog open so, Material adds the class to the html tag to disable scrolling. However, when I close the dialog, the class is not removed and thus the page is not scrollable. Thought

[2019-12-22 20:00] SanderElias commented on #79
The error is a windows artifact, we opened an issue about this in the Nodejs project. You can safely ignore that error on windows. (we are working to get this fixed, but its kind of out of our hands.

Can you create a small reproduction of your cdk-global-scrollblock issue? I willtake a look at that next year.

[2019-12-22 20:01] SanderElias commented on #78
@aaronfrost Can you take this one?

[2019-12-23 06:26] d-koppenhagen opened #80 "Emit blog post data as output of <scully-content>"
# 🧩 Feature request

### Description
Within the current implementation the component `scully-content` will be used to display the content of a blog post.
I think it would be great if the `scully-content` component will emit an output event containing the parsed data for the content. This feature would give you the ability to process some meta data additionally and display for example a related thu

[2019-12-23 07:26] SanderElias commented on #79
Some extra explanation about the error. We are closing our internal server by force, this might involve closing a process that  should already be gone. As we have no way to check this, we can't prevent windows form throwing this "error".  That is not an error but is still gets flagged as one in windows. (not on macOs or Linux). This is a known NodeJs issue, and we are trying to get it fixed, or fi

[2019-12-23 11:22] SanderElias commented on #80
@d-koppenhagen the ScullyRouteService already has all this knowledge. I'm already building a method in there that will return the information for the current page only. This will give you exactly the same information, but without you having to resort to template trickery to get it out.

[code]

This will be in early next year. If you can't wait, the complete route-data is already there, and you ca

[2019-12-23 11:35] d-koppenhagen commented on #80
Hey, sounds great.
I‘ve already implemented a workaround for my needs fetching all data and reducing the result to that what I need.
But great to hear that’s on the roadmap - then I can replace my solution soon. But no hurry.

I wish you a great Christmas time 🎄

[2019-12-23 11:36] #80 closed

[2019-12-23 13:14] Villanuevand commented on #66
Commitizen config look good.
`CONTRIBUTIN.md` is already modified to promote its use.

[2019-12-23 13:14] #66 closed

[2019-12-23 14:45] Marcusg62 commented on #79
Thank you Sander. I tried making a minimal reproduce of the cdk-global-scrollblock but cannot reproduce it. Hopefully that's a good thing. 😊

[2019-12-23 15:04] Villanuevand opened #84 "Add CLA or Contributor License Agreement"
# 🧩 Feature request

### Description

The purpose of a CLA is to ensure that the guardian of a project's outputs has the necessary ownership or grants of rights over all contributions to allow them to distribute under the chosen license. In some cases this will mean that the contributor will assign the copyright in all contributions to the project owner; in other cases, they will grant an irrevoca

[2019-12-24 03:54] SanderElias commented on #74
@Splaktar can you reproduce this? If you can build a scenario that reproduces this, I will do the debugging and fix it.

[2019-12-24 09:23] willi84 opened #87 "provide --host flag for alternative hosts (otherwise scully not works)"
# 🧩 Feature request

### Description
For some working environments, where localhost is by default not available to use (e.g. strict company VMs).
When I start ``` npm run scully ``` the mechanism tries to connecto to ```http://localhost:1864/_pong```. But this is not possible in my enviroment, because it redirects to ```http://myhost:1864/_pong```

### Describe the solution you'd like
Angular prov

[2019-12-24 10:00] willi84 commented on #40
could be a problem with host (like at angular cli). I had the same.  I created a feature request for this:
https://github.com/scullyio/scully/issues/87

If you try to manually change the host here in your node_modules, does it work then? https://github.com/scullyio/scully/blob/8ce6c13c06e07f0082a2d75936f232e03efb3a98/scully/utils/waitForServerToBeAvailable.ts#L13

Do you have an alternative host t

[2019-12-24 10:07] willi84 opened #88 "reduce npm footprint 🌱"
# 🧩 Feature request

### Description
priority: nice to have

When adding your awesome library the usage of disk space increase 3x.

[code]

Angular has already a big footprint, when you try to install it on a small machine or in a wifi with restrictions (e.g. German ICE high speed train wifi: 200 MB high-speed data).

And it will also reduce the 🌱 CO2 footprint ;-)

### Describe the solution you'd

[2019-12-24 11:14] willi84 commented on #1
honestly just a way of thought ...

![scully](https://user-images.githubusercontent.com/6207308/71410751-d1f0b200-2646-11ea-833d-e0d351de99ad.png)

[2019-12-24 17:55] Splaktar commented on #74
It's reproducible, every time, in my project. I haven't been able to reproduce it in a brand new Angular CLI project (after some considerable time spent). I'll try to dig into the `PupeteerRenderer` on Thursday.

[2019-12-24 19:27] beeman opened #90 "ng g @scullyio/init:blog does not create blog module"
# 🐞 Bug report

### Description

Running `ng g @scullyio/init:blog` does not create a blog module/route in my app, only a `blog` folder in my root project and a adds new object to `scully.config.js`.

## 🔬 Minimal Reproduction

[code]

## 💻Your Environment
**Angular Version:**
<pre><code>

     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / _

[2019-12-24 20:32] beeman opened #92 "Invalid content-type. Expected application/json but received text/html; charset=UTF-8"
# 🐞 Bug report

### Description

I'm running into an issue where I can't get Scully to run in my project.

It looks like it can't connect to Puppeteer, though that's a wild guess.

A repro can be found in [this repo](https://github.com/beeman/scully-starter). In order to make sure it's not something on my local machine I've added a Docker configuration that shows the issue.

## 🔬 Minimal Reproduct

[2019-12-25 12:45] timdeschryver commented on #40
I had the same issue,  I thought the problem was the port `1864` but after some debugging this is what I encountered.

It seems like `npm run scully` (sometimes?) is giving the following error, and because of this some spawned processes are not being shut down correctly and will stay alive.

[code]

The next time I run scully the express servers are not spawned because the port is already in use.

[2019-12-26 02:00] owlypixel opened #93 "Adding Scully breaks the default Angular app"
# 🐞 Bug report
Hello, I was checking out Scully, but got an error after adding it to the default scaffolded Angular app.
### Description

## 🔬 Minimal Reproduction
on Windows 10
Create a default Angular project
`ng new awesome-angular-blog`
(answer Yes, SCSS)
`cd awesome-angular-blog`
`ng serve --open`
The default app opens ok and works. Let's add Scully.
`ng add @scullyio/init`
`ng serve --open`

[2019-12-26 13:42] Villanuevand commented on #93
@owlypixel you need to use **Angular 9**.
I recommend start reading  the [Getting Started](https://github.com/scullyio/scully/blob/master/docs/getting-started.md), section [Pre-requisites](https://github.com/scullyio/scully/blob/master/docs/getting-started.md#prerequisites)

To update your project you can check [The angular CLI docs - ng update](https://angular.io/cli/update)

[2019-12-26 13:42] #93 closed

[2019-12-26 14:22] Villanuevand opened #94 "Add Gitter to docs"
# 🗄️ Docs report

### Description

 A clear and concise description of the problem...
Add Gitter channel to the docs.

## 🔬 Minimal Reproduction

--

### What's the affected URL?**

`https://gitter.im/scullyio/community`

### Reproduction Steps**

 --

### Expected vs Actual Behavior**

 --

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

### Browser inf

[2019-12-26 16:58] Villanuevand commented on #94
Close in #95

[2019-12-26 16:58] #94 closed

[2019-12-26 22:30] Splaktar commented on #92
I had a similar issue (reported in https://github.com/scullyio/scully/issues/31), but the root cause turned out to be a lack of support for catch all routes (mine went to a `PageNotFoundComponent`).

Since you don't have any catch all routes, it's likely something to do with how [you have](https://github.com/beeman/scully-starter/blob/master/src/app/app.routes.ts) your root component and child com

[2019-12-26 22:31] Splaktar commented on #90
I ran into this as well. I had to copy over the output from a new Angular CLI project.

[2019-12-27 06:14] beeman commented on #92
That's a good point @Splaktar, I will check to see if changing that fixes it.

[2019-12-27 09:24] aaronfrost opened #97 "Allow chaining of plugins"
# 🧩 Feature request
If I have two plugins that I want to use on the same files, I should be able to chain them.

### Description
If I have a route in my `scully.config.js` that is configured as such:
[code]
And I want each of the markdown files in that directory to be processed through the `contentFolder` render plugin AND ALSO a second render plugin that I created, that should be an option.

Imag

[2019-12-27 11:00] aaronfrost opened #98 "`fileHandler` plugins are global when registered, and not configurable by route."
# 🧩 Feature request
If I have one route that should use one markdown fileHandler, and a separate route that should use a different markdown fileHandler, I am currently unable to do this. `fileHandler` plugins are global, and I am not able to configure them per route. We need to make this possible.

[2019-12-27 13:11] d-koppenhagen opened #100 "Options for @scullyio/init:markdown and @scullyio/init:blog"
# 🧩 Feature request

When generating a new blog it would be great to have some more Options:

[code]

### Description

I think it would be good to have at least three more configuration options when creating a blog, to define the basic module name, the source directory for the blog content files and the route for availability of the static pages.

### Describe the solution you'd like

- `baseName`

[2019-12-27 15:42] timdeschryver opened #104 "schematics: inputs should be sanitized"
# 🐞 Bug report

### Description

The inputs for the schematics to create a post or markdown should be sanitized.

## 🔬 Minimal Reproduction

The following command generated a new post as `/blog/first/post.md`, the `post` will not be found in this case.

[code]

A similar thing happens to the markdown schematic, this command creates invalid JSON in the config:

[code]

[code]

## 💻Your Environment

[2019-12-27 17:39] ahmetuysal commented on #56
I also have the same issue and this workaround worked.

[2019-12-27 19:38] Hypercubed commented on #31
@SanderElias Are you able to share your PR?  I'd like to test it if I can.

[2019-12-28 02:52] aaronfrost opened #106 "Show Warning when zero routes configured"
# 🧩 Feature request
Lots of first time scully users are starting to work with Scully, and they are generating blank projects that have zero routes. We need to have Scully render the base route `/` when zero routes are configured. And we need to show the users an error/warning that they MUST add routes to their Angular app, otherwise scully has nothing to render.

[2019-12-28 02:58] Villanuevand commented on #84
Closed #103

[2019-12-28 02:58] #84 closed

[2019-12-28 18:42] xmlking opened #108 "Cannot read property 'toString' of null"
# 🐞 Bug report
i am trying to add scullyio to an existing nrwl nx monorepo project (which is already angular 9 rc)

Cannot add @scullyio/init to my angular 9 project.
### Description

## 🔬 Minimal Reproduction
[code]
## 💻Your Environment
**Angular Version:**
<pre><code>

Angular CLI: 9.0.0-rc.7
Node: 13.5.0
OS: darwin x64

Angular: 9.0.0-rc.7
... animations, cli, common, compiler, compiler-cli, co

[2019-12-28 23:22] xmlking opened #111 "How to get code highlight in markdown?"
If I have the following markdown for blog application, how do I get syntax highlighted?
do you have to add any 3rd party CSS ?

[code]

[code]

[2019-12-29 03:28] xmlking opened #112 "Could not connect to server Error with nx monorepo project"
# 🐞 Bug report

### Description
I have fresh nrwl nx monorepo.
i added blog module , then try to build static site.

`yarn run scully` throws `Could not connect to server` error .

the code works fine with `ng server` and open  `http://localhost:4200/home/blog`
## 🔬 Minimal Reproduction

[code]

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.7
Node: 13.5.0
OS: darwin x

[2019-12-29 03:41] xmlking opened #113 "add option to @scullyio/init:post to specific blog directory"
# 🧩 Feature request

### Description
 `ng g @scullyio/init:post  --name="awesome owls" ` only added to `/blog` directory.  If i have two blogs, `post` command dont have option to specify the blog diretory

### Describe the solution you'd like
 If you have a solution in mind, please describe it.

 `ng g @scullyio/init:post  --name="awesome owls"  --directory="./clog"`

### Describe alternatives you

[2019-12-29 07:23] d-koppenhagen commented on #111
Hey, the rendered markdown code contains the class names matching with this ones used by prismjs.
So you can just include prismjs in your project and it will work.
In my repo https://github.com/d-koppenhagen/d-koppenhagen.de you can see how it will be implemented

[2019-12-29 07:24] d-koppenhagen commented on #111
Nonetheless I think a small paragraph in the docs would be good to point this out.

[2019-12-29 10:36] saleemmalikraja opened #114 "ERROR: The process "81564" not found."
# 🐞 Bug report
I'm running Scully for the first time. When I run npm run scully it creates the static files but does not complete and gives the error ### ERROR: The process "81564" not found. Do i really have to update my cli version ??
### Description

## 🔬 Minimal Reproduction
ng add @scullyio/init
ng build
npm run scully

Then added below command and ran again
ng g @scullyio/init:blog
npm run s

[2019-12-29 20:16] Villanuevand commented on #114
Hi @saleemmalikraja you need Angular 9.x.x to run Scully,
Please check our [Getting Started](https://github.com/scullyio/scully/blob/master/docs/getting-started.md) file...

[2019-12-29 20:16] #114 closed

[2019-12-29 21:52] xmlking commented on #40
may be `guess-parser` need `app-routing.module.ts` to parser. nx monorepo embed routes in  `app.module.ts` !

[2019-12-29 23:41] xmlking commented on #40
@isaacplmann @vsavkin   here is a workaround for   **nx monorepo**  compatibility issue
https://github.com/xmlking/yeti/commit/7daffcd02de62a69686f053c79d30660633233d3
may be @mgechev  can help making [guess-parser](https://github.com/guess-js/guess/tree/master/packages/guess-parser) compatible with  **nx monorepos**

[2019-12-30 02:35] wenqi73 commented on #33
I also faced this issue now, rebuilding takes a bad development experience. The `<scully-content></scully-content>` will render page through `location.href`, maybe could generate the blog static files also in Angular `assets` in some way? Then it will be rendered during `ng serve`. Finally, thank you for building this library!

[2019-12-30 11:27] SanderElias commented on #74
@Splaktar If you need some help setting up some debugging in there, I can help.
DM me and we can schedule something.

[2019-12-30 12:19] Splaktar commented on #74
@SanderElias will do, but I need to focus on billable work for the rest of this decade 😁

[2019-12-30 16:35] Villanuevand commented on #111
@d-koppenhagen
Would you like add a small paragraph in [docs/blog.md](https://github.com/scullyio/scully/blob/master/docs/blog.md) with the explanation?

Could you add it?

[2019-12-30 16:56] d-koppenhagen commented on #111
Sure. I will send a PR later :)

[2019-12-30 16:59] Villanuevand commented on #111
No rush, Thanks @d-koppenhagen

[2019-12-30 17:12] Villanuevand opened #118 "NPM Readme.md is outdated"
# 🗄️ Docs report

### Description

 A clear and concise description of the problem...
`README.md` file used my NPM is old.
We need to update with :
- Badges of tools
- Links to Gitter
- New info of Office Hours

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://github.com/scullyio/scully/blob/master/scully/readme.md

### Reproduction Steps**

### Expected vs Actual Behavior**

##

[2019-12-31 00:26] xmlking opened #121 "error when clicked on markdown generated link"
# 🐞 Bug report

### Description
I have a link (/home/blog)  in my markdown ` blog-post` to `blog-post-lust-view` as shown below
When I click the link, `<a href="/home/blog">site-map</a>` I am getting following error

[code]
Markdown blog
[code]
## 🔬 Minimal Reproduction
![image](https://user-images.githubusercontent.com/627951/71605697-dc67eb80-2b1f-11ea-86f8-e93afab981bf.png)

## 💻Your Environmen

[2019-12-31 01:04] aaronfrost opened #122 "Questions: Should we recommend self-registering plugins or manually registering plugins?"
# Self Registered Plugins vs Manually Registered Plugins

When people build a plugin for Scully, should we recommend a self registering plugin or a plugin that they will still need to call `registerPlugin` on?

---
[code]

Which of these options would be the best? I am leaning towards Self Registered Plugins.

[2019-12-31 01:15] aaronfrost commented on #122
To add clarity: you would consume both of these the same way.

For a plugin that queries a CMS or an API somewhere, your sample plugin config looks the same for both of these examples:
[code]

[2019-12-31 01:16] aaronfrost commented on #122
@SanderElias @beeman @LayZeeDK @SanderElias @jorgeucano @Splaktar what do you all think?

[2019-12-31 02:19] xmlking commented on #111
@d-koppenhagen I am getting `Copy to Clipboard plugin loaded before Toolbar plugin.` warning
I am also not getting copy button for `code highlight` section.   Rest of the styling works.
any suggestions to fix this?
Thanks

![image](https://user-images.githubusercontent.com/627951/71607708-864f7400-2b30-11ea-844a-601adec78a84.png)

[2019-12-31 02:36] aaronfrost opened #124 "Plugin Error: Can't find `registerPlugin` when requiring other files that call registerPlugin"
# 🐞 Bug report
When you are in a separate file creating a plugin and you call `registerPlugin` to register the plugin, you get an error when you run `npm run scully`.

### Description
In order to have a healthy plugin system, we need to enable people to have plugins in other own contained files. Some of their plugins will be __Self Registered Plugins__, meaning that the plugin will internally call

[2019-12-31 02:41] aaronfrost commented on #124
I tried this with the changes from #107 and it didn't fix the issues.

[2019-12-31 02:42] LayZeeDK commented on #122
Self-registering plugins would make them easy to consume.

Manually registered plugins might allow for some flexibility such as the `type` name in your example or configuration options, for example to preregister some common option like API path and credentials.

[2019-12-31 05:11] SanderElias commented on #124
would this be sufficient?
in `scully config.js`:
[code]

in `./extraPlugin/extra-plugin.js'`
[code]

Works with #107

[2019-12-31 05:53] SanderElias commented on #124
would this be sufficient?
in `scully config.js`:
[code]

in `./extraPlugin/extra-plugin.js'`
[code]

Works with #107

[2019-12-31 06:11] SanderElias commented on #122
The problem with "self-registration" is that somehow Scully needs to be able to pull those in.
That requires a list of available plugins somewhere. Such a list also needs maintenance.
First of all, plugins themselves need to put their `main` in this list.
Also, if a plugin is removed it needs to be taken off this list.
The list itself needs to be in a common-place, like `angular.json`, `package.js

[2019-12-31 06:33] SanderElias commented on #124
closed in favor of  #122. Let us center discussion there

[2019-12-31 06:33] #124 closed

[2019-12-31 07:19] aaronfrost commented on #122
After talking to you this evening, I feel like simplifying the codebase by removing the dependency on `vm` will make this problem largely go away. If all contexts point to the same version of `registerPlugin`, then we will eliminate our errors here.

Sander and I spoke about the advantages of using `vm` and running the community/plugin code inside of the vm. It protects us from cowboy code that ca

[2019-12-31 09:29] d-koppenhagen commented on #111
Hmm good question. Can you compare it maybe with my implementation here: https://github.com/d-koppenhagen/d-koppenhagen.de/commit/330e4008646fa1b35709a56cb80d3b139b3ab62a ? I don't see this warning when starting my project.

[2019-12-31 09:36] d-koppenhagen opened #126 "Clarify the purpose of the two started servers when running `npm run scully:serve`"
# 🗄️ Docs report

### Description

Hello,  I was wondering what's the purpose of the two started servers when running `npm run scully:serve`:

[code]

I assume that the scully static site server is just a simple web server like nginx or similar that can be used to check the scully result.
But what's the purpose of the "Angular distribution server"? And whats the difference between this one and the

[2019-12-31 09:38] d-koppenhagen commented on #113
I think this goes hand in hand with https://github.com/scullyio/scully/issues/100

[2019-12-31 10:02] SanderElias commented on #121
Can you provide a repo that reproduces this? I seem unable to reproduce this scenario

[2019-12-31 10:30] SanderElias commented on #113
Closing to center communication in #100

[2019-12-31 10:30] #113 closed

[2019-12-31 10:34] #122 closed

[2019-12-31 10:53] SanderElias commented on #100
@d-koppenhagen, @xmlking,
The `blog` option is meant to be an easier version of the `post` option. with set folders and component name. Its to be used for quick demo's, and probably covering the most common use-case.
I'm fairly sure that @jorgeucano will rewrite the 'blog' option to use the 'post' option internally.

We should add those options to the `ng g @scullyio/init:post`, and leave the blog

[2019-12-31 11:05] d-koppenhagen commented on #100
Ah okay, this seems legit. Probably it should just be documented a bit more clear in the docs.

[2019-12-31 11:10] SanderElias commented on #126
@d-koppenhagen You are right, and this is something we need to add to the documentation.
the first server is serving the angular app as it is in the dist folder, so Scully can scrape all the pages.
the second one is there as a courtesy. it serves the result from Scully, so you can locally interact with the results without needing any third party.

@Villanuevand we need some documentation around th

[2019-12-31 11:14] SanderElias commented on #108
@xmlking can you provide a repo that demonstrates this issue?
That will make it easier for @jorgeucano to reproduce the issue, so we can fix the schematics

[2019-12-31 11:25] d-koppenhagen commented on #111
@SanderElias I am also thinking about a configuration option for an easier setup / integration. What do you think?

[2019-12-31 11:48] SanderElias commented on #112
Thanks for posting the workaround. This gives me some clues on where this is coming from.
We are using guess-parser to traverse the routes in the angular app. It seems that it can't track the NX libraries. I'm going to investigate this a bit deeper and will talk to Minko to see if there is a proper solution for this.

[2019-12-31 11:53] d-koppenhagen opened #127 "Better description of how to include a written plugin"
# 🗄️ Docs report

### Description

Currently in the docs it is described how a plugin (e.g. Router Plugin) is build:
https://github.com/scullyio/scully/blob/master/docs/plugins.md

I couldn't find any hint of where to put the plugin file should be put ideally and from where `registerPlugin` plugin is called.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://github.com/scullyio/scu

[2019-12-31 15:38] jordanpowell88 commented on #1
![scully-logo](https://user-images.githubusercontent.com/3605268/71626150-b98a1580-2bb9-11ea-8436-424fe9bca591.png)

[2019-12-31 17:16] SanderElias commented on #90
Is this still the case with the latest version? it seems to work for my machines.

[2019-12-31 17:18] SanderElias commented on #92
Closing to focus discussion in #31

[2019-12-31 17:18] #92 closed

[2019-12-31 19:41] Villanuevand commented on #118
Solved in #119
We need to wait for a new release in NPM

[2019-12-31 19:41] #118 closed

[2019-12-31 22:33] beeman commented on #90
@SanderElias I tried it on a clean project and it seems to work there. However, on  [this project/branch](https://github.com/beeman/scully-starter/tree/beeman/remove-scully-blog) it does not seem to work:

[code]

Not sure if there's anything in that project blocking it?

[2020-01-01 06:53] SanderElias commented on #90
@jorgeucano can you take a look at this?

[2020-01-01 09:05] xmlking commented on #108
i create new project following nx guild https://nx.dev/angular/getting-started/getting-started
then i run the command `ng add @scullyio/init`  ,this caused above error

[2020-01-01 09:08] xmlking commented on #121
https://github.com/xmlking/yeti

[2020-01-01 09:14] LayZeeDK commented on #122
Are the docs still representative of how you want plugins to be registered? https://github.com/scullyio/scully/blob/master/docs/plugins.md

[2020-01-01 10:14] SanderElias commented on #122
@LayZeeDK, yes no change there. However you need to import/require registerPlugin now.
(have a look at [this](https://github.com/scullyio/scully/blob/master/extraPlugin/extra-plugin.js)

[2020-01-01 12:37] LayZeeDK commented on #122
Thank you, Sander. I'm thinking of creating some content about plugins.

[2020-01-02 05:00] aaronfrost commented on #127
I agree. We need to nail this down. You are right. We are locking down the plugins right now, and this is about to get better.

[2020-01-02 05:02] aaronfrost commented on #126
@jorgeucano can you describe here why we have the two servers? @SanderElias do you know?

One serves the built directory: `/dist/app-name`
Static one serves the static dir: `/dist/static`

So it helps you see if where your errors are.

[2020-01-02 05:12] aaronfrost commented on #121
I will look at this tomorrow.

[2020-01-02 14:54] Villanuevand opened #128 "CLA: Wrong link"
# 🗄️ Docs report

### Description
`For individuals we have a simple click-through form.`
The link to the CLA form redirect to the gist file instead the form.

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://github.com/scullyio/scully/blob/master/CONTRIBUTING.md#signing-the-cla

### Reproduction Steps**

### Expected vs Actual B

[2020-01-02 15:44] Villanuevand commented on #126
@aaronfrost @SanderElias

Let's meet with @jorgeucano to  add the explanation to the docs....

[2020-01-02 18:30] Villanuevand commented on #128
Solve #129

[2020-01-02 18:30] #128 closed

[2020-01-02 20:30] #111 closed

[2020-01-02 23:23] aaronfrost opened #130 "For tracking, add `scully-version` attr to the body on Scully pages"

[2020-01-03 00:51] stewwan opened #131 "scully-content doesn't work when served over https"
# 🐞 Bug report

### Description

## 🔬 Minimal Reproduction

https://scully-demo.stewan.io/

Then press the link “this is a blog post”

it works on non-secure urls, though.

http://scully-demo.stewan.io/

Here is the repo

https://github.com/stewwan/scully-demo

## 💻Your Environment
**Angular Version:**
<pre><code>

</code></pre>

**Scully Version:**
<pre><code>

</code></pre>
## 🔥 Exception or Err

[2020-01-03 08:10] SanderElias commented on #131
Hmm, this is strange. Scully-content uses location.href to get the URL. That gives back the `https` link. I have no clue why it is trying to get  the content using `HTTP`
Scully should be completely agnostic to `HTTP` vs `https`  this needs a bit more investigation.
@aaronfrost Can you take a loo too?

[2020-01-03 08:36] SanderElias commented on #131
@stewwan Your server does a redirect to the HTTP resource that is causing this issue:
![image](https://user-images.githubusercontent.com/1249083/71713935-167d0a00-2e0c-11ea-812b-8d58cf750236.png)
So your server forwards and returns an HTTP request when asked for an https.
I don't think there is anything here that Scully can do to fix this? Therefore I'm closing this issue. When you think Scully ca

[2020-01-03 08:36] #131 closed

[2020-01-03 09:40] SanderElias commented on #121
@xmlking
![yeti-demo](https://user-images.githubusercontent.com/1249083/71716510-48df3500-2e15-11ea-8809-814c325e08b7.gif)
It works for me. I'm not sure what happens on your system?

[2020-01-03 10:19] SanderElias commented on #126
The second one is there as a courtesy. it serves the result from Scully, so you can locally interact with the results without needing any third party.

[2020-01-03 12:09] stewwan commented on #131
But it’s cloudflare + github pages 🤷‍♂️
Any idea on how to fix it?

[2020-01-03 12:30] Villanuevand commented on #126
@SanderElias  @aaronfrost  @d-koppenhagen
Im going to create a new issue to add this data to the docs..

[2020-01-03 13:33] #74 closed

[2020-01-03 13:34] SanderElias commented on #131
Nope, sorry, no clue,

[2020-01-03 14:15] stewwan commented on #131
Why issue is closed then?

[2020-01-03 14:16] stewwan commented on #131
So that mean if I want to host on github pages or use cloudflare I wont be able to use scully. 👍

[2020-01-03 14:21] SanderElias commented on #131
I closed it because the cause of the issue is not Scully. It is probably something in the Cloudflare settings. We can't possibly provide a solution for every hosting issue out there.
Scully works well on https.

[2020-01-03 15:10] harveymatt commented on #16
Worth noting - I helpfully got `Unknown type "blogPaths" in route "/blog/:path"` but no docs will tell me where I should install the plugin `blogPaths`

[2020-01-03 15:33] Villanuevand opened #134 "Wrong link to CONTRIBUTING.md"
# 🗄️ Docs report

### Description

The link to `CONTRIBUTING` inside [scully.md](https://github.com/scullyio/scully/blob/master/docs/scully.md) is wrong
## 🔬 Minimal Reproduction

### What's the affected URL?**

https://github.com/scullyio/scully/blob/master/docs/scully.md  =>  `CONTRIBUTING` link redirect to
https://github.com/scullyio/scully/blob/master/docs/CONTRIBUTING.md instead https://githu

[2020-01-03 16:06] stewwan commented on #131
I'm not doing any redirect even on cloudflare, from where it comes then?
why this blog post doesn't redirect?
https://stewan.io/en/google/setup-elastic-search-with-kibana-on-google-cloud

I really don't understand this rush on closing issues

but that's fine, have a great day

![Screen Shot 2020-01-03 at 13 02 56](https://user-images.githubusercontent.com/719763/71733988-9e254180-2e29-11ea-94ab-39

[2020-01-03 20:33] aaronfrost commented on #131
@stewwan I am looking into this. I am sorry that we've frustrated you with closing this issue so fast. I want to spend some additional time looking into this issue for you. If I find something (fingers crossed) we can reopen it. It appears, though, that @SanderElias is probably right that this is some weird host thing that we can't control.

I will let you know what I find. And THANK YOU for helpi

[2020-01-03 20:37] aaronfrost commented on #131
@d-koppenhagen have you deployed your stuff and gotten it working? Did you experience this?

[2020-01-03 21:06] d-koppenhagen commented on #131
Hey, I published my site https://d-koppenhagen.de using scully.
In my case I am using not cloud flare and gh-pages.

A few days ago the site was not redirecting directly to https when calling the url with http but I had no issues with this. I have also no issues with the redirect (using apache as web server).

I assume also it could be a server configuration thing. Have never had a similiar issue

[2020-01-03 21:22] d-koppenhagen commented on #131
Could it be a problem when the web server is configured in such a way that it will all routes redirect to the root (baseUrl) in order to get the routing handled by the Angular router?
This shouldn't be done in case of using Scully I think as the static routes (directories with index.html) do exist.

[2020-01-03 21:27] d-koppenhagen commented on #131
So I think the redirect always to `/index.html` as described in the [Angular Docs](https://angular.io/guide/deployment#server-configuration) isn't necessary when using the static sites result of _Scully_ isn't it? Maybe this causes some kind of error? Can you check your Cloudflare config for it?

[2020-01-03 22:19] stewwan commented on #131
at this point I can see problem isn't with Scully. Thanks y'all
will share if I discover anything.

[2020-01-03 22:24] aaronfrost commented on #131
@stewwan others will have this same issue. Please share your finding.

[2020-01-03 23:28] stewwan commented on #131
it works as expected prepending `/index.html`

`https://scully-demo.stewan.io/blog/12-30-2019-blog/index.html`

double checked all cloudflare settings and have found nothing related. there's no redirecting there.

I've tried to change the blog route prepending that `index.html` but also no success. Scully didn't even render the blog post.

still wondering what it could be

[2020-01-04 01:11] YanZzz commented on #93
I ihade same issue but fixed after update cli.

[2020-01-04 05:36] xmlking commented on #121
Click site-map and see console logs

[2020-01-04 07:18] d-koppenhagen opened #137 "Extend JSON Plugin with `headers` config option"
# 🧩 Feature request

### Description
The JSON Plugin is great to fetch data from an API. However sometimes API are not public and to access those Data an API key or other HTTP headers are needed to be sent when requesting the API.

### Describe the solution you'd like
The scully config should accept a `headers` object for the JSON Plugin where a user can specify one or more headers when requesting

[2020-01-04 11:05] #137 closed

[2020-01-04 11:15] d-koppenhagen commented on #1
I really like the initial one from @nicoavila

[2020-01-04 11:21] d-koppenhagen commented on #1
Waiting for a decision and stickes for my macbook 😄

[2020-01-04 11:26] d-koppenhagen commented on #134
Issue can be closed, can't it?

[2020-01-04 11:30] d-koppenhagen commented on #100
But we still need this options in `ng g @scullyio/init:markdown` don't we? I mean for choosing a specific dir etc. And not touching `ng g @scullyio/init:blog`

[2020-01-04 11:42] d-koppenhagen commented on #100
So my proposal would be the following:

- extend `ng g @scullyio/init:markdown` with the following options:
  - [ ] `sourceDir` lets one specify a name for the markdown sources
  - [ ] adjust the current `name` option: The name should be used for the module. The `name` option should be used for the source dirctory as well *but just if no* `sourceDir` option is provided
  - [ ] `route` this paramet

[2020-01-04 16:15] stewwan commented on #131
okay I managed to fix this. I didnt know github pages already supports https out of box so the solution is letting cloudflare be only the dns server by disabling proxy

![Screen Shot 2020-01-04 at 13 11 22](https://user-images.githubusercontent.com/719763/71768320-e27d1400-2ef3-11ea-9ae3-8788e032eb6c.png)

[2020-01-04 18:09] Johnniexson opened #142 "Cant run the app."
# 🐞 Bug report

### Description

## 🔬 Minimal Reproduction

## 💻Your Environment
**Angular Version:**
<pre><code>

Node: 12.13.1
OS: win32 x64

Angular: 9.0.0-rc.7
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router
Ivy Workspace: Yes

Package                           Version
---------------------------------

[2020-01-04 18:10] Villanuevand commented on #134
Solved id #135

[2020-01-04 18:10] #134 closed

[2020-01-04 18:33] Villanuevand opened #143 "Add prettier for code format"
# 🧩 Feature request

### Description

We need to get a pre-commit hook that formats your stuff for prettier.

### Describe the solution you'd like

We need to add a pre-commit hook that runs prettier on all files.

### Describe alternatives you've considered

Prettier + Husky

[2020-01-04 21:04] mgechev commented on #40
@isaacplmann yes, the Guess.js parser does not know how to handle path mappings currently.

@chrisguttandin did some work towards support for Nx monorepos for his [`angular-prerender`](https://www.npmjs.com/package/angular-prerender).

[2020-01-04 21:05] mgechev commented on #112
Maybe we can close this issue and continue the discussion in #40?

[2020-01-04 22:09] xmlking commented on #112
will be tracked in https://github.com/scullyio/scully/issues/40

[2020-01-04 22:09] #112 closed

[2020-01-04 23:10] chrisguttandin commented on #40
Hi everyone, the changes that I made to guess-parser a while ago to support nx monorepos were related to that line: https://github.com/guess-js/guess/blob/master/packages/guess-parser/src/angular/index.ts#L50.

It is using TypeScript's own module resolution and should therefore respect path prefixes like `@my-app`. We also added [a library with a prefix](https://github.com/guess-js/guess/blob/mast

[2020-01-05 11:07] SanderElias commented on #142
@Johnniexson From your output, I can see Scully does run for you.
The error you are seeing is explained in #79
However, you seem to encounter a timeout somehow. Can you provide a repo so we can check what is causing your issue?

[2020-01-05 11:26] SanderElias commented on #121
Ok, now I'm seeing the error.
It does not make sense, the error is on a page that doesn't (or at least should not) contain the `scully-content` component. yet the error is raised from there.
Can you provide more pointers on how this could happen?

[2020-01-05 12:33] SanderElias commented on #121
@xmlking I found the root of the issue. Building a fix right now.

[2020-01-05 12:46] Johnniexson commented on #142
Okay, here is the repo:
https://github.com/Johnniexson/my-suclly-app-starter

[2020-01-05 13:24] SanderElias commented on #142
@Johnniexson Scully cant create pages for an app that doesn't work.
You forgot to import the `httpClientModule` which is mandatory for Scully in your app, so your app errored out on boot.
After adding the module everything will work as expected.
I'm going to close this issue, but @Villanuevand will check if the mandatory dependency on is documented, and @jorgeucano will check (after his vacation)

[2020-01-05 13:24] #142 closed

[2020-01-05 14:20] Johnniexson commented on #142
I added the httpClientModule to my app.module.ts but still get the error.

<pre>
import { BrowserModule } from "@angular/platform-browser";
import { NgModule } from "@angular/core";
import { HttpClientModule } from "@angular/common/http";

import { AppRoutingModule } from "./app-routing.module";
import { AppComponent } from "./app.component";

@NgModule({
  declarations: [AppComponent],
  imports:

[2020-01-05 15:03] SanderElias commented on #142
I added the import to your app, and it is actually working fine on my system (Linux)
And it is actually working fine on your computer too.
You can ignore the:
[code]
(read through #79 for a more in-depth explanation) But it is fluke on windows, and not affecting the functionality of Scully at all.
check your `dist/static` folder to inspect the results of Scully.

[2020-01-05 15:06] SanderElias commented on #106
Taken care of in #133

[2020-01-05 15:06] #106 closed

[2020-01-05 15:27] SanderElias commented on #78
@Marcusg62 I know of at least 2 firebase plugins that are not yet published.
To answer your question.
Yes, the content is rendered to static pages. There is (from Scully standpoint) no difference in how this is fetched.
However, we are going (pretty soon) a transfer state option, that makes it possible to load the data from the static pages instead of using firebase. That means, that once you have

[2020-01-05 15:27] #78 closed

[2020-01-05 15:30] SanderElias commented on #130
Does this really need to be on the body tag?

[2020-01-05 15:42] SanderElias commented on #97
Chaining plugins would only make sense for render-plugins, right?
I would like to propose something like this:
[code]
which would also open the path of en eventual `preRender` option.
Also, this would make it more easy to use things lie HTML optimization tools and so on.

[2020-01-05 15:45] Johnniexson commented on #142
Okay, i just figured out where i was getting it wrong.
Well 'npm run scully' only generates the static files but does not run/load the app such as ng server do for a regular angular app which then shows the url to view the app or opens the browser. But for scully, i think the documentation should state this for getting started cus i had to use [https://www.npmjs.com/package/http-server](url) in or

[2020-01-05 19:55] SanderElias commented on #142
We are working towards that.  the `scully serve` command does serve the generated static site.
there are a number of features in flight that will make de DX better as it is now.
Remember that we are still at very early stages.

[2020-01-05 22:18] Johnniexson commented on #142
Yea I get, great work and a big well done to the team. 👏

[2020-01-06 04:23] xmlking commented on #100
in most cases, all posts in a  blog have consistent metadata. It would be nice to have an option to specify one or more templates in `scully.config.js`
They we shoud   be able to  overwrite them with command line parameters

`ng g @scullyio/init:post --thumbnail=assets/images/blog/sumo-blog3.jpg --keywords=alpha,beta --published`

for example
[code]

Related information [blog-2](/home/blog/blog-2)

[2020-01-06 18:24] Villanuevand opened #148 "extraRoutes"
# 🗄️ Docs report

### Description
Add `extraRoutes` feature to the docs.

[2020-01-06 19:33] d-koppenhagen commented on #100
@Villanuevand can you have a look at the WIP PR?

[2020-01-06 19:34] jorgeucano commented on #100
@SanderElias we support all of this meta-tags ?

[2020-01-06 19:49] d-koppenhagen commented on #100
I think the meta tags are just passed through and available as key-value-pair in the result. When I used scully I added some very custom meta data and it worked still. I could request them via ScullyRouteService

[2020-01-06 20:16] d-koppenhagen commented on #100
But I think we should discuss the suggestion from @xmlking a bit more like:
- What meta tags should be supported by the schematic?
- could't this lead into a bunch of options one will add calling the schematic?
- I can image there are users that aren't using the meta section in markdown at all (image a very simple blog).
- A meta tag can be very custom so probably we need to focus on the really im

[2020-01-06 21:43] samvloeberghs opened #150 "Not able to use custom plugin"
# 🐞 Bug report

### Description

When defining a custom plugin and registering it, it can't be used as type,  as defined in the documentation https://github.com/scullyio/scully/blob/master/docs/plugins.md

## 🔬Minimal Reproduction

1) Start from a new empty angular-cli project with one route, for example `/about`.
2) Add scully, following the docs
3) Create a new plugin `voidPlugin.js` in the root

[2020-01-06 22:13] d-koppenhagen commented on #100
Or maybe as part of the `scully.config.js` configuration file? And then there would be no option flag necessary as the options will be used when available in the config file... think 🤔 I think this would be even better.

[2020-01-06 23:19] stewwan commented on #150
same in here
https://github.com/stewwan/stewan-io

- npm install
- ng build
- npm run scully

[2020-01-07 00:32] aaronfrost opened #151 "Export all built-in plugins so that others can use them inside their own plugins"
# 🧩 Feature request
In the built-in plugins (like `contentFolder` router plugin) we need to export these so that others can use them inside of their own plugins.

[2020-01-07 07:05] xmlking opened #154 "Exclude some routes from static site generation"
# 🧩 Feature request
Exclude some routes from static site generation(SSG)

### Description
I have OpenID Connect setup with google and I am using route `/home/callback`  for google to redirect with token.  I want to prevent this route from being generated statically as it is generating breaking code.

generated : `home/callback/index.html`  has `http://localhost:1864/home/callback`

[code]

### Des

[2020-01-07 07:26] xmlking commented on #100
I like the idea of having my default meta tags as JSON in  `scully.config.js` and then having an optional  flag(key, value pairs) for overwrite...
[code]

[2020-01-07 07:47] d-koppenhagen commented on #100
I still don’t know about those flags. The validation of such an option with complex configuration seems to be tricky to me and not really handy.
As I wrote before: don’t you have to adjust the post anyway after setting it up? So is it really worth it to remember the syntax passing a KVP into the option and writing it on the command line easier/better compared to setting it up using the default met

[2020-01-07 08:52] jusefb commented on #108
I have just experienced the same issue

[2020-01-07 09:42] SanderElias commented on #100
I like the idea of having a 'default', However, it should be just a string (can be a multiline string)
In there the app-owner can set his favorite defaults, and what he needs.
as @d-koppenhagen stated, the blog user needs to touch the file anyway, they want to put in their content, otherwise, there is no point to the whole exercise, to begin with.
By keeping the setting a string, it will not be th

[2020-01-07 11:14] chrisguttandin commented on #154
I remember that I talked about a similar feature with @MarkPieszak when we had a chat about the new prerender schematics of Angular Universal. I would love to add a similar feature to angular-prerender as well. I wonder if there is a way to make this work across all three prerendering options.

Back then Mark and I had the idea to add a key to the [data](https://angular.io/api/router/Route#data) p

[2020-01-07 13:08] Villanuevand opened #155 "Enhance "npm run commit""
`npm run commit` script include the `git add . `, which  add all modified files.

If you made several changes and run `npm  run commit` all files  will be add to stage,  we need to extract the `git add .` from the command to allow the capability to commit single.

[2020-01-07 13:16] evolkmann opened #157 "Sitemap Generator"
# 🧩 Feature request

Sitemap Generator

### Description
Alongside scully's route detection mechanism, a `sitemap.xml` file could be generated.

### Describe the solution you'd like
Could be implemented as a new scully plugin

### Describe alternatives you've considered
Using external build systems such as gulp would be possible, but is not really a nice and clean solution.

-------------

I just l

[2020-01-07 14:20] stewwan opened #159 "question about first load"
this is an issue I'm trying to get rid since I tried angular universal a few years ago.

is there a way to fix these flickering/flashes on first load?

![Screen-Recording-2020-01-07-at-11 09 33](https://user-images.githubusercontent.com/719763/71901627-21eb7080-313f-11ea-9f67-822c64e1fbd9.gif)

[2020-01-07 14:35] chrisguttandin commented on #159
Hi @stewwan, I guess you can get rid of the flickering by setting the `initialNavigation` to `'enabled'`. It's mentioned in the [Angular docs](https://angular.io/api/router/ExtraOptions#initialNavigation). It's also done by the new schematics for Angular Universal.

[2020-01-07 14:44] stewwan commented on #159
yeah I tried that. also preloadingStrategy and even the preboot module. none of them worked =\

[2020-01-07 16:03] d-koppenhagen commented on #100
I linke this suggestion!

[2020-01-07 19:07] xmlking commented on #154
Route data might be an appropriate place to set this flag, so that other tools also leverage this information.
I see  @mgechev also using `preload` flag like this in https://github.com/mgechev/ngx-quicklink

[2020-01-07 22:08] d-koppenhagen commented on #100
@SanderElias here it is: https://github.com/scullyio/scully/pull/149/commits/df7500f3cd7dc0e3318eaead6580a156f43d42d0

[2020-01-08 07:56] osnoser1 commented on #159
The flicker usually happens if you have in the developer tools the cache disabled.
That is, enabling the cache, and using the `initialNavigation: 'enabled'` flag you should not have problems.

Now, this specific problem is because it is necessary to implement a cache strategy in http requests using the `TransferState` to serialize the requests in the html, but from what I saw from the scully rende

[2020-01-08 09:43] chrisguttandin commented on #154
`ngx-quicklink` has the adventage that it doesn't have to parse the routes statically. However I think it is possible to extend `guess-parser` to read the `data` property. I already did a quick check with a quick-and-dirty patch and (at least for my test cases) it worked fine.

In case we have consensus on using a special `prerender` property I'm happy to provide a pull request for `guess-parser`.

[2020-01-08 13:09] jorgeucano commented on #155
done

[2020-01-08 13:09] #155 closed

[2020-01-08 13:10] #126 closed

[2020-01-08 13:36] jorgeucano commented on #88
@beeman @SanderElias The pr `fix: make sure devDependencies are marked as such #110` fix this issue?

[2020-01-08 13:41] jorgeucano commented on #31
the fix is in master :)

[2020-01-08 13:41] #31 closed

[2020-01-08 13:45] jorgeucano commented on #150
@SanderElias is working in a fix for that

[2020-01-08 13:45] #143 closed

[2020-01-08 15:09] SanderElias commented on #157
There is already an routes.json generated, with all the details about every route in there.
It's easy enough to create a sitemap.xml from that. I will see if I can provide a sample for that.

[2020-01-08 15:14] SanderElias commented on #154
I will create a sample voidPlugin that takes out routes from the list.

[2020-01-08 15:19] beeman commented on #88
We should check again once a new version of `@scullyio/init` is pushed to master.

[2020-01-08 15:22] #108 closed

[2020-01-08 15:27] stewwan commented on #159
even with initialNavigation and cache enabled.
flash is still there

check it out

https://scully-demo.stewan.io/
https://next.stewan.io/

but I agree about the transferState, that would be def a solution.

is it on your radar? @aaronfrost @SanderElias

[2020-01-08 15:46] Villanuevand commented on #148
Closed in #163

[2020-01-08 15:46] #148 closed

[2020-01-08 15:56] #154 closed

[2020-01-08 15:56] SanderElias commented on #150
@samvloeberghs You can only list routePlugins in the types.
When you want to add a (couple) of renderPlugins, you can use the
 `postRenderers: ['plugins','by', 'name']` option in your config
I created a small table of contents plgin that show how this can be done in #161  (might be merged in master by now)

[2020-01-08 15:59] samvloeberghs commented on #150
@SanderElias cool, will try it out as soon as it hits master/latest

[2020-01-08 17:47] jorgeucano commented on #90
i will check now

[2020-01-09 06:41] evolkmann commented on #157
Hi @SanderElias, thanks for your response. You don't need to provide a sample, the process is clear.
I will try that out in the next days when I come back to a project!

[2020-01-09 06:51] SanderElias commented on #159
@stewwan Transferstate is implemented now. This is an opt-in mechanism. Aaron will bring out some samples soon

[2020-01-09 06:53] SanderElias commented on #150
@samvloeberghs its in master since yesterday. I did push out a new version to NPM too.

[2020-01-09 07:37] yarivgdidi opened #166 "Could not connect to server"
# 🐞 Bug report

### Description

First, thanks for your project, it's cool :-)

when running npm run scully, I'm getting this error:
**Could not connect to server**
I'm guessing this has something to do with the routes not being configured correctly in scully config

my routes looks like this (as an example)
https://cubesolver.app/tabs/home
https://cubesolver.app/tabs/guide/solving
https://cubesol

[2020-01-09 08:14] Splaktar commented on #31
Was this fixed in PR https://github.com/scullyio/scully/pull/146 or another PR?

[2020-01-09 08:42] #100 closed

[2020-01-09 09:46] SanderElias commented on #31
@Splaktar Yes, a partial fix might be in a bit earlier, but that one closed it completely.

[2020-01-09 10:48] gerhardboer commented on #166
I just ran into the same issue when running the examples from the docs.
I've run the application you provided, and was able to reproduce the same issue.

If you do ` npm run scully:serve` instead of `npm run scully` you would run into an error like:
[code]
This is because you have routes in `tabs.router.module` that point to a folder outside the current folder.
[code]
i had the same issue when gen

[2020-01-09 14:08] jorgeucano commented on #90
fixed in the new publish :)

[2020-01-09 14:08] #90 closed

[2020-01-09 14:09] jorgeucano commented on #166
@SanderElias this error is the same we check this morning?

[2020-01-09 14:55] stewwan commented on #159
that’s great! going to try this out on weekend.

[2020-01-09 21:50] samvloeberghs commented on #150
@SanderElias I don't think it's solved now. I had to the impression I could add a plugin that gets executed post-render. Basically I just want to run a post-render function that takes the HTML and modifies it. How can this be achieved.

If I'm not mistaken, `postRenderers` is part of `HandledRoute`but that is part of the router plugins?

[2020-01-09 21:52] yarivgdidi commented on #166
@gerhardboer , Thanks for the reply
indeed it was a routing issue
modifying the routes did not do the trick (unless I'm missing something).
However, I was able to move forward by converting the route to a flat one.

As the error from scully:serve  suggested, I do use multiple routes.
changing this will require a major refactoring

So does scully support nested routes?
did I miss something? (config

[2020-01-09 21:56] gerhardboer commented on #166
@yarivgdidi it should work with the relative routes and moving the modules inside the tabs/ folder.

As far as I can tell, it does work with multiple routes. The issue comes from an incorrect identification of root routes. This happens because of the `../` in the paths of the child routes.

[2020-01-09 22:00] xmlking commented on #121
I still get error after going to blog page `https://ngx-starter-kit.firebaseapp.com/home/blog/blog-4`
then clicking on `YETI`  on the header
![image](https://user-images.githubusercontent.com/627951/72108286-19826980-32e8-11ea-9762-a440946e4de9.png)

![image](https://user-images.githubusercontent.com/627951/72108367-49317180-32e8-11ea-90b8-7e9878647d1a.png)

[2020-01-09 22:14] yarivgdidi commented on #166
@gerhardboer,  where you able to do this with my app?
I did what you suggested and it didn't work.
I moved the nested routes under tab and fixed the paths moved the folders)
If you're convinced this should work, I can give it another try

[2020-01-09 22:18] gerhardboer commented on #166
I had a successful build with your app. I'm not able to show you at the moment, getting ready for bed 🥱 I can attach the project here tomorrow :)

[2020-01-09 23:40] lacolaco opened #171 "Weird behavior of Observable"
# 🐞 Bug report

### Description

I hit a weird error around Observable returned from ScullyRoutesService.

![image](https://user-images.githubusercontent.com/1529180/72113654-73d10800-3384-11ea-8e3a-e80c8c59d11a.png)

`getCurrent()` method returns an Observable but its `subscribe` method seems not right one.

`available$` is no problem. It's so weird...

## 🔬 Minimal Reproduction

## 💻Your Environ

[2020-01-09 23:52] lacolaco commented on #171
That error is solved when I add a type assertion of `Observable<ScullyRoute>`

![image](https://user-images.githubusercontent.com/1529180/72114250-4be2a400-3386-11ea-8024-e9a74cc9d314.png)

Originally returned type`getCurrent()` is `Observable<any[]> | Observable<ScullyRoute>` but `any[]` and `ScullyRoute` are not compatible. I think it should be `Observable<ScullyRoute | null>`.

[2020-01-10 07:02] SanderElias commented on #166
@gerhardboer, @yarivgdidi This is indeed an issue with the guess-parser.
I'm going to replace the error with something more useful later today.
Our server needs to know the routes, so there is a catch-22 in there.

[2020-01-10 07:07] SanderElias commented on #150
@samvloeberghs, The type field needs a route-plugin. It will not work with render plugins.
try this:
[code]
We really need a bit more documentatin around this.

[2020-01-10 07:11] samvloeberghs commented on #150
@SanderElias  I tried this, and it doesn't work:

error:
[code]

[code]

[2020-01-10 07:13] SanderElias commented on #171
@lacolaco thanks for reporting. I'll update the types.

[2020-01-10 07:29] aaronfrost commented on #171
@SanderElias I have gotten this working. You cool if I take it?

[2020-01-10 07:32] aaronfrost commented on #150
@SanderElias there is no plugin with `default`. You have it all configured, but never build it. HAHA!

[2020-01-10 07:44] gerhardboer commented on #166
@yarivgdidi
attached you'll find the project
[cubeSolver-changed-routes.zip](https://github.com/scullyio/scully/files/4044438/cubeSolver-changed-routes.zip)
![6a0120a85dcdae970b0128776ff992970c-pi](https://user-images.githubusercontent.com/8514342/72134877-5f413f80-3385-11ea-847a-06563f490b72.png)
;)

[2020-01-10 07:45] #171 closed

[2020-01-10 08:07] SanderElias commented on #121
Are you sure you updated to the latest `@scullyio/ng-lib` ?

[2020-01-10 08:11] aaronfrost commented on #150
Use this plugin as `type`:

[code]

Add this to your config as follows:
[code]

I cloned your project, and did this, and it worked fine.

[2020-01-10 08:19] SanderElias commented on #150
@samvloeberghs Turns out, I didn't activate the default plugin :-D
However, yes, there is a `defaultPostRenderers`, and you can add that to the generic part of your config like:
[code]
If you specify the `postrenderers` in a route, those will be use _instead_ of the default ones, not in addition

[2020-01-10 08:50] samvloeberghs commented on #150
@SanderElias this is what I needed, thanks!

The route configuration is not required anymore either, as these are auto-discovered by Scully.

[code]

is enough

[2020-01-10 08:55] SanderElias commented on #150
@samvloeberghs If this works for you, can I close the issue?

[2020-01-10 08:59] #150 closed

[2020-01-10 09:58] SanderElias commented on #157
@evolkmann Given that you don't seem to need the sample, I'm closing this issue.
Feel free to open a new issue if you do need help generating a site-map

[2020-01-10 09:58] #157 closed

[2020-01-10 10:02] SanderElias commented on #88
This is indeed a nice to have, but as we have to be dependant on puppeteer, and a few other large resources (None of those end up in the end application!) there is currently no way we can change this.
@willi84 sorry, but I'm going to close this issue, as I see no way we will ever to be able to fix this.
Please note, that all of those resources are only needed to develop/deploy, and that is the pri

[2020-01-10 10:02] #88 closed

[2020-01-10 10:04] SanderElias commented on #166
I did a couple of PR's to make it more apparent what happens, so its easier to fix.
I'm going to close this issue, so we can center discussion in #40

[2020-01-10 10:04] #166 closed

[2020-01-10 10:06] SanderElias commented on #97
closed by pr #160

[2020-01-10 10:06] #97 closed

[2020-01-10 10:07] aaronfrost commented on #166
I am messing around with this project. I am getting this guessjs error that we have seen before. @SanderElias do you know why it is happening?

[2020-01-10 10:09] SanderElias commented on #40
@mgechev is there a new version of guess-parser released that includes this fix?

[2020-01-10 10:13] aaronfrost commented on #159
@stewwan try it and let us know.

[2020-01-10 10:13] #151 closed

[2020-01-10 10:14] aaronfrost commented on #130
No. It can be anywhere on the page. As long as it is close to the root, and in the HTML (not buried inside of some JS somewhere). That way we can query it from the server.

[2020-01-10 19:33] aaronfrost commented on #56
@SanderElias is going to fix this. @SanderElias do you have a timeline?

[2020-01-10 19:35] #79 closed

[2020-01-10 19:37] aaronfrost commented on #87
@jorgeucano is this replaced with the feature you are adding around `hostUrl`?

[2020-01-10 19:37] aaronfrost commented on #98
This was fixed when @SanderElias added `postRenderers` to the route config.

[2020-01-10 19:37] #98 closed

[2020-01-10 19:37] jorgeucano commented on #87
@aaronfrost Yes, WIP

[2020-01-10 19:51] mgechev commented on #40
@SanderElias yes, 0.4.12 includes the fix.

[2020-01-10 23:15] mgechev commented on #40
I opened a PR to handle path mappings in lazy routes [here](https://github.com/guess-js/guess/pull/300). The integration test is from the repro that @isaacplmann provided.

Feel free to check this out and tell me if it solves the main problem.

[2020-01-11 05:32] stewwan commented on #159
hey guys it works but there's a bug with getState. you can reproduce it by building `--prod`

[code]

[2020-01-11 05:36] stewwan commented on #159
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/719763/72199456-163bca80-341b-11ea-87a3-46cfd7ab142d.gif)

[2020-01-11 05:42] stewwan commented on #159
my workaround

[code]

[2020-01-11 09:21] SanderElias commented on #130
did this as a drive-by in pr #178
When that is merged, this can be closed

[2020-01-11 09:48] d-koppenhagen commented on #104
https://github.com/scullyio/scully/issues/23 should face this issue. I created some more tests check the options will be dasherized / camelized / normalized

[2020-01-11 09:51] d-koppenhagen commented on #104
But I checked it again: special chars like "!" will still be kept. They should be filtered.

[2020-01-11 09:58] d-koppenhagen commented on #104
I think replacing all special chars except `_` should be used additionally for dasherized and camelized parts:

[code]

And replacing all special chars except `/` and `-` should be used additionally for the route parts parts:

[code]

[2020-01-11 18:06] xmlking commented on #121
yes I am using `0.0.8`.
how to reproduce.:
clone https://github.com/xmlking/yeti
[code]

clicking links in blog posts works fine. even the `site-map` , but from block post, if you click `YETI` home link on the left, then you will see this error.

[2020-01-11 18:15] xmlking commented on #121
I also notices other problem, maybe related....
in the same repo run only angular `ng serve`
[code]
then click blog post and then click , home. you will see `scullyio-ng-lib.js:402 problem during loading static scully content ` error

I dont have any `scullyio` in home(landing) page. why I do see this error when clicking `/home` linkk?

[2020-01-11 18:54] samvloeberghs opened #180 "Not able to generate routes that have multiple parameters in the router path definition"
# 🐞 Bug report

### Description

My and other news/blog implementations depend on the `id` in the parameter as unique identifier, but for obvious SEO reasons the slug is added after id. For example:

http://localhost:4200/news/1/newsitem-with-a-title

Basically the slug can be anything, it's the id that is used to fetch the data in the database. But the risk of the slug being potentially anything

[2020-01-11 19:04] samvloeberghs commented on #180
Is there a way to define multiple properties based on the result of the fetch of the json plugin?
I assume that

[code]
iterates over the array returned of news and uses the `id` of each object. Is there a way to also use the `slug` of each object in the array?

[2020-01-11 19:09] samvloeberghs commented on #180
So I changed how my data was build up. The newsdetail data was an object like this:

[code]

I've changed it to an array of only one object, like this, and now it works.

[code]
But this should not be a hard requirement, right?

[2020-01-11 20:13] samvloeberghs commented on #180
I think this is somewhat explaining the issue and what is expected of the JSON object returned in the data, hope it helps somehow:
https://github.com/samvloeberghs/scully/commit/71d7ee3ebceaffe9dd6832a38a47470bd0a5b803

[2020-01-12 06:05] SanderElias commented on #180
@samvloeberghs. The JSON plugin expects an array indeed. As we know that this isn't alway's the case there is also a `resultsHandler` you can use. Wich is basically a function that can do whatever
[code]

Our plugin is designed for separate queries for each parameter, so you have to do 2 requests.
We know this is not alway's the optimal situation. I think for your use-case a custom routerPlugin wo

[2020-01-12 06:34] SanderElias commented on #121
@xmlking That would be the same bug/reason. It looks like it regressed back somehow. going to check.

[2020-01-12 08:16] samvloeberghs commented on #180
@SanderElias thanks a lot! Checking it out asap

[2020-01-12 13:26] chiqui3d opened #181 "--disable-extensions for Windows"
https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-windows

[2020-01-12 17:14] SanderElias commented on #121
I looked into it. It isn't exactly the same bug, but closely related. Looking for a fix. Might take a day or 2.

[2020-01-12 18:49] samvloeberghs commented on #180
Works: https://github.com/samvloeberghs/ng-v9-localized-scullyio/blob/master/plugins/newsPlugin.js

[2020-01-12 18:49] #180 closed

[2020-01-13 09:03] SanderElias commented on #56
I looked into this.
What happens is a race condition if the CLI outputs to the `dist` root folder.
As Scully by default uses a subfolder of dist, most operating systems get confused.
There are 2 solutions.
  1. make sure the CLI uses a subfolder in dist. (As discussed above)
  2. move the Scully generated files outside of the `dist`
I have a serious issue with option 2, as I don't want distributio

[2020-01-13 09:03] #56 closed

[2020-01-13 13:28] SanderElias commented on #159
I fixed this issue in my in pr #182
Will be available after it gets merged in.
I'm closing this issue now. If there are reamining issues with this, please open a new issue

[2020-01-13 13:28] #159 closed

[2020-01-14 05:58] SanderElias commented on #121
I addressed this issue. I don't recall the exact PR, but it will be fixed when we drop the new version.
You can expect this to be later today. closing this now.
When you find any new regressions, please open a new issue, and refer this one.

[2020-01-14 05:58] #121 closed

[2020-01-15 00:13] Splaktar commented on #56
@Villanuevand Perhaps we should leave this open until the docs for it can be updated? I don't see this documented anywhere just yet.

[2020-01-15 17:25] d-koppenhagen commented on #104
I think there are two possibly ways to handle this:
a) filter all non numeric or ASCII characters and remove them except in a generated markdown file
b) throw an exception (The the way how it's handled by e.g. `ng g c foo!`)

@jorgeucano what do you think?

[2020-01-15 18:00] #181 closed

[2020-01-15 18:22] #130 closed

[2020-01-16 02:56] stewwan commented on #40
don't know why but started facing the same `Could not connect to server`. It was all working just fine, I'm not even using nx. already tried a fresh install but no luck.

[code]

[2020-01-16 14:14] #87 closed

[2020-01-16 14:58] oleosjo commented on #40
I was still having exactly the same problems. In my case, through lots of trial and error, I found that the issue was that the guess parser was complaining about multiple root routing modules.

`Multiple root routing modules found`

I'm not sure why it doesn't like my routes, I only have one root routing module with 'forRoot'. I was able to get it running by commenting out the error check in the r

[2020-01-16 17:32] mgechev commented on #40
@oleosjo there's [another fix](https://github.com/guess-js/guess/pull/300) that I didn't release yet. Just pushed it in version 0.4.13.

[2020-01-18 01:21] lacolaco opened #192 ".bin/scully is published as CRLF"
# 🐞 Bug report

### Description

after package installed, `node_modules/.bin/scully` is written with CRLF. It occurs error like below

[code]

Similar issue: https://github.com/mrmlnc/svg2sprite-cli/issues/4

## 🔬 Minimal Reproduction

## 💻Your Environment
**Angular Version:**
<pre><code>
Angular CLI: 9.0.0-rc.3
Node: 10.16.0
OS: darwin x64
Angular: 9.0.0-rc.3
... animations, cli, common, compiler

[2020-01-18 02:01] lacolaco opened #193 "ScullyRoutesService#getCurrent is wrong when using child routes"
# 🐞 Bug report

### Description

When `/articles` and `/articles/:id` existing, always `ScullyRoutesService#getCurrent` returns `{ route: '/articles' }` at a page for `/articles/:id`.

https://github.com/scullyio/scully/blob/master/projects/scullyio/ng-lib/src/lib/route-service/scully-routes.service.ts#L42-L52

This logic uses `curLocation.includes(r.route)`. Because of that, `/articles` matches b

[2020-01-18 10:00] SanderElias commented on #193
@lacolaco Thanks for reporting. You just saved me from creating the issue myself. Will be fixed in the next drop of `@scullyio/ng-lib`

[2020-01-18 17:44] nishimura-yuji opened #194 "puppeteerLaunchOptions is not working"
# 🐞 Bug report

puppeteerLaunchOptions is setting from configuration file does not work.

I want to set```--no-sandbox```.

So, Added settings to ```scully.config.js```

But, Not working.

I think that ```scullyConfig.puppeteerLaunchOptions``` is undefinded.

https://github.com/scullyio/scully/blob/f81c560ad568898027ca1efb9025269a78c67895/scully/renderPlugins/launchedBrowser.ts#L18

### Descriptio

[2020-01-19 21:28] xmlking commented on #40
any update on `nx workspace` support?
I saw some issues closed with   `nx`
But it still don't work for me.  to reproduce:
Apply following change here: https://github.com/xmlking/yeti/blob/develop/apps/webapp/src/app/app.module.ts#L23
[code]

[code]

[2020-01-20 00:16] mgechev commented on #40
@xmlking in `home.module.ts` you can switch your `blog` route to:

[code]

from:

[code]

And everything should work as expected.

[2020-01-20 00:58] xmlking commented on #40
@mgechev  not related to this issue but, I noticed the following error while using typescript `3.7.5` when I run `ng build --prod`
 `ng build` works fine.

[code]

[2020-01-20 01:22] xmlking commented on #40
@mgechev I changed as you suggested , still getting error.
I am also locking     "guess-parser": "^0.4.13" in my `package.json`
[code]
_latest changes are on Github,  when you get a chance for testing_
### ng build

[code]

### npx scully

[code]

[2020-01-20 01:31] xmlking commented on #40
`npx scully` only works when I change all routes form
`loadChildren: () => import('@yeti/blog').then(module => module.BlogModule)`
format to
 `loadChildren: () => import('../../../blog/src/lib/blog.module').then(module => module.BlogModule)`

[code]

[2020-01-20 13:49] jorgeucano commented on #104
fixed in the new version :)

[2020-01-20 13:49] #104 closed

[2020-01-20 14:22] d-koppenhagen commented on #104
@jorgeucano shouldn't `toAscii` also be applied to the `route` option?

[2020-01-20 14:23] SanderElias commented on #194
@nishimura-yuji I just pushed out new versions, can you update your packages and test again.
Please let us know, and if it works, can you close the issue?

[2020-01-20 14:43] jorgeucano commented on #192
Hey @lacolaco I'm tested in windows & mac and @SanderElias tested in linux and work in all OS...
Can you give me more information for reproduce this issue?

[2020-01-20 19:35] msprogramando opened #200 "How to implement a custom router plugin?"
# 🗄️ Docs report

### Description

First of all, thanks for scully! I am almost done with my setup. All routes that are related to routing modules are recognized by scully but when it comes to dynamic route rendering (/brand/:slug) it is not clear how to implement it for me.

Normally there is the option to add it directly to the scully.config.js but the result I get is an object that has another

[2020-01-21 04:23] SanderElias commented on #200
@msprogramando You don't have `../dist/scully` that is something we have to do in our monorepo to test things. replace it with `@scullyio/scully` and it should work for you.
IIRC we just updated the docs to reflect this.

[2020-01-21 04:31] SanderElias commented on #200
BTW, I think you can still use our JSON plugin. it has the possibility to add add a function so you can extract the data as you need it.
[code]
should probably do the trick.

[2020-01-21 04:34] msprogramando commented on #200
@SanderElias thanks for your response, I really appreciate!

[code]

While running scully now he is still complaining about
[code]
Perhaps you can add an example for this to the documentation as well.

Thanks for your second reply and the hint to solve it via resultsHandler. I will try it.

[2020-01-21 05:55] d-koppenhagen opened #202 "`@scullyio/init:markdown` generates wrong slug from option value"
# 🐞 Bug report

### Description

Running `@scullyio/init:markdown` with the `slug` option will cut characters (e.g. for `slugId` the letter `I` is missing). See error section.

## 🔬 Minimal Reproduction

see error section.

## 💻Your Environment
**Angular Version:**
<pre><code>

Angular CLI: 9.0.0-rc.9
Node: 10.14.0
OS: darwin x64

Angular: 9.0.0-rc.9
... animations, cli, common, compiler, compiler

[2020-01-21 06:01] d-koppenhagen commented on #202
It could be a side effect of this: https://github.com/scullyio/scully/pull/190/commits/65b7d0d79a4768aac8e4ed68d6fd48c678e1e5ac

[2020-01-21 12:13] #192 closed

[2020-01-21 13:48] #202 closed

[2020-01-21 13:49] jorgeucano commented on #194
I will close this issue... @nishimura-yuji if you have another error please create a new ticket or re-open this! thanks

[2020-01-21 15:34] Villanuevand commented on #200
@msprogramando,

Thanks for your feedback, at this moment we are updating the docs with this information #208 .

### You error:
[code]

It's due from the last released version the `registerPlugin` method has a fourth parameter, the
validation function.

[code]

If you have other questions just let us know.

[2020-01-21 17:53] d-koppenhagen commented on #104
send a PR: https://github.com/scullyio/scully/pull/210

[2020-01-21 19:13] #200 closed

[2020-01-21 19:37] #127 closed

[2020-01-21 19:40] Villanuevand commented on #127
@d-koppenhagen We just add more information about `registerPlugin` in [plugins.md](https://github.com/scullyio/scully/blob/master/docs/plugins.md#register-plugin)

[2020-01-21 20:51] d-koppenhagen opened #213 "`ng g @scullyio/init:post`: Let users specify file extension"
# 🧩 Feature request

### Description

As Scully supports AsciiDoc and markdown files out of the box, a user should be able to generate a `.adoc` file as well.

### Describe the solution you'd like

I think it would be good to prompt the user for the target file type (`.md` set by default) or set it via an option directly:

[code]

This should do the following:
- create the target file with the cor

[2020-01-22 04:00] SanderElias commented on #213
@d-koppenhagen I like the idea. However, people are free to add their own file-handlers.
As they will do this during runtime, we don't have a list of what parsers will be used.

[2020-01-22 04:36] msprogramando opened #214 "Random Rendering Behaviour"
Hi, there is a strange behaviour in my app and I don't know what I am doing wrong. I would say 20% of the rendering succeeds but most of the time the markup is missing in the html file.

There are two scenarios at the moment.
1. Fetching data directly from node server
2. Fetching data via plugin to discover routes

**Scenario 1**
Inside ngOnit the component queries data from my nodejs server.
[cod

[2020-01-22 05:23] d-koppenhagen commented on #213
Ah, I see. So the extension should be a Sting and set to `md` by default I think.

[2020-01-22 05:35] d-koppenhagen opened #215 "better logging for file plugins"
# 🧩 Feature request

### Description

For debug / investigation purpose it would be good to have some more logs related to the file plugins when running `scully serve`.

### Describe the solution you'd like

I think it would be good to list the matches for the file plugin

[code]

[2020-01-22 05:36] d-koppenhagen commented on #213
Files with extensions that aren't processed by any file plugin could then may be identified by a better logging. I created a separate issue for that:
https://github.com/scullyio/scully/issues/215

[2020-01-22 05:50] SanderElias commented on #213
@d-koppenhagen I'm not sure that is a good idea, Users might store related files in the same folder.
For example, if you have images for your blog, you might put them alongside the content files.
(yes deploying those is another issue!)

[2020-01-22 05:52] SanderElias commented on #213
I see another problem. If we are going to generate some other formats too, we need to _know_ what to put n there. For example, the `.adoc` format is very different from the `.md`. It makes no sense to put in sample markdown content in such a file.

[2020-01-22 06:03] d-koppenhagen commented on #213
Okay, but putting those images into the folder (e.g. an image) and link in the markdown won't work as they aren't served from this directories are they?

[2020-01-22 11:26] #40 closed

[2020-01-22 12:05] SanderElias commented on #214
We looked into this, and there is a strong indicator that the Appollo client is working outside of zoneJs.
As that is the way we detect page-ready, this is the problem.
You can test this, by removing the `IdleMonitorService` from your app.component. This will slow things down because now every page is waiting for a 25 seconds timeout.
When this solves the problem it is a zoneJs issue.
Pease let us

[2020-01-22 12:22] SanderElias commented on #213
No, but that is a deployment issue, not a Scully issue.
Assets management is still something on our radar but is a hard problem to solve.

[2020-01-22 14:19] SanderElias opened #217 "Handle app errors during scully rendering"
When the app throws a fatal error while rendering, this is not detected, and Scully will render, after the timeout expires, an empty page or will tell you that `<scully-content>` is missing.
We should detect those errors, and report them to the user.

The challenge here is, that a lot of pages are throwing errors that are not fatal to the page, and I don't know how to separate those out.

[2020-01-22 16:52] aaronfrost opened #219 "Better error when registering plugin of the wrong type."
If I called register plugin with a wrong type, we should give a better error.

`The plugin type 'foo' is not a valid plugin type. Please call 'registerPlugin' with one of the following values: 'fileHandler', 'router', 'render'`

[2020-01-22 17:41] jasper-jool opened #220 "[FEATURE REQUEST] npm script to genrate routes"
I'd like an command which I can use to generate the scully routes file in my src/assets folder.

Something like `npm run scully:routes` or `npm run pre-scully`

[2020-01-22 19:35] mgechev commented on #40
@xmlking I wasn't able to reproduce the route parsing error when using path mapping. For me things keep working with `@yeti/blog`, etc. as well.

Folks who hit the parsing error can directly report to https://github.com/guess-js/guess with a repro.

[2020-01-22 23:50] danmt opened #223 "Error compiling and serving scully app"
# Error compiling and serving scully app

I created this issue because I'm having problems creating my first scully app. After following the steps in the Getting Started tutorial I'm getting unexpected responses in the console. Everything goes well until I get to the serve/build step.

I created this [minimal reproduction of the issue](https://github.com/danmt/scully-building-issue).

If I execute

[2020-01-23 03:01] msprogramando commented on #214
@SanderElias thanks for your comment. When I remove the IdleMonitorService from my app component scully renders all routes perfectly. Your Assumption was correct.

[2020-01-23 10:10] jasper-jool opened #226 "[BUG] npm run scully, <scully-content> not found when inside ngIf"
Running the scully command gives an error (missing "<scully-content>" or "httpClientModule") when the scully-content tag is inside an element with an `*ngIf`.

For example:

[code]

[code]
I can imagine people hiding the scully content at first and showing it after some user interaction.

[2020-01-23 12:57] SanderElias commented on #226
@jasper-jool This is not possible with a static page. If you want to hide the Scully-content you need to do it with CSS, or some class. Being a static site means the page is active _before_ JS starts up.
The `<scully-content>` tag needs to be on the page when it is rendered.

@Villanuevand Perhaps we should mention this is the documentation?
I'm going to close this issue because there is nothing w

[2020-01-23 12:57] #226 closed

[2020-01-23 13:14] SanderElias commented on #223
@danmt I solved the issue with the extra routes.
It looks to me you had a stale _old_ version running.
[code]
The message `Background servers already running.` tells me you already had a version running.
If you see a message like that, you should run `npx scully killServer` so you are sure you are on the new version.
We will take some precations so we will make sure your server ends on installing

[2020-01-23 13:15] #219 closed

[2020-01-23 13:15] #223 closed

[2020-01-23 13:55] danmt commented on #223
You guys are so awesome! Once I get off the clock I'm gonna give it a try. Thanks a lot @SanderElias

[2020-01-23 15:22] jasper-jool opened #228 "[FEATURE REQUEST] Add additional class to error messages in scully-content"
I'd like to have an option to add an additional class to the scully-content error messages. This can be used for css styling and e2e targeting.

[2020-01-24 04:48] SanderElias commented on #214
I was a bit afraid of this. I'm going to discuss this in our team, and see if we can provide (if this is even possible at all) a helper tool, so you can manually tell that you are ready.
This means you need to adapt some things in your application.

Also, I will investigate an alternative, to see if we can talk to Appollo to find out if it's idle. When that is possible we might be able to look int

[2020-01-24 06:01] xmlking commented on #40
Sorry to bring this issue back, my be this issue is related to my env
I am getting   following error after upgrading to the latest version:

`ng build`

`yarn run scully`

[code]

[code]

[2020-01-24 09:15] SanderElias commented on #40
@xmlking You have an issue with the Guess parser.
Please make a minimal reproduction, and use that to file an issue as @mgechev said above.

[2020-01-24 11:58] #228 closed

[2020-01-24 13:44] msprogramando commented on #214
@SanderElias thanks for your comment. The workaround is ok for the moment. My app ist still very small and I can try things out. If you need any further information / support just let me know.

[2020-01-24 18:20] mgechev commented on #40
@xmlking also make sure you're using the latest release of Guess.js. I released yesterday.

[2020-01-26 08:40] d-koppenhagen opened #237 "Docs: Describe the intention of `IdleMonitorService`"

[2020-01-26 14:42] SanderElias commented on #237
@Villanuevand can you find a place for this?

[2020-01-26 14:48] SanderElias opened #239 "Make TransferStateService undependable off idleService"
The transferState doesn't work after a timeout, only when the idleservice is used.
The code that injects the needed globals is triggered only on idleService and not on timeout

[2020-01-28 01:55] peterbsmith2 opened #243 "front-matter options"
Everyone loves options. Not only TOML. JSON. YAML.

[2020-01-28 06:12] thuchede opened #247 "Use Title and Meta services"
# 🧩 Feature request
##  Description
Since SSG are often/sometimes used for SEO purposes, I'd expect the `create-markdown`/`blog` schematics to make use of title and description fields in frontmatter out of the box.

## Describe the solution you'd like
I'd like to make some changes to the default `ScullyContentComponent` class to include angular [`Title`](https://angular.io/api/platform-browser/Tit

[2020-01-28 06:38] SanderElias commented on #247
@thuchede As every developer has a strong opinion on how to handle meta-data, we are only providing this data through the `ScullyRouteService.getCurrentRoute` observable.
This will fire on navigation, so you can easily update your page from within the controller of your content route (a sample is the blog route)

I'm currently looking into a way to do a app-scan that will _not_ build the HTML file

[2020-01-28 14:30] #239 closed

[2020-01-29 12:27] peterbsmith2 opened #249 "Contentful Plugin"
## 🧩 Feature request

### Description

[Feature Parity with Gatsby Source Contentful](https://www.npmjs.com/package/gatsby-source-contentful)

### Describe the solution you'd like

[Feature Parity with Gatsby Source Contentful](https://www.npmjs.com/package/gatsby-source-contentful)

#### Including
- [ ] accept `spaceId` and `accessToken` from contentful for auth
- [ ] optionally use [contentful p

[2020-01-30 10:46] hmuschett opened #251 "Problem with npx scully killServer"
## 🐞 Bug report
I am following this tutorial https://medium.com/angular-in-depth/scully-the-static-site-generator-for-angular-d0608cb028ae
### Description
the error is when I trying to runng g @scullyio/init:blog
#### 🔬 Minimal Reproduction

#### 💻Your Environment
<pre><code>
win 8.1
Angular CLI: 8.3.23
Node: 12.14.0
OS: win32 x64
Angular: 8.2.14
</code></pre>

**Scully Version:**

<pre><code>
lat

[2020-01-30 12:57] Villanuevand commented on #237
@d-koppenhagen  At this moment into the docs we have [scully-lib-core.mmd](https://github.com/scullyio/scully/blob/master/docs/scully-lib-core.md) file.

In there you can find explanation about:
- IdleMonitor
- Router Service
- Scully Content
- Transfer State
- Utils methods

Im going to close this issue, if you think some is missing please open other Issue.

[2020-01-30 12:57] #237 closed

[2020-01-30 14:12] SanderElias commented on #251
@hmuschett We can not reproduce your issue, can you provide some more information?
I suspect everything went well. The post-install step is just there to make sure there is no old version running anymore.
If this is not the case, can you provide us the complete detailed logfile from npm?

[2020-01-31 14:05] Villanuevand opened #260 "Docs: add watchmode flag to the docs."
## 🗄️ Docs report

### Description

We need to add the new [watch mode](https://github.com/scullyio/scully/pull/259/files#diff-cdab4a7bb350a8e40cf3154cf2b1c25dR29-R34) flag to the docs.

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environm

[2020-01-31 16:06] SanderElias commented on #251
We reproduced it and fixed the issue with pr #261

[2020-01-31 16:06] #251 closed

[2020-01-31 16:06] #260 closed

[2020-01-31 16:08] SanderElias commented on #247
This is taken care of by pr #252, Scully will now first prepare all route information, and only then do the rendering of the pages, with up to date information

[2020-01-31 16:08] #247 closed

[2020-02-01 13:02] journeyman88 opened #263 "Home Route ignored with scully-0.0.63 & ng-lib-v8-0.0.16"
## 🐞 Bug report
The home '' route gets ignored with scully-0.0.63 & ng-lib-v8-0.0.16 , worked fine in scully-0.0.62 & ng-lib-v8-0.0.15

### Description
After the upgrade of the npm packages, the npx scully operation compiled all but the '' route, while the other routes were statically built without problems

#### 🔬 Minimal Reproduction
ng n test-home;
cd test-home
ng g c home
ng add @scullyio/init

[2020-02-02 00:30] xmlking opened #265 "Multiple root routing modules found"
## 🐞 Bug report

### Description
latest `scullyio` cause following error

Reproduce : https://github.com/xmlking/yeti

`yarn run scully --project webapp --showGuessError`

[code]

[2020-02-02 06:02] SanderElias commented on #265
@xmlking Your `projectRoot` is pointing to a non-existing path. As `projectRoot` is optional now, you should remove it.
However, that does not solve your issue. I have taken a look at it, and it seems to be an issue with the guess-parser we use. To solve this I need a minimal reproduction of the issue. By that I mean a small demo project, just using angular, NX and Scully. I tried to build that, b

[2020-02-02 08:12] xmlking commented on #265
hi @SanderElias please check issue  https://github.com/guess-js/guess/issues/315
you can use my repo for testing. my readme page has steps i used to reproduce.
https://github.com/xmlking/yeti thanks for new features

[2020-02-02 08:24] xmlking commented on #265
b.t.w, workaround ~`projectRoot: './apps/webapp/tsconfig.app.json'` was working find until recent scully change.

[2020-02-02 09:01] SanderElias commented on #265
@xmlking Yes, that isn't needed anymore. But I don't know what currently goes haywire in your project, I really need the problem isolated. the `tsconfig.app.json` is now automatically used.

[2020-02-02 09:06] SanderElias commented on #265
A second thought, can you try a somewhat older version off the guess-parser?

[2020-02-02 09:09] xmlking commented on #265
will try tomorrow

[2020-02-02 20:16] xmlking commented on #265
Interestingly after I locked guess-parser version to  `0.4.14` package.json,  guess part works but got Puppeteer errors.

package.json
[code]
[code]

[2020-02-02 20:30] xmlking commented on #265
should I still add `IdleMonitorService` ? Still see in  [ng-add](https://github.com/scullyio/scully/blob/master/schematics/scully/src/ng-add/index_spec.ts#L61)

[2020-02-02 21:11] xmlking commented on #265
couple of findings
1.  "guess-parser": "0.4.15" will break nx compatibility again. it works when lock to version `0.4.14`
2. my `Puppeteer error` are caused due to failed `scully` command and dangling server running on port `1864` in the background.

After killing (`lsof -nP +c 15 | grep LISTEN`) the background server, I was able to build with `scully`  build successfully.
why we have to run `scul

[2020-02-03 00:44] BlindDespair commented on #194
This is still an issue, I am experiencing the same. `function obsBrowser(options = config_1.scullyConfig.puppeteerLaunchOptions || {})` has `scullyConfig` as an empty object... I checked config.js and there is such a thing as `compiledConfig` and that one contains everything I need. But it's inside an async function and I am not sure when it's called by launchedBrowser clearly tries to access conf

[2020-02-03 02:33] SanderElias commented on #265
We have `npx scully killServer` to kill the 'zombie' server. (actually, the server just keeps on working, and makes next iterations of Scully faster)
But I will talk with @jorgeucano later on, and we will make sure we kill the server properly when Scully ends

[2020-02-03 02:58] SanderElias commented on #263
This is addressed by #266

[2020-02-03 03:05] SanderElias commented on #265
@xmlking To be able to work on the guess issue, I still need the problem in an isolated reproduction

[2020-02-03 07:56] xmlking commented on #265
any nx created monorepo with couple of lazy loaded modules can reproduce the above error.
 my test nx project can be used  https://github.com/xmlking/yeti

[2020-02-03 14:30] #263 closed

[2020-02-03 14:33] SanderElias commented on #220
I addressed this issue in #252
The route info gets injected into the app **before** the rendering phase now, so this is no longer needed

[2020-02-03 14:33] #220 closed

[2020-02-03 15:08] jorgeucano opened #269 "Got error: connect ECONNREFUSED 127.0.0.1:1864"
## 🐞 Bug report

### Description

when use tsc -p ./scully/tsconfig.scully.json && node scully\bin\scully.js the httpGetJson generate a console log with this message Got error: connect ECONNREFUSED 127.0.0.1:1864 we need remove in this case because is not important here

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre

[2020-02-03 15:09] jorgeucano opened #270 "Extend blog plugin to support multi-level folders"
## 🧩 Feature request

### Description

Currently, the blog only supports a flat folder for its content.
But if there is a very active blog, the user might want to
go for a structure like /blog/year/month/filename or even /blog/subject/year/month/day/filename
We need to extend the current plugin to support that.

 A clear and concise description of the problem or missing capability...

### Describe

[2020-02-03 17:11] jorgeucano commented on #269
![image](https://user-images.githubusercontent.com/5982204/73674322-02d4f580-468f-11ea-86eb-84a013bddf4c.png)

[2020-02-04 19:24] jorgeucano commented on #1
Hey thanks to all: D We love all this proposals ... now we have the official logo
![scullyio-icon](https://user-images.githubusercontent.com/5982204/73778945-bf4fb980-476a-11ea-8fa4-24599589d88e.png)

[2020-02-04 19:24] #1 closed

[2020-02-04 21:36] BlindDespair opened #275 "Root route is not supported anymore"
## 🐞 Bug report

### Description
I have routes list that looks like this:
[code]
After upgrading to @scullyio/scully to 0.0.63 or 0.0.64 this page won't prerender anymore. I looked around source code and this specific line looked suspicious:
[code]
Basically my route is getting filtered out by this because `''` is falsy. What was the intention of doing this check? Was it supposed to check for null

[2020-02-04 22:38] LayZeeDK commented on #1
What's the story behind that logo, @jorgeucano?

[2020-02-05 02:46] aaronfrost commented on #275
@SanderElias did you see this bug? We should consider taking care of it. It looks to be a legit oversite. We should also add a test for it. I bet that it will appear again and again and again. We need to add a default route to our sampleBlog. We need to get rid of the redirect on the `/` route. It should render something so that we can test what most apps will have. Most apps have that default rou

[2020-02-05 06:08] SanderElias commented on #275
This is already solved, but I didn't pr it yet. It is on my agenda for today.

[2020-02-05 08:18] BlindDespair commented on #194
I tried it with latest version of scully and can confirm that it works now, also managed to build it in docker.

[2020-02-05 14:27] #275 closed

[2020-02-05 20:36] d-koppenhagen opened #279 "Wrong path to tsconfig: `could not find "src/tsconfig.app.json"`"
## 🐞 Bug report

### Description

Scully will warn that it cannot find the file `src/tsconfig.app.json`.
This file is located in the root by default (after a fresh Angular CLI setup): `tsconfig.app.json`

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 9.0.0-rc.14
Node: 10.14.0
OS: darwin x64

Angular: 9.0.0-rc.14
... animations, cli, com

[2020-02-06 14:53] SanderElias commented on #279
Should be closed by #282

[2020-02-06 14:53] #279 closed

[2020-02-07 09:55] tieppt opened #286 "Allow blog content to use Angular components"
## 🧩 Feature request
Suppose we have Carousel component and in some blog post we want to render multiple images as a carousel.
### Description

We need some kind of custom [shortcode] to render Angular component in side blog content.

### Describe the solution you'd like

Gatsby use MDX format and parsing the content to wrap custom component.

### Describe alternatives you've considered

[2020-02-07 10:40] SanderElias commented on #286
There are multiple solutions for this. I would use a custom-element for the carousel, and then you can just inject the thing directly into your markdown. The custom element can be an Angular Element, or something framework agnostic.

Another solution is to create a plugin that takes care of updating your shortcode to HTML during rendering.
Yet another possibility is, monitor the content in your bl

[2020-02-07 10:55] tieppt commented on #286
For now, I think Web Component is best solution. But if we're using Angular Elements, the script bundle will slow down the performance.
Btw, I'll experiment fews more solutions.

[2020-02-07 12:44] #194 closed

[2020-02-07 13:04] jorgeucano commented on #269
I cant not reproduce!

[2020-02-07 13:05] jorgeucano commented on #269
If any have this problem, and can reproduced please write here, we are really happy to fix that :D

[2020-02-07 16:02] SanderElias commented on #286
I agree on the angular elements, but now version 9 is out, I expect the story there to improve rapidly. (at least that's one of my hopes!)
I will close this for now, because we have nothing actionable in here now.
If you or someone else feels we need to readdress this, let us know and we will reopen the issue.

[2020-02-07 16:02] #286 closed

[2020-02-07 18:35] msacket commented on #269
I'm not sure if it's related; however, I was getting the `ECONNREFUSED` error across the board until I noticed a `ScullyServer` process from a previous `npm run scully` was still active.  After I quit that process, it started working again.

[2020-02-10 07:57] SanderElias commented on #265
@xmlking I just created a fresh Nx monorepo, and added Scully. Worked without a problem. When you want us to investigate this more in-depth, we need a bare minimum reproduction repository. With _only_ Nx, Scully, and Angular.

[2020-02-10 08:00] SanderElias commented on #269
@jorgeucano having 2 instances running might be related.

[2020-02-10 11:54] Ant59 commented on #270
This would be super-useful for documentation site too. I would like to be able to just copy all of my directory-structured Markdown to Scully, register a single route to point to it, and have Scully generate HTML for all the Markdown files at the correct paths.

[2020-02-10 13:23] jorgeucano commented on #270
yes, thats the idea :)
I finished the pr :) https://github.com/scullyio/scully/pull/290

[2020-02-10 13:24] jorgeucano commented on #269
I will check now, thanks @msacket !

[2020-02-10 14:13] msacket commented on #269
@jorgeucano no problem.  Just as a quick follow up, I'm not sure how the `ScullyServer` from the previous execution stayed running.  When I began having the problem I restarted VSCode and the issue remained... until I noticed and quit the dangling one.

[2020-02-10 14:46] #270 closed

[2020-02-10 16:53] msacket opened #291 "Render pages over https"
## 🐞 Bug report

### Description

After completing the below reproduction, etc... it occurred to me that this is probably more of a feature request, as this isn't directly a problem with Scully.

The issue is that when using `AngularFireAnalytics`,  the `googletagmanager` script gets injected with an `http` url upon render.  I suppose it's using some sort of protocol relative URL (though I could n

[2020-02-10 18:36] SanderElias commented on #291
A quick solution would be a plugin that scans your results, and replaces `http` with `https`,
However, we are already looking into supporting https during development, which will solve your issue too.

[2020-02-10 18:51] msacket commented on #291
Good idea @SanderElias.  I'm working on a plugin now that will allow you to do a regex replace on the html contents.  I'll publish it when it's finished.

[2020-02-11 03:03] msacket commented on #291
The plugin is ready to go and available for install here:
https://github.com/gammastream/scully-plugins/tree/master/projects/scully-regex

[2020-02-11 12:06] jorgeucano commented on #291
hey @msacket Can I close this?

[2020-02-11 14:36] #291 closed

[2020-02-11 16:43] msacket commented on #269
I figured out that if you throw an uncaught error in a plugin... the `ScullyServer` will continue running even  though the `npm run scully` exits.  At that point, the `ERR_CONNECTION_REFUSED` occurs until `ScullyServer` is manually quit.

[2020-02-14 02:03] xmlking commented on #265
@SanderElias  doner if you tried any lazy-loaded child modules or just defaulted app?

[2020-02-14 09:45] SanderElias commented on #265
@xmlking I had a lazy route in there, As everything was working I deleted the thing.
Not sure I had a lazy lib. As I'm not using NX myself, I'm probably the wrong person to create a repro anyway.

[2020-02-17 01:06] BlindDespair opened #298 "Navigating to / tries to load index.html from non existing location"
## 🐞 Bug report

### Description
Navigating to a route `/` produces error because it tries to load `index.html` like `https://index.html` instead of using domain.

#### 🔬 Minimal Reproduction
I have a `/` route in my applcication where my landing is located. It loads great if it's the first page I am asking for, however when I try to navigate there from another page with a `routerLink` it fails to

[2020-02-17 01:13] BlindDespair opened #299 "Scully tries to load non-existing page instead of redirected one"
## 🐞 Bug report

### Description
When I try to handle non-existing routes, I redirect them to 404 page. When scully handles navigation and tries to get content for it, it will try to load `index.html` from non-existing page instead of using the one from 404. I believe the same issue would exist with any kind of redirection, e.g. using guards would also lead to undesired behavior.

#### 🔬 Minimal R

[2020-02-17 01:22] BlindDespair opened #300 "Reloading page on / route leads to flickering"
## 🐞 Bug report

### Description
I have a landing page on `/` route. It prerenders great, but when I refresh it flickers.
#### 🔬 Minimal Reproduction
Just create a route like this:
[code]
Put some content there that would use `TransferStateService` and open the page.

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 9.0.2
Node: 12.14.0
OS: linux x64

Angular: 9.0.1
... anima

[2020-02-17 03:15] BlindDespair opened #302 "Resetting state in TransferStateService is probably not the best idea"
I've been experimenting a little and to me the line:
[code]
Seems more like a source of flashing rather than improvement. Consider following structructe:
app.component (hosts `<route-outlet>`
  landing.component (hosts `<page-layout>`)
  about.component (hosts `<page-layout>`)

Then in page-layout.component there is a header, content projection and a footer. Each part gets content for itself from

[2020-02-17 11:18] SanderElias commented on #302
There will be no flash in the case you are describing.
The filter in the `state$` prevents the `undefined` from prolongation into existing components.
Only when the routing is complete, new information might come in, and all interested parties will get an update. As the new route might update all levels in the app, this is exactly as designed.

[2020-02-17 11:18] #302 closed

[2020-02-17 11:34] BlindDespair commented on #302
There is a flash, because component is initialized before TransferStateService gets the data, at least that's my impression so far, but I think you're right I should probably try to solve it from within my app somehow.

[2020-02-17 12:57] SanderElias commented on #291
@msacket We so support SSL now. So you can run fully in SSL mode.

[2020-02-17 15:40] msacket commented on #300
What about adding the `initialNavigation` flag to your router configuration.

[code]
That takes care of the flicker for me; however, using the `TransferStateService` may cause an additional flicker issue I'm not aware of.

[2020-02-17 15:42] msacket commented on #291
Thanks @SanderElias.  That's fantastic!

[2020-02-17 15:50] BlindDespair commented on #300
@msacket Thanks for an idea, but this issue was coming from TransferStateService for sure, please check my commit if you're interested.

[2020-02-17 17:08] BlindDespair commented on #302
After we talked in chat I decided to go with solution I mentioned in original description, that I will move common parts outside of `router-outlet` and prevent rerendering of those completely. To achieve flexibility nested empty path `router-outlet can be used`. Example config:
[code]
Then in `app.component` only `<router-outlet>` would sit while in `page-layout` `<router-outlet>` would be wrapped

[2020-02-17 18:58] msacket opened #304 "Cleanup / Shutdown Plugin"
## 🧩 Feature request

### Description

It would be nice if we could write a plugin (or hook an existing plugin) into the cleanup/shutdown phase of Scully.  I'm working on a plugin that generates a sitemap.xml that could benefit from a cleanup hook.  Currently, the plugin re-writes the sitemap.xml as each route is rendered; however, I'd like to output the compiled map after all the route rendering

[2020-02-17 19:45] msacket commented on #304
If you think this is a good idea, I do have the code written for the `onComplete` handler.  I can submit a pull request if you want.

[2020-02-19 07:44] aaronfrost opened #307 "Angular.json with comments fails scully build"
## 🐞 Bug report
When you run `npm run scully` and the `angular.json` file has a comment in it, the scully build errors.

[2020-02-19 07:56] aaronfrost opened #309 "`npm run scully serve` should have a flag to skip route-discovery and pre-render and just serve the existing content"

[2020-02-19 09:13] SanderElias commented on #304
@msacket I do like the idea, but I would prefer to talk this through before venturing in.

[2020-02-19 09:38] msteffl opened #311 "Content not updated on route change"
## 🐞 Bug report

I followed the Getting Started docs to setup scully within an angular project. After that I started to modify my project to create a kind of navigation bar with all the routes that are available in my markdown folder and on the same page the scully content.

[code]

[code]
[code]
[code]

Similar to this app https://agitated-swartz-d8a163.netlify.com/ .

Now I am facing the problem

[2020-02-19 11:40] jorgeucano commented on #298
@SanderElias @BlindDespair this is finish? We can close this?

[2020-02-19 14:09] SanderElias commented on #265
Closing for now, by lack of actionable things. Will reopen when a minimal reproduction is available

[2020-02-19 14:09] #265 closed

[2020-02-19 14:22] SanderElias commented on #311
@msteffl I can't reproduce your issue. I can see it on your sample tho.
Can you give me access to the sources of that, so I can take a look at what is hapening in your case?

[2020-02-19 16:07] mchl18 opened #316 "ScullyRoutesService observables filtering for wrong property"
## 🐞 Bug report

### Description

When trying to use ScullyRoutesService observables such as `available$` or `unPublished$` it seem that there are two different property names being used for telling wether a post is published or not.

e.g. `ScullyRoutesService`

[code]

Looking at the JSON of the produced `scully-routes.json` however I found that this property in fact is called `publish`. As a con

[2020-02-19 17:01] msteffl commented on #311
here you can find the source code of my example project

https://github.com/msteffl/Scully-Example

[2020-02-19 17:12] SanderElias commented on #316
@mchl18 I'm going to look deeper into this before I will merge your PR.
I see your issue. However, the current setup is working in our tests. I want to know why, before I'll merge your pr.

[2020-02-19 17:27] mchl18 commented on #316
I just set this Pr up in kind of a rush. I wanna dig deeper into this and maybe even write some tests for the angular service

[2020-02-19 23:37] BlindDespair opened #318 "Angular i18n support"
## 🧩 Feature request

### Description

Angular 9 allows building the app like `ng build --localize` to enable localization. In previous versions of anular a separate build for locale was needed but output was similar. Angular 9 allows to specify locales for i18n in angular.json in a following way:
[code]
Building angular with `--localize` then results in following dist structure: `./dist/{project-

[2020-02-19 23:53] BlindDespair commented on #318
Actually using `--baseFilter` CLI argument is not working. Scully is then unable to find any routes. So in the end my alternative solution is not working unfortunately. That makes sense because `--baseFilter` is supposed to be a route, it's not same as baseHref. But problem is that there doesn't seem to be an option to tell scully about baseHref currently.

[2020-02-20 11:00] SanderElias commented on #311
@msteffl I checked out your code, and I need a bit more time. There seems to be something in the way you did set up the routing.
If I put the links inside your blog contents, it works as expected.
you can try by putting `[page-2](/docs/page2)` `inside page1.md`
However, somehow the links inside your home-components are not seen. I'm still investigating

[2020-02-20 12:55] #307 closed

[2020-02-20 14:57] msteffl commented on #311
@SanderElias  yes putting links directly to blog contents work. But still wondering why it isn't working outside blog contents. Ok thanks.

[2020-02-21 12:31] #298 closed

[2020-02-21 12:31] #299 closed

[2020-02-21 12:32] #300 closed

[2020-02-21 13:02] SanderElias commented on #318
@BlindDespair Thanks for the issue. I will look into this.
Can you explain why you need a different base-ref for every language? That part is still unclear to me.
I do have a couple of ideas on how to "fix" his issue.

[2020-02-21 13:07] SanderElias commented on #316
Your PR is merged, so I'm going to close the issue.
Turned out, the schematics where out of sync, and that was not where I was looking.

[2020-02-21 13:07] #316 closed

[2020-02-21 17:20] BlindDespair commented on #318
Different base href is needed because the directories are generated per locale, which means you have a different angular application per locale. There are only 2 ways to tell webserver which angular app to use for which locale:
1. Using subdomain (then baseHref can be same)
2. Using subdirectory (then have to specify baseHref so that when server can decide which angular app to give back)

[2020-02-23 11:40] billiaug commented on #269
I've just run the getting started tutorial and this same error showed.
This might be the way to reproduce?
` ~/projects/my-scully-app
±  |master U:6 ?:5 🔥 | → npm run scully

 ☺   new Angular build imported
 ☺   Started servers in background
Finding all routes in application.
Pull in data to create additional routes.
Finding files in folder "/Users/glenn/Projects/my-scully-app/blog"
Route list cre

[2020-02-23 11:51] billiaug commented on #269
I've added this to a repo: https://github.com/billiaug/scully-gettingstarted
Just clone, $npm i, $ng build, $npm run scully => error.

Versions:
Angular: 9.0.2
Angular CLI: 9.0.3
NPM:6.13.6
Node:v12.10.0

[2020-02-23 12:55] geromegrignon commented on #269
I can't reproduce your problem using your repo and following the steps (npm install, ng build, npm run scully) :

Here is the successful output doing `npm run scully` on your project :

[code]

[2020-02-23 15:32] geromegrignon commented on #269
Also getting the error on a PR (#319) :

[code]

[2020-02-23 18:57] billiaug commented on #269
So I've found out that running `$npm scrully serve` only stays up for about 10 seconds.
During that time the serve command works fine and I see my app running.
But then it get's killed/shutdown by itself. I assume that's also the reason why the export is not working.

[2020-02-23 19:45] geromegrignon commented on #311
Facing the same problem with links declared at the root of the router-outlet.

Navigating works from and to another angular component :
- component => component
- component => md rendered file
- md rendered file => component

But it doesn't work from a md rendered file to another one.

example on Netlify : [link](https://quizzical-pare-9014ef.netlify.com/)
github repo : [link](https://github.com/g

[2020-02-24 14:02] barbados-clemens commented on #311
Just passing by, but I experienced something similar locally, when I would have the site up on a specific page with scully content, then rerun `scully && scully serve` all the scully content would be the same as the page that was currently pulled up in the browser.

Not sure if related or not. but I worked around this by making sure I was on a page that didn't contain `<scully-content></scully-con

[2020-02-24 15:48] jorgeucano commented on #309
@SanderElias is working on this

[2020-02-25 05:20] MagnusBrzenk opened #321 "Put routed pages in folders"
## 🧩 Feature request

### Description

Went through the intro example. Surprised to see that the output routed pages are not put into folder of same name. This means that if I serve my site from a file server like apache and enter the site from a routed page, then apache will look for a folder of that name, not find it, and fail. I can fix that with apache rewrite rules, but I was hoping scully wo

[2020-02-25 09:50] SanderElias commented on #321
@MagnusBrzenk If I understand you correctly you are saying that the output files are not matching the routes?
Here is an example output of tree in the static folder. Can you use that to explain your issue to me?
![image](https://user-images.githubusercontent.com/1249083/75235470-972d0680-57bc-11ea-934e-cc3f8342cbc9.png)

[2020-02-25 09:54] SanderElias commented on #311
@geromegrignon Thanks for the additional sample!
@barbados-clemens Thanks for the comment.
Both will help me to go to the bottom of this.

[2020-02-25 16:09] MagnusBrzenk commented on #321
Agh. Apologies. It is using folders. Not sure how I missed it! Thanks.

[2020-02-25 16:09] #321 closed

[2020-02-25 19:33] geromegrignon opened #322 "[Documentation] Missing Code of Conduct"
## 🧩 Feature request

### Description

The Code of Conduct is missing from the Contribution guidelines

### Describe the solution you'd like

I know the addition of the Code of Conduct is planned before the end of the alpha phase of the development as stated [here](https://github.com/scullyio/scully/blob/master/docs/CODE_OF_CONDUCT.md) but it might be useful to add a default one as the [Contributi

[2020-02-26 13:21] SanderElias commented on #322
@aaronfrost I would say yes, but I want your opinion hee too

[2020-02-27 13:58] #311 closed

[2020-02-27 15:04] matt-debug opened #330 "scully"

[2020-02-27 15:16] webbegg opened #331 "Add meta tag "generator" in the header of the generated html files"
## 🧩 Feature request

### Description

Add the meta tag ```<meta content="Scully {{scully_version}}" name="generator" /> ``` to the generated html files on building time. The meta tag is mainly used for statistics on the use of the frameworks.

[2020-02-27 15:30] jorgeucano opened #332 "add watchmode as default in scully"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-02-27 16:08] SanderElias commented on #331
@aaronfrost, @jorgeucano May I have your votes, please?

[2020-02-27 16:09] #330 closed

[2020-02-27 16:16] SanderElias commented on #269
I have updated the server in a couple of my last PR's and this problem should be solved by now.
I'm going to close it, but if any of you still have this issue after our next NPM release, please open a new issue. (or ping us to reopen this one)

[2020-02-27 16:16] #269 closed

[2020-02-28 07:50] SanderElias commented on #309
closed by #325

[2020-02-28 07:50] #309 closed

[2020-02-28 11:31] #332 closed

[2020-02-28 23:53] geromegrignon opened #336 "[Bug] scully.routes.json not updated correctly"
## 🐞 Bug report

### Description

Since the last version on npm, there is a regression on the generation of the scully.routes.json.
Once created, the file isn't updated anymore with `npm run scully` if new routes are added.
It's still correctly updated with new blog posts if the blog module was created before launching `npm run scully` for the first time.

#### 🔬 Minimal Reproduction

* create a n

[2020-02-29 06:45] aaronfrost opened #337 "Rename event `AngularReady` to `ScullyReady`"
## 🧩 Feature request

Rename the idleMonitorService from `AngularReady` to `ScullyReady`.

### Description

Rename `AngularReady` to `ScullyReady` from `IdleMonitorService` to something else. Once done, re-deploy

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alterna

[2020-02-29 06:46] aaronfrost commented on #337
May need to release 0.1.0 as this will break the API.

[2020-02-29 10:50] SanderElias commented on #336
@geromegrignon this is not a bug, but more of an undocumented feature.
From now on, Scully only scans the angular app once and saves the result.
When you add routes in the angular app, you need to rescan it, by adding the `--scanRoutes` or `--sr` option.
This is done because the route discover takes a relatively long time, especially in larger apps. Adding routes is not something that happens ofte

[2020-02-29 10:54] SanderElias commented on #337
@aaronfrost its not a breaking feature. However, the events signal that angular is ready, and Scully can begin scraping. O can rename iff you want, but the name would not cover the intention anymore.

[2020-02-29 10:59] geromegrignon commented on #336
Thanks for the feedback.

[2020-02-29 10:59] #336 closed

[2020-02-29 20:10] juristr opened #339 "ScullyServer keeps running even though I quit it with Cmd + C or "q""
## 🐞 Bug report

### Description

I run Scully with `yarn scully`. If I press "q" (or even Cmd + C) the shell exists

![image](https://user-images.githubusercontent.com/542458/75614287-74da1680-5b37-11ea-80e6-7899c9c5f471.png)

But the page is still being served at `http://localhost:1864/`. And in fact, ScullyServer seems to still run

![image](https://user-images.githubusercontent.com/542458/7561

[2020-03-01 17:49] aaronfrost opened #341 "Document steps to release v8 of ng-lib"
I would like to help release ng-lib-v8 for my clients. But I can't cause I don't know what we do.

[2020-03-02 03:45] aaronfrost commented on #339
Same issue here:
![image](https://user-images.githubusercontent.com/662832/75643873-8f76c300-5bfd-11ea-83ea-a405e2648e94.png)

[2020-03-02 05:33] aaronfrost opened #342 "Tests Broken Due To Publish Date inconsistencies"
## 🐞 Bug report

Test fails cause the `/blog/index.html` has the publish date's for the blogs. However, it uses the shortDate pipe.

### Description

Test fails cause the `/blog/index.html` has the publish date's for the blogs. However, it uses the shortDate pipe. What this means is that in certain timezones (mine) the shortDate pipe turns the publish date into `12/31/69` and other times (Sander's

[2020-03-02 08:09] #342 closed

[2020-03-02 13:15] #337 closed

[2020-03-02 15:37] aaronfrost opened #345 "Enable `manualIdleDetection` per route, instead of only global"
## 🧩 Feature request
We need a way that people can only do a per-route manualIdleDetection

### Description

It would be nice to be able to opt into manualIdleDetection for only some of my routes. The current global setting is cool, but if only one route needs it, I don't want to have to manually wire up all of my routes to report that they are fully ready.

So it would be nice to have a way to on

[2020-03-03 13:56] garygrossgarten opened #350 "Installation of scully-plugin-flash-prevention"
## 🐞 Bug report

### Description

Getting some errors trying out `scully-plugin-flash-prevention`. The module can't be found due to a wrong path to `public-api.js`. Also the registerPlugin import path in `flash-prevention.plugin.js` seems to be wrong. I fixed both of these issues in my local scully installation and the `scully` command is working again.

For the plugin to work, we also have to add

[2020-03-03 14:03] garygrossgarten commented on #350
See PR #351

[2020-03-03 17:09] SanderElias commented on #214
By the power of pr #344 this has an answer now.
If you have a problem like this, use the manual Idle option to deal with it.

[2020-03-03 17:09] #214 closed

[2020-03-03 17:16] SanderElias commented on #350
@garygrossgarten, the plugin Author (@aaronfrost ) is already working on this issue. It needs a little build pipeline to work both on NPM, and inside our repo.
Thanks for reporting

[2020-03-03 17:17] SanderElias commented on #345
Will be closed by pr #344

[2020-03-03 17:25] SanderElias opened #352 "exposeToPage option."
## 🧩 Feature request

### Description
When we are handling routes in our plugin, we might feel the need to inject some data into the page _before_ the angular apps start.

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like
Add an exposeToPage json-like object to the handledRoute that gets injected to the page, and will be available during

[2020-03-03 18:32] #345 closed

[2020-03-04 10:33] SanderElias commented on #339
This should be closed by pr #349.
Please let us know if the problem persists. (Give us a day to release the latest version to NPM)

[2020-03-04 10:33] #339 closed

[2020-03-04 10:46] #341 closed

[2020-03-05 09:53] SanderElias commented on #352
wil be closed by #355

[2020-03-05 09:53] #352 closed

[2020-03-05 15:47] SanderElias commented on #331
This is done in pr #355

[2020-03-05 15:47] #331 closed

[2020-03-06 14:44] gerhardboer opened #358 "[Documentation] Inform users to check Angular Routing when generating the application with the cli"
## 🗄️ Docs report

### Description
The Getting Started documentation states "IMPORTANT: Scully requires the router to be present in your application, don't forget to add it.", but this statement is given too late in the instructions steps.

When the user generates a new module for routing, this HAS to be named app-routing AND must be next to the app.module.
Default however, the command `ng g m app

[2020-03-06 22:10] spencerb02 opened #361 "Include the original index.html from the app build for route fallback"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...
We would like the original index.html from the `outputPath` of the cli build added the `outDir` of the Scully build. Then, if a route doesn't have a statically generated `/some/path/index.html` then I can route to this source index.html and they will get the old experience of just waitin

[2020-03-07 10:41] panakour opened #363 "Large sites and incremental builds"
Does scully support incremental builds? to resolve issues that exists in other SSG like gatsbyjs https://github.com/gatsbyjs/gatsby/issues/9083

[2020-03-07 20:04] MikeOne opened #365 "Move ScullyIO-transfer-state to footer (SEO)"
## 🧩 Feature request

Move ScullyIO-transfer-state to footer (SEO)

### Description

At the moment, the ScullyIO-transfer-state script block in the generated HTML lives in the header of the page. With large data blocks, this means the actual readable content on the page (content interesting for the Google spider for example) - starts way lower in the DOM. I think this is also the reason why Transf

[2020-03-07 20:38] MikeOne opened #366 "Add a .hasKey method on the transferStateService"
## 🧩 Feature request

Add a .hasKey method on the transferStateService

### Description

At the moment there is no (straight-forward) way to find out if the transferState has a certain key set. In order to determine in Services if an actual request to an API should be done, it would be beneficial to be able to check the transferState for the existence of the key.

### Describe the solution you'd l

[2020-03-07 22:25] MikeOne commented on #365
After doing some more research and finding this marvellous new feature that puts the transferstate also in data.json, I'd like to expand on this feature request and also request to add a flag that completely removes the ScullyIO-transfer-state from the DOM...

[2020-03-08 00:42] aaronfrost opened #367 "Remove TS from Plugin examples"
## 🗄️ Docs report

In the plugin docs, remove the TS stuff from the examples. It can confuse people. We tell them the have to write JS files, but then we have the examples with TS. I get that we are using TS to show people what the API looks like. But it makes people feel like they should be writing them in TS, which isn't the case.

[2020-03-09 12:09] SanderElias commented on #363
It does support partial builds right now.
Can you explain what you mean by incremental builds?

[2020-03-09 12:13] SanderElias commented on #365
I need the Scully variables to exist before the angular app gets loaded, so I can't really move it to just before the </html> But I will move it down quite a bit.

[2020-03-09 12:13] AhsanAyaz opened #368 "Unable to render any blog pages because of some error"
## 🐞 Bug report
With a fresh project, upon adding the blog support and creating a post, I'm unable to get it to work with the commands mentioned in the docs.
### Description
The problem seems to be only on my machine. **It doesn't work on my machine 🤷‍♂ ** is something you rarely hear. Lol.
Here's my repository:
https://github.com/ahsanayaz/ngJam

#### 🔬 Minimal Reproduction
I'm not sure if you ca

[2020-03-09 13:21] MikeOne commented on #365
Yes - that'll be excellent. ignore the remove request - I initially thought that it would request data.json always - but it doesn't on a hard load so the current solution is the best!

[2020-03-09 14:33] jorgeucano commented on #368
@AhsanAyaz
I clone your project and build fine for me in windows and mac
@SanderElias clone and test in ubuntu and work fine to!

Can you create another project and check all again? we can not reproduce the error!

[2020-03-09 14:47] panakour commented on #363
@SanderElias  With Incremental builds I mean to prevent rebuilds the entire site (all the pages) each time run scully. For example let's say that we have a blog site with its categories and pagination. After scully run the first time will generate all the pages. Then I run again the scully after 1 hour to add my new article or updated one. This time I want from the scully to generate only the nece

[2020-03-09 15:11] Burgov opened #370 "Error when running ng build"
## 🐞 Bug report

### Description
I get the following output when running `ng build`:

[code]

#### 🔬 Minimal Reproduction
Run `ng build`

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 9.0.5
Node: 10.16.3
OS: darwin x64

Angular: 9.0.5
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... route

[2020-03-09 15:25] SanderElias commented on #370
@Burgov Do you have en reproduction repo? We can not reproduce. We have it working on Linux, Mac, Windows,  ChromeOS and GitHub actions.
Parse5 seems to be a dependency of the Angular CLI, we are not using it anywhere inside Scully.
I'm willing to investigate deeper, but I do need a way to reproduce the error.

[2020-03-09 15:37] SanderElias commented on #368
When I open the link after building without issue:
![image](https://user-images.githubusercontent.com/1249083/76230113-843a1d80-6223-11ea-916c-96318e4f73ff.png)

I'm sorry, but I don't have any idea what this can be, it seems something on your computer.
What you can try is:
[code]
 Or perhaps power-cycle your computer?

Can you let us know the progress on that?

[2020-03-09 15:51] SanderElias commented on #366
[code]
I'll add a method for that, as it can save a few keystrokes while using Scully.

[2020-03-09 16:01] SanderElias commented on #361
@spencerb02 We have discussed this in our team before. We will not add it to our Scully server, because that is a developers tool, and we are afraid this will hide errors from sight.
But We are looking into providing a 404 file (the unprocessed index.html renamed basically.) in the Scully build files. We will probably name this file 404.html unless there is already an 404.html, in which case we do

[2020-03-09 16:08] #366 closed

[2020-03-09 16:09] #365 closed

[2020-03-09 17:10] SanderElias commented on #363
@panakour For a blog with physical files, it's actually not that hard, and if you enter watch mode, it will just generate the updated blog file(s) already.
However, when your restart, right now, yes it has to regenerate everything, as we have no way of knowing what has updated.
Right now you can manually use the --baseFilter option to just generate a single unhandled route.
on the plan board is a

[2020-03-09 17:10] #363 closed

[2020-03-10 05:44] aaronfrost commented on #365
Great issue @MikeOne. Thanks for helping out.

[2020-03-10 10:22] MikeOne opened #373 "[SEO] - Add trailing slash to generated href's"
## 🧩 Feature request

[SEO] - Add trailing slash to generated href's

### Description

Currently, the href's in the statically generated HTML do not have a trailing slash. This is decremental for SEO as the generated static site structure (once 'hosted') does need this trailing slash to request the file.

So currently an href in the HTML looks like:
\<a _ngcontent-uxf-c19="" ng-reflect-router-link

[2020-03-10 14:24] msacket commented on #373
I have a couple of ideas on this.
1) Write a `render` plugin that performs the update (could probably do it with the regex one)
2) Override the `RouterLinkWithHref` directive with something like this in `app.module.ts`:

[code]
Doing it that way... appears to prevent any router side affects.

![image](https://user-images.githubusercontent.com/10793149/76321987-c5c4da00-62b0-11ea-89c3-7622939b49b9.

[2020-03-10 15:10] MikeOne commented on #373
Good suggestions - although I would like to steer away from having to do this in Angular itself (as it's really only applicable to the statically rendered Scully site). I'd like to keep my Angular sites as clean as possible (preventing Universal nightmarish things). I think a plugin would be fairly good to do as well. I think @SanderElias is already thinking about where this belongs exactly (might

[2020-03-10 15:25] msacket commented on #373
@MikeOne I agree.  Idea 2 is fairly hackish and subject to breakage.  A config flag would be better.  I first wondered about hooking into or supplanting the LocationStrategy, but I couldn't find a way to do that in with a public API.

[2020-03-10 15:58] MikeOne commented on #373
Let's see what @SanderElias comes up with. If needed I can do the plugin for it if that ends up to be the correct way of doing it. I just made my first plugin today (add a canonical meta tag to all pages) - and it's pretty easy to do ;-)

[2020-03-10 17:45] aaronfrost commented on #373
I think that this would be a VERY SIMPLE `render` plugin. It would find any pattern `href="something" (that doesn't end in a slash) and replace it with a slash before it saves it to file. It would be easy to write, and would execute quickly, I think.

There are some difficulties. Making sure that you not modifying an href that is inside of a string that's in some JS somewhere. You would need to ma

[2020-03-10 17:49] aaronfrost commented on #373
[code]

[2020-03-10 18:01] msacket commented on #373
Good idea @aaronfrost.  What about selecting on `a[ng-reflect-router-link]` to avoid modifying any non-Angular links?  Is `ng-reflect-router-link` always present?

[2020-03-10 18:03] MikeOne commented on #373
Fairly simple indeed - however, as an additional sanity check, it might be wise to ONLY rewrite links that match with a generated Scully route.

[2020-03-10 18:27] msacket commented on #373
Turns out `ng-reflect-router-link` is not always available.  I think it's only available with a non-production build.  Even `routerlink` isn't always there.  Here are two examples:

[code]

[code]

[2020-03-10 20:15] msacket commented on #373
Using the above, here's a plugin that I believe will work for most cases.  I can submit a PR if the Scully team wants to include it.

[code]

[2020-03-10 20:31] MikeOne commented on #373
Cool - just tried it, works fine (as expected). I would prefer though to add a check per href and see if the one you're changing is actually a scully rendered route (to prevent potentially breaking things in more complex sites). I understand that the full list of rendered route is not yet available for the render plugin (or any plugin I guess) - So I'll do a feature request for that. Maybe once th

[2020-03-10 20:53] MikeOne opened #374 "Make list of Scully routes available inside (render) Plugins"
## 🧩 Feature request

Make list of Scully routes available inside (render) Plugins

### Description

While working on a plugin to add Trailing slashes to href's - the need arises to be able to access a full list of Scully Routes inside the plugin. This doesn't seem possible at the moment. I can see more uses for this list for future plugins.

### Describe the solution you'd like

An easy way to ac

[2020-03-11 07:40] SanderElias commented on #373
@msacket Cool, I'll take this as the base I'll add the list of routes from #374 into the mix too.
We don't want to modify routes we don't "own"

[2020-03-11 11:14] Burgov commented on #370
@SanderElias I've sent you a message on LinkedIn regarding this

[2020-03-11 12:58] jorgeucano commented on #368
hey @AhsanAyaz I will close this, if you need more help or you're still with the same issue, you can reopen this one or create a new issue

[2020-03-11 12:58] #368 closed

[2020-03-11 13:07] AhsanAyaz commented on #368
Sure. Thanks @jorgeucano

[2020-03-11 20:04] jorgeucano opened #377 "Create better docs and update styles"
For support the web, we need update all the .MD files from the DOCS folder.

List:

- [ ]  blog
- [ ]  CODE_OF_CONDUCT
- [ ]  getting-started
- [ ] getting-started_es
- [ ] issues
- [ ] learn
- [ ] plugins
- [ ] polyfills
- [ ] pre-requisites
- [ ] recommended-plugins
- [ ] release-for-v8
- [ ] scully
- [ ] scully-cmd-line
- [ ] scully-configuration
- [ ] scully-lib-core
- [ ] showcase
- [ ] utils

[2020-03-11 20:05] jorgeucano commented on #377
@GuzmanPI is the person in charge of this.
Israel you can put some tips in case someone wants to collaborate.
@Villanuevand please talk with Israel for work together.

[2020-03-11 20:10] geromegrignon commented on #377
I'll help if needed

[2020-03-11 20:12] GuzmanPI commented on #377
Thx @geromegrignon I'll add the requirements for the docs to be considered as completed ASAP here, and then we can talk in Gitter for the details

[2020-03-11 21:02] GuzmanPI commented on #377
Language requirenments:

- [ ] correct grammar both in English and Spanish
- [ ] formal language. In other words no slang, use the "you" pronoun

Style requirenments:

- [ ] Spaces between paragraphs, hedears, links and lists. Use 8px increments where 16px = 1rem
Note: Ignore the space undeaneath the code card, becaus I will fix the the component. Hence, fixing all those spaces."

[2020-03-12 15:52] GuzmanPI commented on #370
@Burgov I had the same issue and in order to solve it I removed the node_modules folder and npm install agin. I am using node 12.16.1, but it should also weork with v10.16.3

[2020-03-12 18:53] Burgov commented on #370
@GuzmanPI thanks for the suggestion but unfortunately that's not working for me.

[2020-03-12 22:20] crutchcorn opened #379 "Pressing "r" or "q" in `scully` does nothing MacOS"
## 🐞 Bug report

When running `npm run scully`, I get the following message at the footer:

[code]

However, on my version of MacOS it does nothing and I have to use `Ctrl+C` to stop the execution.

#### 🔬 Minimal Reproduction

`npm run scully`, then try to press `r` or `q`

#### 💻Your Environment

- MacOS Mojave
- `@scullyio/scully@0.0.80`
- iTerm 2 `Build 3.3.10beta2`
- Node v12.9.0

**Angular V

[2020-03-13 13:52] MikeOne commented on #379
I can confirm that *sometimes* it doesn't work. For me it usually works fine. Expect when you accidentally hit CTRL-C in that terminal window (which happens to me quite a lot). Then Q and R consistently stops working.

[2020-03-13 14:03] jorgeucano commented on #379
thanks for the report... Is happening in the first time only ??? or when you have some re-runs ??
Im trying to get more information for reproduce this case!

[2020-03-14 13:25] MikeOne commented on #379
For me - it happens everytime when I hit CTRL-c in the scully terminal window..

[2020-03-16 12:43] jorgeucano commented on #379
Ok, thanks for this! I will work now... If you have another information please add here

[2020-03-17 05:51] jiverson commented on #370
@Burgov there maybe an underlying issue with "@types/jsdom" https://github.com/DefinitelyTyped/DefinitelyTyped/issues/26338?

You may want to try and do a `npm i @types/jsdom@@16.1.0` does that work out of curiosity?

[2020-03-18 13:43] jorgeucano commented on #379
Done, waiting for new build :) ..

[2020-03-18 13:48] jorgeucano commented on #379
@crutchcorn & @MikeOne We published a new version :) ... Please check if work for you :D If you have any problem please reopen this issue

[2020-03-18 13:48] #379 closed

[2020-03-18 13:49] jorgeucano commented on #377
@GuzmanPI Can you tell us about the progress?

[2020-03-18 14:36] GuzmanPI commented on #377
Almost half of the docs are done, and I'll be done with the rest today.

[2020-03-19 12:25] jorgeucano opened #391 "Book component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:26] jorgeucano opened #392 "Button component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:26] jorgeucano opened #393 "card component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:26] jorgeucano opened #394 "Code component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:26] jorgeucano opened #395 "Header component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:26] jorgeucano opened #396 "HR component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:27] jorgeucano opened #397 "left menu component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:27] jorgeucano opened #398 "Marketing header component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:28] jorgeucano opened #399 "subheader component: need work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 12:28] jorgeucano opened #400 "newsletter component: work and responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 13:37] SanderElias commented on #304
This is solved by pr #390

[2020-03-19 13:37] #304 closed

[2020-03-19 13:39] #367 closed

[2020-03-19 13:44] #358 closed

[2020-03-19 13:50] jorgeucano commented on #249
Hey @peterbsmith2 Can you tell us what is the current state of this ?

[2020-03-19 14:14] #374 closed

[2020-03-19 15:12] jorgeucano opened #405 "Add analytics to docs"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-19 18:44] spencerb02 opened #408 "Upgrade to latest guess parser. Guess parser fails due to excluded routes when running on Windows (powershell)"
## 🐞 Bug report
Please update to the latest version of guess parser (at least `0.4.16` for this fix. `0.4.17` is latest and may contain features that interest you as well)

### Description

When running the Scully build we have to exclude the AngularJS pages of our Hybrid app from guess parser when scanning for routes. The guess parser fails to exclude the AngularJS pages because guess parser was

[2020-03-19 18:45] spencerb02 commented on #408
Not sure if this should have been a bug or a feature request. Let me know what you need from me.

cc: @aaronfrost

[2020-03-19 20:10] chrisguttandin commented on #408
Hi, in case this helps, this was the pull request I made which lead to the new release of guess-parser: https://github.com/guess-js/guess/pull/352

[2020-03-20 11:11] #373 closed

[2020-03-20 12:06] jorgeucano commented on #408
Hey, @spencerb02 powershell is not the best CMD for Guess... Guess use the path of unix...
We are working for create a PR to Guessjs for support windows 100%, but is a 3rd party lib, so can you test with `git cmd` or `cmander` or another terminal like `WLS`

[2020-03-20 12:09] jorgeucano commented on #408
Hello @ spencerb02 thanks for this ... We update the GuessJS version, in the next version of Scully it will be available (we will publish today) 😄

[2020-03-20 12:10] #322 closed

[2020-03-20 12:11] #408 closed

[2020-03-20 12:21] jorgeucano opened #409 "full landing responsive"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-03-20 12:33] #361 closed

[2020-03-20 13:58] GuzmanPI commented on #393
I guess this is what I did on my closed PR. So should I use grid inside the components as well? I can work on this.

[2020-03-20 13:59] GuzmanPI commented on #391
I can also work on this

[2020-03-20 14:00] GuzmanPI commented on #377
This has been finished.

[2020-03-20 14:14] #392 closed

[2020-03-20 14:14] #394 closed

[2020-03-20 14:14] #395 closed

[2020-03-20 14:14] #396 closed

[2020-03-20 14:14] #398 closed

[2020-03-20 14:14] #399 closed

[2020-03-20 14:14] #409 closed

[2020-03-20 16:01] spencerb02 opened #414 "Error starting scully serve on SSL (0.0.82)"
## 🐞 Bug report

### Description
Since the latest update to @scullyio/scully `0.0.82` `scully serve` throws an error trying to run the server on SSL.

`Could not start Scully serve TypeError: http_proxy_middleware_1.createProxyMiddleware is not a function`

#### 🔬 Minimal Reproduction
Command:
`scully "serve" "--host=local.1800contactstest.com" "--proxy-config=src/proxy.conf.json" "--ssl=true" "--

[2020-03-20 16:19] Silvac34 commented on #370
Got the same issue.

Quick fixed it by updating parse5 package.
try to run `npm i -D parse5@latest`
I then deleted the parse5 line from my package.json to keep it clean for further corrections.

[2020-03-20 17:20] aaronfrost commented on #414
@SanderElias we need to get this fixed ASAP.

[2020-03-20 17:20] aaronfrost commented on #414
@jorgeucano can you reproduce this?

[2020-03-20 17:35] jorgeucano commented on #414
@aaronfrost Yes is an error in the support for typescript... Im creating a PR and after this i will fix this issue

[2020-03-20 17:55] spencerb02 commented on #414
`createProxyMiddleware` was added in version `1.x.x` according to https://github.com/chimurai/http-proxy-middleware

We get the version of `http-proxy-middleware` as a dependency of Angular Devkit webpack Dev Server and webpack dev server. The version we have is `0.19.1` which doesn't have that method:
https://github.com/chimurai/http-proxy-middleware/tree/v0.19.1

We have Angular v8.0.6. We attem

[2020-03-20 18:17] spencerb02 commented on #414
@SanderElias @jorgeucano,
I updated locally my `http-proxy-middleware` to `v1.0.3` and the issue was fixed.

Frosty asked me to let you guys know this means we need to add this dependency to the V8 branch.

[2020-03-20 18:18] jorgeucano commented on #414
great! thanks i will create the PR now

[2020-03-21 04:30] ganeshsundaram39 opened #416 "Using @angular/pwa with scully"
## 🐞 Bug report

### Description
Angular pwa not working for ./ in offline mode but its working for ./index.html
Coming here from [Angular](https://github.com/angular/angular/issues/36152#issuecomment-601723129)

#### 🔬 Minimal Reproduction
repo: https://github.com/ganeshsundaram39/ganeshsundaram39.github.io/tree/scully

not working for
https://ganeshsundaram39.github.io/

but works for
https://ga

[2020-03-22 09:39] #416 closed

[2020-03-23 13:53] #414 closed

[2020-03-23 14:22] BrsJsk opened #419 "Defualt created app throws error at build time"
## 🐞 Bug report
I've got interested in Scully and decided to check it out.

### Description
I've followed these steps:
https://www.netlify.com/blog/2019/12/16/introducing-scully-the-angular-static-site-generator/
Everything was fine until it came to ng build which threw an error
#### 🔬 Minimal Reproduction
https://github.com/BrsJsk/scully-test-app
#### 💻Your Environment

**Angular Version:**

<pre

[2020-03-23 14:44] geromegrignon commented on #419
There is a bug to fix but you can make it work changing the import into your AppModule file so it matchs the dependancy :

[code]

BUG :

The [add schematic](https://github.com/scullyio/scully/blob/master/schematics/scully/src/ng-add/index.ts) doesn't check the angular version for the `ScullyLibModule ` import added into the AppModule file as the name of the dependancy changes depending on the ang

[2020-03-23 14:49] BrsJsk commented on #419
Tried that..worked but now theres a new problem..
[code]

[2020-03-23 15:28] geromegrignon commented on #419
Add `"@babel/compat-data": "7.8.0"` to your devDependancies.
Here is a [related issue](https://github.com/angular/angular-cli/issues/17262) on angular/cli repo.

[2020-03-24 12:20] jorgeucano commented on #419
Hey, we check the Angular version, I will download your project and test

[2020-03-24 19:18] zoitsa opened #424 "validator function not firing"
## 🐞 Bug report

### Description
*  creating a Contentful plugin for Scully
*  the config is hooked up but the validator is not firing
*  I joined the scully hangouts and we tried debugging by going to `node-modules/@scully.io/pluginManagement/utils/validateConfig.js` and `node-modules/@scully.io/pluginManagement/pluginRepository.js`
*  In validateConfig the line `pluginRepository_1.plugins.router

[2020-03-24 19:34] andrewhdev opened #425 "`ng g @scullyio/init:post`: Special characters cause failure during render"
## 🐞 Bug report

### Description
I created a blog post with parenthesis in the title, example: "This is a test (with parenthesis)". Whenever I run "npm run scully" It takes a long time and then I see this error:

[code]

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment

**Angular Version:**
<pre><code>

Angular CLI: 9.0.7
Node: 10.19.0
OS: darwin x64

Angular: 9.0.7
... animations, cli,

[2020-03-25 06:23] SanderElias commented on #424
Closed by PR #423. Thanks for reporting

[2020-03-25 06:23] #424 closed

[2020-03-25 12:15] Burgov commented on #370
@Silvac34 that did the trick, thanks!

[2020-03-25 16:17] SanderElias commented on #425
I checked out this issue. What happens is that Angular itself fails on parsing routes with `()`.

![image](https://user-images.githubusercontent.com/1249083/77558858-bf8f4a00-6ebb-11ea-9765-2abd729b67d7.png)
It produces the above error and redirects to home (where there is no `<scully-contetn>`)

So, it turns out that Scully works well, but Angular fails in this case.
@jorgeucano Can you add the `

[2020-03-26 11:55] #419 closed

[2020-03-26 12:00] wickstargazer opened #427 "scanRoutes error (Puppeteer error while rendering "d2020-03-26-articles" Protocol error (Page.navigate))"
## 🐞 Bug report
I am getting this error when running `yarn scully --scanRoutes`
`Puppeteer error while rendering "d2020-03-26-articles" Error: Protocol error (Page.navigate): Cannot navigate to invalid URL`

### Description

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment
OSX

**Angular Version:**
`^8.2.0`

<pre><code>

     _                      _                 ____ _     ___
    /

[2020-03-26 12:23] SanderElias commented on #427
I Can not reproduce this.
One thing that might be in issue is that your distfolder should be a subfolder of 'dist', not the 'dist' folder itself. That is a setting you can change in `angular.json`

Can you provide a git (or other) repo so we can reproduce your error?

[2020-03-26 12:31] zsouiki opened #428 "feature request : add support of Ionic"
## 🧩 Feature request

### Description
In order to make an ionic application work with Scully, we need to "hydrate" the Ionic components.
Ionic added a module to be able to support angular universal : [https://github.com/ionic-team/ionic/blob/v5.0.5/packages/angular-server/src/ionic-server-module.ts](url)

Currently no ionic components are displayed
 A clear and concise description of the problem o

[2020-03-26 17:48] dominika-zajac opened #429 "Problem with base-href"
## 🐞 Bug report

After building an angular app with base-href flag, value from that flag is ignored when importing /assets/scully-routes.json.

### Description

#### 🔬 Minimal Reproduction
ng build --prod --base-href=/prefix/ --deploy-url=/prefix/
npm run scully
check in browser from assets/scully-routes.json is imported - link should contains prefix

#### 💻Your Environment

**Angular Version:**

[2020-03-27 02:40] wickstargazer commented on #427
Yes i got that correct, i actually edit and remove my project path in the issue description and also that i am using nx workspace

[2020-03-27 08:17] SanderElias commented on #427
@wickstargazer I'm still unable to reproduce your issue.
Please provide a way for us so we can, otherwise, it is impossible to help

[2020-03-27 13:15] KreLou opened #432 "Initial Dialog persists"
## 🐞 Bug report
Intital Mat-Dialog closes but the same dialog persists.

### Description
I have an intital dialog which will promt on first visit. By clicking [OK] a flag will set atthe localStorage and prevent this dialog again.
But on static pages the closing animation occurs but the dialog persist and is unable to close.

This method (handlePageVisit()) will called in the NgOnInit() of the app.

[2020-03-27 13:50] MikeOne commented on #432
My guess is that this is not actually a Scully 'bug'. What happens here I think is that when Scully runs - it does not find the localStorage flag - so it will trigger the dialog. This dialog is then rendered in the static page as HTML - but the reference to the dialog is orphaned (so it can no longer be closed). The solution to this is probably to check if Scully is running - and if it is - to not

[2020-03-27 15:06] MikeOne commented on #429
So are you trying to load or reference the scully-routes.json file from your app? I actually don't think that scully needs to do anything with base href. Links to assets inside your HTML (images etc) should be done without the initial slash I believe - the browser will then take care of prepending the path from base href. If you're are trying to get a json file from that assets folder using a http

[2020-03-27 20:36] aaronfrost commented on #432
Yeah. I agree with @MikeOne this isn't a Scully bug. @KreLou in your code that opens the dialog, you need to add the following:

[code]

This will prevent the phantom dialog from being added to the page during pre-render. And once the Angular app loads, it can open the dialog properly.

[2020-03-27 20:37] aaronfrost commented on #432
I am going to close this for now. If @KreLou disagrees and has some additional information, I am more than willing to reopen this and get on a video chat to see how we can help.

[2020-03-28 07:12] KreLou commented on #432
Thanks that helped.

[2020-03-28 07:12] #432 closed

[2020-03-28 08:03] dominika-zajac commented on #429
OK, thank you for the response.

[2020-03-28 08:03] #429 closed

[2020-03-29 10:20] SanderElias commented on #427
@wickstargazer I finally was able to reproduce. This happened when the start of the route and the start of the folderPath were different. Fixed this bug
Pushed out an update to NPM (v0.0.85) that will fix this.

[2020-03-29 10:20] #427 closed

[2020-03-29 10:22] wickstargazer commented on #427
Thats awesome coz using with nx is the whole idea, good catch sorry couldn’t response, havent had time to get back to it! Will look at it and publish soon!

[2020-03-29 10:37] SanderElias commented on #370
@Burgov Thanks for the confirmation.
To summarize, This bug is caused by an outdated 3rth party npm module `parse5, and solved by updating that module to its latest version by running:
[code]
I'm going to close this issue as Scully can not do anything to prevent  NPM package clashes.

[2020-03-29 10:37] #370 closed

[2020-03-29 10:56] SanderElias opened #434 "Make watch mode optional"
## 🧩 Feature request

### Description

Right now, Scully defaults to have the watch mode on.
this means that that in CI, and testing the run will hang unless the `--no-watch` flag is added.

In my opinion `npm run Scully` is more comparable to `ng build` as to `npm serve`
`ng build --watch`  has the same optional watch.

This will make unpleasant surprises during automated deploy/test/.. less comm

[2020-03-29 13:27] d-koppenhagen commented on #434
I totally agree.
A good thing would be to re-introduce the `--watch` flag. And for an easy setup and a good developer experience add two npm scripts when running the schematics initially:

[code]

[2020-03-31 12:13] jorgeucano commented on #434
Waiting for the next deploy

[2020-03-31 12:13] #434 closed

[2020-03-31 12:33] #350 closed

[2020-03-31 17:40] dominika-zajac commented on #429
Hi, I check that again and to use angular logic you need links in form like './assets/...' -> in your source code it's '/assets/...' (without trailing dot). I believe it causes the issue

[2020-04-03 08:25] SanderElias commented on #429
@dominika-zajac I'll will add a test and a fix for this shortly.

[2020-04-03 17:42] mr-sige opened #437 "Page that lists the happy users of Scully"
Do you guys have or want to create a page where you can list all the happy users of scully? I totally want to be on that list.
Like what docusaurus does: https://docusaurus.io/en/users

I'm also happy to help.

[2020-04-05 14:10] BlindDespair opened #438 "New pages are prerendered as Cannot GET"
## 🐞 Bug report

### Description
A while ago I experienced this problem, that when I create a new page in my angular app, scully fails to prerender it. First the new routes are not picked up by scully at all. I have to delete `node_modules` and reinstall it, then scully finds the new routes but again fils to prerender because it fails to open it from an angular app with a message like `Cannot GET

[2020-04-05 16:13] geromegrignon commented on #438
The actual Scully strategy is to reduce the time needed to run `npm run scully` by not scanning the routes of the project if a `scully-routes.json` file already exists inside `src/assets` (created the first time you run `npm run scully`).

In order to discover new routes, you need to add `--scan` option when running `npm run scully` :

[code]

It's included inside the docs but it might need to be

[2020-04-05 16:55] BlindDespair commented on #438
@geromegrignon thank you for your response. I will try it next time. Thing is that I am using scully for around 2-3 months now and I don't follow all the updates and changes and I think back then it did not work this way.

[2020-04-05 17:05] BlindDespair opened #439 "TransferState does not correctly handle current URL with query params"
## 🐞 Bug report

### Description
When navigating to a prerendered page with query params scully fails to fetch page data because the url for fetching the data is not created correctly.

The issue can be fixed [here](https://github.com/scullyio/scully/blob/3596179e222c28abe17a0a7e59579e4144bc8efc/projects/scullyio/ng-lib/src/lib/transfer-state/transfer-state.service.ts#L205)

I can suggest to do so

[2020-04-06 05:42] SanderElias commented on #438
@BlindDespair I was puzzled by this too, and I wrote this ;) Today we are going to beta, and breaking changes like this, will get proper documentation!
Closing this, as it works as expected

[2020-04-06 05:42] #438 closed

[2020-04-06 05:50] SanderElias commented on #439
@BlindDespair can you explain to me how you would expect the data to be there?
your example: `/successful-order?orderId=24` would get the same data as `/successful-order?orderId=1` and _all_ other `orderid=xxx`
If you rework your code to do something like `/successful-order/24` it can pre-render all permutations.

I'll add something to ignore query parameters nevertheless, but you should use them

[2020-04-06 14:16] BlindDespair commented on #439
@SanderElias the param in this case does not affect the prerendered data, that param is only for runtime purpose there. That's why prerendered page should be same in all cases.

[2020-04-06 15:35] jorgeucano opened #441 "planning better way to config plugins"
## 🧩 Feature request

### Description

Now I add a cli-option for support options in the marked plugin... This is a POC, and we need for the web, but we need planning and implement a better solution

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've c

[2020-04-06 15:35] jorgeucano commented on #441
@SanderElias @aaronfrost we need create a meet for this

[2020-04-07 05:10] SanderElias opened #445 "PreRender callback"
## 🧩 Feature request

### Description
A `preRender` function that can optionally be placed in the route config.
This might be a good place to update config for a plugin, especially for that route.

### Describe the solution you'd like
in the route config:
[code]

[2020-04-07 11:31] #377 closed

[2020-04-08 09:10] phodal opened #448 "showGuessError return nothing in GitHub Action"
## 🐞 Bug report

### Description

I run `npx scully` can success build in my local env. but when run in GitHub ci, it failure, add return nothing.

here is my build: https://github.com/phodal/ledge/runs/570186601?check_suite_focus=true

and my config: https://github.com/phodal/ledge/blob/master/scully.ledge.config.js

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:** 9.0.4

[2020-04-09 05:18] phodal commented on #448
I change config to this, and it works.

[code]

[2020-04-09 05:18] #448 closed

[2020-04-09 10:05] vistaar-dgada opened #451 "Scully Doesn't work with Github Actions"
## 🐞 Bug report

### Description
There's some issue with scully, it doesn't build up while running inside github actions.

#### 🔬 Minimal Reproduction
.github/workflows/build.yml
[code]

#### 💻Your Environment

**Angular Version:**
<pre>
9.1.0
</pre>

**Scully Version:**
<pre>
6.13.4
</pre>

## 🔥 Exception or Error

<pre>

No routes defined in ""
 ☺   new Angular build imported
 ☺   Started server