[2020-04-09 11:45] geromegrignon opened #452 "Feature request: Translation of Getting Started documentation"
## 🧩 Feature request

### Description

In line with the spanish version of  [Getting started with Scully](https://github.com/scullyio/scully/blob/master/docs/getting-started.md), would you be interested with a french version of this file?

### Describe the solution you'd like

It would add a `getting-started_fr.md` file with a translated version of [Getting started with Scully](https://github.com/

[2020-04-10 07:19] geromegrignon opened #454 "[ScullyDocs] double focus on navigation"
## 🐞 Bug report

### Description

Using tabulation to navigate on [scully.io](https://scully.io/) header navigation, each button is focused twice. It sounds like it's due to an `href="/undefined"` being added.
I tried to fix it but couldn't manage to find out when it's being added as it isn't present in the ScullyDocs codebase.

#### 🔬 Minimal Reproduction

Navigate to [scully.io](https://scully.i

[2020-04-10 08:47] s0l0c0ding opened #455 "ng generate @scullyio/init:post with wrong prop publish"
## 🐞 Bug report

### Description
when i generate a new post with :
`ng generate @scullyio/init:post --name="This is my post"`

the output  file is like:

but in the scullyRoute interface,
`export interface ScullyRoute {
    route: string;
    title?: string;
    slugs?: string[];
    published?: boolean;
    slug?: string;
    sourceFile?: string;
    [prop: string]: any;
}`
the tag "publish" is u

[2020-04-10 11:57] geromegrignon commented on #455
@jorgeucano

The `add-post` schematic generates a header based on this :

[code]

But the generated file includes *publish* rather than *published*.

[2020-04-10 12:01] jorgeucano commented on #451
@vistaar-dgada we use Github Actions in this mono-repo and we run scully there...
And work only if you add the host:
`--host='0.0.0.0'`

[2020-04-10 12:01] #451 closed

[2020-04-10 12:05] jorgeucano commented on #452
Yes :) ... We will work in add the i18n for the next builds (for the web) ... Im working in the docs now writing and changing some texts... We can talk after this. I will add you in the review if you like

[2020-04-10 12:05] jorgeucano commented on #454
I will check, I add the content there, but I have the same, the problem is the tab use the component and the tag a, and for this is the "double" focus

[2020-04-10 12:06] geromegrignon commented on #452
Sure.
closing the issue for now.

[2020-04-10 12:06] #452 closed

[2020-04-10 12:07] jorgeucano commented on #452
We can Create a issue for I18n  :)

[2020-04-10 12:09] jorgeucano opened #456 "I18n docs"
## 🗄️ Docs report

### Description

We have some members of the community wanting to contribute to the documentation by translating into different languages ​​... I am going to open this ticket so that we can speak and see the steps to follow as well as the languages ​​we are going to translate it in!

[2020-04-10 12:10] jorgeucano commented on #456
@geromegrignon french version :)

[2020-04-10 12:10] jorgeucano commented on #456
@facurodriguez spanish version :)

[2020-04-10 12:13] geromegrignon commented on #454
Here is a [stackblitz](https://stackblitz.com/edit/angular-fedgty?file=src%2Fapp%2Fapp.component.html) example.

Given two components with the tag a :
 - there is a double focus if the tag a includes a href
- there is a single focus without the href

[2020-04-10 16:03] kjbetz opened #458 "Internet Explorer 11 compatibility"
## 🐞 Bug report

### Description

After adding Scully, app doesn't work in IE 11 anymore.

#### 🔬 Minimal Reproduction
<pre><code>
ng new scully-error
ng build
Open in IE 11, works
ng add @scullyio\init
ng build
Open in IE 11, error, no app displayed at all
Error: TypeError Object doesn't support his action
</code></pre>

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 9.1.1

[2020-04-10 16:27] geromegrignon commented on #458
I reproduce it.

Though `ng build only generates the distribution files`.
In order to use Scully pre rendering features, you need to use `npm run scully` after as stated in the [documentation](https://github.com/scullyio/scully/blob/master/docs/getting-started.md).
Doing so it works as intended on IE.

[2020-04-10 17:32] kjbetz commented on #458
Ok, I'll check it out and report back. Thanks, @geromegrignon!

[2020-04-10 17:45] geromegrignon commented on #458
Make sure you use the dist/static folder

[2020-04-10 18:07] kjbetz commented on #458
Although page does load (you can see the default Angular app on the screen) it still displaying the same error in the console.

On my app that I'm trying to use this on, page loads, but because of error all JavaScript is then not running, which means page features are not working properly.

Error:
<pre><code>
TypeError: Object doesn't support this action
   {
      [functions]: ,
      __proto__:

[2020-04-11 22:16] flauc opened #459 "Error during file write"
## 🐞 Bug report

This is the error I'm getting
`Error during file write TypeError: Cannot read property 'includes' of undefined`. This is the stack trace.

![image](https://user-images.githubusercontent.com/4489834/79055951-7b3cd180-7c51-11ea-93bf-441ec9c4336b.png)

### Description

Running `scully` generates all the expected files, but any of the routes defined in `scully.config.js` are generated

[2020-04-12 09:45] wickstargazer commented on #439
Hi, I am also seeing this issue, the json that needs to render translations from state is not working with query params, like `url/?fbclid=test`

[2020-04-12 13:48] phodal commented on #451
@vistaar-dgada  It seems will be randomly failure, did you found this?

[2020-04-13 06:33] dr5hn opened #461 "Scully Doesn't work with Github Actions {Tried with --host as well}"
## 🐞 Bug report

### Description
There's some issue with scully, it doesn't build up while running inside github actions.

#### 🔬 Minimal Reproduction
.github/workflows/build.yml
[code]

#### 💻Your Environment

**Angular Version:**
<pre>9.1.0</pre>

**Scully Version:**
<pre>6.13.4</pre>

## 🔥 Exception or Error
<pre>> ***@5.0.0 scully /home/runner/work/***/***

 ☺   new Angular build imported
 ☺

[2020-04-13 06:34] dr5hn commented on #461
@jorgeucano @phodal `--host='0.0.0.0' doesn't solve the issue.

[2020-04-13 06:36] raeffs commented on #456
I would offer to translate to german if that helps you ;)

[2020-04-13 06:36] phodal commented on #461
The issue is still present, here is my build, https://github.com/phodal/ledge/runs/581943553?check_suite_focus=true

also, `--showGuessError` is not working.

[2020-04-13 06:45] SanderElias commented on #459
Hi @flauc, When I download and run your app with `ng serve`, and navigate to `https://localhost:4200/blog/2020-03-16-blog` I get a block page.
When I then run `document.querySelector('sculy-content')`
I get:
![image](https://user-images.githubusercontent.com/1249083/79098654-bed33080-7d62-11ea-8752-1d2b4205b9ca.png)
This means the `scully-content` is not present, and Scully will not be able to inj

[2020-04-13 06:45] #459 closed

[2020-04-13 09:31] SanderElias commented on #461
We are using GA in our own project, We can't merge a single PR when it fails.
So, we need to determine why it isn't working for you.
The `--showGuessError` has nothing to do with the issue you are seeing. It seems that it is unable to start the server. Also, you are using NPX to start the task, which is different from our setup.

What you can do is do an `npx scully serve` to see if/what error the

[2020-04-13 10:12] flauc commented on #459
@SanderElias thank you for looking into this. Yes, it looks like a resolver was preventing the page from rendering. Thanks!

[2020-04-13 12:11] dr5hn commented on #461
@SanderElias I tried `serve`. It looks like this :
<img width="541" alt="Screenshot 2020-04-13 at 5 39 15 PM" src="https://user-images.githubusercontent.com/6929121/79119400-e4d1f280-7dad-11ea-95db-d07b43953adc.png">

So `serve` is working but `build` not working.

[2020-04-13 12:13] SanderElias commented on #461
Ok, can you now try `npm run scully -- --host='0.0.0.' -- scanRoutes` ?

[2020-04-13 12:18] SanderElias commented on #458
@kjbetz You might be missing a polyfill you need.
We have customers running with IE11, so it should not be an issue. There is stuff in Scully that only works on modern browsers, but that is used during rendering only.

[2020-04-13 12:19] jorgeucano commented on #455
I publish the new version!
If you have any new problem, please create another ticket :)

[2020-04-13 12:19] #455 closed

[2020-04-13 12:20] #391 closed

[2020-04-13 12:20] #393 closed

[2020-04-13 12:20] #397 closed

[2020-04-13 12:20] #400 closed

[2020-04-13 12:23] jorgeucano commented on #437
The page is Showcase :)

[2020-04-13 12:23] #437 closed

[2020-04-13 12:26] phodal commented on #437
I had build in production with sitemap.xml, how can I join this? https://devops.phodal.com/home

[2020-04-13 12:29] jorgeucano commented on #437
Please create a PR to /docs/showcase.md :)

[2020-04-13 12:31] phodal commented on #461
here is my results, and I had cancal it.

[code]

[2020-04-13 12:45] dr5hn commented on #461
@phodal ..
I think @SanderElias Wants `build` command with those options to be tested. Wait let me do it.

[2020-04-13 13:03] #425 closed

[2020-04-13 13:04] dr5hn commented on #461
@SanderElias Same Error... No Luck...
<img width="1102" alt="Screenshot 2020-04-13 at 6 33 53 PM" src="https://user-images.githubusercontent.com/6929121/79122485-61b49a80-7db5-11ea-9780-4316d5fa2c8c.png">

[2020-04-13 13:15] #454 closed

[2020-04-13 13:17] #441 closed

[2020-04-13 13:21] SanderElias commented on #461
Hmm, @jorgeucano do you have any additional insights?

[2020-04-13 13:24] jorgeucano commented on #461
@dr5hn If you run this local, work?

[2020-04-13 13:25] phodal commented on #461
@jorgeucano I can run this job in local, it works:

[code]

[2020-04-13 13:30] jorgeucano commented on #461
I will download today the repo and test

[2020-04-13 13:43] dr5hn commented on #461
@jorgeucano It works fine on local !! Only issue with Github Actions.

[2020-04-13 14:46] SanderElias commented on #458
You need the customEvent ployfill as documented on MDN

[code]

When you add that to your polyfill, it should work.

I will close this issue now, but if you have additional questions, don't hesitate to ask.
@jorgeucano do we have a IE11 docs page where we can add this?

[2020-04-13 14:46] #458 closed

[2020-04-13 19:02] BlindDespair commented on #461
Having same issue on GitLab CI. Up till now I've been using a runner installed on my machine and everything worked fine. But today I installed runner on my remote server so that I can run jobs even when my machine is shut down, e.g. when I am not home etc. But I get this same error:
[code]

But one thing I noticed when I checked my server charts is that the server machine basically reached the cap

[2020-04-14 05:10] SanderElias commented on #461
@BlindDespair We use puppeteer, and that is memory hungry, but also, even not loaded at that point.
Also, we are using GithubActions by ourselves. Although it is a bit slow, it doesn't fail Like it does for @dr5hn
I'm going to look into the memory thing, and report back here.

[2020-04-14 05:15] phodal commented on #461
It seems make senses.In my projects, a lot of DOM need to be render, it will need more memory. Did scully run parallels?

[2020-04-14 06:11] SanderElias commented on #461
It does render the pages in parallel yes. If you mean a package named like that, no. By default, Scully will run a render process on every core available. There is a setting that allows you to change that however you see fit.

[2020-04-14 17:44] s0l0c0ding commented on #455
i  confirm the issue is resolved now

[2020-04-15 05:20] dr5hn commented on #461
@SanderElias Exactly.

It breaks before rendering process. It breaks at this point.
https://github.com/scullyio/scully/blob/10950b5771fd4d82b5b4b2c31df7737523dad044/scully/scully.ts#L75-L78
-- We're not using `e`. The error thrown by function. Otherwise we should've known the exact issue.

and this file is spitting out exact error... https://github.com/scullyio/scully/blob/master/scully/utils/serv

[2020-04-15 12:54] jorgeucano commented on #461
Hey I check with a project and work
https://github.com/jorgeucano/ngConf-2020/runs/588934765

Its just take a Scully project and add the actions.
You can see here https://github.com/jorgeucano/ngConf-2020/blob/master/.github/workflows/nodejs.yml

I'm using the last version from scully...

[2020-04-15 18:04] SanderElias commented on #461
@dr5hn it times out on the server, Tomorrow I'll add some extra code so you can debug this a bit more. It works for us in multiple projects on GitHub actions. We need to dig in a bit more.
Also I will make an option to expand the waiting period a bit longer (although the 80 iterations is already a timeout of 10 seconds, but this might be an issue on a really slow CI)

[2020-04-16 06:07] dr5hn commented on #461
@jorgeucano //cc @SanderElias //cc @phodal //cc @BlindDespair

Jorge, I've tried following exact steps as you did in your [workflow](https://github.com/jorgeucano/ngConf-2020/blob/master/.github/workflows/nodejs.yml).

- Works with `ng build`
- Doesn't Works with `ng build --prod`

It seems to be working with `ng build`.. See this..
[code]

But not with `ng build --prod`..  See this..
[code]

[2020-04-17 09:48] aniketdharia opened #474 "CI/CD Process Fails on Gitlab"
## 🐞 Bug report
when trying to run npm run scully via yml file the server

### Description

  ☺   new Angular build imported
  ☺   Started servers in background
 Could not connect to server
 npm ERR! code ELIFECYCLE
 npm ERR! errno 15
 npm ERR! india-covid-19@0.0.1 scully: `scully`
 npm ERR! Exit status 15
 npm ERR!
 npm ERR! Failed at the india-covid-19@0.0.1 scully script.
 npm ERR! This is prob

[2020-04-17 11:52] SanderElias commented on #474
Duplicate of #461
Closing to focus communication in there

[2020-04-17 11:52] #474 closed

[2020-04-17 12:02] SanderElias commented on #461
@dr5hn We just tried, we moved it to prod mode, and it works there too.
As the production build is smaller as the normal build, the opposite of what you are seeing would be more logical.

I wished we had a way to reproduce this, as we can't fix something that is working for us.

[2020-04-17 14:01] SanderElias commented on #461
I just noticed those are kind of big projects. I suspect the issue is that the route-finding code is taking too long, and the timeout hits too soon. I'll update the timeout and push out a new version, lets see what that does.

[2020-04-17 15:44] SanderElias commented on #461
I just pushed Scully v0.0.87 to npm.
@phodal , @BlindDespair , @dr5hn, can you try updating your CI with this flag:
`scully --serverTimeout 30000`
(and add the existing flags if needed.) This will use a 30 seconds timeout instead of the 10 that is the default, you can go even longer
on large projects the guess-parser sometimes needs more time, this way, you can give it. Perhaps you even need to go

[2020-04-17 16:13] SanderElias commented on #445
provided by pr #446

[2020-04-17 16:13] #445 closed

[2020-04-17 16:16] SanderElias commented on #441
provided in #446

[2020-04-18 02:06] phodal commented on #461
@SanderElias It works, but 30s wasn't working in my job, and I change to 60s in GitHub Action.

[code]

here is log [action result](https://github.com/phodal/ledge/runs/597101597?check_suite_focus=true)

[code]

[2020-04-18 05:24] jahnreektor opened #478 "D3 chart not rendering on page generated from markdown file"
## 🐞 Bug report

### Description
I created a D3 chart within a blog markdown file, and the chart flashes on screen momentarily before disappearing. See https://qf-dev-4d604.firebaseapp.com/blog/2020-04-18-blog. I noticed if I delete the polyfill JS files and deploy, the charts are not clobbered and the chart displays properly.

I'm unsure if this is an Angular thing or a Scully thing.

#### 🔬 Mini

[2020-04-19 18:56] willi84 opened #479 "scully tries to kill a server which process is already killed"
## 🐞 Bug report

### Description
Scully tried to kill a process of an internal server, which does not exists anymore. sometimes one process, somtimes the subprocesses of a process

#### 🔬 Minimal Reproduction
* using windows10 and run scully
 I logged at these two positions:
* https://github.com/scullyio/scully/blob/019a77d999ae4c5703a5ea106d757b19a7c0bdf2/scully/utils/serverstuff/waitForServerToB

[2020-04-20 05:11] hannson opened #480 "Doesn't install when angular.json contains comments."
## 🐞 Bug report

### Description

If angular.json contains a comment then `ng add @scullyio/init `  fails with an error.

Strictly speaking JSON should not contain comments but it is supported in Angular configuration and is added in some schemas.

### Workaround

Remove any comment from angular.json (and/or possibly other json files parsed by @scully/init.

#### 🔬 Minimal Reproduction
Add a comme

[2020-04-20 06:09] jahnreektor opened #481 "After redirecting, static page flashes but disappears after Angular mounts"
## 🐞 Bug report

### Description
I have deployed my portfolio app to Firebase hosting at http://visualizeearth.com. Given that the app is a single route, I have configured all paths to redirect to index.html in both the firebase.json _and_ the app-routing.module.ts.

Whenever a user goes to http://visualizeearth.com/somerandompath, the traffic gets redirected, but the page renders as entirely blan

[2020-04-20 06:58] dr5hn commented on #461
@SanderElias Thank you so much. It worked with 30s of Timeout.

Hence Closing.

[2020-04-20 06:58] #461 closed

[2020-04-21 06:48] willi84 commented on #479
@SanderElias what kind of further infos do you need?

[2020-04-21 07:04] willi84 opened #485 "spanish translation is on the same level as english one"
## 🐞 Bug report

### Description
mixed spanish and english menu

#### 🔬 Minimal Reproduction

#### 💻Your Environment

## 🔥 Exception or Error

![image](https://user-images.githubusercontent.com/6207308/79835520-20bd1700-83af-11ea-81e9-a0ffe997e40f.png)

[2020-04-22 17:36] jorgeucano opened #490 "Don't read every time the package.json in puppeteer"
puppeteerRenderPlugin.ts => We read the package.json in every run puppeteer we need cache that!

[2020-04-22 17:58] jorgeucano opened #491 "Add check for undefined html"
We skip all errors from plugins and more... But the problem if we have the html undefined.. And this return html with 'undefined'.

In executePlugins.ts
[code]

[2020-04-22 18:01] jorgeucano opened #492 "Add plugins error show and trow by default"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-04-22 18:01] jorgeucano opened #493 "Add command line option for put false the trow error in plugins"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-04-22 18:02] jorgeucano opened #494 "Add options for support for pluginsError like manualIdleCheck"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-04-23 11:06] #491 closed

[2020-04-23 11:06] #492 closed

[2020-04-23 11:06] #493 closed

[2020-04-23 11:31] #490 closed

[2020-04-23 11:32] jorgeucano commented on #249
Hey @peterbsmith2 Can you tell us what is the current state of this ?

[2020-04-24 02:02] robertbaker opened #499 "Plugin for Strapi"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...
Strapi is the leading headless open-source CMS.
### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-04-24 08:38] atao60 opened #500 "Wrong import in markdown module component.spec template under Linux"
## 🐞 Bug report

### Description

`@scullyio/init:markdown` generates a  component.spec.ts file where the import of the component file still starts with capitalized component name. It doesn't work under linux.

#### Change to apply

On `schematics/scully/src/files/markdown-module/\_\_name@dasherize\_\_.component.spec.ts.template`:

[code]

#### 🔬 Minimal Reproduction
Any time with:
[code]
#### 💻Yo

[2020-04-24 15:08] kjbetz commented on #458
I was never able to get it work... either in my project or from a clean new Angular 9 application. I tried adding polyfills, etc... same error.

I eventually took out the ScullyLib from my app module since I'm not really using it. And just ran the scully command to generate the static site.

[2020-04-25 02:24] donmckenna opened #501 "Include ScullyRoute when explaining ScullyRoutesService"
## 🗄️ Docs report

### Description

In https://scully.io/docs/getting-started#inject-the-route-service, the `TS` example console.logs the array of routes from the `ScullyRoutesService.available$` observable.

However, it is unclear what shape that observable takes because the example only uses `<any>`
[code]
When looking at the `ScullyRoutesService` class in `scully-routes.service.d.ts`, the `avai

[2020-04-25 22:43] cmgriffing opened #502 "TransferState does not handle fragments properly"
## 🐞 Bug report

### Description

The transferstate does not get fetched properly in the client when the page is loaded freshly with a fragment in the url.

The page handles fragments fine if the initial load was without a fragment.

#### 🔬 Minimal Reproduction

See: https://scully-image.github.io/docs/components and scroll down the page to one of the components. You will see the image fade in pro

[2020-04-26 20:40] TomHAnderson opened #503 "Installation fails on non-default directory structure"
## 🐞 Bug report

[code]

This issue reports on the use of non-ng-file structures.

Scully relies on the `sourceRoot` configuration in `angular.json` to determine how to
find other project files such as `app.module.ts`.

From ~/schmatics/scully/src/utils/utils.ts
[code]

Called from `schematics/scully/src/ng-add/index.ts`:
[code]
I would like to see all hardcoding of paths removed and replaced with

[2020-04-26 20:48] TomHAnderson opened #504 "Scully or scully? Proper naming is important!"
## 🗄️ Docs report

### Description

Is Sully proper as your README.md file shows at the top or is it sspelled in lowercase as your logo, directly under where it says Scully, show: scully?

## 🔬 Minimal Reproduction

Browse here: https://github.com/scullyio/scully/blob/master/README.md

### What's the affected URL?\*\*

https://github.com/scullyio/scully/blob/master/README.md

### Reproduction Step

[2020-04-26 21:39] TomHAnderson commented on #503
I can appreciate the artistic flair of defining file locations via `angular.json` but this minimalistic approach is not feasible for projects with advanced directory (or whatever) layouts.

I would like to see a solution for Scully which supports both the existing divination of directories via hard coded paths **and** a solution where the paths to any file in my application which scully can be cod

[2020-04-26 22:03] Jiraci opened #505 "PWA by default"
Hi! Would it be possible to make this PWA by default, like Gatsby? Using Angular for my Website would be so much more exciting, i dislike React.

[2020-04-27 06:16] mtopping opened #506 "Flash Prevention Plugin `defaultPostRenderers` rather than `postRenderers` in scully.config"
## 🗄️ Docs report

### Description

The README says to add the plugin to the `postRenderers` property in `scully.config`.

In the context of scully.config, the property is `defaultPostRenderers`.

### What's the affected URL?\*\*

https://github.com/scullyio/scully/tree/master/plugins/scully-plugin-flash-prevention

[2020-04-27 08:06] SanderElias commented on #505
Closing as duplicate(ish) of #23,
This is already on our radar, but we are investigating first how people are using Scully.
The default Angular service working is only partly suited for our use-case.

[2020-04-27 08:06] #505 closed

[2020-04-27 08:09] SanderElias commented on #504
It is Scully with a capital, except for the use in the logo.  There has been a long discussion on this, and this is how it's going to be. I don't disagree with you, but on the other hand, the logo with 2 capital `s`'s in a row looks _really_ off.
Closing as decided upon in past discusions

[2020-04-27 08:09] #504 closed

[2020-04-27 08:12] SanderElias commented on #506
The flash prevention should only be on routes that need it. The documentation is lacking this insight indeed.
We don't encourage to put is on the defaultpostRenderers. It is a helper to prevent big flashes on routes where there is no way to create a proper solution.

[2020-04-27 08:20] SanderElias commented on #503
@TomHAnderson I'm going to close this. We are rewriting our schematics to be independent of angular. Also we already did change this in Scully. It no longer depends on the angular.json.
If there is one, it will be used, and it will extract the paths from there.
However, you are able to overwrite all of the paths in the Scully config file already.
So your tier 1 and 3 are already there.
Path aliase

[2020-04-27 08:20] #503 closed

[2020-04-27 08:32] mtopping commented on #506
@SanderElias Makes sense. Does the PR now better explain where to add the plugin?

[2020-04-27 08:47] SanderElias commented on #502
I would welcome a PR for this. But is you are unsure, I do have an overhaul of this part of the code on my calendar anyway because I also need to factor in query params.

[2020-04-27 09:01] SanderElias commented on #502
issue #439 is closely related

[2020-04-27 12:11] jorgeucano commented on #500
Fixed in new version! Thanks for the report!

[2020-04-27 12:11] #500 closed

[2020-04-27 15:39] TomHAnderson commented on #503
I request this issue be re-opened.  Browsing the repository at https://github.com/scullyio/scully/blob/master/schematics/scully/src/ng-add/index.ts#L45 **still shows hard-coded path parts**.  I went over the entirety of the documentation located here:  https://github.com/scullyio/scully/blob/master/docs/scully-configuration.md and there is not a configuration variable to the `app.module.ts` and Sc

[2020-04-27 15:41] TomHAnderson commented on #503
This is the hard coded path giving so much trouble:
[code]

[2020-04-27 19:47] irustm opened #514 "Schematic @scullyio/init:blog generate "component.css" by default, although globally scss"
## 🧩 Feature request

### Description

`ng generate @scullyio/init:blog`

this command generate `css` file by default, but my app have

[code]

### Describe the solution you'd like

No

### Describe alternatives you've considered

No

[2020-04-27 22:36] TomHAnderson commented on #503
@SanderElias I'll keep tabs on this.  My expectation is all hard coded paths, including minutia as shown in my immediate previous post, will be part of the configuration and assumptive paths like `/app/` will no longer exist.

[2020-04-28 04:33] SanderElias commented on #503
@TomHAnderson That is one I missed, I'll move it into the config.

[2020-04-28 06:28] SanderElias commented on #503
@TomHAnderson Ok, I now know why I missed it. It is not part of Scully itself.
@jorgeucano This seems to be a schematics issue, and I agree it should be optionally configurable

[2020-04-28 09:09] ftanrisevdi commented on #318
Hi @SanderElias SanderElias,
I also really need this support. Is there any progress?
At least passing arguments to scully.config.js could be very useful.
Thank you in advance

[2020-04-28 11:27] SanderElias commented on #502
closed by #516

[2020-04-28 11:27] #502 closed

[2020-04-29 14:57] dyingangel666 commented on #318
My solution to solve this problem is to generate a base scully config file, and then a scully config for each language which extends the base config.

_scully.base.config.js_
[code]

_scully.de.config.js_
[code]

_scully.en.config.js_
[code]

And then you have have to put your custom configs to the npm scripts in your package.json like this:

[code]

Cheers ;-)

[2020-04-29 21:10] donmckenna opened #520 "Fragment links in .md files directing to `/` instead of `/current-page`"
## 🐞 Bug report

### Description
When Scully renders my `.md` files into `html` files, the resulting markup looks to be correct, however fragment links don't seem to be taking the current route into consideration.

For example my page looks like this:

![image](https://user-images.githubusercontent.com/22125230/80637689-a62e7000-8a1c-11ea-8693-b6268b794082.png)

And viewing the source looks like t

[2020-04-30 23:11] atao60 opened #522 "Unable to run the unit tests for schematics/scully."
## 🐞 Bug report

### Description

The script `npm test` under the root folder doesn't launch the unit tests of `schematics/scully`.

The script `npm test` under the folder `schematics/scully` failled.

I don't know if it's a bug or some obvious thing I'm missing.

#### 🔬 Minimal Reproduction
Any time with:
[code]
#### 💻Your Environment

**System:**

<pre><code>
cat /etc/issue
Ubuntu 18.04.2 LTS \n

[2020-05-01 11:24] s0l0c0ding opened #523 "missing "<scully-content>" in route "/blog/ Github actions / pages"
## 🐞 Bug report
 Error, missing scully-content tag in route "/blog/eng_spring_spring_posts"
   without scully-content tag we can not render this route.
   Make sure it is in there, and not inside any conditionals (*ngIf)
   You can check this by opening "http://localhost:4200//blog/eng_spring_spring_posts"
   when you serve your app with ng serve and then in the browsers console run:
   document.q

[2020-05-02 09:20] evolkmann opened #524 "Generate a Changelog and Use GitHub Releases"
## 🗄️ Docs report

### Description

The scully repo currently contains zero releases/tags and the changelog file is not maintained since v0.0.2. On npm however, new versions are released every few days.

This makes it unclear which issues are addressed in new releases and what the actual changes are.

Therefore I guess it would be a nicer experience using scully if this kind of information was ava

[2020-05-03 03:02] SanderElias commented on #523
I looked into this, and it is the base_href.
You can do this, but you have to move the output of `ng build` onto a subfolder of dust that has the same structure as your base ref. in your case, that would be `/solocoding-blog/`
The easy way is to update you `angular.json` to have this extra folder, and then make sure the Scully config file has a setting where the `distFolder` is one level higher th

[2020-05-03 03:02] #523 closed

[2020-05-03 09:28] s0l0c0ding commented on #523
actually the angular.json is not the problem, here it is :
`"options": {
            "outputPath": "dist/soloCoding-blog",`
and scully config is in the default position, so it's in the root of the project (same level as dist).

The problem is github deployment , as angular documentation [says](https://angular.io/guide/deployment#deploy-to-github-pages) we have to use base-href. I aslo tried [Scull

[2020-05-04 07:20] atao60 commented on #522
UPDATE
Even if the root dependencies are installed, the schematics tests don't work as it.

[code]

[2020-05-05 10:42] #514 closed

[2020-05-05 11:28] #522 closed

[2020-05-05 11:28] #485 closed

[2020-05-05 11:33] jorgeucano commented on #506
I saw a PR for this and is merged... Can i close this?

[2020-05-05 11:38] #506 closed

[2020-05-06 05:16] Splaktar commented on #416
Did you get this working? I'm also seeing issues with `@angular/service-worker` and Scully when offline. I get an infinite loop of the service working sending requests that fail and then reloading the page.

[2020-05-06 06:54] Splaktar opened #529 "Integrate with @angular/service-worker or add a plugin to support it"
# 🧩 Feature request
There are two major blockers that I've found to using `@angular/service-worker` with Scully to create a PWA:

## Hash mismatch
During `ng build --prod`, the `dist/app/ngsw.json` file gets populated with a `hashTable` object like the following:
[code]
When `npm run scully` is run, Scully changes that `index.html` by injecting the pre-rendered content into it. But this changes th

[2020-05-07 12:16] dyingangel666 commented on #318
@BlindDespair have the same build with i18n... and configured all similar to your stuff. The problem now is that when the angular project was built with --localize flag, the baseHref's are automatically set to the respective language, but in this case scully can't parse the pages correctly in my case which results, that the <app-root> element in the generated index.html files from scully has no ch

[2020-05-09 10:14] crazybber opened #534 "Couldn't find a route declaration in src/app/app-routing.module.ts"
## 🐞 Bug report

basic version :

[code]
[code]

### reproduce steps:

[code]
then

error : `Couldn't find a route declaration in src/app/app-routing.module.ts.`

[2020-05-09 10:27] crazybber commented on #534
fix steps:

**add a routes declaration :**

![image](https://user-images.githubusercontent.com/3401462/81471197-0f369480-9222-11ea-92a1-c8c572741349.png)

**then you can run**

 `ng generate @scullyio/init:markdown --name="blog" --slug="title" --source-dir="mdblog" --route="blog"`

then will get output:

[code]
code check here :

https://github.com/crazybber/ng-scully-template/commit/d4223f62626c9

[2020-05-10 22:25] geromegrignon opened #538 "[Docs-Showcase] add link on images"
## 🧩 Feature request

### Description

The showcase page of the official documentation might look cleaner by having the link to the website directly on the logo rather than with a separate link

Actual Documentation

![scully io_docs_showcase_](https://user-images.githubusercontent.com/32737308/81512024-aa606480-931d-11ea-9499-f1083e4344b8.png)

Proposition

![scully io_docs_showcase](https://user

[2020-05-10 23:54] geromegrignon commented on #501
Great idea;
Feel free to open a PR.

I would use the existing *Getting Started* file to explain the relationship between the .md file shape and the *ScullyRoute* interface as the Core lib file only focus on the ScullyRouteService and the *Blog Support* file only focus on the generated files.

[2020-05-11 12:44] #534 closed

[2020-05-11 19:25] spock123 commented on #318
Also stuck on this, too bad I really wanted to try to statically render our site.. does anyone know of a workaround for this? Even having a separate scully config for each locale (with an outdir specification) would be good enough

[2020-05-11 19:39] dyingangel666 commented on #318
Yeah but there's another issue with parameterized scully config and the localized sites are not correctly parsed. Also trying to workaround it the last days...

[2020-05-11 19:40] BlindDespair commented on #318
@dyingangel666 I don't have a working solution yet because there is no chance to tell scully what `baseHref` to use. I am still waiting for this too. We need multilanguage support on our site, but it's not high prio.

[2020-05-11 19:43] dyingangel666 commented on #318
Yeah same here....But for me it's very important because it's a marketplace site. Trying another thing tomorrow to workaround the issue... Maybe I have luck  😅

[2020-05-11 20:38] donmckenna commented on #501
Sounds good, I'll start on a PR soon.

[2020-05-12 04:58] SanderElias commented on #538
@geromegrignon Good catch!. We are doing some refactorings now, and I will pick this up while I'm working on that.

[2020-05-12 08:59] Enngage opened #540 "How to use in combination with baseHref on external url?"
## 🧩 Feature request

### Description

Hey guys,

I was testing scully and encountered an issue that when you define **baseHref** in **angular.json** to an external URL such as:

[code]
the generated html files are pretty much empty, which makes sense because the files are not yet uploaded to external source and requests to files fail with 404. The external source in this case is CDN where the fin

[2020-05-12 10:22] dyingangel666 commented on #318
So found a workaround that is working. Not the best solution, but until there's a fix from scully side, it's the best option for now:

scully.config
[code]

i18nBaseHrefFix.js
[code]

angular.json (i18n config)
[code]

It's important to set the baseHref for each language to "/" because then scully parses all pages correctly and the index.html files have all the static content. The postrenderer scr

[2020-05-13 05:55] DYEWolf opened #543 "npm run scully not working"
## 🐞 Bug report

### Description
I follow the tutorial in the docs to create a new scully app, everything works fine until I have to run the command *npm run scully*, then i got the following error:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! my-scully-app@0.0.0 scully: `scully`
npm ERR! Exit status 1

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

[2020-05-13 15:29] dalelarsen commented on #543
Exact same issue here.

[2020-05-13 16:10] stevermeister commented on #543
I found that that problem is with **tslib**.
it works with version

[code]

(without ^)

[2020-05-13 16:51] puku0x opened #548 "TSX highlighting support"
## 🧩 Feature request

### Description

`markdownPlugin` does not highlight some React / StencilJS components because `highlight.js` which is used in the plugin does not support `.tsx` files.

Example
[code]

### Describe the solution you'd like
I think [Prism](https://prismjs.com/) is a good alternative to solve this problem.

[code]

### Describe alternatives you've considered
- Treat `.tsx` as `

[2020-05-13 17:24] jorgeucano commented on #524
With the NX monorepo, we will add all for the changelog :D

[2020-05-13 18:10] DYEWolf commented on #543
You are right, with that modification works but I assume this is not a fix of the issue right? just a workaround?

[2020-05-14 00:17] Splaktar commented on #548
If you use [PrismJS](https://prismjs.com/) as described in [the docs](https://scully.io/docs/utils#syntax-highlighting-using-prismjs), they have TSX support.

You just need to make sure to import the following in your `HighlightService`:
[code]

[2020-05-14 00:38] puku0x commented on #548
@Splaktar
Oh. I didn’t know Scully has a document site. Thank you for the info.

The `HighlightService` looks good too, for now.

[2020-05-14 05:29] evolkmann commented on #524
Okay, nx is also fine of course. I am exited to get my first release notification :)

[2020-05-14 06:45] stevermeister commented on #543
@DYEWolf yes, right, I just put it here to help unblock developers and provide some extra infromation for contributors.

[2020-05-14 09:36] stevermeister opened #551 "Config file ".../scully.blog.config.ts" not found"
## 🐞 Bug report

it's strange that

[code]

generates **js** file for you but after that

[code]

expect you to have **ts** file.

[2020-05-14 09:39] SanderElias commented on #551
@stevermeister For now, rename the config.js to config.ts.
@jorgeucano we need to update the schematic

[2020-05-14 10:10] stevermeister opened #552 "No configuration for route "/blog/:title" found."
## 🐞 Bug report

the command
[code]

does not update config. it's still empty:

[code]

[2020-05-14 11:22] #552 closed

[2020-05-14 12:32] stevermeister commented on #552
I just forgot to put in .md file
[code]

[2020-05-14 12:59] SanderElias commented on #551
CLosed by #553

[2020-05-14 12:59] #551 closed

[2020-05-14 13:11] jorgeucano commented on #543
Hey, good morning! I created a new project from scratch with the angular CLI, installing v9.1.6, and all work for me!

[code]

package.json
[code]

[2020-05-14 13:17] stevermeister commented on #543
@jorgeucano which version of  "tslib": "^1.10.0", you got installed?

[2020-05-14 13:20] jorgeucano commented on #543
[code]

I just from the CLI, I do not add anything, but we will block for this version `1.10.0` for now and check why don't work with the new version.

[2020-05-14 13:34] stevermeister commented on #543
@jorgeucano I've checked *1.13.0* - it works for me as well.
the problem was with *1.12*

[2020-05-14 14:26] nartc opened #555 "Default <code> block in Markdown to have "hljs" class"
## 🧩 Feature request
Default `<code>` block in Markdown to have `hljs` class name

### Description
#446 PR includes a better way to handle syntax highlighting for Markdown which uses `highlight.js` under the hood.

Even though it's not officially in the documentations but I've given this new approach a try and I have to say it's working great. The only hiccup (very small) that I ran into was since

[2020-05-14 15:04] SanderElias commented on #543
Closing this, as it was a deps conflict from the CLI, and the updated version of the CLI doesn't have the conflicting tslib version anymore

[2020-05-14 15:04] #543 closed

[2020-05-14 20:27] Splaktar commented on #529
From @SteveDa79131270_twitter on Gitter:
[code]

[2020-05-15 00:25] Splaktar commented on #529
This workaround mostly works for me. It gets my site working cached and working offline. The only issue that I have is that reloading when offline only works for my routes without `<scully-content>`. But if I reload on my home page or `/blog` page, it works fine, then I can go to any of the blog posts that I've already visited (lazy caching) and they work offline (as long as I don't reload on a bl

[2020-05-15 03:13] pierresigwalt opened #556 "ScanRoutes"
## 🐞 Bug report
We encountered a problem while reading the routes from your applications source.
This might happen when there are lazy-loaded routes, that are not loaded,
Or when there are paths we can not resolve statically.
Check the routes in your app, rebuild and retry.

### Description
I just added Scully to my application but when trying to scan new routes I am getting this error even if the

[2020-05-15 11:33] jorgeucano commented on #213
Hey @d-koppenhagen Do you think you can re-write this? With the new structure?

[2020-05-15 11:34] jorgeucano commented on #249
I close the issue due to inactivity

[2020-05-15 11:34] #249 closed

[2020-05-15 11:35] jorgeucano commented on #243
I close the issue due to inactivity

[2020-05-15 11:35] #243 closed

[2020-05-15 11:36] jorgeucano commented on #215
I close the issue due to inactivity

[2020-05-15 11:37] #217 closed

[2020-05-15 11:39] jorgeucano commented on #428
We need talk with the Ionic team... I will talk with @mhartington!

[2020-05-15 11:40] jorgeucano commented on #439
Fixed

[2020-05-15 11:40] #439 closed

[2020-05-15 11:41] jorgeucano commented on #456
The code is in master, We need just start to translate the docs! thanks all !

[2020-05-15 11:41] #456 closed

[2020-05-15 11:43] jorgeucano commented on #479
Hey @willi84 We think this is resolved, because we add more logs to the render. If you need any more please open another ticket.

[2020-05-15 11:43] #479 closed

[2020-05-15 11:43] jorgeucano commented on #480
Hey i will check your PR this weekend! thanks for your work!

[2020-05-15 11:46] #494 closed

[2020-05-15 11:52] jorgeucano commented on #538
@GuzmanPI Can you take a look?

[2020-05-15 13:24] SanderElias opened #557 "move auto generated config.js out of the 'root' folder."
## 🧩 Feature request

### Description
Rigth now, the config.ts is compiled to the config.js file that is visible in the same folder.
This causes confugsion.
 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alterna

[2020-05-15 15:36] d-koppenhagen commented on #213
sure :)

[2020-05-15 15:58] d-koppenhagen commented on #213
here it is: https://github.com/scullyio/scully/pull/558

[2020-05-15 23:53] GuzmanPI commented on #538
Yes @jorgeucano  I'll take a look at it

[2020-05-16 02:42] johnnliu commented on #461
I wanted to add a note that
[code]

Has also worked for me in Azure DevOps Pipelines, which previously also timed out.   @SanderElias  I think this would be a really good topic to be on the main Scully Docs under continuous integration.  I had to dig into the issues to find this gem.

[2020-05-16 11:36] SanderElias commented on #461
@GuzmanPI

[2020-05-18 14:25] puku0x commented on #557
I added the config.js file to `.gitignore`, as a temporal solution😅

[2020-05-18 17:16] SanderElias commented on #556
I can't reproduce your issue. This works already in a lot of projects.
Can you provide a reproduction of the issue?

[2020-05-19 12:19] #213 closed

[2020-05-19 12:30] Vandivier opened #561 "TS error on ng add"
## 🐞 Bug report

### Description

received a ts error in the cli-generated scully config.`

I believe it's easily solved by adding `defaultPostRenderers: [],` to the default config

#### 🔬 Minimal Reproduction
1. have vs code with typescript support
2. `ng add @scullyio/init`
3. visit generated scully config
4. get error

#### 💻Your Environment

**Angular Version:**

<pre>9.1.0<code>
</code></pre>

[2020-05-19 12:46] Vandivier commented on #561
there's also a typo on `npm run scully`:

[code]

loaded is spelled incorrectly

[2020-05-19 12:58] SanderElias commented on #557
Looked into this. The fact that imports are done relative to the position of the TS file (and this also the JS file) makes it very impractical to move the config file.
@GuzmanPI Can you make a note that we need to document this?

[2020-05-19 12:58] #557 closed

[2020-05-19 12:59] SanderElias commented on #561
@Vandivier Actually, all those issues are already solved. I will push out a new version later to day that holds those changes.

[2020-05-19 12:59] #561 closed

[2020-05-19 17:13] Vandivier opened #563 "broken json plugin hyperlink"
Visit: https://scully.io/docs/plugins#router-plugin

grep:
`It uses the JSON Plugin which is part of Scully.`

The hyperlink substring broken.

[2020-05-19 17:26] Vandivier commented on #563
I also tried to reproduce the `userIdPlugin` described [here](https://scully.io/docs/plugins), but typescript complained:

[code]

[2020-05-20 00:46] Splaktar commented on #529
https://github.com/angular/angular/issues/16051 seems to be the cause of the offline reload issues in SW. In addition to adding `/index.html` to the route causing it to work, you can also just add `/` to the route to make the offline reload and SW cache lookup work.

Firebase Hosting has a setting for setting `"trailingSlash": true` as well, but Angular always comes in an removes the trailing slas

[2020-05-20 02:21] Splaktar commented on #529
The best `UrlSerializer` that I could found was the following
[code]
And it does seem to work in that all URLs get a trailing slash. However, I haven't been able to update my routes, `[routerLink]`, or Scully config to work with this. I tried many different alternatives for a couple of hours.

It seems like no matter what I do, Scully generates the routes without a trailing slash.
[code]
Then when

[2020-05-20 09:37] SanderElias commented on #529
@Splaktar We have a plugin that will update the routes in the static HTML.
When you use the render plugin `seoHrefOptimise` in your `defaultPostRenderers` array, all known routes will be updated in the static HTML. This helps with SEO optimization mostly.

[2020-05-20 11:47] SanderElias commented on #556
I'm going to close this as there is no added actionable data anymore.
When you still have problems, please add it in here and we can reopen.

[2020-05-20 11:47] #556 closed

[2020-05-20 15:36] stevermeister opened #565 "Local Markdown images"
## 🧩 Feature request

### Description

I suddenly found that current markdown parser tries to parse all the files in the folder, not only **.md** (could be also taken as a **bug**)
I want to keep **images** together with **.md** files like:
![Screenshot 2020-05-20 at 17 35 57](https://user-images.githubusercontent.com/1526680/82466195-62310700-9ac0-11ea-95d5-13a314369225.png)

### Describe the sol

[2020-05-20 18:39] jtcrowson opened #566 "Unable to Change Blog Route"
## 🐞 Bug report

### Description

Cannot generate a blog using any route other than `blog`.

`ng generate @scullyio/init:markdown` works fine when the path is `blog`, but doesn't when path is anything else, like `docs` for example.

#### 🔬 Minimal Reproduction

1. `ng new scully-test`
2. `ng add @scullyio/init`
3. `ng generate @scullyio/init:markdown`
`? What name do you want to use for the module

[2020-05-20 21:35] jtcrowson commented on #566
Also, if this is a bug/feature, I'd be happy to work on it if a core team member points me in the right direction.

[2020-05-21 00:50] pierresigwalt commented on #556
Hi,

Don't want to reopen it but it may help someone. The issue was not coming from the plugin but from my Angular Project:

Use Case:

**AppModule**
[code]

**SharedModule**
[code]

**HomeModule**
[code]

As we can see I have imported:
* HomeModule and SharedModule inside AppModule
* SharedModule inside HomeModule

The fix that I have done to remove the error when scanning the route was to remove

[2020-05-21 08:11] hauner opened #568 "clear dist/static before building"
## 🧩 Feature request

### Description

It would be nice if scully would clear the `dist/static` folder before building. It is collecting obsolete files. :-)

<img width="306" alt="dist-static" src="https://user-images.githubusercontent.com/321864/82537863-0e1f3480-9b4b-11ea-9c15-08219dfa8cd0.png">

[2020-05-21 12:48] SanderElias commented on #568
Use the command-line option `--removeStaticDist` to clear the dist folder before building.
Closing because this is an existing feature

[2020-05-21 12:48] #568 closed

[2020-05-21 13:58] hauner commented on #568
Oh, sorry for the noise.  Looked for it but didn't find it the first time... ;-)

[2020-05-21 16:55] kylecordes opened #570 "Divide output files by application"
## 🧩 Feature request

I added Scully to a Nx workspace. NX (and actually just based CLI) correctly configure the output in various subdirectories underneath dist so that things are divided up her project. It appears that Scully currently always uses dist/static, which does not support mult-iproject workspaces very well.

Instead, it should use something like this:

`dist/scully/appname`

or simila

[2020-05-21 21:43] jtcrowson commented on #566
Fixed by running `npm run scully -- --scanRoutes` before step 10.  Might be worth adding to the markdown documentation.  Would you like me to add it?

[2020-05-22 10:53] etavener opened #571 "Access environment.ts from scully config file."
Hi,

Firstly I would like to say great work with Scully, it's fantastic! I've given up on complicated SSR for this easy peasy generator.

In my Scully config (I can see you recently changed it to be a ts file). I would like to be able to access values in the environment.ts file. This is where I keep my base URL's and I would like to be able to define my routes using the values in the environment.t

[2020-05-22 13:56] etavener opened #572 "I can see the transferState escaped at the bottom of my html."
## 🐞 Bug report

### Description
I've just implemented the `transferState` with my `http.get` requests.

However, I can now see all the escaped responses at the very bottom of the page. I think there is something wrong with the escaping. My data is coming from the Wordpress API.

#### 🔬 Minimal Reproduction
<pre>
<code>
function getData( URL: string, httpOptions?: any){
   let key = url;
   return

[2020-05-22 15:45] etavener commented on #572
I fixed it in the end. There was a script tag in a response (a big no no I know) coming from a WP endpoint. I had to do my own stringify / parse and escape and unescape. but you might want to make sure this is done properly from the service side.

In the end, I did the following:

return this.state.getState( key ).pipe(
            switchMap( (state: string) => {
                if( state && cache

[2020-05-22 20:12] stevermeister opened #573 "Step-by-step guide how to create your plugin"
I would like to create fileHandler plugin, but there is no set-by-step guide on how to do it.
Found only this page - https://scully.io/docs/plugins
Examples are good, but it appeared still not enough for me

[2020-05-23 06:04] SanderElias commented on #572
The content in there is JSON data, and it should contain the least amount of state possible.
So, my question is this, you had HTML inside your JSON and that was causing issues?
I would like to see a reproduction of that, so I can do some testing.

[2020-05-23 08:57] evolkmann opened #576 "CI stage "npm run cypress:e2e:server" fails"
## 🐞 Bug report

### Description

In the GitHub Actions CI pipeline, the Cypress E2E Test fails because of missing browser:

#### 🔬 Minimal Reproduction

See example at https://github.com/scullyio/scully/pull/575/checks?check_run_id=701664156

## 🔥 Exception or Error

<pre><code>
Can't run because you've entered an invalid browser name.

Browser: 'chrome' was not found on your system.

Available b

[2020-05-23 09:27] stevermeister commented on #565
I found there is an option to create my own **fileHandler** plugins, so at least I can skip the error:

[code]

but still, I'm getting the only **rawContent**, without a file path. and it will be stored as **HTML file**. Can I keep the **extension** somehow?

[2020-05-23 11:00] SanderElias commented on #565
@stevermeister I like that idea, but have currently no bandwidth to work on this. Currently the assumption is that all handed things are HTML.
IIRC currently files that have no extension configured should be skipped by default. Will double-check this.

[2020-05-23 11:04] SanderElias commented on #576
@evolkmann No clue what happened, I'll restart the tests. Will keep an eye on it.

[2020-05-23 11:12] SanderElias commented on #576
That fixed it. Some fluke in GA. Closing for now, will keep an eye on this. if it happens a lot, we need to take some extra care there

[2020-05-23 11:12] #576 closed

[2020-05-23 13:33] etavener commented on #572
To explain a bit further. I am calling a list of posts from a WordPress API.

On Wordpress I have a common plugin called 'Yoast SEO' installed. When I call the posts API it returns SEO data for each post as well as other properties.

Unfortunately, the Yoast property with a bunch of meta-information as HTML in a string.

The issue is that this string also contains a  '..<script>....</script>'. The

[2020-05-23 14:09] stevermeister commented on #565
I found that there is a second parameter for fileHandler provided - **route**, that's great! So at least I can do such workaround:

[code]

but still, in this case, I need to sync the image path with generated HTML, so ideally to have it out of the box.

[2020-05-23 15:27] SanderElias commented on #572
Ok, I get the issue now. I'm not going to put in encoding right away, but next week I will do a small performance update, that might fix your issue too.
I'm going to close this now. If some has HTML content in their state, they should encode that before putting it into the state.

[2020-05-23 15:27] #572 closed

[2020-05-23 15:32] SanderElias commented on #571
You can import the environment file from your angular app in your config file directly. Make sure you import the correct one. Probably that is the `.prod` version

[2020-05-23 15:32] #571 closed

[2020-05-23 15:36] SanderElias commented on #570
You can set the `outDir` option in the config.ts, and have a different one for each project.

[2020-05-23 15:36] #570 closed

[2020-05-23 15:36] SanderElias commented on #568
No problem!

[2020-05-23 15:38] SanderElias commented on #556
@pierresigwalt Thanks for sharing,

[2020-05-23 16:57] SanderElias commented on #565
@stevermeister What you need is some form of assets management. This is also on our radar.
There are many ways to sync with the HTML.
With your plugin you keep it in the same folder structure as the HTML (markdown).
You can then reference them using the `./imageName.png` in your markdown.
I don't think that is a bad solution and will take this idea with me until I _do_ have some bandwidth

[2020-05-25 08:52] stevermeister commented on #565
Yes, true. But ideally, I would like to have valid md-file in editor mode (where all the images are shown)

now, I'm thinking that in addition to my `imageFilePlugin ` I can create one more portRender plugin that will update the links in HTML. (writing this line and praying that you would have time to fix it in core :) )

[2020-05-25 14:32] GuzmanPI commented on #538
This has been addresed

[2020-05-25 21:20] MikeOne commented on #439
Hey Jorge - in which release do you expect this fix to be in?

[2020-05-26 03:53] SanderElias commented on #565
@stevermeister relative links are permitted in MD, and if the file is in the same folder, it should show in the editor you are using. VScode preview does this perfectly.

[2020-05-26 07:47] skatcat31 opened #580 "Route Traversal with Class helpers"
## 🐞 Bug report

### Description

Okay we all hate boilerplate. It sucks. AutoComplete and Hints help a ton! But what happens when that is STILL more typing to get the right Intellisense instead of just using a helper class to construct an object for you that meets the requirements of the route object?

#### 🔬 Minimal Reproduction

1. Make a new Angular CLI app and add some routes
1. Add Scully
1.

[2020-05-26 08:12] MikeOne commented on #580
Just curious, what happens when you set up your b route like

`new Route('b', BComponent)` ?

[2020-05-26 08:16] skatcat31 commented on #580
whoops that is how I set it up. Sorry, it's a little late for me. Fat fingered and slow-minded.

[2020-05-26 08:18] dyingangel666 commented on #540
Same with all custom baseHref's which are different than the default "/". It a baseHref is set, the prerendered html files are empty within the <app-root></app-root> part. Same things happen when you use the angular i18n tools and build your project with the --localize flag, then angular automatically sets the baseHref to "/de/" or "/en/" automatically because angular builds a separate project for

[2020-05-26 09:42] donmckenna opened #581 "Route params can cause TransferState error"
## 🐞 Bug report

### Description

`TransferStateService.useScullyTransferState()` seems to cause `fetchTransferState()` to throw an error when navigating from a route without params to a route with params..
**but only** when refreshing the page on a route **without** params..
**and not** when refreshing the page on a route **with** params.

The result of the `useScullyTransferState` observable see

[2020-05-26 13:53] jorgeucano opened #582 "add scully.*.config.js to gitignore in schematics"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-05-26 13:59] jorgeucano opened #583 "Watchmode issue with MacOS mojave"
## 🐞 Bug report

### Description

Kill the process with "ctrl+c" after press "r+intro"

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2020-05-26 14:12] SanderElias commented on #580
@skatcat31 This is an issue with Guess-parser. Scully is depending on that for route traversal.
There is no actionable content for Scully here, so I'm closing this issue for now.
If you have more insights, please add them here, and we can reopen.

[2020-05-26 14:12] #580 closed

[2020-05-26 20:59] alexbjorlig opened #586 "Does Scully support angular web components?"
## 🗄️ Docs report

### Description

I can't find in the docs, if Scully will support angular web components.

Let's say that I have created an Angular web component called library-a.

This web component is used both in a Wordpress site, but also in another "normal" angular SPA. If I use Scully on this "normal" SPA, will the page with the web component static render?

I new to this static rendering

[2020-05-27 08:17] SanderElias commented on #586
Everything that is in the light-dom will be rendered by Scully.
This means it depends on how you did build your components. Also, it is depending on how/when you load your Elements code, and how those elements appear on the page.
So, it's hard to tell, or document, because there are many unknowns. We have a sample that utilizes some web-components on our roadmap, but that might take a while before

[2020-05-27 08:17] #586 closed

[2020-05-27 08:22] alexbjorlig commented on #586
Thanks for taking your time to answer - we will go ahead and try to build a small POC and determine if Scully is a good match 🤓  Sounds awesome with the upcoming examples - you are doing a great job 🙌🏾

[2020-05-27 14:45] MikeOne commented on #439
@jorgeucano @SanderElias - I'm still seeing this issue in the latest version. Would you like me to raise a new issue or can this one be re-opened? And can maybe someone confirm this is indeed not fixed in the current version (0.0.92 | 0.0.22)?

[2020-05-27 15:02] jorgeucano commented on #439
@MikeOne Sander is working on it!

[2020-05-28 07:36] SanderElias commented on #540
@dyingangel666 Setting the base-href is a feature of Angular-CLI. Angular itself does actually nothing.
I'm currently working on a plugin that allows you to rewrite the base-href. That will be configurable, and even different for routes. Ihope this will be available this week.

[2020-05-28 10:07] stevermeister commented on #565
@SanderElias I was also thinking about relative links, but the challenge here is the Scully puts compiled md-file into own folder, so new structure is now:

![Screenshot 2020-05-28 at 11 57 12](https://user-images.githubusercontent.com/1526680/83127871-f4e22f00-a0da-11ea-9dec-2494fe0a470f.png)

so now I need to do
`../images/...`
instead of
`./images/...`

or copy files to that folder, but it's no

[2020-05-28 15:32] stevermeister commented on #565
for now, I decided to copy all the image in one root folder that will unblock me before "local images" are supported by Scully:

[code]

[2020-05-28 23:19] hisham opened #590 "Improve scully.io pagespeed score?"
## 🗄️ Docs report

### Description

Scully claims to be "wicked fast", but when I run your own scully.io site in pagespeed insights, the score is only 54/100. I would expect a "wicked fast" claim to be matched with a score of 90 or above.

Perhaps improve the scully.io site or explain why only a 54 pagespeed score is achieved?

## 📷Screenshot

<img width="724" alt="PageSpeed Insights 2020-05-28 17

[2020-05-28 23:23] hisham commented on #590
To be fair, Gastby's site is not a 90+ either, but is still better than Scully's:

<img width="736" alt="PageSpeed Insights 2020-05-28 17-21-38" src="https://user-images.githubusercontent.com/81853/83203931-c7f84100-a107-11ea-9c20-5e6e44c2352d.png">

And here is Netlify:

<img width="732" alt="PageSpeed Insights 2020-05-28 17-22-48" src="https://user-images.githubusercontent.com/81853/83203987-e82

[2020-05-29 02:03] msacket commented on #590
While I think PageSpeed is a useful metric, I'm not totally sold on its precision.  Multiple runs of any site yield wide-ranging results.  My runs of scully.io yield 69 for mobile and 92 for desktop.  In either case, for me, a cleared-cache run on both desktop and mobile yields nearly instantaneous renderings of the home page. Seems wicked fast to me.  I'm not sure why the number and timings withi

[2020-05-29 07:15] stevermeister opened #591 "Log format - Errors summary"
## 🧩 Feature request

I'm converting my old WP blog to Scully now, it's about 300+ MD-files. Scully shows errors for some of them, but when it's too much output in the console it's really hard to find all the errors (Even you highlight it orange, thank you). IT would be really convenient to have a summary of all the errors after.

[2020-05-29 11:31] SanderElias commented on #591
@stevermeister This is on our radar, and the system is already geared up to do this.

[2020-05-29 19:29] stevermeister commented on #565
we definitely need a core solution here, just found that Scully put this images converted into MD-files to **this.scully.available$**

a bit more hardcode:

[code]

[2020-05-31 12:32] samvloeberghs opened #595 "Document why postRenders is overwriting defaultPostRenderers"
## 🐞 Bug report

### Description

Currently we can specifiy the post renderers via 2 options:

1. The `defaultPostRenderers` at the root level of the config
2. The `postRenderers` at the route level of the config.

For example

[code]

This is the relevant code:
https://github.com/scullyio/scully/blob/23c8fcf740b15c8cb420c5dc1bc2ac7339edea83/libs/scully/src/lib/renderPlugins/executePlugins.ts#L10-

[2020-06-01 04:39] SanderElias commented on #595
@samvloeberghs We designed it this way. If you have a route that needs to be really different, you need to be able to dispose of the renderers that are set by default.
Its going to be really complicated to serve all use-cases with automated behavior:
[code]
Yes, there is a risk that you will forget to add the `defaultPostRenderers`  (:raised_hand_with_fingers_splayed:  guilty!) but in my opinion,

[2020-06-01 05:20] SanderElias commented on #590
WIP #594.

[2020-06-01 05:22] SanderElias commented on #582
Handled in #592

[2020-06-01 05:22] #582 closed

[2020-06-01 05:28] SanderElias commented on #566
I'm going to close this, as there is no further action needed.
@jtcrowson You did change the routes in your angular app. Do you feel this message in the console isn't sufficient enough?
![image](https://user-images.githubusercontent.com/1249083/83378460-0b3d0300-a3d9-11ea-8e3d-e03d79bfb775.png)
But feel free to add something to our documentation, we still need to improve/extend!

[2020-06-01 05:28] #566 closed

[2020-06-01 05:38] samvloeberghs commented on #595
Sounds reasonable to me. Can we transform this ticket and keep it for adding documentation about this?

[2020-06-01 05:59] SanderElias commented on #581
fixed in #517

[2020-06-01 05:59] #581 closed

[2020-06-01 13:54] valonymeri opened #598 "Routing problem"
## 🐞 Bug report

Scully just finds, one route not others,

[2020-06-01 20:15] nartc opened #599 "Add support to write plugins in TypeScript"
## 🧩 Feature request

### Description
Currently, custom plugins need to be written in JavaScript for them to work out of the box.
Custom plugins written in TypeScript needs to be `transpiled` to JavaScript before running `npm run scully`.

Since **Scully** now comes with `scully.<proj_name>.config.ts`, there is a need to be able to write custom plugins in TypeScript without much effort.

### Descr

[2020-06-02 06:57] geromegrignon commented on #598
Hello, please provide further information in order to help you :

- the steps you used
- a repo to the project to test it

[2020-06-02 09:21] SanderElias commented on #599
@nartc I like this idea. However, due to the nature on how typescript finds its dependencies, it is very difficult to automate.
If you can provide a solution, we would warmly accept the PR for that.
One major issue is that I don't know what plugins are used. To know this, I would have to make an AST from the config.ts and traverse it for external resources. Then for each of those resources, you ha

[2020-06-02 09:21] #599 closed

[2020-06-02 12:02] SanderElias commented on #595
@GuzmanPI

[2020-06-02 14:31] GuzmanPI commented on #595
I'll work on it! 👍🏾

[2020-06-03 09:36] SanderElias commented on #565
I will make sure non-recognized files will not get processed.

[2020-06-03 10:20] doggy8088 opened #602 "Consider rename staticport to staticPort"
## 🐞 Bug report

### Description

When I configuring scully config file, I realized that there is only one property `staticport` is not lower camelCase'd.

<img width="405" alt="2020-06-03_18-15-01" src="https://user-images.githubusercontent.com/88981/83625609-caa2dc80-a5c6-11ea-9528-2e76d1587d18.png">

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:** `9.1.7`

<pre><code>

[2020-06-03 11:39] SanderElias commented on #590
![image](https://user-images.githubusercontent.com/1249083/83632500-ada6e300-a59f-11ea-979e-efd0c7525b26.png)
https://developers.google.com/speed/pagespeed/insights/?hl=nl&url=https%3A%2F%2Fscully.io%2F&tab=desktop

Fixed.

[2020-06-03 11:39] #590 closed

[2020-06-04 08:03] stevermeister opened #604 "scully.getCurrent() is not connected to router state change"
## 🐞 Bug report

### Description

maybe it was planned.
but when I **change the router state** I expect to have a new currentState from `getCurrent()` Observable:

[code]

temporary workaround:

[code]

[2020-06-05 11:53] #480 closed

[2020-06-06 05:57] puku0x opened #608 "Flash prevention plugin should not set 'display: inherit' on loaded"
## 🐞 Bug report

### Description

The following css is added when the app using `scully-plugin-flash-prevention` has been loaded.
[code]

`display: inherit;` changes the layout when `app-root` has `display: gird;` like Scully's blog sample.

<img width="1439" alt="" src="https://user-images.githubusercontent.com/2607019/83933867-52ffc800-a7e7-11ea-832b-70c649bddc34.png">

<img width="1425" alt=""

[2020-06-07 06:51] AnkitaSinghal opened #609 "External redirects to .md files leads to broken links"
## 🐞 Bug report

### Description -
When we add a link in blog which points to a readme.md (or any .md file) on some other site like github, scully prefixes it with localhost (or current server url)

#### 🔬 Minimal Reproduction
Add a redirect link (https://github.com/scullyio/scully/blob/master/README.md) in any blog.
Clicking on the link redirects the user to http://localhost:1668/docs/https://git

[2020-06-08 08:25] SanderElias commented on #520
There is a `docsLinkRewrite` plugin in the `demos/plugins` folder that takes care of this. For usage now I would refer to the [scully-docs config](https://github.com/scullyio/scully/blob/master/scully.scully-docs.config.ts), as it is used there.
I have an active todo to move this to our plugins folder, and to document it

[2020-06-08 08:25] #520 closed

[2020-06-08 08:27] SanderElias opened #612 "plugins(task) move docsLink plugin to correct folder and add documentation"

[2020-06-08 09:12] SanderElias opened #613 "update versionumber && publish all"
## 🧩 Feature request
A tool to update the version number in _all_ libs and apps.
and a tool too npm publish all those versions && create a GH tag for this.

### Description

 A clear and concise description of the problem or missing capability...
now we have to manually sync and publish all packages.

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### D

[2020-06-08 09:14] SanderElias opened #614 "Tooling to automate a scully run."
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like
We need a tool/schematic that builds everything a scully-run needs, and then runs scully.
Bonus: auto-deploy hook.

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternativ

[2020-06-08 11:45] SanderElias opened #616 "update plugins docs from plugins own readme"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-08 11:56] ankita-singhal12 commented on #563
The broken link issue should be fixed in this PR [https://github.com/scullyio/scully/pull/607]

For the plugin, I returned <any> in the meantime

@SanderElias : Should I go ahead and fix this in the documentation? Any suggestions.

[2020-06-08 11:58] AnkitaSinghal commented on #563
The broken link issue should be fixed in this PR [https://github.com/pull/607]

For the plugin, I returned in the meantime

@SanderElias : Should I go ahead and fix this in the documentation? Any suggestions.

[2020-06-08 12:12] donmckenna commented on #520
Thanks Sander :)

[2020-06-08 13:16] etavener opened #618 "Ability Update a specific route and not all routes"
## 🧩 Feature request

### Description
I'm implementing Scully for a very large application. It currently has 1200+ pages and the API's take a while. In fact it takes 1 hour and 5 mins to generate a static version of the site. However, sometimes only one page has been updated due to a content change.

### Describe the solution you'd like

- provide scully with a single route param via cli. This wou

[2020-06-08 13:48] #540 closed

[2020-06-08 13:48] #609 closed

[2020-06-08 13:49] #608 closed

[2020-06-08 14:08] #604 closed

[2020-06-08 14:14] SanderElias commented on #618
@etavener Have you seen the `--baseFilter` option?
It enables you to limit Scully to only generate to a single unhandled route.
In the planning is an option to do the same for handledRoutes. That will allow for even more granularity.

[2020-06-09 09:30] SanderElias commented on #591
this is closed by #597.
By default, Scully now logs warnings to the file `scully.log` in the root folder.

[2020-06-09 09:30] #591 closed

[2020-06-09 09:36] SanderElias commented on #598
Closing due to inactivity

[2020-06-09 09:36] #598 closed

[2020-06-09 13:40] #565 closed

[2020-06-10 11:24] SanderElias commented on #318
I have released a base-href-rewrite plugin,(#610) that should take care of most of the concerns here. ([instructions](https://github.com/scullyio/scully/tree/master/libs/plugins/base-href-rewrite))

[2020-06-11 08:27] SanderElias commented on #618
closed by #623

[2020-06-11 08:27] #618 closed

[2020-06-15 00:12] donmckenna opened #630 "Scully Generated NavList component + accidental Docs redesign"
## 🗄️ Docs report

Hello everyone.
I started building a component which was supposed to snap into the current Scully docs, and would generate a hierarchical nested navigation list of all `ScullyRoutesService.available$` pages, and various levels of customizability to the links and nested parent/child structure.

However, one thing led to another and I ended up reworking the Scully docs themselves.

[2020-06-15 17:50] atao60 opened #633 "Question: about Schematic tests not launched during ci / build"
tests defined under libs/scully-schematics are not launched during ci / build (see .github/workflows/nodejs.yml).
Is it intentional?

[2020-06-17 09:20] SanderElias commented on #630
@donmckenna, We love your redesign.
I might need to rework it so it can work without JS, as we love to push out the documentation as HTML/CSS only (perhaps a few Kb of js, but certainly not the entire app)
A side-note, we have done quite some work on text, and moved around some content in the markdown files, could you pull those changes in. (preferably after #634 is pulled in)

[2020-06-17 09:22] SanderElias commented on #595
@GuzmanPI Assuming you took care of this in #605, I'm going to close this issue

[2020-06-17 09:22] #595 closed

[2020-06-17 09:23] SanderElias commented on #583
Closing as we found no way to reproduce this issue.

[2020-06-17 09:23] #583 closed

[2020-06-17 10:15] montella1507 commented on #458
You have not solve this issue i think

you use new Event()

https://github.com/scullyio/scully/blob/main/libs/ng-lib/src/lib/idleMonitor/idle-monitor.service.ts#L52

polyfilll implements CustomEvent -> usage should be like:
 e = document.createEvent('CustomEvent') and then e.initCustomEvent(...)

[2020-06-17 10:26] montella1507 opened #635 "Replace Event with Custom Event"
## 🐞 Bug report
Scully doesnt work in IE11 in serve time- it is not good, because you usuallly need to "code" your static page in IE11 compatiblity mode. And it is not possible.

Scully uses (maybe only in IdleMonitorService so you can just put it out from build in SERVE time and include only in Build time?)  `new Event` which is not supported and is not possible to polyfill in IE11.

Solution #1-

[2020-06-17 12:04] SanderElias commented on #635
This is a known issue with IE, you need to load the polyfills for the events.
Its is explained in detail in one of the other closed issues

[2020-06-17 12:04] #635 closed

[2020-06-17 12:07] jorgeucano commented on #633
Yes, because the schematics are not part of the flow...
When any change the schematics, we use the test for approval or not.

[2020-06-17 12:07] #633 closed

[2020-06-17 12:07] GuzmanPI commented on #595
I added this info to the docs.

[2020-06-17 12:09] jorgeucano commented on #481
When you change a static page to another is a full reload, When angular change to another page, is only changing the angular router and the components.
So, is not a flash, is a simple new full load./

[2020-06-17 12:09] #481 closed

[2020-06-17 12:10] jorgeucano commented on #478
Is not a Scully error, Angular take this as inject script and remove...

[2020-06-17 12:10] #478 closed

[2020-06-17 12:11] jorgeucano commented on #499
@robertbaker Do you create the plugin?

[2020-06-17 12:11] #501 closed

[2020-06-17 12:12] #538 closed

[2020-06-17 12:13] jorgeucano commented on #555
We don't support as default, because a 99% of the devs don't need that, so We add the option to add the `hljs` support directly.

[2020-06-17 12:13] #555 closed

[2020-06-17 12:24] montella1507 commented on #635
i am pretty sure you HAVE NOT solved that issue..

You suggested to use CustomEvent polyfiil - however - it works if u use  document.createEvent('CustomEvent') but you didnt use this - you are doing new Event() = it is not solved by CustomEvent polyfill.. just try to use your Polyfill you have pasted and try to call "new Event() in IE" .. PLEASE.

[2020-06-17 12:39] atao-web commented on #633
I'm not sure to understand what is the "flow" but OK.

[2020-06-17 16:49] donmckenna commented on #630
That's great, thanks Sander :)

Yes, HTML/CSS only is an appropriate goal.
However then, what would be the best way for the navigation component to function?
It uses JS to be aware of the current route and open the corresponding nested `ul`s, which currently use Angular animations with `*ngIf`s.

Everything else is pretty static already so that component is my only concern, figuring out how it can

[2020-06-18 02:50] brandonroberts opened #637 "Scully fails to render route from component with no styles/styleUrls defined"
## 🐞 Bug report

### Description

Running Scully with a component that doesn't include a `styles` or `styleUrls` property in the component decorator metadata fails to render the content.
I came across this issue while making single-file components, and removing unused properties from the component decorator metadata.

#### 🔬 Minimal Reproduction

https://github.com/brandonroberts/scully-styles-bug

[2020-06-18 06:03] atao-web commented on #633
Sorry for this afterwit, my question'd have been: why the schematics are not part of the workflow?

[2020-06-18 06:05] atao60 commented on #633
Sorry for this afterwit, my question'd have been: why the schematics are not part of the workflow?

[2020-06-18 08:27] SanderElias commented on #637
I pushed a new version to npm that has this fixed

[2020-06-18 08:27] #637 closed

[2020-06-18 09:01] SanderElias commented on #630
I worked with @donmckenna on some techniques to make the NavList CSS only.
That will be incorporated, so we can keep the docs free of JS

[2020-06-18 15:00] etavener opened #639 "A dynamic route with a '-'"
## 🐞 Bug report

### Description
When I have a dynamic route in the application with '-' it seems to cause a problem serving the Angular app with Scully.

#### 🔬 Minimal Reproduction
Add a route to the app like `:post-slug`
Do `npm run build --prod`
Do `npm run scully:serve`
The page can not accessed (if you serve with CLI it's fine!)

The consequences of this is we get static pages with an error

[2020-06-18 16:06] montella1507 commented on #461
$ scully  --host='0.0.0.0' --scanRoutes --serverTimeout=60000
  ☺   new Angular build imported
  ☺   Started servers in background
 Finding all routes in application.
 traversing app for routes
 Pull in data to create additional routes.
 Route list created in files:
   "./dist/static/assets/scully-routes.json",
   "/builds/XXXX/portal/dist/portal/assets/scully-routes.json",
   "/builds/XXXX/portal

[2020-06-19 12:16] #639 closed

[2020-06-20 01:54] robertbaker commented on #499
@jorgeucano I haven't started yet.

[2020-06-21 12:33] etavener opened #641 "404.html page not served"
## 🐞 Bug report

### Description
I created a custom 404 page in my application. I used this postRendered Plugin:
https://www.npmjs.com/package/@gammastream/scully-plugin-http404

However, when serving the app via Scully I see an embedded 404 page set in express instead of the actual 404 in the static files.

This might not be an issue when deploying and serving static files created as the 404 has

[2020-06-21 13:33] msacket commented on #641
Hi @etavener, Plugin developer here.  The plugin is designed to specifically to meet the requirements for Firebase hosting.  I agree, it would be nice if it worked the same way with Scully serve, but given that sites could be deployed on any number of platforms, I think it's outside the scope of Scully... unless it could be supported in a generic way.

[2020-06-22 07:10] SanderElias commented on #641
@etavener, This behavior is there by design. The Scully server is a development tool, and will inform you the page is _not_ rendered by your angular site by default, and you should take care of this in your production environment.
When we don't handle it this way, people might run int unpleasant surprises during deployment.
I'm even considering to error out in this case, instead of rendering an em

[2020-06-22 07:10] #641 closed

[2020-06-22 12:31] MUKESHBEHERA76 opened #642 "getting error while serving angular universal app locally using firebase serve"
mukeshkumarbehera@Mukeshs-MacBook-Air functions % firebase serve

=== Serving from '/Users/mukeshkumarbehera/Desktop/myWebsite/SSR/programingwizard'...

⚠  Your requested "node" version "8" doesn't match your global version "12"
i  functions: Watching "/Users/mukeshkumarbehera/Desktop/myWebsite/SSR/programingwizard/functions" for Cloud Functions...
⚠  hosting: Port 5000 is not available. Trying an

[2020-06-22 14:11] phoEnix-511 opened #643 "Scully Build : unable to get html page contents. Only pre rendering the new routes."
![Screenshot_20200622-193805](https://user-images.githubusercontent.com/50960590/85297205-1955df00-b4c0-11ea-928c-fa66df155ae2.jpg)
Getting the same error for all the old routes. The html pages doesnt contain the content of the components on the route.

    "@angular/common": "^9.0.1",
    "@angular/compiler": "^9.0.1",
    "@angular/core": "^9.0.1",
    "@angular/forms": "^9.0.1",
    "@angular/m

[2020-06-22 16:22] SanderElias commented on #643
You might be depending on old behavior from the way routes where rendered.
This might be solved by using the `handle404` `baseOnly` option that is introduced in #644
this will be merged soon, and I will push out a new version when that is done.
Let me know if that helps

[2020-06-22 16:26] phoEnix-511 commented on #643
Done. Thanks @SanderElias

[2020-06-22 16:26] #643 closed

[2020-06-22 16:35] etavener commented on #643
@SanderElias just to make you aware I think the publish you did for v0.0.65 was corrupt. It only serves the home page and looking inside the node package publish a load of your code (that you added for my fix) is commented out.

[2020-06-23 05:41] SanderElias commented on #643
@etavener Yeah, I don't know what happened, I need to fix the failing test in #644  (it only fails on GA, not locally)  When that's done I'll emerge it an put out a new version.

[2020-06-23 05:43] SanderElias commented on #642
Closing, as it is not relevant to this repo.

[2020-06-23 05:43] #642 closed

[2020-06-23 13:26] etavener opened #646 "0.0.97 'npm run scully:serve' not serving any page other than home."
## 🐞 Bug report
Really sorry for being a pain. but the latest release 0.0.97 only serves the homepage on the Angular app when doing `npm run scully:serve`.

It looks like a 404 option has been added, but by default (without setting this 404 to index) a basic Angular route (with no params) in the app is not served and therefore an error is created in the static page.

### Description

#### 🔬 Minima

[2020-06-23 16:13] kylecordes commented on #461
It would be great to see the docs include a mention of an off-the-shelf, maintained Docker image to CI build-test in, in which Scully + CLI 'just works'.

[2020-06-23 18:58] jtcrowson commented on #646
@etavener This should be fixed in the latest released version, `0.0.98`.

[2020-06-23 19:32] kylecordes opened #649 "Never output "<pre>Cannot GET ____</pre>""
## 🐞 Bug report

### Description

There is a failure modes in which Scully renders out one or more pages without their actual content, but instead something like:

<pre>Cannot GET /urlhere</pre>

#### 🔬 Minimal Reproduction

So far I don't know how to reproduce this, or how to make it stop.

#### 💻Your Environment

Details of the environment don’t matter.

## 🔥 Exception or Error

There is no erro

[2020-06-23 20:29] kylecordes commented on #461
For the moment the following Docker hub image, made by the fine people at BuiltKite, does the job well:

`buildkite/puppeteer`

You have to use the puppeteer arguments to make it tolerate running inside docker., these are shown in a comment in the source code.

[2020-06-23 20:47] MikeOne opened #650 "Add an --extraRoutes option to the CLI"
## 🧩 Feature request
Add an --extraRoutes option to the CLI

### Description
I have a pretty sizable site - and often, the only thing that changes is - for example - the price of a single product in the underlying CMS. For that I do not want to re-render all routes, but just a single route.

Be cool to be able to run a single path or a couple of paths from the CLI.

### Describe the solution you'd

[2020-06-23 21:02] aaronfrost commented on #649
Find the code path that prints this error and at least give a more intelligible error, and try to get this error into the existing retry-rerender loop.

[2020-06-23 21:07] aaronfrost commented on #650
This already exists. There are two filters that you can use: `baseFilter` and `routerFilter`.

The `baseFilter` filters down to `UnhandledRoutes` (ie: routes that still have the parameters in them, a la `/foo/:fooId`).

The `routeFilter` allows you to use a fuzzy matching syntax to match to the `HandledRoute`s that you care about (ie: routes that have replaced the parameter with an actual value, a

[2020-06-23 21:15] etavener commented on #646
Yep, just tried it. I will close this issue.

[2020-06-23 21:15] #646 closed

[2020-06-23 21:21] MikeOne commented on #650
Right. I spoke about this with Sander. A filter is not necessarily handy as I load all my routes with 'extraRoutes' through a get call to an API in the first place. And those routes do not end up in the Scully routing files (and I like that actually). But this means - I have nothing to filter in the first place ;-)
I admit my case might be niche though... So I can use my workout if the conclusion

[2020-06-23 21:28] aaronfrost commented on #650
No. I see what you mean. It seems like the `routeFilter` should filter out the discovered routes as well as the provided `extraRoutes`. @SanderElias it seems that this should be the default functionality. Since `extraRoutes` just gets appended to the handled routes, wouldn't we want to filter those as well? I think so. We should do it.

Also, should probably include `extraRoutes` in the `scully-ro

[2020-06-23 21:29] aaronfrost commented on #650
Regardless, here is a blog with lots of good info, including the base filter. https://samvloeberghs.be/posts/scully-and-angular-universal-comparing-benchmarks

[2020-06-23 21:37] MikeOne commented on #650
I'm not sure if that is a good idea. I think the issue would be that it would always re-render the routes that are found in scully-routes.json right? At least for me - that would be a pain. I'd like my static/dist folder to be as untouched as possible as that is the folder that get's deployed (in a single blob to a worker, I do not have the luxury of being able to deploy single files). So ONLY gen

[2020-06-23 22:22] aaronfrost opened #651 "Create docs for CLI options"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

I see the scully cli .md file, but it isn't appearing in the docs. We need to get it in there.

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

[2020-06-24 09:36] SanderElias commented on #649
The pr #640 I address this issue. By default, now the `scully.rotues.json` is used as the source for the available routes.
Also, a more descriptive error is in place of the `Cannot GET /urlhere`, in case this happens somehow, and it has hints on how to solve the issue.
I'm closing this for now, but feel free to request a reopening if somehow this is still not enough.

[2020-06-24 09:36] #649 closed

[2020-06-24 09:46] SanderElias commented on #650
- extra routes are added to the unhandled routes.
- those are then processed by the router plugins
- and end up in the handledRotues
- all handledRoutes end up in the `scully.routes.json.`

Correct me if I'm wrong, but I think @MikeOne  is asking for a way to add extra unhandled routes from the cmd line.
This is the opposite of a filter which by definition skips everything that's not a match.

I t

[2020-06-24 10:26] SanderElias commented on #651
The docs where there, but where missing the language indicator. This caused them to be excluded.
fixed this in #652

[2020-06-24 10:26] #651 closed

[2020-06-24 11:26] MikeOne commented on #650
I guess in my scenario at least, I do a full generation run - with all URL's (the ones that are auto-detected from router files - just a handful - plus the ones I'm fetching from an external API in extraRoutes, about 400 of them). AFTER that, I'd only like to (re)generate the changes (unless something functional changed in the Angular app that might affect more routes). This massively lowers the r

[2020-06-24 11:47] stevermeister opened #653 "routes.json get all the images"
## 🐞 Bug report

Scully already knows how to ignore all files except *.md, but it still adds all these exceptions to compiled routes.json file.

[2020-06-24 13:09] stevermeister opened #654 "loading indicator for case when it's a lot of md files to compile"
## 🧩 Feature request

It could be something simple like `73/263` that will already help to understand the progress

[2020-06-24 18:21] SanderElias commented on #650
@MikeOne, Wait, so you want to be able to generate a route, that might not be in `scully.routes.json`?
For a lot of users, it is important to have a complete list of available routes. For example to drive their menu. or something similar.
(although this might entail that multiple pages need an update when a menu-item changes.)
So, my idea of extraRoutes on the CLI is generating 1 or a couple of ro

[2020-06-25 04:58] d-koppenhagen opened #656 "Angular10 / tslib 2.0.0 support"
## 🧩 Feature request

### Description

Since Angular 10 is out now, sully should support Angular10 in the future.
Checking the current state, scully seems currently incompatible with tslib 2.0.0 which comes with Angular CLI 10 setup.

Executing `npm run scully` give the following output:

[code]

[You can check out the source code here](https://github.com/d-koppenhagen/d-koppenhagen.de/tree/angula

[2020-06-25 12:19] MikeOne commented on #650
After some more thinking, I came to the realisation that I could simply adapt my workflow to indeed filter instead of 'add'. The way I have this setup now is fine for me at this time, therefore I'll close this feature request.

[2020-06-25 12:19] #650 closed

[2020-06-25 16:09] #215 closed

[2020-06-25 16:34] Jiraci commented on #23
Whats the progress on this?

[2020-06-26 00:57] aaronfrost commented on #656
Let's get this addressed tomorrow, please. The v10 stuff needs to be top priority.

[2020-06-26 08:13] luchsamapparat commented on #265
@xmlking I experience the same issue in my Nx Workspace. Did you find a solution?

[2020-06-26 16:02] salazarr-js commented on #656
Just for testing purpose, I just tried with a new project

[code]

and got the same result

[code]

[code]

[2020-06-27 05:44] SanderElias commented on #656
The problem is tsLib. It now must by a direct dependency. However, when I do that, the V10 CLI runs into problems.
I'm working with the Angular CLI team to get this issue resolved, but for the mean time, there doesn't seem to be a solution.
I can't move our mono-repo to V10 before NX supports V10, and that might still not be the solution.

Please note, this is actually the result of a breaking cha

[2020-06-27 08:14] tieppt commented on #656
For now, a work around solution is install tslib directly from github:

[code]

[2020-06-27 20:33] matthiasbaldi commented on #656
@tieppt ya workaround works. ty for that. 👍
at least my build is running again 😉

[2020-06-28 06:24] hubbertj commented on #656
@tieppt thanks workaround worked for me too!

[2020-06-28 10:44] miloshavlicek opened #659 "Route parameters by a list"
## 🗄️ Docs report

### Description

Hi, I am not able to find in documentation how to configure parameters in route directly by a list, something like this:
[code]

Or, is it not possible?

[2020-06-28 14:08] kylecordes commented on #659
I don’t think there is such a feature yet, but this would be a great thing to add. In an experiment (which unfortunately I have misplaced rather than published) I had some snippet that did a plug-in which just had a hardcoded list of values rather than fetching them from somewhere.

[2020-06-28 14:38] kylecordes commented on #649
In the PR it looks like, depending on how things are (mis)configured in an app, Scully could still succeed yet output pages that contain this (better) message. Which could then be published, perhaps even to a live customer-facing site, automatically depending on one’s CI configuration.

I think this is still problematic. Of course it is possible to work on at the application level, which I plan to

[2020-06-28 16:51] SanderElias commented on #649
@kylecordes THe pr allows for different solutions for the issue. There are different scenarios possible.
1. de default way, (new) uses the same info that is in scully.routes, and gives an error if the URL is unknown.
2. the 'old' way, still there because some people depend on this. uses the unhandled routes, and if its not there, it errors.
3. index, with return the index.html for every 404, you c

[2020-06-28 16:55] SanderElias commented on #659
@miloshavlicek You can install the [`from-data`](https://github.com/scullyio/scully/tree/main/libs/plugins/from-data) plugin, which does almost this. You can take a look on how its done, and adapt and publish a new plugin that does exactly what you want

[2020-06-29 04:12] SanderElias commented on #656
@tieppt I wonder how this can possible solve the issue unless their development version actually fixes the breaking change. I hope that will be the case because that would solve quite some problems with TS.
In the meantime, I have added tsLib 1.13 as a direct dependency on all Angular packages. This is part of pr #658, and will probably land today. This should help, but is probably not the final f

[2020-06-29 20:35] pegaltier opened #662 "When i have 2 times the same markdown filename SRS.available$ give only 1 route"
## 🐞 Bug report

### Description

When I have 2 times the same markdown filename inside two different contentFolder:
- ScullyRoutesService available$ give only 1 route (KO)
- scully-routes.json get 2 routes generated (OK)

IMPORTANT: I have two different contentFolder (see screenshot)
ISSUE: I get only 1 **2020-06-29-post** route

#### 🔬 Minimal Reproduction

See screenshot for the config

#### 💻Y

[2020-06-30 05:48] lalish99 commented on #265
I'm not sure if the following should go inside this thread, and I'm new to contributing, but I struggled with Scully not finding my routes and generating just the root index.html, I got the same message

But after adding the --scanRoutes flag, the error differed, and I got something like:

Before continuing I want to clarify that my project has nested lazy loading for some parts, and because of th

[2020-06-30 12:10] jorgeucano opened #663 "Scully support for NX (make schematics support an NX workspace better)"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

Goal Deliverable: 2020-07-08
_Goal Deliverable: 2020-07-03_

[2020-06-30 12:10] jorgeucano opened #664 "Add a way for router plugins to modify the postrender array for a single route"
## 🧩 Feature request

### Description

Add a way for router plugins to modify the postrender array for a single route (possibly add postRenderers to the handledRoute)

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-30 12:11] jorgeucano opened #665 "Docs existing plugins"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:11] jorgeucano opened #666 "Docs describing the plugin system"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:11] jorgeucano opened #667 "Docs plugin config"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:11] jorgeucano opened #668 "Docs "flow""
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:11] jorgeucano opened #669 "A content plugin that takes a string"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-30 12:12] jorgeucano opened #670 "Support for non-html routes (for example images)"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-30 12:12] jorgeucano opened #671 "New Plugins"
## 🧩 Feature request

### Description

More Plugins, and build out the list of plugins from the community

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-30 12:12] jorgeucano opened #672 "Google sheets integration for forms"
## 🗄️ Docs report

### Description

plugin list, and showcase should be generated with this

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:12] jorgeucano opened #673 "Integrate LogRocket and Google Analytics to the site"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-06-30 12:13] jorgeucano opened #674 "Stage 1 telemetry to the CLI."
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-30 14:43] aaronfrost commented on #318
@SanderElias let's have some more conversation with the people on this issue. Let's see if the baseHrefRewrite functionality gets them what they need. If so, let's close this. If not, let's finish building what they need for i18n.

[2020-06-30 14:46] aaronfrost opened #675 "Stablize the build for big projects"
Puppeteer dies after a few thousand routes generate. This ticket is a placeholder to fix this. It is potentially only a Unix issue.

Goal Deliverable: 2020-07-08
_Goal Deliverable: 2020-07-06_

[2020-06-30 14:56] aaronfrost commented on #673
Make sure this doesn't fire on localhost. Only fires in production.

[2020-06-30 14:57] aaronfrost commented on #673
Work with Amy to get LogRocket account and Google Analytics setup.

[2020-06-30 15:00] aaronfrost commented on #670
This is for things like image optimization, assets management. Things we don't need now, but will need in the future. Possibly make this a postRenderer.

[2020-06-30 15:00] aaronfrost commented on #670
Consider image optimization as it's own ticket. Look it the Gatsby image optimization plugins and see how we can make that work with Scully.

[2020-06-30 15:03] aaronfrost commented on #671
Find the most popular Gatsby plugins. Get a list of plugins that people could get started building.

[2020-06-30 15:07] aaronfrost commented on #405
Duplicate of #673

[2020-06-30 15:07] #405 closed

[2020-06-30 15:54] bart-haasbroek opened #676 "Dynamic metatags"
Hey,
First of all, nice job for creating this generator! As an angular developer i am really excited!
I am wondering if it is possible to generate/add meta tags (description, keywords etc) and the page title dynamically. I want to change it based on the data i fetched from an api.
For example, i use `this.title.setTitle('my test title')` to change the page title but i don't see the change in the g

[2020-07-01 06:03] SanderElias commented on #676
@bart-haasbroek You can use the Angular title and meta service. Those are picked up by Scully and do render into the HTML files.

However, you need to have this done before your app hits "idle". In the default settings, Scully will take the snapshot of the HTML 2 event cycles after the last HTTP call is done.

In your plugins you can do everything node can do, so fetching data is possible. We even

[2020-07-01 06:03] #676 closed

[2020-07-01 06:07] SanderElias opened #677 "Move all internal plugins into the pluginRepository"
This epic is here to track progress on moving internal plugins into the plugin system

[2020-07-01 06:09] SanderElias opened #678 "writetoFS"

[2020-07-01 06:10] SanderElias commented on #678
done in pr #658

[2020-07-01 06:10] #678 closed

[2020-07-01 12:15] geometricpanda opened #679 "Routing is being forced to follow a strict structure"
## 🐞 Bug report

### Description
When trying to render a blog, routing must be past in as an array of objects, not an array with a pointer to an object. This seems a bit prescriptive.

#### 🔬 Minimal Reproduction

in `app-routing` change

[code]

to

[code]

and the following error happens upon rebuild:

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>     _                      _

[2020-07-01 15:32] SanderElias commented on #679
This is a restriction of Guess-Parser.  Without a static structure, it's near impossible to statically analyze the routes.
You might want to discuss this in the guess-parser repo.

I'm going to close this, as there is no Scully related actionable context in here. Feel free to engage the conversation in the closed issue. If needed we can always reopen the issue.

[2020-07-01 15:32] #679 closed

[2020-07-02 09:52] SanderElias commented on #653
I looked at this, and when I add more images to the scully-blog test suite, those are just ignored

[2020-07-02 14:35] SanderElias opened #682 "executePluginsPlugun"

[2020-07-02 14:36] SanderElias opened #683 "puppeteerRenderPlugin"

[2020-07-02 14:36] SanderElias opened #684 "addOptionalRoutes"

[2020-07-02 14:37] SanderElias opened #685 "traverseAppRoutes"

[2020-07-02 14:37] SanderElias opened #686 "storeRoutes"

[2020-07-02 14:46] SanderElias commented on #653
Closing this, as I can't reproduce. When you can a file-plugin that handles image types, this will make Scully try to process them

[2020-07-02 14:46] #653 closed

[2020-07-02 15:26] aaronfrost commented on #318
@BlindDespair can you comment here on your latest progress or lack thereof? We want to fix this, but need you to give feedback here. We think we may be done. But we also think there may be a few more things you need from us. We need to understand this.

[2020-07-02 19:56] jorgeucano opened #687 "add docs for --prod cli option"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-07-02 21:00] BlindDespair commented on #318
@aaronfrost I can try out the baseHref plugin some time during the weekend to see if it's enough for me. If it works, I think I will be happy with it. I think prerendering for each language separately actually gives an advantage because you may not always need to regenerate all of them and run jobs for each language in parallel.
I will write as soon as I check it.

[2020-07-03 03:11] #662 closed

[2020-07-03 05:55] SanderElias opened #689 "Schematic to create config file for additional projects in same repo"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-03 10:35] awais2080 opened #692 "make particular routes scully static not complete app."
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-03 19:07] tieppt commented on #656
@SanderElias Dear Sir, after dig into the tslib repo, I saw a commit to fixed `default` issue https://github.com/microsoft/tslib/commit/23642901c0cfc63dff8da27c4c8c71acd265445a

[2020-07-03 20:50] tieppt commented on #656
After upgraded to `@scullyio/ng-lib@0.0.25`, `@scullyio/scully@0.0.99` I got Circular dependency error for Router.

Please clone this branch and start the Angular app.
https://github.com/tieppt/tiepphan/tree/circular

[2020-07-04 02:17] puku0x commented on #656
I faced NullInjectorError after I upgraded `@scullyio/ng-lib@0.0.25`.
Angular v10 with patched `tslib` and `@scullyio/ng-lib@0.0.24` worked, though.

![image](https://user-images.githubusercontent.com/2607019/86503270-9f8af300-bde7-11ea-8418-e21f81065aa5.png)

[2020-07-04 15:36] rpd10 opened #694 "assets/scully-routes.json not found when using baseHref option"
## 🐞 Bug report

### Description
When deploying to GitHub Pages, I need to pass `--base-href /my-project-name/` in order to set the `<base>` tag used for loading static assets in Angular.  I cannot find a way to configure Scully with the same base.  When loading the published page, Scully makes a request to https://<user>.github.io/assets/scully-routes.json - instead it needs to request https://<u

[2020-07-04 15:39] SanderElias commented on #694
@rpd10 Have you tried using the [Scully base-href-rewrite plugin](https://github.com/scullyio/scully/tree/main/libs/plugins/base-href-rewrite)?

[2020-07-04 15:42] SanderElias commented on #692
I'm going to close this because I think this is answered in our FAQ page: [Ignore routes without config?](https://scully.io/docs/faq/).

If that doesn't answer your question, respond in here, and we can reopen.

[2020-07-04 15:42] #692 closed

[2020-07-05 02:55] kunjee17 commented on #656
Thanks. This solution worked for me.

[2020-07-05 07:21] SanderElias commented on #656
@tieppt As we didn't use any `import *` that was an easy fix ;)
However, we where exporting things with `export *`. I moved to explicit exports and updated the package.json to allow any angular version. (for now, we will restrict this later on). This is part of pr #695.
I went ahead and published ng-lib .26.
Perhaps you can give this a try?

[2020-07-05 07:43] tieppt commented on #656
@SanderElias I'll try it asap

[2020-07-05 14:06] puku0x commented on #656
The NullInjectorError seems to be solved on `@scullyio/ng-lib@0.0.26`. Thank you @SanderElias .

[2020-07-05 15:38] davidecampello commented on #428
Hi, any updates on this?

[2020-07-06 00:30] BlindDespair commented on #318
I tried it out, but so far I haven't managed to get it to work. When I use the base href plugin the pages just don't get prerendered. I did the following:
1. Built angular using `ng build --localize --stats-json -c staging` (generates angular with all locals, e.g. `./dist/frontend/uk`)
2. Updated my scully config to use the baseHref plugin (also added this line `setPluginConfig(baseHrefRewrite, {

[2020-07-06 01:43] kkweon opened #697 "yarn test fails"
## 🐞 Bug report

### Description
- `yarn test` fails at the main branch

#### 🔬 Minimal Reproduction
- yarn test

#### 💻Your Environment

**Angular Version:**

<pre><code>

❯ ng --version
Your global Angular CLI version (10.0.1) is greater than your local
version (9.1.10). The local Angular CLI version is used.

To disable this warning use "ng config -g cli.warnings.versionMismatch false".

     _

[2020-07-06 01:56] SanderElias commented on #318
@BlindDespair The plugin alters the base-href _after_ rendering. For the before part, that should have been taken care of by the CLI.
I saw you are setting the 'dist' folder to the language folders. This seems Ok to me, but did angular set an 'base-href' in there? It should be `/` in that case.

[2020-07-06 02:04] SanderElias commented on #697
I just checked, tests are passing for me, and in our github action, that would block merging anything into main, if any of the tests would fail.
Currently, we are using NPM and not Yarn. Perhaps that is why it doesn't build on your machine?
I have seen stuff like this happen when the local `node_modules` contained incompatible packages. an `npm ci` would usually fix that.

Closing as we can't repr

[2020-07-06 02:04] #697 closed

[2020-07-06 02:24] SanderElias commented on #694
@rpd10 Sorry, it seems there was a regression. I removed the starting `/` (in the above PR) to the Scully lib again.
That means it will use the `base-href` to find the file, solving this issue.

[2020-07-06 04:31] kkweon commented on #697
Thank you for the response @SanderElias 🙏

Indeed, it works with npm. But not with the yarn (I can consistently reproduce using the yarn).

Could you please consider removing **[yarn.lock](https://github.com/scullyio/scully/blob/main/yarn.lock)** if yarn is not supposed to be used in the project?

I think the root cause of this is that yarn.lock is outdated and needs update.

[code]

When a yarn i

[2020-07-06 11:38] SanderElias commented on #697
@kkweon I just found out today that one slipped in. That will be removed. Thanks for reporting this.
After double-checking, you are right, and even if you completely remove the yarn.lock and update it, there is still an error.
For now, I will leave it at this, but I will discuss this in the team tomorrow.

[2020-07-06 12:41] rpd10 commented on #694
Thanks, I noted the leading `/` yesterday when reading through the Angular docs.  I'll look forward to the next release.

[2020-07-06 12:42] #694 closed

[2020-07-06 15:46] tieppt commented on #656
I can confirm that.

[2020-07-06 21:13] rpd10 opened #699 "Missing <scully-content> in route when building with baseHref"
## 🐞 Bug report

### Description
I'm trying to deploy to GitHub pages, one of the prereqs is that you must specify the baseHref: https://angular.io/guide/deployment#deploy-to-github-pages

When I run `npm run build && npm run scully` locally, everything works correctly.
When I run `npm run build -- --prod && npm run scully`, I receive the scully-content warning for my blog page, and the blog rende

[2020-07-07 07:06] miloshavlicek opened #700 "Compatibility with ngx-translate-router"
## 🧩 Feature request

### Description

At this time, when I run:
[code]
with [ngx-translate-router](https://github.com/gilsdav/ngx-translate-router) installed and two languages configured (cz, en), output to scully-routes.json is:
`[{"route":"/"},{"route":"/for-dealers"},{"route":"/sign-in"}]`

Expected output is:
`[{"route":"/cz"},{"route":"/cz/pro-obchodniky"},{"route":"/cz/prihlaseni"},{"route"

[2020-07-07 09:20] SanderElias opened #701 "Add express router to handle different base-href's"
To prevent issues like #699, and make handling of multi-language sites easier

[2020-07-07 09:25] SanderElias commented on #700
This can be handled as outlined in [our FAQ](https://scully.io/docs/faq/).

[2020-07-07 09:30] SanderElias opened #702 "Add possibillity to the staticServer to host a different folder"
This will help if you have a multi-languages site or another site that is split using different base-href's.
In those cases you might want to host the parent of the dist/output folders

[2020-07-07 09:45] SanderElias opened #703 "Support of node <v12"
More and more libraries we use are incompatible with v10.
Most significant is the missing globalThis in V10, which already tripped up a couple of libs. (right now JS-DOM, before there was already another one)

We can move to pointer to V12.
Alternative, I can polyfill globalThis like this.
[code]

[2020-07-07 10:40] SanderElias commented on #656
Closing as the problem is solved with #695

[2020-07-07 10:40] #656 closed

[2020-07-07 10:45] SanderElias commented on #699
@rpd10, We are going to discuss if adapting our internal server is what we need for this, this is actually just a matter of settings.
You should _not set this in the `angular.json`, but instead use out [base-href-rewrite plugin](https://github.com/scullyio/scully/tree/main/libs/plugins/base-href-rewrite) to modify the base-href, after we are done processing the app.

[2020-07-07 10:45] #699 closed

[2020-07-07 11:03] miloshavlicek commented on #700
It doesn't solve my problem, because .config.ts is static, so I am not able to inject LocalizeRouterService from @gilsdav/ngx-translate-router to translate all routes.

[2020-07-07 12:22] SanderElias commented on #700
There is a limited amount of languages (2 in your case). You can iterate over this in your config like I showed in the FAQ. Perhaps I'm not understanding your issue right, so can you provide a repo where I can inspect the issue?

[2020-07-07 13:58] rpd10 opened #706 "base-href-rewrite-plugin error - Plugin "baseHrefRewrite" of type "undefined" is not found, can not store config"
## 🐞 Bug report

### Description
Following the guide here: https://github.com/scullyio/scully/tree/main/libs/plugins/base-href-rewrite I'm trying to add the base-href-rewrite-plugin for all routes.  Running `npm run scully` fails with `Plugin "baseHrefRewrite" of type "undefined" is not found, can not store config`.

#### 🔬 Minimal Reproduction
<pre><code>
import { ScullyConfig, setPluginConfig }

[2020-07-07 15:37] SanderElias commented on #700
@miloshavlicek We just discussed this issue in our team, and I now understand what you were trying to ask.
Sorry for closing after misunderstanding the question.
The main issue here is that the guess-parser we use doesn't see/understand  ngx-translate-router. So we will never get the routes out of the application fully automatic.
Probably we need to have an extra type of plugin for this, so you we

[2020-07-07 16:35] miloshavlicek commented on #700
@SanderElias Thank you so much for your time! I am open to create an plugin, however I don't have any idea how to solve the think with config file (static context),
My implementation is here (as an example your requested from me): https://github.com/cothema/sales-website/tree/dev-ngx

[2020-07-08 11:22] SanderElias commented on #706
I puhsed a new version of the plugin to pm. @rpd10 can you give that a try?

[2020-07-08 14:45] GuzmanPI opened #710 "Landing page broken links"
## 🗄️ Docs report

Landing page books links are broken

### Description

When clicking on the Book links nothing happens.

## 🔬 Minimal Reproduction

N/A

### What's the affected URL?\*\*

https://scully.io/

### Reproduction Steps\*\*

N/A

### Expected vs Actual Behavior\*\*

The links should redirect to a proper route

## 📷Screenshot

![scully-docs-bug](https://user-images.githubusercontent.com

[2020-07-08 14:53] geromegrignon commented on #710
@GuzmanPI By checking the links on the landing page, i noticed there is no existing route for the 'Contribute' button

[2020-07-08 14:53] GuzmanPI opened #711 "Landing page features cards in small screens"
## 🗄️ Docs report

### Description

The landing page cards in the "Features"section loos the bottom margin in small devices.

## 🔬 Minimal Reproduction

N/A

### What's the affected URL?\*\*

https://scully.io/

### Reproduction Steps\*\*

N/A

### Expected vs Actual Behavior\*\*

The cards should have a bottom margin despite the screen size

## 📷Screenshot

![cards-bug](https://user-images.github

[2020-07-08 15:01] GuzmanPI opened #712 "Docs site navigation menu not responsive"
## 🗄️ Docs report

### Description

The docs website's navigation menu is not responsive.

## 🔬 Minimal Reproduction

N/A

### What's the affected URL?\*\*

Docs website

### Reproduction Steps\*\*

N/A

### Expected vs Actual Behavior\*\*

The navigation menu should be responsive

## 📷Screenshot

![nav-bug](https://user-images.githubusercontent.com/4933011/86934872-da4f9c80-c101-11ea-8b56-7a7039a

[2020-07-08 15:06] GuzmanPI opened #713 "Side-menu not responsive"
## 🗄️ Docs report

### Description

The docs website's side-menu is not responsive

## 🔬 Minimal Reproduction

N/A

### What's the affected URL?\*\*

All but landing page

### Reproduction Steps\*\*

N/A

### Expected vs Actual Behavior\*\*

The side-menu should be responsive and it should provide the means to be closed/open in large screens

## 📷Screenshot

![side-menu-bug](https://user-images.gi

[2020-07-08 15:54] aaronfrost commented on #710
@GuzmanPI make sure we get another ticket for what Gerome is saying.

[2020-07-08 16:09] #706 closed

[2020-07-08 19:17] rpd10 commented on #706
Thanks, that worked perfectly for me!

[2020-07-08 20:34] gilsdav opened #716 "Is scully --help a joke ?"
## 🗄️ Docs report

### Description

By using the command `scully --help` it explain how to use `scully --help` command itself and nothing others

![image](https://user-images.githubusercontent.com/21348530/86966409-6e088380-c169-11ea-873a-726c838788f8.png)

### Expected behavior

Having the liste commands available here https://scully.io/docs/scully-cmd-line/ with details.

## 🌍 Your Environment

[2020-07-08 20:36] aaronfrost commented on #716
This is a great call out. We should fix this.

[2020-07-08 20:59] gilsdav commented on #700
@SanderElias
1) Is it possible to intercept every routes in a router plugin ?
[code]
2) Is it possible to apply priority on routes management ? (to be sure mine is the latest called and have result of every previous router plugins)
[code]

[2020-07-08 23:15] aaronfrost commented on #700
I think we are talking about doing a separate type of plugin. A `post-route-discovery` but `pre-rendering` plugin. A plugin that would be passed all of the discovered routes + the extraRoutes.

We need some time to solve the i18n story here, though. We can do it.

[2020-07-09 06:00] gilsdav commented on #700
Yes exactly, a little like the post-route-discovery but where we can **manipulate** the given routes (routes + extraRoutes).
This new plugin type need to be executed **before** the existing post-route-discovery.
And to be fully usable we need to be able to choose an execution priority if we use multiple plugins of this type.

[2020-07-09 09:53] geromegrignon opened #717 "Docs: dash partially visible"
## 🐞 Bug report

### Description

The AppCode component contains the language of the code snippet as a title.
The format is : language-**language name**

As it doesn't make sense to display 'language-', it's hidden.
But the dash is still partially visible :
![image](https://user-images.githubusercontent.com/32737308/87025348-8fee1e80-c1da-11ea-929d-a4e88c92631c.png)

#### 🔬 Minimal Reproduction

N

[2020-07-09 09:56] dyingangel666 commented on #318
@SanderElias If you're building your angular project with the --localize flag, angular automatically builds a separate project for each language which is defined in your angular.json file. Angular builds the project for each language into a subfolder with a two letter locale string (e.g en, de, it, pl) and also sets the baseHref for each project to this two letter locale. Also tried out your plugi

[2020-07-09 09:57] geromegrignon commented on #717
closed to be moved to the correct documentation report template

[2020-07-09 09:57] #717 closed

[2020-07-09 10:02] geromegrignon opened #718 "Docs: unexpected dash visible"
## 🗄️ Docs report

### Description

The AppCode component contains the language of the code snippet as a title.
The format is : language-**language name**

As it doesn't make sense to display 'language-', it's hidden.
But the dash is still partially visible.

## 🔬 Minimal Reproduction

Navigate on any page of https://scully.io which contains a code snippet.

### What's the affected URL?\*\*

Navig

[2020-07-09 10:03] geromegrignon commented on #718
fixed by #709

[2020-07-09 10:17] geromegrignon opened #719 "Missing content for the Contribute link"
## 🗄️ Docs report

### Description

There is no content for the *Contribute* link in the footer of the docs

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://scully.io/docs/CONTRIBUTING

### Reproduction Steps\*\*

Click on 'Contribute' in the footer of any page on https://scully.io
The landing page is loaded.

### Expected vs Actual Behavior\*\*

Actual : the landing page is l

[2020-07-09 10:18] geromegrignon commented on #710
@aaronfrost @GuzmanPI i opened #719 for the Contribute link.

[2020-07-09 10:41] geromegrignon opened #720 "Unexpected > character"
## 🗄️ Docs report

### Description

There is a **>** visible on the first line of the *Ignore routes without config?* FAQ
As there is no blank line between the question and the blockquote sentence, it isn't interpreted as a blockquote segment.

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://scully.io/docs/faq/

### Reproduction Steps\*\*

Navigate to https://scully.io/docs/fa

[2020-07-09 11:23] jorgeucano opened #722 "Remove arrow function in Flash Prevention for support IE11"

[2020-07-09 12:32] aaronfrost commented on #700
Execution priority would be left to right, same as the rest.

[2020-07-09 15:16] amycdurbin commented on #713
Goal Deliverable: 2020-07-13

[2020-07-09 15:26] #675 closed

[2020-07-09 15:28] amycdurbin commented on #318
Goal Deliverable: 2020-07-16

[2020-07-09 15:28] GuzmanPI opened #726 "Missing logos"
## 🗄️ Docs report

### Description

Missing logos in the showcase page

## 🔬 Minimal Reproduction

N/A

### What's the affected URL?\*\*

https://scully.io/docs/showcase/

### Reproduction Steps\*\*

N/A

### Expected vs Actual Behavior\*\*

Showlogos

## 📷Screenshot

<img width="1600" alt="Screen Shot 2020-07-09 at 10 27 43" src="https://user-images.githubusercontent.com/4933011/87059408-e48b9c80

[2020-07-09 21:53] jorgeucano commented on #716
It is a yargs error really ... There are all the descriptions added to explain each of the commands, I am going to check what happened and why yargs is showing that ..

[2020-07-10 04:07] SanderElias commented on #716
closed by #728

[2020-07-10 04:07] #716 closed

[2020-07-10 09:01] davthu opened #730 "Angular distribution files not found"
## 🐞 Bug report

### Description
Get an error while trying to generate static build with Scully after successful ng build.

#### 🔬 Minimal Reproduction
ng build && npm run scully

#### 💻Your Environment
macOS 10.15.5

**Angular Version: 10.0.3**

<pre><code>
Angular CLI: 10.0.1
Node: 10.18.0
OS: darwin x64

Angular: 10.0.3
... animations, common, compiler, compiler-cli, core, forms
... platform-br

[2020-07-10 09:40] davthu commented on #730
Seems like there was something wrong with my project (or angular cli version). Created a new project and it worked.

[2020-07-10 09:40] #730 closed

[2020-07-10 10:04] #722 closed

[2020-07-10 10:46] #687 closed

[2020-07-10 10:51] #682 closed

[2020-07-10 10:59] #720 closed

[2020-07-10 11:00] jorgeucano commented on #726
duplicate #719

[2020-07-10 11:00] #726 closed

[2020-07-10 11:02] jorgeucano commented on #713
@GuzmanPI Can you check the PR from @geromegrignon https://github.com/scullyio/scully/pull/709 ... He did fix that

[2020-07-10 11:02] #713 closed

[2020-07-10 11:03] jorgeucano commented on #712
@GuzmanPI Can you check the PR from @geromegrignon #709 ... He did fix that

[2020-07-10 11:03] #712 closed

[2020-07-10 11:04] jorgeucano commented on #711
@GuzmanPI Can you check the PR from @geromegrignon #709 ... He did fix that

[2020-07-10 11:04] #711 closed

[2020-07-10 11:05] #663 closed

[2020-07-10 11:06] #614 closed

[2020-07-10 11:06] #613 closed

[2020-07-10 19:01] kkweon opened #731 "TypeErrors for @scullyio/scully-plugin-base-href-rewrite"
## 🐞 Bug report

### Description

Thank you for the amazing project.

- Get type errors following the example
   - https://github.com/scullyio/scully/blame/main/libs/plugins/base-href-rewrite/README.md#L20-L32

Given my scully.my-project.config.ts,

[code]

[code]

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>
❯ ng --version

     _

[2020-07-10 23:23] Ferie opened #732 "The process "2488" not found"
## 🐞 Bug report

ERROR: The process "2488" not found.

### Description

I have no indication of what to do next in this context.

#### 🔬 Minimal Reproduction

I have followed all the steps [in the getting started](https://scully.io/docs/getting-started/) guide and when reaching the point to run `ng add @scullyio/init` I have these logs

[code]

#### 💻Your Environment

Windows machine running git b

[2020-07-11 04:39] SanderElias commented on #732
Closing as duplicate of #79

[2020-07-11 04:39] #732 closed

[2020-07-11 19:22] sajTempler opened #733 "AMP generation support"
## 🧩 Feature request

### Description

Scully is great. What if it could also generate AMP optimized content e.g. behind a flag

https://amp.dev/documentation/guides-and-tutorials/start/create/basic_markup/?format=websites

### Describe the solution you'd like

I would like to run e.g. `npm run scully --amp` and get the AMP sites generated and linked to canonical content

### Describe alternatives

[2020-07-12 05:58] SanderElias commented on #731
Thanks for reporting. The PR is in the pipeline.
I pushed out Scully `.100` to pm, if you install that, the but is fixed.

[2020-07-12 05:58] #731 closed

[2020-07-13 13:10] jorgeucano commented on #689
We support that just need add Docs :)

[2020-07-13 13:44] #700 closed

[2020-07-13 15:21] gilsdav commented on #700
@SanderElias It doesn't seems to work correctly: https://github.com/gilsdav/ngx-translate-router/issues/71#issuecomment-657606064

[2020-07-14 18:22] msacket commented on #719
@GuzmanPI Have you started on this?  I'd be happy to work on it if you aren't in the middle of it.

[2020-07-15 14:32] geromegrignon opened #746 "[Schematics] remove unnecessary boilerplate"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

When using the blog support with `ng generate @scullyio/init:blog` there is unnecessary boilerplate inside the *BlogComponent* :
* a var ng
* the route and the router are injected but aren't used (and aren't required later on as a standard)
* preserveWhitespaces setted as true is redond

[2020-07-15 17:30] KingDarBoja commented on #524
I would recommend using [semantic-release](https://github.com/semantic-release/semantic-release) to automate the release process and changelog generation.

[2020-07-16 04:50] #719 closed

[2020-07-16 04:51] SanderElias commented on #746
Thanks @geromegrignon!  closed with the PR

[2020-07-16 04:51] #746 closed

[2020-07-16 13:20] SanderElias commented on #718
Done by #740

[2020-07-16 13:21] SanderElias commented on #710
@GuzmanPI Is this done?

[2020-07-16 15:19] amycdurbin commented on #664
This is done and already worked. You can modify post renderers for any HandledRoute

[2020-07-16 15:25] #702 closed

[2020-07-16 15:25] #701 closed

[2020-07-16 15:42] amycdurbin commented on #659
Close due to inactivity.

[2020-07-16 15:42] #659 closed

[2020-07-16 15:44] amycdurbin commented on #665
@GuzmanPI  please verify that is done.

[2020-07-16 15:45] amycdurbin commented on #666
@GuzmanPI please verify that this is done

[2020-07-16 15:54] amycdurbin opened #752 "Rev Beta"
- [x] Release to npm
- [x] Badge on homepage
- [x] Update schematic to stop using latest
- [x] Sync all the versions of packages
- [x] Update changelog
- [x] sync plugin names and location in dist

[2020-07-17 01:41] BrendanBerkley commented on #311
Any reason why this might have regressed? I found a similar issue on my scully site:

- If I start on a page without scully-content, everything works fine
- If I start on a page with scully-content, any subsequent scully-content page I go will show the content of the first page

[2020-07-17 09:12] SanderElias opened #754 "sync plugin names and location in dist"

[2020-07-17 12:15] #754 closed

[2020-07-17 12:43] jorgeucano commented on #524
https://github.com/scullyio/scully/blob/main/CHANGELOG.md

[2020-07-17 13:09] #752 closed

[2020-07-17 13:09] #673 closed

[2020-07-17 13:10] #710 closed

[2020-07-17 13:10] #677 closed

[2020-07-17 13:10] #524 closed

[2020-07-17 13:12] #718 closed

[2020-07-17 13:12] #664 closed

[2020-07-17 23:28] jorgeucano opened #758 "add warning for NX workspace without project"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2020-07-20 04:34] Ferie commented on #732
Closed without solution?

In the closed mentioned issue there is no solution...

So the bug persist and you simply do not care?

[2020-07-20 15:35] SanderElias commented on #732
We do care, but as the bug is _inside_ the c part of NodeJs, and its actually _not_ in the way of anything. (it is just visually disturbing, and _not_ affecting anything in the Scully runtime) There is not so much we can do.
Its not a bug, but a false-positive form the node runtime on windows.
This is all explained in #79. As there is no update or change there is no use in keeping this issue open.

[2020-07-21 06:29] SanderElias opened #759 "update to NX 10"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-22 05:30] SanderElias opened #761 "Design and architecture"

[2020-07-22 05:31] SanderElias opened #762 "coordination server"

[2020-07-22 05:31] SanderElias opened #763 "render worker"

[2020-07-22 05:32] SanderElias opened #764 "multi-system coordination"

[2020-07-22 05:32] SanderElias opened #765 "communication layer"

[2020-07-22 05:33] SanderElias opened #766 "what triggers are needed"

[2020-07-22 05:33] SanderElias opened #767 "how to trigger"

[2020-07-22 05:34] SanderElias opened #768 "scalability"

[2020-07-22 05:35] SanderElias opened #769 "traversing worker"

[2020-07-22 06:52] SanderElias opened #770 "cmd-line helper"

[2020-07-22 06:53] SanderElias opened #771 "DP, Scully as CI/CD"

[2020-07-22 11:00] Alengeorge-01 opened #772 "How can we add scully rendering only for a particular module ?"
Hi Sir, I have around 5 to 6 modules in my angular project, and I want scully rendering for only 1 module and its components. How can we do that ?

[2020-07-22 11:15] davthu opened #773 "Static route question"
How would you go about to create a static route with no child routes (slugs) and still have it to render content from a markdown file? Valid use case for this would be Static Pages like Home or About Us.

[2020-07-22 19:17] msacket commented on #773
You can use the `extraRoutes` configuration:

[code]

[2020-07-22 19:53] davthu commented on #773
@msacket What I’m trying to do is to use the Netlify CMS ”File Collections” configuration to edit single files rather than entire folders.

https://www.netlifycms.org/docs/collection-types/#file-collections

[2020-07-23 07:06] SanderElias commented on #773
That can be done by I plugin. I created one with Aaron and Jorge in one of our calls. Perhaps we should pull it in.
[code]

[2020-07-23 07:13] SanderElias opened #775 "Add documentation for routeProcess"

[2020-07-23 07:43] SanderElias opened #776 "is this line ok by all of you"
https://github.com/scullyio/scully/blob/c9c033aaaf5c2cb1ef09f12322ff01cfa4152c70/tests/jest/src/test-config.helper.ts#L36

[2020-07-23 12:05] montella1507 opened #777 "Cannot GET /"
REPO:
https://gitlab.com/operator-ict/golemio/code/pragozor/pragozor-frontend/-/tree/development/portal

STEPS:
1) npm i / or yarn
2) npm run-script build-dev   / or yarn start
3) npm run-script scully-allroutes   / or yarn start

= clean install, no DIST folders yet..

Results in:

`<!DOCTYPE html><html lang="en"><head><meta name="generator" content="Scully 0.0.96">
<meta charset="utf-8">
<title>

[2020-07-23 12:08] geromegrignon commented on #777
The provided link doesn't work.

![image](https://user-images.githubusercontent.com/32737308/88284567-ea64a000-cced-11ea-80ea-445accdc1ab1.png)

[2020-07-23 12:20] montella1507 opened #778 "[Question] Super poor performance in Google speed insights"
### Description

All sites i have seen built with scully, have terrible performance statistics - specially "time to interactivity" and "blokcing by script" times... Why?

Example:
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fagitated-swartz-d8a163.netlify.app%2Fblog%2Fwhat-is-ivy%2F

Performance are usually way worse than standard angular rendering (no prerender) .

Th

[2020-07-23 12:23] montella1507 commented on #777
Hmm, have to talk with customer about source codes (they may be OSS soon, so it may be not problem to upload here)

[2020-07-23 12:36] geromegrignon commented on #778
Running the test with Lighthouse on Chrome Devtools, there is the following warning :

![image](https://user-images.githubusercontent.com/32737308/88286846-b0959880-ccf1-11ea-8f60-f1b333f0b30c.png)

But it only appears testing on mobile device.
On desktop, the test is fine (on your link, switch on the second tab for the desktop version of the test).

[2020-07-23 12:40] montella1507 commented on #778
Try this one then please:
https://pragozor.golemio.cz/

but maybe, here is the problem with "on scroll" animations / elements

[2020-07-23 12:41] geromegrignon commented on #773
It would be a great idea !

[2020-07-23 12:51] geromegrignon commented on #778
The problem comes from the build of your application as it isn't a production build.
The following message is displayed in the devtools console :

![image](https://user-images.githubusercontent.com/32737308/88288319-e3d92700-ccf3-11ea-87ad-ad2df90f5964.png)

It affects the performance of your application.
You can fix it by using by adding `--prod` when running the build script.

[2020-07-23 12:58] montella1507 commented on #778
Well... i thought reasons for scully are:
- indexing
-   prerendered performance for user - SITE is server-statically generated (prerendered) = USER can be interactive with page almost instantly (HTML is served as already rendered - as static file)  +  on background  angular is loaded, bootstrapped and then switched  with static content
= **Scully works as SSR but with prerendering.**

So... if Sc

[2020-07-23 14:22] jorgeucano opened #779 "Create backend for telemetry"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-23 14:22] jorgeucano opened #780 "Telemetry: add folder .scully for support telemetry"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-23 14:23] jorgeucano opened #781 "add logger for telemetry"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-23 14:23] jorgeucano opened #782 "add admin for telemetry"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-23 16:27] jorgeucano opened #783 "Add logrocket telemetry for Scully CLI"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-07-24 03:46] SanderElias commented on #778
@montella1507 Due to changes in web vitals (aka lighthouse in the past) currently _all_ SSR and pre-rendered apps are penalized. We have been talking with the Angular team for a while on this.
The Chrome team is making changes to how LCP is calculated, this will take a while, but if you are inclined, you can already see early results if you follow this](https://github.com/angular/angular/issues/13

[2020-07-24 03:46] #778 closed

[2020-07-24 03:52] SanderElias commented on #777
@montella1507 If you are setting a base-href in your app, you need some additional settings in the Scully config.
It is much easier to set a base-href as the last step, using our base-href-plugin, instead of setting it with the CLI.

[2020-07-24 03:54] SanderElias commented on #776
While we did discuss this, I didn't note down the resolution. @amycdurbin ?

[2020-07-24 05:08] SanderElias opened #784 "TransferState regression"
Looking into a possible regression where data is pulled in twice.

[2020-07-24 06:56] SanderElias commented on #784
Can't reproduce anymore.

[2020-07-24 06:56] #784 closed

[2020-07-24 06:59] kherP commented on #598
Hi, I'm facing the same issue. The way I'm using it is according to getting started page https://scully.io/docs/getting-started/.

Here is my AppRoutingModule

[code]

and this is my scully config
[code]

[2020-07-24 07:32] SanderElias commented on #598
Did you add the second route later on? did you try running `npm run scully -- --scanRoutes`?

[2020-07-24 07:46] kherP commented on #598
Thank you @SanderElias! it works!

[2020-07-25 18:11] pegaltier opened #786 "ScullyRoutesService getCurrent()"
## 🐞 Bug report

### Description

ScullyRoutesService getCurrent() return undefined when the plugin seoHrefOptimise is enabled

#### 🔬 Minimal Reproduction

- enable seoHrefOptimise and use getCurrent() (KO)
- disable seoHrefOptimise  and use getCurrent() (OK)

#### 💻Your Environment

**Angular Version:**

<pre><code>

@angular-devkit/architect         0.901.0
@angular-devkit/build-angular     0.9

[2020-07-25 18:36] pegaltier commented on #786
Update: not sure about the origin of the issue, i will investigate on my side first

[2020-07-25 18:36] #786 closed

[2020-07-25 20:46] barbados-clemens opened #787 "npm run scully hangs forever, but kind of works on Netlify"
## 🐞 Bug report
when running a scully build, `npm run scully`. The build hangs, I killed after an hour of waiting.

### Description
I was updating my personal site from v0.0.88 to v1.0.0-beta.0 when I noticed this behavior. I also updated to ng v10.0.4 at the same time.

I figured it was something I did wrong. so created a new scully app according to the documentation and then moved over my compon

[2020-07-25 22:28] barbados-clemens commented on #787
Use node v12, not v14.

Not sure exactly _why_ v14 breaks it, but when using v12 it just worked like it normally did.

[2020-07-25 22:28] #787 closed

[2020-07-26 06:51] SanderElias commented on #787
@barbados-clemens some of our depedencies are not (yet) compatible with node v14.

[2020-07-27 10:07] SanderElias opened #788 "Put node version limit in package.json"

[2020-07-27 11:15] geromegrignon commented on #788
Consider adding it as a Shield.io badge in the Readme file too.

[2020-07-27 15:05] raberana opened #789 "Suggested route structure"
Hello,

First of all, thanks for this awesome framework! Saw this and thought it's a good tech I can use for my first JAMStack blog.

I need a little help though regarding my route structure.

I want to implement a routing like` site/{category}/{slug}` instead of `site/blog/{slug}`
Do I need to run `ng generate @scullyio/init:markdown` multiple times to create separate folders for each of my blog

[2020-07-28 13:35] raberana commented on #789
Oh never mind. I found a custom [plugin](https://github.com/s0l0c0ding/solocoding/blob/master/plugins/postCategoryPlugin.js). Kinda understood how it works now
😁

[2020-07-28 13:35] #789 closed

[2020-07-28 15:09] #776 closed

[2020-07-28 15:10] SanderElias commented on #777
I'm closing this as there seems no additional action needed.
If there is feel free to response and we will reopen the issue

[2020-07-28 15:10] #777 closed

[2020-07-28 16:01] dyingangel666 commented on #458
Polyfill above is not working. Whoever is searching for a working Polyfill use the following one, install it and add it to your Polyfills.ts

https://www.npmjs.com/package/new-event-polyfill

[2020-07-29 01:12] bufke commented on #311
I added a example of it not working with the latest version of Scully @SanderElias  (let me know if I should open a new issue instead, but it seems like exactly this problem)

https://gitlab.com/bufke/scully-content-not-loaded

To reproduce

1. Build and serve scully
2. Go to http://localhost:1668/blog/this-is-my-post
3. Notice the link to a news post. Click it
4. You are navigated to http://local

[2020-07-29 06:53] SanderElias commented on #311
@bufke I just downloaded your sample. It's a similar, but yet different issue. In this issue, the navigation was inside the same route (from `/blog/x` to `/blog/y`) yours is from /blog/x` to `/news/y` This is a different issue, that indeed deserves its own issue, so please open one. I will add this to our test suite.
BTW, thanks for the reproduction repo, which really helps to understand the issue

[2020-07-29 10:51] SanderElias commented on #703
I tried to add the polyfill, but TS doesn't allow it. Didn't spend more time on this, as we should discuss this first.

[2020-07-29 11:49] SanderElias opened #794 "Document new contentTExt plugin"
When the big docs refactor has landed, this plugin needs some documentation

[2020-07-29 14:43] aaronfrost opened #795 "Link on npmjs.org takes me to githubs 404."
## 🐞 Bug report

### Description

When I click the github link on https://www.npmjs.com/package/@scullyio/scully it takes me to a 404 page on github. We need to fix our packaging.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2020-07-29 20:18] jorgeucano opened #796 "schematics blog not work in NX monorepo"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2020-07-30 00:29] bufke opened #797 "scully-content does not update when routing between two components which both have scully-content"
## 🐞 Bug report

Continuing conversation from https://github.com/scullyio/scully/issues/311#issuecomment-665373714

#### 🔬 Minimal Reproduction

https://gitlab.com/bufke/scully-content-not-loaded

- Build and serve scully
- Go to http://localhost:1668/blog/this-is-my-post
- Notice the link to a news post. Click it
- You are navigated to http://localhost:1668/news/2020-07-29-news

However scully-co

[2020-07-30 14:07] #795 closed

[2020-07-30 15:31] jorgeucano commented on #780
- [ ] create .scully folder
- [ ] add function for read the folder
- [ ] add telemetry question
- [ ] store telemetry in .scully/telemetry
- [ ] read .scully/telemetry and run only for second time if don't have a (yes/no)
- [ ] add .scully to .gitignore

[2020-07-31 04:10] SanderElias commented on #797
This issue is solved by #779, and waiting for release.

[2020-07-31 12:40] moritz31 opened #801 "Scully GDPR Modal Workaround"
## 🐞 Bug report

### Description

On my page i have a gdpr consent modal, that displays and disable all site actions.
When scully serves the static site, the modal is shown, after the angular app is loaded the modal goes away.

Not sure if this is a bug or a feature request or just an advice on how to workaround that issue.

#### 🔬 Minimal Reproduction

Create a simple page with modal in front, wh

[2020-07-31 15:56] SanderElias commented on #801
This depends on your use-case. With static site rendering, your site is rendered as any user that visits it for the first time would see it.
If that includes a modal, that is what will get rendered.
If your angular app decides on a cookie to remove the modal, that will only happen after your angular app is started.
In cases like this, you might want to add a small amount of JS that handles this st

[2020-07-31 20:36] cmer4 commented on #428
Yeah other than hydration recent scullyio beta works smoothly.
I have Ionic 5 / Angular 9.1.1 app and scully's getting started tutorial is such a pleasure to go through.

Tried to copy manually ionic's web components into prerendered index.hml:

<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/

[2020-08-02 03:15] cenguidanos opened #802 "New Markdown Parser"
## Propose for markdown parser

### Description

I see the limitations of marked markdown library and the limitations with plugins

### Describe the solution you'd like

This can be useful for scully?

https://www.npmjs.com/package/node-markdown-parser

[2020-08-02 03:18] cenguidanos opened #803 "New Web Page for Docs"
## Change docs web

### Description

The official docs web is ugly and its difficult to read content

### Describe the solution you'd like

Can i create a new one?

[2020-08-02 07:14] geromegrignon commented on #803
There is a ongoing PR about it #753

[2020-08-02 08:02] sizer opened #805 "Cannot read property 'toString' of null"
## 🐞 Bug report

I'm trying to add scullyio to empty Angular(9.1.7) project. And found an error as title.

### Description

#### 🔬 Minimal Reproduction

[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 9.1.12
Node: 14.5.0
OS: linux x64

Angular: 9.1.12
... animations, cli, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, rou

[2020-08-02 08:09] sizer commented on #805
... and I resolved it after create Angular application.
it may be better that scully logs some message instead of "Cannot read property 'toString' of null" :)

[code]

[2020-08-02 13:52] cenguidanos commented on #803
Sorry for my ignorance, it's a tradition in dev create the docs web in the same repo of the entire core project with other stuff? Thanks

[2020-08-02 16:21] moritz31 commented on #801
I've found a way by just setting a user agent for puppeteer and then just filter the modal out if this user agents access the site

[2020-08-03 07:32] geromegrignon commented on #803
it mostly depends on how the project will be used.

As this project uses a monorepo structure and only exposes its core as a library, side projects can live inside : docs web and a demo project.

Here are the benefits :
- you don't have to maintain 2 repositories regarding contributing guidelines
- you can use the 'Projects' feature to manage both the side projects and the core project at once
- i

[2020-08-03 12:54] jorgeucano commented on #805
I will add a new error message, Scully only work with an Angular app using the route module!

[2020-08-03 21:14] desongyu opened #807 "Object(...) is not a function"
## 🐞 Bug report
I am trying to add scully to my existing Angular 7 application and got this error in console without additional message when serving.

### Description

#### 🔬 Minimal Reproduction
ng build
npm run skully
npm run scully:serve
http://localhost:1668/

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 7.3.9
Node: 10.14.1
OS: darwin x64
Angular: 7.2.15
... animation

[2020-08-03 21:25] geromegrignon commented on #807
As stated in the [docs](https://scully.io/docs/pre-requisites/), Scully doesn't support Angular 7.

[2020-08-04 00:29] desongyu commented on #807
Thank you! I will try to upgrade. Do you have suggestion should I upgrade to 8 or 9 to better use Scully?

[2020-08-04 01:38] desongyu commented on #807
Also, if I have jQuery in Angular ts file or in JS library, would Scully work with that? Thank you.

[2020-08-04 07:48] geromegrignon commented on #807
I would always recommend to use latest angular version in order to be up to date with latest features (and it's always easier to update on each new version rather than having to deal with several versions updates at once).
You can use the guidelines of the official site to update your project : https://update.angular.io/#7.0:9.1

Scully parses your project to find routes then use Pupeteer to explo

[2020-08-04 11:52] desongyu commented on #807
Thank you so much for your inputs. Scully doc mentioned supports Angular 8 and 9, would it work with Angular 10 work as well?

[2020-08-04 12:32] SanderElias commented on #807
@desongyu Yes, Scully works with version 10 as well.
Going to close this issue now as there is no actionable content for us. Feel free to keep discussing things here.

[2020-08-04 12:32] #807 closed

[2020-08-04 14:06] desongyu commented on #807
Sounds good. Thank you everyone's help and advice.

[2020-08-04 14:33] SanderElias opened #810 "add correct type to configValidator type"

[2020-08-04 14:48] #654 closed

[2020-08-04 14:59] amycdurbin commented on #788
Related to #703
@aaronfrost should we go from node 12-13?

[2020-08-04 20:04] aaronfrost commented on #788
I think we should stay on whatever the version the Angular CLI supports. If they went to 13, then let's do it.

[2020-08-04 20:20] amycdurbin commented on #788
@SanderElias^^

[2020-08-05 01:45] uruha opened #811 "How to create any `/path` root `index.html` ?"
## 🐞 Bug report
⚠️ This is question issue ⚠️

### Description
How to create any `/path` root `index.html` and routes setting ?

Because, I tried to touch `/blog/index.md` that to create `/blog` root index.html.
But, as excecuted `npm run scully -- --sr` result, `/blog/index/index.html` is output.
So, this output is routes detected `/blog/index` path...

If there is any officially available method,

[2020-08-05 03:09] pjlamb12 opened #812 "Option to Not Include Future Blog Posts"
## 🧩 Feature request

### Description

There should be an option to leave out blog posts that have a date in the future. If these posts are not included in the build, you could "schedule" blog posts.

### Describe the solution you'd like

The Scully config file can have a flag for "includeFuturePosts" or something like that. It can default to true so that it doesn't break anything already deployed

[2020-08-05 04:49] aaronfrost commented on #812
If you used `published: false` in the frontmatter on your .md file, generates the blog with a random slug. And that non-published blog doesn't appear in certain pieces of the scully routes service.

You can give it a look. Let us know what you think.

[2020-08-05 04:53] pjlamb12 commented on #812
Yeah, so I've used that and it works, but then you have to manually change it when you're ready to publish it. It seems like a natural setting to not publish a post with a future date. Then you can trigger a Netlify build each day, for example, and eventually that post will be picked up and published. Does that make sense? It's more about automating it and "scheduling" posts than just having a pos

[2020-08-05 05:45] #630 closed

[2020-08-05 05:45] #803 closed

[2020-08-05 10:18] desongyu commented on #807
Another question. We are thinking of migrating from 7 to 8 to use Scully. But we use JIT compiler from angular/core to compile HTML(containing angular code) from CMS database at runtime. After running Scully, would this function still be there? Or does Scully uses the AOT. What would then happen to our use of the JIT compiler and its behavior? Thank you for your help!

[2020-08-05 11:45] SanderElias commented on #807
@desongyu Scully does work with the JIT compiler too. It does parse the end-result, and doesn't care how yo build it.

[2020-08-05 11:57] SanderElias commented on #811
@uruha Can you explain your motivation?
We are building the path's this way because most hosting services/HTML servers demand a structure like that.
if you want to create a 'blog/index.html' you should have a route in your app that handles '/blog' without any addition. We do have something like that in our sample app.

[2020-08-05 12:05] SanderElias commented on #788
@aaronfrost the cli demands a version like this:
[code]
However, we have some dependencies in Scully (jsDom at least) that don't work properly anymore with version 10.
The polyfill proposed in #703 has serious TS issues, that might take at least a couple of hours to resolve
I would propose to go to:
[code]
I'm not sure why the CLI doesn't include 13, as it seems to work fine.

[2020-08-05 12:12] desongyu commented on #807
@SanderElias  Thank you so much for that information. So if I understand correctly, the angular code in the CMS HTML would be compiled into static HTML and Javascript(AOT or JIT on running Scully). No configuration needed in Scully to know if using AOT or JIT in angular.json. With each CMS HTML change, I would just need to rebuild Scully and upload the new static HTML and Javascript for that page.

[2020-08-05 12:13] SanderElias commented on #802
@cenguidanos Can you explain what the limitations you run into are?
If you prefer another MD processor you can simply replace the plugin with one that uses the version you like.
We did choose `marked` because its a proven, well-established library with over 4.5 million downloads a week.
The library you are proposing is really new and has no proven track record yet. While it does look good I don't

[2020-08-05 12:13] #783 closed

[2020-08-05 12:22] SanderElias commented on #807
@desongyu Yes, the static HTML will start your SPA like it normally does. So uploading the file for that page will work as you expect.

[2020-08-05 12:58] desongyu commented on #807
Thank you so much! I look forward to upgrading to 8 then use Scully. Have a great day!

[2020-08-05 13:41] cenguidanos commented on #802
ok, @SanderElias , thanks for the response

[2020-08-05 13:41] #802 closed

[2020-08-05 15:54] desongyu commented on #807
BTW, this just came to me, if Scully doesn't need AOT, why doesn't it support Angular 7?

[2020-08-05 16:11] brendanalexdr opened #816 "Documentation of --pjFirst Flag"
When building with scully in the context of a monorepo, the following message alerts me to the suggested use of the "pjFirst" flag.
[code]
To get scully to work in a nx monorepo, I need to set the Default project angular.json config to the project I want scully to operate on.  I am assuming the --pjFirst flag has something do with executing scully on a particular project in a monorepo, but am havi

[2020-08-05 23:40] uruha commented on #811
@SanderElias
Thank you for your reply 🙂

Currently, I am working on a FrontEnd guideline in Angular at my company,
This time, we are considering whether it is possible to move to Scully for convenience of operation.

The current guideline URI structure is as follows.
[code]

My motivation is to use Scully to achieve a similar URI with the following markdown configuration.

[code]

The root of each

[2020-08-06 03:17] SanderElias commented on #816
@brendanalexdr the `--pjFirst` is a specialty flag that is only needed in repo's where there is _no_ Angular project. It looks for `package.json` instead of `angular.json` (@GuzmanPI can you add this to the docs?)
What you need is to use the `--project <yourPrrojectNameHere>` flag. You don't need to set a default in your angular.json. That is an optional step.
But I'll update the warning so it inc

[2020-08-06 03:36] SanderElias commented on #807
Because that would limit the version of typescript we can use. Also, we would need to manually build the library or version 7, add extra testing, and so on. We do only support the Active angular -and the previous version. So currently, we do support V9 and V10.
If you are upgrading your app, you might as well move directly to V10. If you follow the steps on the [update site](https://update.angular

[2020-08-06 03:42] SanderElias commented on #811
Oh, yes, that structure is fully possible.
@GuzmanPI is working on a plugin that takes a single file, and puts it manually into a route. (He is building on top of [this plugin](https://github.com/scullyio/scully/issues/773#issuecomment-662851518)
Is that what you are looking for?

[2020-08-06 03:52] GuzmanPI commented on #816
Sure! I can work on this

[2020-08-06 03:56] GuzmanPI commented on #811
Yes @uruha, as @SanderElias  mentioned I am currently working on a plugin for this. It is actually finished, and I'll have a PR for it tomorrow.

[2020-08-06 05:04] pjlamb12 commented on #812
@aaronfrost @SanderElias @jorgeucano If one of you can point me in the right direction for where to add the check I would be happy to do it. I was looking around and [think it may be here](https://github.com/scullyio/scully/blob/2861cd8aea9e990b0bc9e56e5d9d9c1ed8a478e7/libs/scully/src/lib/renderPlugins/content-render-utils/readFileAndCheckPrePublishSlug.ts#L17), at least potentially. It looks like

[2020-08-06 07:31] uruha commented on #811
Thank you very much.
It seems to be solved by using this plugin !

[2020-08-06 08:53] ashokthrymr opened #820 "ng add @scullyio/init command not working"
## 🐞 Bug report
ng add @scullyio/init command not working
### Description
When I try to run this command, I got the following error
**Unable to fetch package metadata: 404 Not Found - GET https://registry.npmjs.org/@scullyio%2finit - Not found**

**Angular Version:**
Angular - 9
[https://www.npmjs.com/package/@scullyio/init](
https://www.npmjs.com/package/@scullyio/init)
may be library seems to be

[2020-08-06 08:55] SanderElias commented on #811
@uruha As you redeem this as solved, I'll close the issue.

[2020-08-06 08:55] #811 closed

[2020-08-06 08:57] geromegrignon commented on #820
The problem comes from npm directly : https://twitter.com/npmstatus/status/1291296875572629504.

[2020-08-06 12:20] desongyu commented on #807
@SanderElias Thank you for your inputs. I appreciate your help!

[2020-08-06 12:24] #602 closed

[2020-08-06 12:25] #816 closed

[2020-08-06 12:33] brendanalexdr commented on #816
Many thanks for your help and clarification on this.  You guys really rock!

[2020-08-06 12:55] #796 closed

[2020-08-06 13:00] jorgeucano commented on #770
this is done some pr ago ?

[2020-08-06 13:01] jorgeucano commented on #820
I will close because npm have some problems :)

[2020-08-06 13:01] #820 closed

[2020-08-06 13:37] SanderElias opened #824 "document publishDate option in contetnFolder plugin"

[2020-08-06 13:38] SanderElias opened #825 "document removeBottomscripts"

[2020-08-06 13:38] SanderElias opened #826 "add test for removeBottomscripts"

[2020-08-06 13:58] #770 closed

[2020-08-06 23:05] AllanRegush opened #830 "Broken Links in Readme"
## 🗄️ Docs report

### Description

Getting Started Link & Full Documentation links are broken. Link goes to 404.

[2020-08-07 09:16] #830 closed

[2020-08-07 12:31] jorgeucano opened #832 "Compile user plugins when Scully run"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-07 12:31] jorgeucano opened #833 "Create an option in ng-add for create folder and tsconfig"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-07 12:32] jorgeucano opened #834 "Option for create a plugin (schematics)"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-07 12:33] jorgeucano opened #835 "Create folder & plugin (schematics)"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-07 12:34] jorgeucano opened #836 "Add scully plugin path to scully config"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-07 12:36] jorgeucano opened #837 "Start the typescript compiler for plugin folder"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-08-08 07:37] puku0x commented on #548
Wow, the plugin now uses Prism. I'm looking forward to the next update.
https://github.com/scullyio/scully/blob/main/libs/scully/src/lib/fileHanderPlugins/markdown.ts

[2020-08-08 08:20] puku0x commented on #548
I guess it's time to reopen this issue because Scully will be able to highlight JSX/TSX by adding following modules.

[code]

[2020-08-10 08:44] #548 closed

[2020-08-11 07:01] SanderElias commented on #801
Closing as it seems solved, and we currently don't see anything actionable in here. If there is something we can do, we will reopen this.

[2020-08-11 07:01] #801 closed

[2020-08-11 07:01] #810 closed

[2020-08-11 07:01] #805 closed

[2020-08-11 07:01] #797 closed

[2020-08-11 07:01] #758 closed

[2020-08-11 10:23] SanderElias commented on #563
@Vandivier Last week we released an updated documentation site, and the location has changed.
We are going to close this issue because we think its no longer relevant.
When you think we are mistaken, please respond, and clarify, and we will gladly reopen this.

[2020-08-11 14:02] Toysurusse opened #843 "Scully when using nhipster (jhipster framework with backEnd in Node.js)"
## 🗄️ Docs report

### Description

Like issue #108 I had this issue when I tried to implement Scully in nhipster (jhipster with a backend in node.js).

I had to change line 93 and 107 the route of the folder polyfills.ts. In fact, the root of nhipster angular client is src/main/webapp/polyfills.ts

## 🔬 Minimal Reproduction

### Reproduction Steps\*\*

jhipster : 6.8.0
node : 14.4.0
npm : 6.14.7

[2020-08-11 14:16] geromegrignon commented on #843
Please update the required steps to create a project (as the second one is useless and the third one doesn't work without basic jhipster generator) as it'll help the maintainers to reproduce your issue:

npm install -g generator-jhipster-nodejs
nhipster (to create a project)

[2020-08-11 15:03] amycdurbin commented on #772
Please see the ignoring documentation in this link: https://github.com/scullyio/scully/blob/main/docs/learn/faq.md#ignoring-routes

[2020-08-11 15:03] #772 closed

[2020-08-11 15:16] amycdurbin commented on #824
Done.

[2020-08-11 15:16] #824 closed

[2020-08-13 00:25] TheEnterpriseProgrammer opened #844 "npm run scully hangs on Ubuntu WSL"
## 🐞 Bug report

### Description
When executing npm run scully on Ubuntu wsl it will start the scully and angular servers but will not finish. This then prevents the routes from being injected. I have taken the same repository and executed the npm run scully command on Windows 10 pro and scully completes creation of the sites and routes.

#### 🔬 Minimal Reproduction
1. new angular project
2. Add s

[2020-08-13 09:18] SanderElias commented on #844
You started the server, and it's happily serving results until you stop it.
This is how it is intended to work.
Can you explain to me what you would expect to happen when you start the Scully server part?

[2020-08-13 10:03] TheEnterpriseProgrammer commented on #844
Sander thanks for reaching out.

I apologize wrong screen shot.

This is what happens when running npm run scully in Ubuntu 20.04 in wsl:
![runScullyError](https://user-images.githubusercontent.com/31627901/90121887-8bada780-dd2a-11ea-8ff5-29fd067780a6.JPG)

However, when executing against the native windows environment it is successful as seen here:
![runScullySuccess](https://user-images.githubu

[2020-08-13 14:45] SanderElias commented on #844
Me too.
@jorgeucano can you take a look?

[2020-08-13 15:04] #834 closed

[2020-08-13 15:04] #836 closed

[2020-08-13 15:04] #833 closed

[2020-08-13 15:04] #835 closed

[2020-08-13 15:04] #780 closed

[2020-08-13 15:04] #759 closed

[2020-08-13 15:04] #668 closed

[2020-08-13 15:04] #683 closed

[2020-08-13 15:04] #685 closed

[2020-08-13 15:04] #684 closed

[2020-08-13 15:04] #563 closed

[2020-08-13 15:04] #686 closed

[2020-08-13 15:04] #689 closed

[2020-08-13 15:04] #318 closed

[2020-08-13 15:04] #669 closed

[2020-08-13 15:04] #612 closed

[2020-08-13 15:05] #779 closed

[2020-08-13 15:16] amycdurbin commented on #781
@jorgeucano Is this for error logging?

[2020-08-13 15:45] SanderElias opened #846 "Create documentation for the new rawRoute option in handledDocs"

[2020-08-13 15:45] SanderElias opened #847 "Create a way to fetch an 'external' site"

[2020-08-14 20:15] aaronfrost opened #848 "Scully doesn't work on nodev10"
## 🐞 Bug report

### Description
@jorgeucano and I are doing a workshop, and the users in the workshop can't run Scully cause they get errors. Not Cool!!!

#### 🔬 Minimal Reproduction

Install nodev10, and run npm run scully. You get an error about Object.fromEntries not existing. We need to support node v10.

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Versi

[2020-08-14 22:34] jorgeucano opened #849 "add flash-prevention to docs (community plugin)"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-08-15 12:29] puku0x commented on #849
Isn't it `@scullyio/scully-plugin-flash-prevention`?
https://www.npmjs.com/package/@scullyio/scully-plugin-flash-prevention

[2020-08-15 22:14] franklin626 opened #850 "Following the docs for a starter app, getting "The process 8472 not found""
I followed the docs to create a starter Scully app. Upon `npm run scully` after `ng build`, I get:

[code]

package.json:
[code]

[2020-08-16 09:13] FireRedDev opened #851 "Wordpress Importer"
Hi, could you add an option to import blog posts and categories from a wordpress website.

[2020-08-17 08:47] SanderElias commented on #703
@aaronfrost #848

[2020-08-17 09:33] SanderElias commented on #788
Tested support for node 12 13 and 14, Scully works with all 3.
Node 10 isn't supported. Some of our dependencies demand globalThis, which is not in V10, and TS is making it really hard to polyfill.
Then we use fromEntries all over the place, and that is part of the es2019 library but does not get polyfilled by TS when we compile down to ES2018 anymore. (this worked with previous TS versions
Then w

[2020-08-17 09:43] SanderElias commented on #850
closing as a duplicate of #732 and #79

[2020-08-17 09:43] #850 closed

[2020-08-17 10:49] stevermeister commented on #851
@FireRedDev please check this article - https://indepth.dev/how-to-migrate-wordpress-to-scully/

[2020-08-17 10:55] stevermeister commented on #848
@aaronfrost do you really need v10?
I think all first adopters of Scully either use v12+ or it's easy for them to switch

[2020-08-17 10:57] stevermeister commented on #499
@robertbaker could you please provide more details what do you expect from this plugin?

[2020-08-17 11:27] FireRedDev commented on #851
thank you for the article, now i know how to do it. you should maybe still think about adding an easy feature for that, as jekkyll offers it for example

[2020-08-17 13:24] #703 closed

[2020-08-17 13:24] #788 closed

[2020-08-17 18:07] wallace41290 opened #854 "Build never completes in a Bitbucket Pipeline"
## 🐞 Bug report

### Description
I am running into some issues with the scully build inside a Bitbucket Pipeline. `npm run scully` never finishes; gets stuck, here are the logs:
[code]

I have tried with no argument, with `host` & `scanRoutes` with no effect. I have also tried using the regular `ng build` instead of prod, also no difference.

Thanks for the help, love the project!

#### 🔬 Minimal

[2020-08-17 18:57] s0l0c0ding commented on #848
one month ago or earlier had issues with node 10 specifically with jsdom dependency. i think node 10 is outdated

[2020-08-17 21:26] jorgeucano opened #855 "Plugins: route process and route have some typos"
## 🗄️ Docs report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

### Reproduction Steps\*\*

### Expected vs Actual Behavior\*\*

## 📷Screenshot

## 🔥 Exception or Error

<pre><code>

</code></pre>

## 🌍 Your Environment

### Browser info

### Anything else relevant?

[2020-08-18 07:24] SanderElias commented on #848
As by pr #852 this is now closed

[2020-08-18 07:24] #848 closed

[2020-08-18 11:25] navneetsharmaui opened #856 "Cannot ready property 'toString' of null"
## 🐞 Bug report

Getting error **toString** of null while running command `nx generate @scullyio/init:markdown --project=scully-hour`

### Description

I've created a `nx-workspace` base angular application with `**nx**` **cli** and `**workspace.json**`, and was adding the blog to the application, but while executing the command `nx generate @scullyio/init:markdown --project=scully-hour` it gives

[2020-08-18 12:54] jorgeucano commented on #856
@navneetsharmaui Can you update your schematics to `"@scullyio/init": "^1.0.0-beta.1",`

![Capture](https://user-images.githubusercontent.com/5982204/90515248-bc317f00-e138-11ea-923e-7d05ec0657f1.PNG)

[2020-08-18 12:54] #856 closed

[2020-08-18 14:23] navneetsharmaui commented on #856
@jorgeucano that resolved the issue but now it's not updating the routes array.
![image](https://user-images.githubusercontent.com/11630812/90525065-73a3b100-e18c-11ea-8313-e72ae271196f.png)

[2020-08-18 15:10] SanderElias opened #858 "FactCheck docs"
Go over docs, check if all is correct.
Make sure all the plugins are documented in life-cycle order

[2020-08-18 15:27] amycdurbin opened #859 "Slack StackOverflow integration"

[2020-08-18 19:03] jorgeucano commented on #859
https://github.com/ldez/stackoverflow-slack-bot

[2020-08-19 16:32] BrendanBerkley opened #860 "docs-link-update plugin doesn't work"
## 🐞 Bug report

### Description

@scullyio/scully-plugin-docs-link-update takes a fragment link like `<a href="#config">Config</a>` and turns it into something that should work in Scully. (Without it, you get the error reported in #520.)

However, when I tried it, I found that clicking a fragment would make all Scully content disappear.

#### 🔬 Minimal Reproduction

I did the minimal reproduction

[2020-08-20 10:30] SanderElias commented on #860
@BrendanBerkley turns out, Angular doesn't handle fragments the same way as a "normal" page.
Going to add some code to handle this use-case. Thanks for reporting

[2020-08-20 12:46] stevermeister opened #861 "Double encoding for non-latin slugs"
## 🐞 Bug report

### Description

When you have non-Latin characters they will be encoded 2 times.

#### 🔬 Minimal Reproduction

minimal set to reproduce - https://github.com/stevermeister/scully-slug-bug
deployed - https://scully-slug-bug.netlify.app/

[2020-08-20 15:09] #832 closed

[2020-08-20 15:17] #775 closed

[2020-08-20 15:18] #837 closed

[2020-08-20 15:18] #847 closed

[2020-08-25 06:25] SanderElias commented on #812
@pjlamb12 You need to set the published to false, as that is the main trigger. After the published is false, the publishDate will override "override" this setting. This is done so there will be no accidental 'unpublish'.

[2020-08-25 12:14] pjlamb12 commented on #812
@SanderElias I can do that, I get it, but the problem I see is then you have a whole bunch of posts that are marked as not published but really are. I see this feature as the post being published, thus the published flag being true, just not until the publishDate. Then you don't have to manually change the published flag or anything like that.

[2020-08-25 12:39] SanderElias commented on #812
@pjlamb12 So, a post without a published false, and a future date doesn't get published at all? So no private slug gets generated?

[2020-08-25 14:09] pjlamb12 commented on #812
My thought was that the publishDate had to be today or earlier, and the published flag had to be true for the page to be generated. If I was "scheduling" a post, I'd set it to published true, but put the publishDate for this Friday for example. Each night I have Netlify kick off a rebuild of my site and pick up any new posts. Once Friday comes and the site is rebuilt it would pick up the scheduled

[2020-08-25 15:05] amycdurbin commented on #812
@pjlamb12 We talked about this in stand up and we agree. We will work on this.

[2020-08-25 15:33] pjlamb12 commented on #812
Perfect, thanks so much!

[2020-08-26 05:39] SanderElias opened #868 "put <next> and <prev> buttons on _all_ pages"
This can be done manually, but I would prefer to create a system that uses the `scully-routes.json` to determine those buttons, so it will 'auto-update' when changes are made.

[2020-08-26 05:40] SanderElias opened #869 "Write out a better introduction"

[2020-08-26 05:40] SanderElias opened #870 "expand the "how doe sit work" on introduction"

[2020-08-26 05:41] SanderElias opened #871 "update "how do i use it" on introduction"

[2020-08-26 05:42] SanderElias opened #872 "Move requirements out of getting started to its own page"

[2020-08-26 05:43] SanderElias opened #873 "make the first getting started page a complete overview, with links to each section"

[2020-08-26 05:45] SanderElias opened #874 "Make sure all links work, and make sense in their context"

[2020-08-26 05:47] SanderElias opened #875 "add "view in repository" to all places where its relevant"

[2020-08-26 05:48] SanderElias opened #876 "Get rid off too rigid docs testing"

[2020-08-26 05:53] SanderElias opened #877 "get rid of unneeded TOC's on pages that don't really need it."

[2020-08-26 06:34] SanderElias opened #878 "Create a "manual installation" page/guide"

[2020-08-26 06:34] SanderElias opened #879 "Get rid of unneeded titles that don't add value (overview)"

[2020-08-26 06:57] SanderElias opened #880 "add a describe the process page"

[2020-08-26 12:15] stevermeister opened #882 "PrismJS WARNING"
## 🐞 Bug report

Getting a strange warning from Angular.

#### 🔬 Minimal Reproduction

I've installed PrismJs by this manual - https://scully.io/docs/learn/utilities/syntax-highlighting/prism-js/

## 🔥 Exception or Error

[code]

[2020-08-26 14:05] SanderElias opened #883 "Docs rework"

[2020-08-26 14:06] SanderElias opened #884 "Make it easier to contribute to docs"

[2020-08-26 14:07] SanderElias opened #885 "add test for dead links in docs"

[2020-08-26 14:11] SanderElias opened #886 "add explanation on how to contribute to docs."

[2020-08-26 14:13] SanderElias opened #887 "add test for overview.md in every folder"

[2020-08-26 14:16] SanderElias opened #888 "fix top navigation to highlight chosen path"

[2020-08-26 14:20] SanderElias opened #889 "add test for title && language in frontmatter for docs"

[2020-08-26 16:28] gabmascheroni commented on #854
I have the same problem.
Tried uploading my project with sully but the pipeline hangs on "Route list created" forever

![image](https://user-images.githubusercontent.com/32320869/91330549-f8e82080-e79f-11ea-8103-86a4df171ac4.png)

[2020-08-26 18:15] wallace41290 commented on #854
@gabmascheroni Negative, I tried getting some help in the Gitter channel, but it seems to have gotten lost, so I filed a ticket here. I realize the team is probably swamped, but right now I am manually doing my builds...

[2020-08-27 10:03] tekmi commented on #854
I've experienced the same problem today, trying to deploy Scully-based blog with Vercel.

<img width="776" alt="ScullyHangsInVercel" src="https://user-images.githubusercontent.com/15714691/91426548-f26bae80-e85c-11ea-80f0-75aad136f2c5.png">

It's strange, because Vercel has provides some Guide with Scully preset https://vercel.com/guides/deploying-scully-with-vercel, where they somehow could deplo

[2020-08-27 10:08] etavener opened #890 "Fragments and TransferState"
## 🐞 Bug report

### Description
When I'm on a page with a fragment the transferState.getState doesn't provide any response.

#### 🔬 Minimal Reproduction
##### Scenario 1 (doesn't work)
Page: /page/#fragment
`transferState.getState( 'key' );`
Incorrectly doesn't return any value and doesn't even error.

##### Scenario 2 (works):
Page: /page/
`transferState.getState( 'key' );`
Correctly returns the

[2020-08-27 10:57] nmrichards commented on #854
Getting the same issue over here.

[2020-08-27 11:44] etavener opened #891 "A transferState pipe idea"
## 🧩 Feature request

### Description
Most of the time the transferState is used to ensure the html doesn't flash when transitioning from static to Angular. I currently store a lot of API requests in the transferState to make sure the transition is smooth.

The issue with this is that API responses can contain a lot of data not required. Also, the HTML can get large and bloated.

 A clear and conc

[2020-08-27 17:26] macervero opened #892 "Scully stucks at step "Creating Route List: 3/3""
## 🐞 Bug report

### Description

Dear Scully Team,

I'm trying to get a static site for my Angular project with Scully so I follow the steps descrived at [Scully Installation](https://scully.io/docs/learn/getting-started/installation/) and [Scully Building](https://scully.io/docs/learn/getting-started/building/) docs.

The problem appears when I try to finally convert my project by the execution

[2020-08-27 22:42] alcfeoh opened #893 "Error: Your distribution files are in "dist". Please change that to include a subfolder"
## 🐞 Bug report

### Description

When trying to run `npm run scully`, I get the following error:
![image](https://user-images.githubusercontent.com/4699771/91501871-70d74900-e87b-11ea-999f-2dd58a8f89ae.png)

#### 🔬 Minimal Reproduction
- Clone https://github.com/alcfeoh/ng2-training/tree/scully-test
- Run `npm install`
- Run `ng build`
- Run `npm run scully`

#### 💻Your Environment

**Angular Ver

[2020-08-28 05:55] koshyviv commented on #614
Is there a way to currently automate those builds, or generate the static files alone?

[2020-08-28 06:23] koshyviv commented on #892
Im facing the same issue - it works fine on my local, but whenever its run on our deployed containers it gets stuck.
Have tried with all beta versions (0,1,3)

Local
[code]

Container
[code]

[2020-08-28 06:46] koshyviv opened #894 "Is it possible to suppress the anonymous collection input during 'npm run scully'"
## 🧩 Feature request

### Description

 A clear and concise description of the problem or missing capability...
[code]

We are asked to choose if we want to allow anonymous error collection. Is there a way to disable that option, since im running in an automated fashion.

### Describe the solution you'd like

 If you have a solution in mind, please describe it.
Is it possible to pass arguments to

[2020-08-28 07:58] SanderElias commented on #894
@koshyviv You can use the `--noPrompt` flag, and there will be no user-prompt and no error collection being done.
I'll double-check the docs if this is listed there.

[2020-08-28 07:58] #894 closed

[2020-08-28 08:06] SanderElias commented on #893
Make sure the output of your angular build is in a subfolder of dist. Most Operating Systems get confused if you try to recursively copy files into a subfolder. This error prevents your OS from generating an infinitive depth folder.
You can change that in your `angular.json`

[2020-08-28 08:06] #893 closed

[2020-08-28 08:26] SanderElias opened #895 "create faq for 'dist folder'"
see issue #893

[2020-08-28 08:29] SanderElias commented on #892
@jorgeucano is looking into this issue. We are investigating the root cause of this.

[2020-08-28 08:44] SanderElias commented on #891
Part 1: It would be _very_ hard to do this. To prevent the flash when angular boots, it will need to get the data in a synchronous way. I'm not sure that is even possible in a pipe that's used this way.

Part 2: You would have to traverse the entire DOM to extract this data. This needs to be done _before_ the Angular app boots. The time to do this will be added to the app-boot. This process is hig

[2020-08-28 12:22] jorgeucano commented on #892
Hello @koshyviv the error `⠙ calculate timings TypeError: Object.fromEntries is not a function` come from the node version... Please use node 12

[2020-08-28 12:32] jorgeucano commented on #670
Create a way to have a different flow... If we have an Image route don't use the normal render (puppeteer ) to use the image render.

- https://www.gatsbyjs.com/plugins/gatsby-image/
- https://www.gatsbyjs.com/docs/preoptimizing-images/

[2020-08-29 05:07] SanderElias commented on #854
Just leaving a message here to let you know @jorgeucano is actively working on this issue. (He has access to a bitbucket pipeline, and is on a windows machine which somehow seems related).
We do have a hard time reproducing the issue tho.

[2020-08-29 18:31] macervero commented on #892
I've tried Node versions 12 & 10 but both ot them stucks at the same point _⠴ Creating Route List: 3/3_.
Does somebody finds a solution?

[2020-08-30 16:16] alcfeoh commented on #893
That works. This info should be in the set-up instructions though as not all projects are configured that way by default. Or perhaps have the Scully schematics change `angular.json` to include that subdirectory config.

[2020-08-31 10:14] SanderElias commented on #882
This warning has nothing to do with Scully.
It tells you that the part of prism you loaded into your application isn't a proper ESM module, but a commonJS one.
This is a new warning from that Angular CLI.
[see this](https://angular.io/guide/build#configuring-commonjs-dependencies) for details

[2020-08-31 10:14] #882 closed

[2020-08-31 11:31] jorgeucano commented on #851
@FireRedDev Can you give me an example of that ??? I never use Jekyll, but we can check and see how to create a plugin for that!

[2020-08-31 11:33] jorgeucano commented on #892
@macervero I check the error and is from node 10, can you update Scully and try again with node  >= 12.13.0

[2020-08-31 11:34] FireRedDev commented on #851
https://import.jekyllrb.com/docs/wordpress/

[2020-08-31 11:36] SanderElias commented on #892
@macervero I'm running on Ubuntu 20. and currently on node 14.8, and I can't reproduce your issue.
If you can provide us with a way we can reproduce the issue, we can fix it.

[2020-08-31 12:58] stevermeister commented on #882
I also thought that it's nothing to do with Scully directly, but as far as it happens after step-by-step Scully guide (scully.io/docs/learn/utilities/syntax-highlighting/prism-js) I would put a comment on that page

[2020-08-31 13:29] neryortez commented on #892
@macervero
Remember that when you change versions of node/npm you have to reinstall your dependencies.
Delete the node_modules folder and the package-lock.json file. And run npm i.

[2020-08-31 17:00] macervero commented on #892
Is there any special command to update Scully? Or this step consists on deleting node_modules/package-lock.json and execute command `npm install`, as proposed by @neryortez?

If it only consists on deleting and `npm install` it's what I've done and the problem persists...

I couldn't understand what is happening... Could it be a problem with Chromium version?

[2020-08-31 17:05] macervero commented on #892
Could I provide you a Dokerfile?
I'm running it locally, but I've also tested it on Docker and the process sticks at the same point.

[2020-08-31 17:06] neryortez commented on #892
@macervero
Wait a minute... The error that is resolved by using node > 12.13 is the  `⠙ calculate timings TypeError: Object.fromEntries is not a function`
You seem to be having another issue.
Providing a reproduceable would help to find it.

[2020-09-01 11:44] macervero commented on #892
@neryortez, perfect! So I provide you a Dockerfile!

Inside this [folder](https://www.dropbox.com/s/vg11ed9jxntoybg/Scully.zip?dl=0) you will find a Dockerfile and also the corresponding exportation of the docker image.
To run the container you just need to execute:

`docker run -it scullyi`

Once you are inside docker container, you can do a `ls` command so you will see that an angular project ha

[2020-09-01 11:54] #890 closed

[2020-09-01 12:00] #670 closed

[2020-09-01 14:36] etavener commented on #892
I've just done a fresh npm install (after deleting the package-lock) and I'm getting this issue. I'm not running docker

[2020-09-01 14:46] amycdurbin commented on #892
Related to #844

[2020-09-01 14:59] etavener commented on #892
I switched back to node 10.14.1 and I've done a fresh npm install and now it's working again. Something to do with installing on node 12.

[2020-09-02 05:23] pjlamb12 commented on #812
Another thing I was thinking as I work with Jekyll is that they have a CLI flag or environment flag to force future posts to be provided. I know that complicates things some more, but it's useful for previews (like for reviews by certain people). So if the build flag is not passed, the publish date is the source of truth. If the build flag is set to true, it overrides the publish date.

[2020-09-02 09:01] SanderElias opened #901 "Rework language selection."
Language selection is currently overly complex.
I want to replace this with a content-driven language service.

[2020-09-02 09:09] SanderElias opened #902 "add tool to translate for non-exisitng docs files to spanish (or other) language"

[2020-09-02 09:41] SanderElias opened #903 "Add test for missing `overview.md` in documentation folders"

[2020-09-02 14:56] SanderElias commented on #877
After discussion, we agreed to move the TOC to the right of the screen, and auto-generate them from content headers

[2020-09-03 14:26] macervero commented on #892
Dear team, could you reproduce the error through the given Dockerfile?

[2020-09-03 15:38] #861 closed

[2020-09-03 15:38] #666 closed

[2020-09-03 15:39] #876 closed

[2020-09-03 15:39] #858 closed

[2020-09-03 15:43] stevermeister commented on #861
@amycdurbin was it published?

[2020-09-03 16:01] amycdurbin commented on #861
@SanderElias ^^

[2020-09-03 16:02] SanderElias commented on #861
@stevermeister I'll put out a new version tomorrow. IIRC it should be released already, but not 100% sure

[2020-09-05 01:14] hubbertj opened #907 "Typescript error while compiling plugins. scully/**/*.ts' not found scully/*.ts' not found"
Just updated my project from angular 5 to angular 10 so I can implement scully io.

After doing the following on a angular 10.1.0 project

[code]

I get the following error:

Typescript error while compiling plugins. the error is:
error TS6053: File 'C:/cmder/development/<project_name>/scully/**/*.ts' not found.
error TS6053: File 'C:/cmder/development/<project_name>/scully/*.ts' not found.

Looki

[2020-09-07 11:48] etavener opened #908 "scrollIntoView - allow a way to position the fragments at the top not just centrally"
## 🐞 Bug report

### Description
When the URL has a fragment, Scully uses `scrollIntoView()` which is fine, but I would like to position this to be placed at the top instead of centered.

#### 🔬 Minimal Reproduction
This can also be seen on the Scully docs themselves:

Going directly to https://scully.io/docs/learn/core-features/idle-monitor-service/#adding-custom-mechanisms positions the element

[2020-09-07 12:03] SanderElias commented on #907
@hubbertj We are investigating this already. The problem here is that version 10.1 is using TS4, and there is a breaking change in there. We need to fix this in such a way that both the old and the new can work.

[2020-09-07 12:38] SanderElias commented on #908
@etavener The docs are currently scrolling to top. and not to center.
If there is not enough content below the tag your navigating, it can't scroll to the top, as it can't scroll behind page-end.
For example see [proxyconfig](https://scully.io/docs/learn/config/#proxyconfig-string) and [handle404](https://scully.io/docs/learn/config/#handle404-string)
The last one doesn't scroll to the top, becaus

[2020-09-07 13:53] santiruffino commented on #907
Hey! Same issue here. But I'm using Angular 9.1.12. I created a new Angular app, and fails when I run `npm run scully`.

[2020-09-07 14:15] SanderElias commented on #907
Oh, just did a careful rereading. This is not the TS4 issue I thought it was.
@jorgeucano We seem to have missed something in the setup for the 'compile plugins'
@santiruffino Thanks for the update. we are going to fix this today, expect an update tomorrow.

[2020-09-07 19:05] grok opened #909 "Smallest Scully: Unable to Scully"
## 🐞 Bug report

### Description

My goal is to create the boilerplate Angular application and then smack Scully on-top of it and see that it works. When I try this... it fails. But this may be me entirely.

#### 🔬 Minimal Reproduction

Most of this is pulled from https://scully.io/docs/learn/getting-started/installation/

Here's the setup:

[code]
[code]

#### 💻Your Environment

**Angular Version

[2020-09-07 19:17] grok commented on #909
I did more reading here: https://scully.io/docs/learn/getting-started/requirements/ and I found the line that says:

* Does that mean I cannot just have a home page?
* Or does that mean I need at least one component in the routes array?

I added one to the routes array..

[code]

[2020-09-07 19:19] geromegrignon commented on #909
Hello,
It means you need a Router module.forRoot() defined with at least a route and router-outlet added in order to navigate to this route

[2020-09-07 19:21] grok commented on #909
This minimum required route cannot be `''` correct?

[2020-09-07 19:23] geromegrignon commented on #909
It can. '' is a correct path.

[2020-09-07 19:24] grok commented on #909
Awesome! So should it be working with just the following?

[code]

Or do I also need to add that to the scully config?

PS: Thanks for the help!

[2020-09-07 21:31] hubbertj commented on #907
Thanks @SanderElias

[2020-09-08 06:09] SanderElias commented on #907
For the ones that currently have this issue, and want to move forward, remove the `./scully` (or rename) folder. This will allow you to use Scully normally.
We are working on a fix, and I still expect this to land today.

[2020-09-08 07:11] SanderElias commented on #907
If you have this error, please replace the `/scully/tsconfig.json` with the following:
[code]
And all will start to work

[2020-09-08 07:14] SanderElias commented on #909
@grok Sorry, there was a bug in our schematics. I just fixed this.
see [this comment](https://github.com/scullyio/scully/issues/907#issuecomment-688667763) for a solution in your current project

[2020-09-08 07:22] SanderElias opened #911 "Add test to check if scully works in new project."
We need a test that will create a new Angular project. uses the schematic to install Scully, and then the project should be able to "run"

[2020-09-08 07:29] SanderElias commented on #911
Steps I think this should include

1.  create a new packaged version of the schematics.
2.  `ng new testProject` with routing && css
3.   `ng g m home --route home --module app.module ` to add at least 1 route
4. `ng add` package from 1
5. `ng build && npm run scully`
6. check if there is a static version of the home route from 3

And, most importantly, figure out how to do this in an automatic wa

[2020-09-08 08:18] SanderElias commented on #903
duplicate of #887

[2020-09-08 08:58] etavener commented on #908
I've just looked at the scull docs again and the fragments aren't working there anymore.

See https://scully.io/docs/learn/config/#handled-routes it doesn't scroll to the element.

[2020-09-08 09:07] etavener commented on #908
The docs seem to be scrolling to the top now. Was something updated?

[2020-09-08 11:33] #907 closed

[2020-09-08 11:42] grok commented on #909
@SanderElias you're a baller.

Confirmed, that updating the `/scully/tsconfig.json` file with:
[code]

Allows me to make progress. Thanks again!

[2020-09-08 11:42] #909 closed

[2020-09-08 12:12] adityakoushikr11 opened #912 "Scully dynamic route generation issue."
## 🐞 Bug report

### Description
Could not fetch data for route "/add-ons/:pageUrl"
#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2020-09-08 12:40] santiruffino commented on #907
Great! Thanks, @SanderElias and @jorgeucano :+1:

[2020-09-08 12:53] adityakoushikr11 commented on #912
How to fix this issue.  i am making an https api call to fetch data from server

[2020-09-08 13:49] geromegrignon commented on #912
Please consider filling in the issue template with :
- minimal reproduction
- your environment
- complete error stack trace

It will speed up the maintainers response to your issue.

[2020-09-08 14:02] SanderElias commented on #908
@etavener Not something that has any relation with this.
We do update the docs automatically if we merge into main. You might have been there during such an update.

[2020-09-08 15:46] SanderElias opened #914 "figure out why cypress test fail occasionally"

[2020-09-08 18:20] hubbertj commented on #907
@SanderElias @jorgeucano Thanks guys, I am really a fan of this project. You guys are doing some good work here.

[2020-09-09 08:55] aaronfrost opened #915 "Use Puppeteer to detect only used CSS, and then inline it and lazily load the rest"
## 🧩 Feature request

Using the info spelled out on web.dev and using the API in puppeteer, detect the critical css per view rendered, and then inline it and lazily load the css from the Angular build. This would allow for the most efficient version of Scully to run.

Link to the web.dev article: https://web.dev/unused-css-rules/

### Description

 A clear and concise description of the problem or