[2021-05-30 03:19] Splaktar commented on #849
@yringler there were some docs to help with this confusion, but they got lost in a refactor (details https://github.com/scullyio/scully/pull/507#issuecomment-850931982). You can find it here: https://github.com/scullyio/scully/blob/567726247436c78e367804cff1dedd218cf4fa18/plugins/scully-plugin-flash-prevention/README.md. The key piece is that you shouldn't use `defaultPostRenderers`, but instead t

[2021-05-30 03:33] jamieathans commented on #1348
@Splaktar Using version 1.1.1, Scully works successfully when I build in in Github using Github Actions, but hangs when I run the same build actions locally using WSL.

If I ctrl^C the hanging Scully build at this point, it does appear that Scully has generated all the lazy route index.html files successfully ...

[2021-05-30 03:38] Splaktar commented on #1348
I've switched from
[code]
to
[code]
and thought that might have helped, but then after some more testing, I saw Scully hang a few more times.

Yeah, I kill it and then I'm generally able to deploy w/o any issues, but it breaks my CI a lot (CircleCI) which is a real pain. You generally don't want anything flaky in your CI process like this.

[2021-05-31 06:03] Jefiozie commented on #1139
@SanderElias this issue can be closed as it is resolved

[2021-05-31 06:49] #1139 closed

[2021-05-31 07:26] SanderElias commented on #1354
@jsanta that is the reason the enterprise plugins are there, so you can override whatever you need. I designed Scully so, that almost everything is a plugin, that can be swapped out when needed.
You even can replace existing plugins if you like.

[2021-05-31 07:32] SanderElias commented on #854
@niklaas I'll add the puppeteer options to the faq page in #1379
Thanks for letting us know

[2021-05-31 07:33] #1363 closed

[2021-05-31 07:45] SanderElias commented on #1348
I have closed an issue around this a while ago, and it should be solved by now, but we still occasionally see this behavior.
It would be so much easier if we would have a solid way to reproduce this issue.

[2021-05-31 08:32] SanderElias commented on #1348
I would like to discuss some o my findings here.
In a couple of runs, it seems that the combo node 12 with Angular 11 is the most prone to this. I seem to have the least issues with node 14.
Can you all please state your node and angular version, too see if we can find a common thing?

[2021-05-31 08:54] SanderElias commented on #1370
@jordankkk I just tried manually with V12 and `inlineStateOnly: true` but I don't see that behavior, can you create a way so I can reproduce your issue?

[2021-05-31 09:13] niklaas commented on #854
Of course! Thank you!

[2021-05-31 11:56] jamieathans commented on #1348
Angular CLI: 12.0.2
Node: 14.17.0
Package Manager: npm 6.14.13
OS: linux x64

Angular: 12.0.2
... animations, cdk, cli, common, compiler, compiler-cli, core
... forms, material, platform-browser, platform-browser-dynamic
... router

Package                         Version
---------------------------------------------------------
@angular-devkit/architect       0.1200.2
@angular-devkit/build-angula

[2021-05-31 12:27] SanderElias commented on #1348
@jamieathans no, it is a generic problem. I'm glad that it happens for you on local builds too. That would allow me to do some scripting to see if I can reproduce it locally, as that would give me something to go on! BTW, right after my previous post, it stalled in our GA also on V14, so it isn't node or Angular version specific.

[2021-05-31 17:13] Splaktar commented on #1348
[code]
[code]

[2021-06-01 05:12] jordankkk commented on #1370
@SanderElias this issue like #1367 i guess is lazy loading routes issue, for angular v12 I have changed the home page route from lazyloading to normal route (component) then it was fixed, but I still not sure why angular v11 don't have this issue : )

`inlineStateOnly: true` not test this config yet

Thanks

[2021-06-01 10:37] nolafs opened #1381 "Npm update broken scully"
## 🐞 Bug report

After updating to the latest npm 7.15.1 and to Angular 12.0.2, scully no longer builds.

Puppeteer cannot find or launch the browser. (by default chrome)
 Try adding 'puppeteerLaunchOptions: {executablePath: CHROMIUM_PATH}'
 to your scully.*.config.ts file.
Also, this might happen because the default timeout (60 seconds) is to short on this system
this can be fixed by adding the -

[2021-06-01 13:27] SanderElias commented on #1381
NPM 7 is incompatible with Angular right now.  There is not much we can change about that.

[2021-06-01 13:27] #1381 closed

[2021-06-01 15:09] BlindDespair opened #1382 "Backslash not escaped by TransferState"
## 🐞 Bug report

### Description
Having data like `{"amount": "450\45g"}` breaks the page when data is read from the TransferState script on `JSON.parse()`. It works great when it's received by the `data.json` though.
#### 🔬 Minimal Reproduction
Pass  `{"amount": "450\45g"}` to TransferState and load the page directly.
#### 💻Your Environment

**Angular Version:**

<pre><code>Angular CLI: 11.2.4
No

[2021-06-01 15:54] jsanta commented on #1354
Thanks @SanderElias I really appreciate all your help.
The only thing that IMHO should be improved (not for me as I already read a good part of the  code) is the documentation on how to replace or override a plugin. Examples are not _that_ clear.

[2021-06-01 22:57] davidecampello opened #1383 "Install error on apple m1 silicon"
## 🐞 Bug report
Installing scully in a mac with silicon produce this error
The chromium binary is not available for arm64

### Description
I think puppeteer should be upgraded to latest version if possible
https://github.com/puppeteer/puppeteer/issues/6622

#### 💻Your Environment
**Angular Version:**

<pre><code>
Angular CLI: 12.0.1
Node: 16.2.0
Package Manager: npm 7.13.0
OS: darwin arm64

</code

[2021-06-02 06:55] SanderElias commented on #1383
Angular and NPM 7 are not good friends. The culprit might be there?
If you manually install `npm i puppeteer` it might just work.  As long as puppeteer doesn't have breaking API changes, it should work.
Can you let us know?

[2021-06-03 17:26] a45b commented on #1383
@aaronfrost

The chromium binary is not available for arm64:
If you are on Ubuntu, you can install with:

 apt-get install chromium-browser

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! puppeteer@5.5.0 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the puppeteer@5.5.0 install script.
npm ERR! This is probably not a problem with npm. There is likely additional l

[2021-06-03 18:47] EatonZ commented on #1119
@SanderElias Checked today and the log file is still generated despite `--logSeverity=none`.
Version 1.1.1

[2021-06-04 15:07] a45b commented on #1383
@SanderElias - I tried `npm i puppeteer` - puppeteer seems installed.
But after that should I do `ng add @scullyio/init`? (I did and result in the same error)
I also did `npm install @scullyio/init` - which result in the error again (but even it's successfully how to run :install)
I'm not using Nx

Can we replace puppeteer with playwright?
playwright API is similar, so it should be much issue - I

[2021-06-05 15:22] AbbaciKhaled opened #1384 "scully-plugin-flash : Cannot find module"
## 🐞 Bug report

### Description

I installed the scully-plugin-flash by following the steps mentioned in the official documentation, the problem is that when I try to run the scully command, it shows me the following error message (while the package is located in node_modules) :

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**
Angular CLI: 11.1.4
Node: 14.15.5
OS: win32

[2021-06-05 23:42] geromegrignon commented on #1363
I think the issue shouldn't be closed as the changes have not been released yet on npm (so the warning still appears when doing `ng add @scullyio/init`).

[2021-06-06 00:11] hisham commented on #1381
According to https://github.com/angular/angular-cli/issues/19957#issuecomment-786177315 it is compatible now?

[2021-06-08 05:59] SanderElias commented on #1354
Yeah, writing documentation is even harder as writing code.

[2021-06-08 07:14] Tyounr opened #1386 "run scully without rescanning routes"
## 🧩 Feature request

### Description

I ran into the issue of scully rescanning routes every time I ran `npm run scully` that routes get rescanned. In a normal project, this wouldn't be an issue since all routes would just be found again, but my architecture is a little out of the ordinary since I store my routes in different files than my routing modules. I could go into detail on why I do that,

[2021-06-08 17:26] #1358 closed

[2021-06-09 12:33] #878 closed

[2021-06-09 12:33] #1359 closed

[2021-06-09 21:56] AbbaciKhaled commented on #1384
You need to import '@scullyio/scully-plugin-flash-prevention' instead of

'scully-plugin-flash-prevention' (which is written in the official documentation)

[2021-06-09 21:56] #1384 closed

[2021-06-10 19:55] BruneXX opened #1389 "No route declaration array was found that corresponds to router module at line XX in src/app/app-routing.module.ts"
## 🐞 Bug report
After run the following command ` ng g @scullyio/init:blog --project my-project` and I'm receiving the following error:
`No route declaration array was found that corresponds to router module at line XX in src/app/app-routing.module.ts`

The app-routing module is present
#### 🔬 Minimal Reproduction
install scully in angular project and run those commands

#### 💻Your Environment
- N

[2021-06-11 05:36] SanderElias commented on #1389
When I do:
[code]
Everything works as expected.
(there are a few msgs about keyword `id`, but those will disappear with the next release.)
So, we need a way to reproduce your issue, before we can fix it.

[2021-06-12 06:28] mainawycliffe opened #1390 "Add Section to Manually Add Blog"
Add a section on the website on how to add blog support manually, just in case the angular schematics aren't working.

[2021-06-12 21:40] rogersanbr commented on #1319
Hi, first of all, congrats on the work and I am loving Scully so far.

I followed the doc today and ended with this problem too.
When I run `npx scully` it recommends the usage of  `npm run scully -- --scanRoutes`, which runs the package.json script adding the parameter.
But the package.json script added by the schematics already has dashes `"scully": "npx scully --"` so the result is this `npx sc

[2021-06-14 07:07] SanderElias commented on #1390
Also, it should explain a little more in-depth what the schematics is doing.
Also, adding some explanation about why we did set up the routing like this. (to catch deep links)

[2021-06-18 06:34] SanderElias commented on #1389
Closing as there is no actionable context here. If there is please provide it, and we will gladly reopen

[2021-06-18 06:34] #1389 closed

[2021-06-18 06:36] SanderElias commented on #1348
Thanks for all the feedback. We are still working on this. Reproducing the issue turns out to be hard.

[2021-06-19 02:47] c-su opened #1393 "Don't display <scully-content> with Japanese URL Fragment"
## 🐞 Bug report

### Description

If you enter a URL fragment once and then change it to a Japanese URL fragment, scully-content will not be displayed.

#### Before
<img width="930" alt="スクリーンショット 2021-06-19 10 58 00" src="https://user-images.githubusercontent.com/4987854/122628905-ffab9f80-d0f3-11eb-918b-83925314bfe2.png">

#### After
<img width="979" alt="スクリーンショット 2021-06-19 10 58 12" src="http

[2021-06-19 07:21] Jefiozie commented on #1393
Hi @c-su, thank you for reporting the issue. Would it be possible to share a reproduction so that we easily can investigate the issue?

Thanks

[2021-06-19 21:51] VRa3 commented on #1189
@SanderElias Is there any chance to improve the error message? In my case it was:
`R3InjectorError(t)[t -> t -> t -> t -> t]: NullInjectorError: No provider for t!`
It took a while to found out it's about missing Router

[2021-06-22 14:18] SanderElias commented on #1393
I'm going to close this because we can't reproduce.
We are more as happy to reopen the issue as a we get an proper way to reproduce the issue

[2021-06-22 14:18] #1393 closed

[2021-06-24 22:24] sonicparke opened #1394 "Support Nx Workspace.json v2"
## 🧩 Feature request

### Description

 Nx workspace configuration now supports the ability to extend the architect targets. In order to do this, you need to rename the project's `architect` property to `targets`. This causes Scully to break since it is looking explicitly for the `architect` property within the project.
https://nx.dev/previous/angular/core-concepts/configuration#targets

### Descr

[2021-06-24 23:05] sonicparke commented on #1394
I'm working on a PR for this and should have it up shortly.

[2021-06-25 13:05] lucasvieirasilva opened #1396 "Scully process getting stuck after render the files"
## 🐞 Bug report

### Description

There is an intermittent issue when running the `npx scully` to render the page, after the message `Generating took x seconds for x pages` the process stays stuck, and to close it is necessary to send a signal to the terminal (e.g. `ctrl+c`).

That impacts in a very bad way the CI/CD process, then I found this fix https://github.com/scullyio/scully/pull/1334 that

[2021-06-28 11:53] SanderElias commented on #1396
closing as duplicate of #1348

[2021-06-28 11:53] #1396 closed

[2021-06-28 14:56] lucasvieirasilva commented on #1348
@SanderElias seems to me that `/killMe` endpoint called here (https://github.com/scullyio/scully/blob/main/libs/scully/src/scully.ts#L166) is causing the issue, the process stays waiting for this process to be finished before leaving the execution to be finished.

The close server should have a way to force the shutdown (https://github.com/scullyio/scully/blob/main/libs/scully/src/lib/utils/server

[2021-06-29 13:36] lucasvieirasilva opened #1397 "Scully Exits Process before Finishing Execution"
## 🐞 Bug report

### Description

I have been used the beta version in my local projects for a few weeks, and I have noticed that change https://github.com/scullyio/scully/pull/1334 is making the CLI exits the process before this code https://github.com/scullyio/scully/blob/main/libs/scully/src/scully.ts#L164-L171 being executed.

So, keeping the server process open to the next execution.

#### 🔬

[2021-06-29 18:37] niklaas commented on #1383
Best solution would be to update the dependency to `puppeteer` to the most recent version because this has been fixed (see https://github.com/puppeteer/puppeteer/pull/6495) and the current version

https://github.com/scullyio/scully/blob/aa9fd74f3e852d2b584ea84a293865b0d4fa1ebe/package.json#L103

looks rather outdated (as of this writing the most recent version is `v10.1.0`).

While this project s

[2021-06-30 06:54] fireflysemantics commented on #1122
I have had this issue too.  I think it's the type of WIFI that I'm on.  I just ran my build now and it works fine, but when I'm on other public WIFI networks, puppeteer times out.  I wonder if it needs a certain "Handshake" to start up ... and certain public networks are not allowing it.

[2021-07-03 04:11] hisham opened #1399 "Use a custom page is empty"
## 🗄️ Docs report

### Description

See https://scully.io/docs/Reference/plugins/custom-plugins/use-a-custom-plugin/. Page is empty. Is this intentional?

[2021-07-06 05:16] clark-97 commented on #1187
if I want to remove hubspot chat bubble on some page, how to use window.HubSpotConversations.widget.remove() on angular component? @stewones

[2021-07-06 18:52] stewones commented on #1187
As long as you have loaded HS script outside the scully process (as above), you should be able to call their api through global window object with no problem.

This is the approach I'm taking for any third party dependency which needs to be loaded via script tags manually , to name a few: HubSpot, Stripe, Google/Facebook Ads Pixels and more

[2021-07-07 11:41] SanderElias commented on #1399
Nope, it is not intentional. I'm going to look at what happened to the content we did have there.

[2021-07-07 16:10] nelsynelz opened #1400 "Additional routes labeled as "/blog/:id" not matching app-routing.module "blog/:slug""
## 🐞 Bug report

### Description
When running npx scully and npx scully serve, the terminal displays a list of routes that are unhandled:
[code]

However, in my app-routing.module.ts file, the route is configured as:
[code]

This forces me to configure scully config to the below:
[code]
But I would think it _should_ be configured like the below to match the route declaration:
[code]

#### 🔬 Minima

[2021-07-07 16:56] nelsynelz commented on #1400
I think this is a caching issue, when deploying in my CI/CD pipeline I get the expected output in the logs...

[code]

Any tips for fixing this locally?

[2021-07-07 19:51] A7xSV commented on #1400
Worth trying out the --scanRoutes command line option - https://scully.io/docs/Reference/command-line-options/#scanroutes

[2021-07-08 17:34] davidecampello commented on #1383
Hello! Thank you for your answers!
I tried running npm i puppeteer and with @niklaas solution but I alwais have the error
The chromium binary is not available for arm64.
I don't know why...

[2021-07-09 04:36] SanderElias commented on #1400
The routes are cached. We use Minko's Geuss-parser for route discovery. But it takes its time, especially on bigger apps.
And as add/changing routes in an app is usually a low-frequency thing, we decided to cache this.
you can use the `--scanRoutes` cmd line option like this:
[code]
And Scully will discover your route changes/addition/subtractions. (and cache them again)

I'm closing this as it lo

[2021-07-09 04:36] #1400 closed

[2021-07-09 04:45] SanderElias commented on #1383
@davidecampello In some cases `npm i puppeteer` does not install chrome, and you need to manually install one.
the steps are described in the puppeteer troubleshooting documentation, which we refer to in the error-message.

Also, there seems to be helpful info over here: https://github.com/puppeteer/puppeteer/issues/6622

[2021-07-09 07:04] davidecampello commented on #1383
thanks @SanderElias, I'll try later

[2021-07-09 12:03] nelsynelz commented on #1400
That solved the issue. Thanks all!

[2021-07-11 19:40] bdetry opened #1401 "Scully requires Angular project to import RouterModule"
Little issue because most of the people are not concerned but I was trying Scully with a simple angular project. A project **without any routes or any RouterModule module** import and the files generated in` ./dist/static ` were not static.

I simply added a RouteModule and the following route and everything worked properly.

`const routes: Routes = [
  { path: '' , component: AppComponent }
];`

[2021-07-12 05:11] Jefiozie commented on #1401
Hi @bdetry, thank you for creating this issue. Scully needs at least one route this is required. There is already documentation about this you can have a look at it [here](https://scully.io/docs/learn/getting-started/requirements/).

[2021-07-12 14:35] alessandro-tucci-visiontech opened #1402 "Cannot read property 'search' of null"
## 🐞 Bug report
`ng add @scullyio/init` terminates uncorrectly with `Cannot read property 'search' of null`. I see that another similar issue was opened (#1168) but I'm not seeing any solution. W.r.t. this other issue (#1288), the name of my Angular project is something like _xyz-showcase_ (yes, with the hyphen)

### Description

#### 🔬 Minimal Reproduction
Just run `ng add @scullyio/init` on the

[2021-07-12 18:23] alessandro-tucci-visiontech commented on #1402
I partly managed to backtrace the problem.
As we can see from here:
https://github.com/scullyio/scully/blob/cbd940cf0f7db9f4a5b658b69f0a1b6fbebadde5/libs/scully-schematics/src/ng-add/package-config.ts#L56

Scully's schematics are requiring the presence of **@angular/core** in the **dependency** section of the _package.json_ file.
It is a requirement that should be added to the doc, since an explic

[2021-07-12 18:34] alessandro-tucci-visiontech commented on #1402
Another implicit requirement: the _package.json_ file is required to provide a **script** section, as we can see here:
https://github.com/scullyio/scully/blob/cbd940cf0f7db9f4a5b658b69f0a1b6fbebadde5/libs/scully-schematics/src/scully/index.ts#L31

Therefore, I was able to add the schematics by adding:

`
"scripts": {}
`

to my package.json file

[2021-07-12 22:53] #1401 closed

[2021-07-13 10:31] alessandro-tucci-visiontech commented on #1168
My two cents: as per what I found while dealing with this analoguous issue (#1402) , it may be due to a couple of Scully's implicit requirements:

1. @angular/core shall be explicitly listed in the _dependencies_ section of your package.json file, e.g.
[code]
2. Your package.json file shall contain a _scripts_ section. If you don't have any script to list, declare it empty,
[code]

[2021-07-13 21:13] BenLune opened #1403 "[Gitlab CI] Scully rendering never ends"
## 🐞 Bug report

Angular version : 12
Scully version : 1.1.1

### Description
Dear Scully Team,
Thanks again for Scully !
I have a strange thing (to me) I'd like to share with you.

When I run Scully locally, I have this behaviour : Generating took 2.88 seconds for 8 pages:
And then server stops like this : ✨  Done in 126.99s.
Here I don't understand why we have such a delay between the duration o

[2021-07-13 21:35] danwritecode opened #1404 "Metadata tags through ngx-seo not being defined only on "extraRoutes" routes"
## 🐞 Bug report

### Description
Hey all, not sure if this is a bug or just me requiring more information about how routes that are defined in "extraRoutes" are handled differently than discovered routes. It could also be the case that this should be an issue for the ngx-seo team.

I'm defining my extraRoutes here:
[code]
This configuration works great and these routes are being fully generated. T

[2021-07-13 21:40] BenLune commented on #1403
Even if I looked for similar problem in the issue list before creating this one, I found this one :
https://github.com/scullyio/scully/issues/1348

And this comment :
https://github.com/scullyio/scully/issues/1348#issuecomment-831681453

After updating Scully version, I didn't encountered the problem anymore.

[2021-07-13 22:06] danwritecode commented on #1404
This seems to be a caching issue. When deploying on server I see metadata defined appropriately but not locally. Second time I've been duped by caching :disappointed:

Closing now.

[2021-07-13 22:06] #1404 closed

[2021-07-14 11:56] alessandro-tucci-visiontech commented on #1108
@thinktank67 I run into your same problem. I was running Scully in a folder having a parent which contains whitespaces (which is pretty normal, on Windows).

I was able to make it work by applying on Scully's js files (yes, in the node_modules folder :( ) the equivalent fix of turning this line: https://github.com/scullyio/scully/blob/6d55e6234b93754ea919e67f94aacdb1aeaf0c2c/libs/scully/src/lib/ut

[2021-07-14 14:16] #1403 closed

[2021-07-15 07:31] SanderElias commented on #1402
@alessandro-tucci-visiontech Thanks for the thorough description. I'll be putting those issues on our to-do

[2021-07-19 14:07] alessandro-tucci-visiontech opened #1406 "SyntaxError: Unexpected token 'export' when running npx scully"
## 🐞 Bug report

### Description
Our Scully plugins reference one of our dependencies, a library which we developed and maintain, targeted **ES2015**. When running `npx scully`, we are returned the error mentioned in the subject. It looks like a lack of support for ES6/ES2015 syntax.
First of all: is it due to Scully itself, or to the Node.js tools?
In the latter case, do you have a standard way t

[2021-07-20 03:48] SanderElias commented on #1406
This is a syntax error in your config. I suspect you are loading something that's not compiled to JS.
Scully will compile the config for you, and all the things you import from `./scully`, but it its not in there, it need to be compiled manually.
For some things, you might get away with that by adding it to the `tsconfig.json` inside of that folder.

[2021-07-20 03:48] #1406 closed

[2021-07-20 15:14] tenoriojuann opened #1408 "How does one configure the file structure for the static files?"
Hi,

I have a requirement to be able to save all the static HTML next to each other. This means that rather than having folders for every route and then having an index.html I would need to get rid of the folders and name the static HTML the same as the route.

From this:
[code]
To:
[code]

[2021-07-23 08:21] SanderElias commented on #1408
@tenoriojuann We don't provide a possibility for this out of the box. Most servers are not equipped to handle this way of distribution a website, and you are going to get edge-cases.
(full disclosure, this was how I did set it up in the first version, way before release. I did step away from it because it causes more problems than it was worth)
If you really want to do this anyway, you can clone t

[2021-07-23 08:21] #1408 closed

[2021-07-23 08:58] yuyueh commented on #786
Hi, did you already solved this problem?
After adding base-href, I faced similar issue: "ScullyRoutesService.getCurrentRoute will return undefined".

According to the below link and code: `curLocation === basePathOnly(r.route.trim())`
https://github.com/scullyio/scully/blob/main/libs/ng-lib/src/lib/route-service/scully-routes.service.ts#L103
My tests shown these two variables would not be equalled

[2021-07-23 22:44] NEDIX opened #1409 "Cannot find module scully-plugin-flash-prevention"
## 🐞 Bug report

Following the steps for setting up the flash prevention plugin as found [here](https://github.com/scullyio/scully/tree/main/libs/plugins/scully-plugin-flash-prevention#2-use-the-plugin) results in build error:
<code>
Error: Cannot find module 'scully-plugin-flash-prevention'
</code>

### Description

#### 🔬 Minimal Reproduction

Contents of scully.app.config.ts
<pre><code>
import

[2021-07-26 08:26] laurentmau commented on #1333
I've the same issue. Any news on this ? @SanderElias I cannot find the "seoRewrite" plugin.

[2021-07-27 19:20] Bjeaurn opened #1411 "Cannot setup a Scully project in a fresh Nx workspace"
## 🐞 Bug report

### Description
When I generate a fresh Nx workspace, both an empty or one based on Angular, there are errors when adding Scully as described in the installation guide.

#### 🔬 Minimal Reproduction
[code]

[code]

#### 💻Your Environment

[code]

Nx looks like version `12.6.2` but `nx version` returns Angular CLI.

**Scully Version:**

<pre><code>
    "@scullyio/init": "^1.1.4",

[2021-07-28 19:58] Jefiozie commented on #1411
Hi @Bjeaurn I think this is a bug that is already fixed in the develop version. would you mind verifying this with the `develop` version?

[2021-07-29 21:29] BenLune commented on #1409
Hi,
I just had the same problem.
You just need to import it like that :
`import { getFlashPreventionPlugin } from '@scullyio/scully-plugin-flash-prevention';`
rather than
`const { getFlashPreventionPlugin } = require('scully-plugin-flash-prevention');`

Be sure you installed the plugin before via npm or yarn.

[2021-07-29 21:54] BenLune opened #1412 "Possibility to add postRenderers to extraRoutes"
## 🧩 Feature request

### Description

Hi there !
Thank you for Scully !
I'm working on an Angular App, with the Router and Scully, but not with the default urls provided by route configuration.
Thanks to Angular UrlSerializer, I can get some nice SEO friendly urls coming from a CMS (Drupal), mapped to an internal Angular route. So my app works well with both urls, the technical angular ones and t

[2021-07-30 09:17] jam-one opened #1413 "ng add @scully/init"
## 🐞 Bug report

### Description
ng add @scully/init causes error, Angular 12 on Windows 10

#### 🔬 Minimal Reproduction

#### 💻Your Environment
Windows 10
**Angular Version:**

<pre><code>

D:\Angular12\my-blog>ng --version

     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   |

[2021-07-31 11:24] Jefiozie commented on #1413
Hi @jam-one could you verify if this problem is fixed with the `develop` version of scully?

[2021-08-01 03:26] jam-one commented on #1413
This problem has not been fixed. Here is what happens.
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: @***@***.***
npm WARN Found: @***@***.***
npm WARN ***@***.***/platform-browser
npm WARN   peer @angular/platform-browser@"12.1.4" from @***@***.***
npm WARN   ***@***.***/platform-browser-dynamic
npm WARN     peer @angular/platform-browser-dynamic@"*" from @***@***.***
npm

[2021-08-01 09:57] kogiokka commented on #1319
It will be nice to resolve this problem. Newbie here, just spent an hour figuring out why I kept getting `No configuration for route "/id/:id" found. Skipping` even I had changed the path in both the scully config and the angular app.

`npx scully --scanRoutes` works in my case. Another solution is to delete `node_module/.cache`.

[2021-08-02 21:10] maxcodefaster opened #1414 "Layout shift when loading page"
## 🐞 Bug report

### Description

The layout shift drastically when the page is loaded (see video). How to omit this? I guess scully shows the prerendered text before the css is loaded.

#### 🔬 Minimal Reproduction

Add scully to any ionic angular project and reload the page with clean cache.

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 12.1.4
Node: 16.6.0 (Unsupported)

[2021-08-02 21:14] maxcodefaster commented on #1121
I have a similar issue with more information: https://github.com/scullyio/scully/issues/1414

[2021-08-02 21:16] maxcodefaster commented on #1414
My app-routing:

[code]

[2021-08-03 20:19] BenLune opened #1415 "ENOENT : no such file or directory, unlink 'path to config.js file'"
## 🐞 Bug report

### Description
When I trigger scully CLI command, I have this error, not everytime but often. Both locally and remote on Gitlab CI.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

Mac OS, GitLab CI

**Angular Version:**

Angular 12.1.2

<pre><code>

</code></pre>

**Scully Version:**
"@scullyio/init": "1.1.4-BETA.163207"
"@scullyio/ng-lib": "^1.1.1-BETA.163207"
"@scullyio/s

[2021-08-03 22:28] jam-one commented on #1413
Any solutions?

    On Saturday, July 31, 2021, 6:25:01 PM GMT+7, Jeffrey Bosch ***@***.***> wrote:

Hi @jam-one could you verify if this problem is fixed with the develop version of scully?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-04 03:48] SanderElias commented on #1415
@BenLune That points to the code that removes the compiled config.js, As the file _is_ there (otherwise there is no way to reach that particular line) it is strange that it errors out on removing the file.
Does your setup start Scully from another folder perhaps? Scully should be executed from the project's root folder.|
Aside from that, this doesn't reproduce for me, so I need a project that does

[2021-08-04 03:55] SanderElias commented on #1414
Can you provide a repo that reproduces this?
Ionic uses web-components, and this might be the problem. Perhaps when you switch to manual idle, the result is better.
We still have an open issue on being ionic compatible. That might be the problem too.

[2021-08-04 04:10] SanderElias commented on #1413
@jam-one When I try this, it works for me:
![image](https://user-images.githubusercontent.com/1249083/128120833-1cab78f9-f173-478f-90f1-99217fc52b76.png)

Can you verify there are _no_ spaces or other non-ASCII characters in your path name. NodeJS on windows doesn't handle that combination properly.

[2021-08-04 04:14] SanderElias commented on #1412
Exrtaroutes are just added to the unhandled route list, so they are _not different_ from any other route Scully tråvereses.
Adding the flashprevention to the `defaultPostRenderers` should do the trick.
I would need to have access to a way to reproduce your issue, so I can work on fixing it.

[2021-08-04 04:16] SanderElias commented on #1409
@NEDIX, @BenLune The plugin's npm package name is: `@scullyio/scully-plugin-flash-prevention`
make sure you npm installed it, and then import or require it from the correct npm name.

[2021-08-04 04:16] #1409 closed

[2021-08-04 04:18] SanderElias commented on #1411
@Bjeaurn I agree with Jeffery and going to close this now. If it's still an issue, after our net release (sorry, this can take a bit we are facing some issues) ping us, and we will reopen this issue.

[2021-08-04 04:18] #1411 closed

[2021-08-04 04:54] jam-one commented on #1413
I run this using Windows 10 cmd as administrator.

 D:\Angular12\my-blog>where npm
C:\home\xxxx\npm\npm
C:\home\xxxx\npm\npm.cmd
C:\Program Files\nodejs\npm
C:\Program Files\nodejs\npm.cmd
D:\Angular12\my-blog>npm
npm <command>

Usage:

npm install        install all the dependencies in your project
npm install <foo>  add the <foo> dependency to your project
npm test           run this project's t

[2021-08-04 05:08] jam-one commented on #1413
In my nodejs directory I had a program named node.exe, I copied it and renamed the copy nodejs.exe. Then when I re-ran the command, it worked.
D:\Angular12\my-blog>ng add @scullyio/init
i Using package manager: npm
√ Found compatible package version: @***@***.***
√ Package information loaded.

The package @***@***.*** will be installed and executed.
Would you like to proceed? Yes
√ Package success

[2021-08-04 14:15] BenLune commented on #1415
Hi @SanderElias,
Thank you for your answer. Yes I looked at the source code managing this file removal. It seems to be well protected, it checks if the file exists.
Yes the config file is at the root folder of the project. After having aligned the versions of Scully for @scullyio/init, @scullyio/ng-lib and @scullyio/scully, it seems to be better.
I'll tell you here, in this issue, if the problem o

[2021-08-04 14:17] BenLune commented on #1412
Ok, thank you @SanderElias , I'll try again to add flashprevention `defaultPostRenderers` and let you know here.

[2021-08-04 16:21] BenLune commented on #1415
Hi @SanderElias,
I have the problem again, this time on Gitlab CI, the job never ends :
[code]

[2021-08-04 16:57] BenLune commented on #1415
I don't know why it is possible to get this error. But it may be great to add a catch block to this function, in order to get the process finished if it occurs. Every pages are rendered but the process never ends because of this not caught error.

[2021-08-04 23:12] BenLune commented on #1412
Hi @SanderElias,
I could add the `scully-plugin-flash-prevention` in `defaultPostRenderers` config and it works well. I'm almost sure I add a problem doing it earlier. Maybe it was due to older version of Scully.
Thank you!

[2021-08-04 23:12] #1412 closed

[2021-08-05 13:46] SanderElias commented on #1413
So, it's somehow related to your environment.
Closing this as there seems nothing left todo ;)

[2021-08-05 13:46] #1413 closed

[2021-08-05 14:58] jam-one commented on #1413
Or you could upgrade your script to check for for node.exe in addition to nodejs.exe, since the default installation of NodeJS in windows only installs node.exe. This way other users won't face the same issue I experienced.
Just a thought.
Cheers,Jam One

    On Thursday, August 5, 2021, 8:47:03 PM GMT+7, Sander Elias ***@***.***> wrote:

So, it's somehow related to your environment.
Closing this

[2021-08-05 18:48] BenLune commented on #1415
I still have this error.

[2021-08-06 02:59] SanderElias commented on #1413
We are nowhere calling `nodejs`  in our code base. The text even doesn't exist in any of our source files. I don't think we are even calling out `node` itself directly.
All the invocations are done through npm scripts.

[2021-08-06 03:03] SanderElias commented on #1415
@BenLune Thanks for the update. The hanging is an ongoing investigation pain point.
I will wrap the function in another try-catch, but as said, it really should not be possible to get an error there. I would like to know why/when that happens...

[2021-08-06 15:36] jam-one commented on #1413
How weird. That was the only change I made and it worked. Well if anyone else has this error, it's an easy fix then.
Cheers,Jam One.

    On Friday, August 6, 2021, 9:59:23 AM GMT+7, Sander Elias ***@***.***> wrote:

We are nowhere calling nodejs in our code base. The text even doesn't exist in any of our source files. I don't think we are even calling out node itself directly.
All the invocations

[2021-08-10 06:57] SanderElias commented on #1415
@BenLune I just added some code to our exitHandler that should prevent this from happening.
Can you give the latest `@develop` version a go? `npm i @scullyio/scully@develop` should do the trick.

[2021-08-10 07:11] SanderElias commented on #1348
I just released a new `@develop` version that should exit more reliable.
Feedback from you should be more than welcome.

[2021-08-10 07:20] SanderElias commented on #1414
I'm going to close this due to lack of activity. As far as I can see this is a duplicate of the ionic compatibility issue.
If not please provide a reproduction repo, and we can take a look, and eventually reopen the issue.

[2021-08-10 07:20] #1414 closed

[2021-08-13 08:23] isawk opened #1420 "Tutorial hosted on scully.io is not accurate"
## 🗄️ Docs report

### Description

Following the tutorial on scully.io does not produce out puts documented

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

Follow tutorial on https://scully.io/

- Learn
- Create a blog

### What's the affected URL?\*\*

https://scully.io/docs/learn/create-a-blog/generate-new-blog-posts/

### Reproduction Steps\*\*

Follow scully tu

[2021-08-22 08:51] sometimesvlad opened #1424 "Scully serves old version of application"
## 🐞 Bug report

### Description.
Just changed some styles in global scss file, ran ``npx scully serve``  and old version of application appears in browser. First I thought I need to clean my static folder or rebuild app, tried ``npx scully`` and got messages:
`` new Angular build imported. `` and ``Started servers in background``. But new version didnt appear

#### 🔬 Minimal Reproduction.
1) crea

[2021-08-22 11:19] SanderElias commented on #1424
Are you sure you did an `ng build`?
If so, are you using caching?
Can you try again? use those commands in this order: (assuming mac/Linux/wsl, otherwise use the windows equivalent)
[code]

Let us know what happens

[2021-08-22 11:21] SanderElias commented on #1415
Closing this as it seems solved by the `@develop` update. If this issue still is ongoing, please let us know and we will reopen

[2021-08-22 11:21] #1415 closed

[2021-08-26 20:44] RyadBenmanser opened #1425 "build problem scully"
i have installe scully in my angular project using the command "ng add @scullyio/init" everything is generated the scully folder and  plugins folder and scully.projectname.config.ts is generated but when i build my project using the command "ng build" the static folder isn't generated and i don't know how to solve this problem

[2021-08-30 15:01] sandrokeil commented on #1348
@SanderElias When do you plan to release a bugfix version for this issue?

[2021-08-31 06:19] Jefiozie commented on #1425
Hi @RyadBenmanser , I just checked your repo and I don't see any issue. I can just run scully, below the steps I've taken.

1. Clone the rpeo
2. npm install
3. ng build --prod (and ng build)
4. npm run scully

The I can see your app.

[2021-08-31 09:08] SanderElias commented on #1424
Closing this, as there seems nothing left to do.
We will happily reopen when needed

[2021-08-31 09:08] #1424 closed

[2021-08-31 09:19] kalkoby commented on #1363
I have the exact same problem with the same version.  I hope one of you do not mind telling me how to pull some changes with some step by step.  I am learning Angular_cli and using github.
Thanks in advance.

[2021-09-03 14:35] william-gr commented on #1348
Still seeing the issue using `@develop`

[2021-09-03 17:38] Jefiozie commented on #1394
I'm closing this issue as I believe this is resolved. In case it is not don't hesitate to reopen a new issue for this.

[2021-09-03 17:38] #1394 closed

[2021-09-03 17:46] sonicparke commented on #1394
Thanks! I totally forgot to come back and close it.

[2021-09-06 03:29] SanderElias commented on #1363
@kalkoby Its a warning you can ignore, as we already did fix it. We are working on being able to release a new version

[2021-09-08 10:19] lamp-of-god opened #1427 "Add ability to tune / remove default puppeteer timeout"
## 🧩 Feature request

### Description

Sometimes I need to wait for a very long time until page gets ready to process it. So I add `manualIdle` check, but after 25sec puppeteer processes the page, even if there were no signal that page is ready.

### Describe the solution you'd like

Some configuration parameter which will allow to tune this timeout or disable it at all.

Also it would be great to

[2021-09-13 20:07] skorpmeister opened #1428 "Dockerfile angular scully"
Hi,
Im trying to make a Dockerfile with angular scully and nginx.

There is a way to do this?

[2021-09-15 05:47] SanderElias commented on #1428
@skorpmeister Yes, this is totally possible. IIRC there is a hint on how to docker in our FAQ page,
Also, there are some issues discussing this issue in a bit more depth.
When you are done with this, I would love a blog, or some documentation/sample around it, as I think it may benefit other users.

[2021-09-15 19:47] BenLune commented on #1348
Hi there,
I also updated Scully to the @develop version and I still have the problem.
Sometimes it works, sometimes not.
After one hour the GitLab CI job goes into error. I'm testing Scully on a very small test project.

[code]

The Gitlab console is stuck after these lines.

[2021-09-15 23:32] sonicparke opened #1429 "Support independent project configuration files in Nx workspaces"
## 🧩 Feature request

### Description

In version 2 workspaces, project configurations can also be independent files, referenced by angular.json. For instance, an angular.json may contain projects configured as below.

https://nx.dev/latest/angular/core-concepts/configuration#projectjson

Currently, Scully doesn't know how to deal with these configs not being directly present as an object in eithe

[2021-09-15 23:42] sonicparke commented on #1429
I'm working on a PR for this. I've gotten part of the way through but trying to track down an error.

[2021-09-16 04:25] SanderElias commented on #1427
There is a hard timeout indeed at 25 seconds, to prevent stalling the process.
We will discuss making this a config option (in prior discussions we opted for _no_ because 25 seconds is already a really long time and in our eyes an error that should be fixed)
Do you have a compelling reason for the long time? That might help sway the discussion!

[2021-09-16 05:24] SanderElias commented on #1429
Cool, drop me a DM if you need help!

[2021-09-16 08:03] sergei-rus commented on #1427
@SanderElias thank you for response.

My usecase: I develop a frontend app, which fetch data from backend I have no control at. This app is built and deployed via CI. Sometimes back didn't respond for a given amount of time (stuck for unknown reason). Expected behavior there for me was either to wait for data (that why I wanted to disable timeout), or to throw an error and stop process at all (whi

[2021-09-16 08:08] lamp-of-god commented on #1427
Just noticed I left the comment from another acocunt. @sergei-rus It was me)

[2021-09-16 12:45] roberthajdu commented on #1348
Is this resolved? I am still having this problem during build on Netlify.

[2021-09-17 12:02] AlexScigalszky commented on #1336
We can add new step in `.github/workflows/pull_request.yml`  with a prittier check like this:
[code]

What do you think about this?

[2021-09-17 15:09] norato opened #1430 "Scully doesn't build with Angular Dynamic platformBrowserDynamic"
## 🐞 Bug report

### Description
The generated HTML from Scully is the same index.html from app dist. Investigating this, if I remove the dynamic value to set a provider inside the **platformBrowserDynamic** the HTML is created as expected.
The value from the provider is fetched and needs to be defined before the app initialization. The application runs as expected the Angular build, but the Scull

[2021-09-21 09:29] hunhavoc commented on #1382
Can this be fixed by extending the special char escaping arrays?

I mean this list and it's escaped pair:

[code]

[2021-09-23 18:52] JoeyMckenzie commented on #1348
@roberthajdu I've had this problem in the past with hosting Scully sites on Netlify. What has seemed to fix my issues is setting node to the latest version on your agent. You can do it one of two ways:

1. Set a `NODE_VERSION` environment variable for your agent to read under your site settings in Netlify
2. Add a `.node-version` file to the root of your project with the version you want (my prefe

[2021-09-24 05:57] SanderElias commented on #1430
@norato Can you try with V12 and Scully v2?

[2021-09-24 10:56] roberthajdu commented on #1348
@JoeyMckenzie unfortunately setting the node version to the latest stable one didn't solve that problem :( I have to manually cancel the deploy and retry, but this is not a valid solution in production environment.

[2021-09-28 23:38] JoeyMckenzie commented on #1348
@roberthajdu Interesting. Are you pointing to `@develop`? I've recently also pointed to version `2.0.0` and haven't had this seen this problem on Netlify for quite some time.

[2021-09-29 21:30] joeypedicini92 commented on #1188
I would like to reopen this as I'm having the same exact issue and I don't understand the answer here.

[2021-09-30 07:44] SanderElias commented on #1188
@joeypedicini92 The code in the sample replaces the routes in the config with routes that have the language already provided.
In my sample:
[code]
will end up in the exported config as:
[code]
The code is replacing the routes in the config that have the string `:lang` inside them with multiple routes that have the actual language names.
As it is code I just typed up in the answer and didn't test,

[2021-09-30 16:51] joeypedicini92 commented on #1188
scully.config.ts
[code]

output:
[code]

[2021-09-30 16:53] joeypedicini92 commented on #1188
If that config code won't work I'd love to see a working example for our use case. We really only support those two langs for now, and every route we have has `:lang` at the start

[2021-10-02 15:38] Jefiozie commented on #1235
@SanderElias, I think we can close this one now we have the consultancy page?

[2021-10-02 15:50] Jefiozie opened #1436 "Remove unneeded console line"
## 🐞 Bug report

### Description

In the [watchmode](https://github.com/scullyio/scully/blob/main/libs/scully/src/lib/watchMode.ts#L110) file we have an unneeded `console.log` This line can be removed as there is no reason to leave it there.

[2021-10-02 15:59] AgneseB2 commented on #1436
Can you assign it to me?

[2021-10-02 16:00] rutuja1121 commented on #1436
I would like to work on this

[2021-10-03 06:28] Jefiozie commented on #1436
Hi everybody, I would love to assign one of you to the job but somebody ready made a PR #1437

[2021-10-03 06:34] Jefiozie commented on #1336
I would suggest the following.

1. Add a git hook that handles the formatting. I would use the default formatting from NX see the formatting scripts in the package.json
2. Run the same formatting script in ci but just to check.

[2021-10-04 06:22] SanderElias commented on #1382
@hunhavoc That is what I tried initially, but it doesn't work. It needs a bit more. For testing, put a `\` in the user-data in `libs/scully/src/lib/testData/users-testdata.ts`
Something like this would do the job:
[code]
If you can find out a way to do that, and pass all the tests. I'm more then willing to merge a PR.

[2021-10-04 06:26] SanderElias commented on #1427
@lamp-of-god I just now noticed your response.
That is a compelling use case. We will have another discussion about this. This will probably swing the discussion.
I'll let you know in a little while.

[2021-10-04 16:46] #1429 closed

[2021-10-04 17:00] Jefiozie commented on #1322
Thanks @geromegrignon the only thing to do is to set published to true in the metadata at the top.

I'm adding a`hacktoberfest` label and mark it also as a `good first issue`.

Thanks for creating the issue

[2021-10-05 03:20] makitsune commented on #1383
@niklaas Thanks so much for your answer. I didn't know `resolutions` was a thing until today!

Really though, @scullyio/scully should update puppeteer from 5 (released in Nov 16, 2020) to 10.

[2021-10-05 04:55] Jefiozie commented on #1355
Closing the as the PR has been merged. If needed please reopen an issue thank you.

[2021-10-05 04:55] #1355 closed

[2021-10-05 06:14] Jefiozie commented on #1342
Hi @mrigank-taxak, I think I see where the issue could be. All your routes point to a top-level root approach
For example, the default route is pointing to the `app` folder, however, this route is incorrect as the hierarchy of the folder structure is that it is a subfolder of the current dir. To explain it a bit more see the example:

your current route:
[code]

what is should be

[code]

This pat

[2021-10-05 16:50] manueldose commented on #1321
hi I am new to the world of openSource and PR, I would like to collaborate with translations into Spanish. How do I proceed?  editing each md file and upload them individually?

[2021-10-20 02:37] TomJWilliams commented on #1436
@Jefiozie given that the PR was closed by @SanderElias because the CLA was not signed will you be assigning this issue out. If so could you assign it to me please?

[2021-10-20 02:53] TomJWilliams opened #1448 "transferStateService JSON parse exception due to invalid character in body."
## 🐞 Bug report
First let me state that the team at HeroDevs does an outstanding job and I thoroughly appreciate all of the effort in the creation and development of Scully.

### Description
When attempting to retrieve data from the transfer-state service an exception is thrown when attempting to parse the json in the cached state. My reason for bringing this up is the increased adoption with stra

[2021-10-20 05:02] Jefiozie commented on #1436
Hi @TomJWilliams somebody already made a pr for this issue. But thank for willing to fix it.

#1447

[2021-10-20 05:36] #1436 closed

[2021-10-21 01:10] TomJWilliams commented on #1448
After reviewing this more this issue is directly related to the way the content is parsed during persistence. Specifically the escaping of quotations, \n, or \t characters. I have included a snippet below which illustrates the example and highly levies code from the transfer-state.service.ts class.

[code]

[2021-10-26 01:46] ajsaraujo opened #1449 "Docs don't make it clear on how to render the blog post"
## 🗄️ Docs report

In the "Create a blog" guide, the docs go over:

- Generating the blog setup;
- Using blog data in the Angular template (a.k.a get the list of posts)
- Generating new blog posts.

However, it does not explain how to actually render the blog post itself.

Ok, this is done automatically, but it's not clear for the user how he's supposed to see his blog post live. It would be nice

[2021-11-01 14:31] SanderElias commented on #1420
@sundayj I didn't look up the documentation, but the steps are.
1. add your markdown files,
2. `ng build` your app
3. `npx scully --scanRoutes` (the `scnaRoutes` is optional, and only needed if you changed routes in your app)
4. `npx scully serve`
5. go to 'http://localhost:1668` and see what got generated. (also you can check your `dist/static` folder to see if the files are there)

Let me know w

[2021-11-02 11:35] zaracooper commented on #1425
@RyadBenmanser  if you're still running into this issue, [someone mentioned a fix for it here](https://github.com/scullyio/scully/issues/1108#issuecomment-879828845). I followed it and it worked.

[2021-11-02 15:05] BlindDespair opened #1451 "Wrong type for puppeteer launch options is used"
## 🐞 Bug report

### Description
I tried to update to Scully v2.0.0, but I have an error in my config saying that `args` in `puppeteerLaunchOptions` does not exist, but it actually does. I think that Scully config uses wrong type for `puppeteerLaunchOptions`. It is currently typed as `LaunchOptions`  but should be `PuppeteerNodeLaunchOptions`.
If I am right and it's a simple typing change that doe

[2021-11-03 03:45] SanderElias commented on #1451
I think you are right, go for it

[2021-11-03 03:49] SanderElias commented on #1425
@zaracooper I would love a PR, good catch!

[2021-11-03 03:51] SanderElias commented on #1449
Closing as a duplicate of #1420.
Please focus the discussion there.
I would love to see a docs PR that would fix this issue.

[2021-11-03 03:51] #1449 closed

[2021-11-04 08:24] #1451 closed

[2021-11-04 09:40] BlindDespair opened #1454 "Flash prevention plugin has no types generated in the resulting package"
## 🐞 Bug report

### Description
Flash prevention plugin does not have any type definitions despite it being written in typescript initially.
![image](https://user-images.githubusercontent.com/15785773/140290667-eb2c8f0d-642d-42a4-b97f-5909299ccc83.png)

#### 🔬 Minimal Reproduction
`npm install -D @scullyio/scully-plugin-flash-prevention`
and add import:
`import { getFlashPreventionPlugin } from '

[2021-11-04 10:46] hunhavoc commented on #1354
hi @jsanta ,

we just came up with the very same requirements on our project, and I'm asking if you could share your enterprise plugin with me?

[2021-11-05 10:37] TomJWilliams commented on #1448
@SanderElias My apologies for the delay in response. I do not disagree with you. I struggled over the decision to use the transfer-state service. Ultimately what led to the decision is that this content is dynamic, fed from a user query via the CMS. Thus I am using transfer-state to cache the initial response from the service decreasing the page load time. Then if the user changes the query, the k

[2021-11-06 14:39] #1454 closed

[2021-11-08 12:02] Sergiobop opened #1458 "Can't install after update to Angular 13"
## 🐞 Bug report
I can't use `npm install` without the force command after updating to Angular 13

### Description
I can't use `npm install` without the force command after updating to Angular 13

#### 🔬 Minimal Reproduction
Update to Angular 13

#### 💻Your Environment

**Angular Version:**
13

**Scully Version:**
<pre><code>
"@scullyio/init": "^2.0.1",
"@scullyio/ng-lib": "^2.0.0",
"@scullyio/scul

[2021-11-09 15:53] jsanta commented on #1354
Hi @hunhavoc . Sorry about my delayed answer, I've been a little crazy at work.
Just made a gist with the code: https://gist.github.com/jsanta/df581338debf95f9e092927ec73f5dad

Hope it helps. Remember to adjust your values according to your own project requirements.
Best regards and stay safe.

[2021-11-10 09:22] hunhavoc commented on #1354
Hi @jsanta ,

No need to say sorry, you just made me a favour :) Thank you for sharing, it definitely helps a lot!

Stay safe

[2021-11-12 08:11] SanderElias commented on #1448
@TomJWilliams I'm beginning to think we need a _separate_ way of storing arbitrary data, outside of the page.
Just like we do with the `data.json` which carries a copy of the date in the transferState.
Or, perhaps we need something that works similar to scully-content but saves the data into templates outside of the angular app.
It is whole well possible to build plugins that already do those thin

[2021-11-12 09:15] SanderElias commented on #1458
This is fixed by the release of 2.0.2 of the schematics.
Please lt us know if its not working for you still.

[2021-11-12 09:15] #1458 closed

[2021-11-14 04:56] pietschy opened #1462 "npm install fails after installing in NX project using angular 12.2.0"
## 🐞 Bug report

### Description
npm fails to install after running `ng add @scullyio/init` in a single app nx angular project.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**
<pre><code>12.10.0
</code></pre>

**Scully Version:**
<pre><code>    "@angular/animations": "^12.2.0",
    "@angular/cdk": "^12.2.13",
    "@angular/common": "^12.2.0",
    "@angular/compiler": "^1

[2021-11-14 07:00] Jefiozie commented on #1462
Would you try the following steps as described in the docs:

[code]

Do you still see this error then?

[2021-11-14 07:52] pietschy commented on #1462
Yep, same error.
[code]

[2021-11-16 10:51] SanderElias commented on #1462
@pietschy I pushed an updated `@scullyio/ng-lib' to npm, with a different version number notation in the `package.json`
can you give that a try?

[2021-11-16 13:15] #1462 closed

[2021-11-17 02:36] Entroper opened #1466 ""Could not connect to server" when running Scully on GitLab"
## 🐞 Bug report

### Description
When I run Scully in GitLab, it starts the server, waits for a while, then fails with "Could not connect to server".

I tried increasing the timeout as I've seen suggested elsewhere, but it still fails with a 90-second timeout.

I've followed the instructions here for how to set up a container to run in CI/CD environments: https://scully.io/docs/faq/

#### 🔬 Minima

[2021-11-17 14:11] #1466 closed

[2021-11-17 23:43] OfficerHalf commented on #1420
For me the missing bit was `--scanRoutes`; the documentation doesn't instruct you to do so (though the CLI does).

[2021-11-18 15:23] panakour commented on #363
@filipwiniarski  thank you for your approach. for my use case (50k pages) only [hugo](https://github.com/gohugoio/hugo) can handle. No gatsby nor scully.

[2021-11-18 16:11] SanderElias commented on #363
@panakour We now have a Scully Platform Server renderer.
With this, on my system, I can render ~100 pages a second.
Also, take a look at our roadmap. we are going to have some helpers in the future. How far away in the future is depending on how much funding we can raise.
50K pages not going to be a big problem, but right now, it needs some extra work.

[2021-11-22 07:57] Jefiozie opened #1471 "System plugin with support for clean-css"
## 🧩 Feature request

### Description

We would like to support [clean-css](https://github.com/clean-css/clean-css) as a scully system plugin.

### Describe the solution you'd like
Add a scully system plugin and publish this so that people can use it in their setup.

[2021-11-22 07:58] Jefiozie opened #1472 "Support a system plugin for critters"
## 🧩 Feature request

### Description

We would like to support [critters](https://github.com/GoogleChromeLabs/critters) as a scully system plugin.

### Describe the solution you'd like
Add a scully system plugin and publish this so that people can use it in their setup.

[2021-11-22 15:24] Jefiozie commented on #1336
Hi @TomJWilliams we resolved it with a PR. Thank you for your willingness to contribute.

[2021-11-22 15:24] #1336 closed

[2021-11-22 18:48] rmjoia opened #1476 "Docs in Portuguese"
## 🧩 Feature request

### Description

Similar to English and Spanish, would it be interesting to the project to have a Portuguese version?

### Describe the solution you'd like

I can do the translation to European Portuguese, should also work for Brazilian Portuguese too.

Maybe some video tutorials could be also interesting to the community.

### Describe alternatives you've considered

Check t

[2021-11-24 15:10] SanderElias commented on #1476
Welcome @rmjoia.
I like the idea of adding another language to our docs, but as none in the team speaks/reads Portuguese, it would be really hard to validate your translations.
Personally, I don't like the idea to merge in docs that are not read by an extra set of eyes. If we can find someone that can validate the Portuguese translation, I would be all in for the idea.

[2021-11-24 15:11] SanderElias commented on #1397
@lucasvieirasilva I'm closing this, as I believe its solved with the latest release.
If the problem still pops up for you, let us know and I will reopen the issue

[2021-11-24 15:11] #1397 closed

[2021-11-24 16:25] rmjoia commented on #1476
Thank you @SanderElias, I'll keep an eye on this thread and you know how to reach me :)

[2021-11-26 05:41] 3gwebtrain opened #1481 "Scully init issue with angular 13"
I am trying to install scully with angular version 13. but getting errors from scully. how to handle this?
here is the errors:

`warning @scullyio/init > guess-parser > @wessberg/ts-evaluator@0.0.27: this package has been renamed to ts-evaluator. Please install ts-evaluator instead
warning @scullyio/init > schematics-utilities > @schematics/update > ini@1.3.5: Please update to ini >=1.3.6 to avoid

[2021-11-26 05:52] Jefiozie commented on #1383
Hi, in the latest version of Scully we have made some significant changes. We abstracted the puppeteer renderer to be a plugin and added a playwright render plugin. With this change, we hope to support a bigger variety of browsers and hope that this problem is resolved. Within a week or so we will release a new version, if somebody would verify that this problem then is resolved that would be grea

[2021-11-26 08:14] SanderElias commented on #1481
@3gwebtrain I can not reproduce your issue, can you give me some more context when this happens for you?
![image](https://user-images.githubusercontent.com/1249083/143548459-41823570-4769-4b9a-862d-1098b897cf59.png)

[2021-11-26 14:28] 3gwebtrain commented on #1481
Is it required to use `npx` instead of `yarn` -?

[2021-11-27 14:24] SanderElias commented on #1481
@3gwebtrain Not as far as we know.

[2021-11-29 10:25] Splaktar commented on #1383
I don't see this error anymore with
[code]
But I am getting
[code]
Is there a change log or other record of the breaking changes in v2?

[2021-11-30 14:28] BlindDespair opened #1485 "Rendering pages took NaN seconds"
## 🐞 Bug report

### Description
Been seeing this in all my projects:
![image](https://user-images.githubusercontent.com/15785773/144065219-ce29e3a6-fb0a-452d-bae4-3ed482deefc3.png)
I think something is messed up in the calculations of these numbers.

#### 🔬 Minimal Reproduction
Init scully in your project and run it.

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 13.0.2
N

[2021-12-01 08:43] SanderElias commented on #1485
@BlindDespair We don't seem to be able to reproduce, can you provide a bit more info?
What is your environment, os? Perhaps a GitHub repo we can check?

[2021-12-01 11:09] BlindDespair commented on #1485
@SanderElias It happens for me both on windows and on Ubuntu in my CI. Here is the minimal repro repo: https://github.com/BlindDespair/scully-nan-issue-repro.

[2021-12-01 11:15] BlindDespair commented on #1485
It also appears to be a regression, in version `1.1.1` it was working from what I can tell.

[2021-12-01 11:53] SanderElias commented on #1485
@BlindDespair when I run your repo:
![image](https://user-images.githubusercontent.com/1249083/144229880-657305da-6354-4dd4-95b1-cb10e66f222a.png)

I'm on ubuntu 20.

[2021-12-01 12:45] BlindDespair commented on #1485
@SanderElias That is interesting. What version of Node and npm did you use?

[2021-12-01 12:58] SanderElias commented on #1485
After some talking to @BlindDespair it turns out that this is an issue with node 14 and performance-timers.

[2021-12-01 21:59] ertunga opened #1486 "<scully-content> component causes flash between page navigations"
## 🐞 Bug report

### Description

I'm trying to set up a simple blog application with scully following the documentation. When a user navigates between different blog posts there is a long and annoying flash during the navigation before the new content is visible. With network throttling, (Fast 3G, disabled cache), it can go up to 0.5 secs which is pretty long. Even with no throttling and enabled

[2021-12-04 04:36] SanderElias commented on #1486
It's not as simple as swapping the order, but it makes sense not to delete the content before we have the new one available.

[2021-12-04 04:38] SanderElias commented on #1481
Closing, because we can't reproduce. If there is more info available, I'm more as happy to reopen the issue

[2021-12-04 04:38] #1481 closed

[2021-12-06 09:59] SanderElias commented on #1383
@Splaktar We are working on the changelog. Due to "technical difficulties", we seem to have lost a significant part there.
But there was no recent change in that area of the code, so I don't think that should break. This is the code, and it seems untouched for 2 years:

[code]
I checked the implementation and all the types in there are correct too.
So, I'm not sure if/how your issue is related.

[2021-12-06 15:27] Splaktar commented on #1383
Thank you for looking into this Sander. I don't think that the code changed. It seems like a dependency changed, I.e. RxJs v7

[2021-12-06 15:34] SanderElias commented on #1383
I'm testing with rx7, but I have coded the libs so that they should work with both. What version of rx are you using?

[2021-12-06 15:54] Splaktar commented on #1383
@SanderElias `"rxjs": "^6.6.7",`, but I'm seeing this in `npm ls rxjs`
[code]

[2021-12-07 07:55] #1425 closed

[2021-12-08 18:17] d-koppenhagen commented on #1485
I can verify this issue. I have the same behaviour and be able to reproduce it.

[2021-12-08 18:44] d-koppenhagen opened #1491 "Nx workspace: Could not find project "undefined" in 'angular.json'"
## 🐞 Bug report

### Description

When creating a NX workspace and adding scully, starting it initially won't work and leads to the error message `Could not find project "undefined" in 'angular.json'` (see full error message below).

#### 🔬 Minimal Reproduction

1.) create a nx workspace with an angular app
[code]

2.) add a node library

[code]

3.) add scully as described in the [scully docs](ht

[2021-12-15 15:13] thomasturrell opened #1494 "Command Line Options should document prod cli option"
## 🗄️ Docs report

### Description

Command Line Options should document prod cli option

The Scully [Google Analytics example](https://github.com/scullyio/scully/tree/main/libs/plugins/google-analytics) expects users to be familiar with the prod cli option.

### What's the affected URL?\*\*

https://scully.io/docs/Reference/command-line-options/

### Anything else relevant?

It was documents in P

[2021-12-21 09:40] lletestu opened #1498 "Unable to fetch data"
## 🐞 Bug report

### Description
I try to fetch data from an API to create dynamic routes and fill data. Routes are well created, but the data is not rendered in HTML.

#### 🔬 Minimal Reproduction

#### 💻Your Environment
Angular version : 12
Scully version : 2

Scully's configuration :
<pre><code>
import { ScullyConfig } from '@scullyio/scully';

/** this loads the default render plugin, remove wh

[2021-12-24 15:46] AaronSterlingGENEICD opened #1505 "Prototype pollution in init dependency: CVE-2020-7788"
## 🐞 Bug report

### Description
scullyio/init depends on schematics-utilities. schematics-utilities is vulnerable to [CVE-2020-7788](https://github.com/advisories/GHSA-qqgx-2p2h-9c37) because of its use of an old version of the ini package. It looks as though schematics-utilities may be stymied in its attempts to remediate: [open issue](https://github.com/nitayneeman/schematics-utilities/issues/4

[2021-12-31 03:14] SanderElias commented on #1505
@AaronSterlingGENEICD Thanks for reporting. The dependency is only used in our schematics. Once you have installed everything, you might want to remove the schematics themselves (the `@scullyio/init` package).
Aside from that, I will look into the possibility to add the schematics as a dev-dependency. (@Jefiozie, by any chance do you know how to?).
You can safely move it to dev-deps, or remove the

[2021-12-31 04:03] SanderElias commented on #1498
This is working in many Scully apps. Can you provide a reproduction, so we can figure out what is going on in your use case?

[2021-12-31 06:40] Jefiozie commented on #1505
Thank you for reporting this @AaronSterlingGENEICD.

@SanderElias my first analysis js that we can remove this package completely as we don't use it anymore. I will make a PR for this next week.

[2022-01-03 22:25] geromegrignon commented on #1322
Thanks for the update @Jefiozie, I unintentionally deactivated notifications on the project and missed the hacktoberfest invitation to fix this issue!

[2022-01-03 22:32] geromegrignon commented on #1318
Hey @Jefiozie, can you assign me this issue? I'll submit a related PR later this week.

[2022-01-03 23:04] daton89 commented on #1429
Hi guys, I'm using scully 2.1.0 and I'm getting an error that the project i point out is not found in the angular.json.
I'm using nx with the new project.json structure cause I have a big project.

![image](https://user-images.githubusercontent.com/6856342/147989637-92d418aa-8b60-4297-8c3d-c798f462e062.png)
[code]

I see the error but scully seems to work, I don't know if something is wrong.

Shou

[2022-01-04 00:56] sonicparke commented on #1429
@daton89 Do you have `target: 'targets',` in your scully config file? By default, it looks for `architect` so maybe that's the difference?

[2022-01-04 05:30] Jefiozie commented on #1318
Hi @geromegrignon sure thing thank you for picking this up. 🙏🏼

[2022-01-04 05:31] Jefiozie commented on #1322
No worries, thank you for creating the issue.

[2022-01-04 10:10] daton89 commented on #1429
Hi @sonicparke, adding `target: 'targets'` solved the issue, thanks!

[2022-01-04 11:13] geromegrignon opened #1509 "[Discussion] Scully platform-server peerDependencies versioning"
## Description

Current version of Scully platform-server requires Angular peerDependencies to be strictly higher than 12.2.0 :

[code]
Is there a reason not to include 12.2.0 with `>=12.2.0`?

It makes creating a new Scully project with nx quite painful as the latest Angular 12 `nx-create-workspace` version (12.10.2) includes the 12.2.0 Angular version. It means Angular dependencies have to be up

[2022-01-04 12:41] geromegrignon commented on #1323
This issue can be closed as Scully Is using Chokidar 3.5.2 since #1442

[2022-01-05 11:04] SanderElias commented on #1509
@geromegrignon I can't recall a reason for that. I think >12.1 should do it too.

[2022-01-06 18:35] sonicparke opened #1513 "Scully sever not exiting after rendering static files"
## 🐞 Bug report

### Description
When running scully it doesn't appear that the servers are stopping when scully is done building the static files

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**
<pre><code>

13.2.3
</code></pre>

**Scully Version:**

<pre><code>

"@scullyio/init": "^2.1.0",
"@scullyio/ng-lib": "^2.1.0",
"@scullyio/scully": "^2.1.0",
"@scullyio/scully-plu

[2022-01-07 05:51] Jefiozie commented on #1513
Hi @sonicparke thanks for reporting this issue, do you have by example a repo for reproduction? We have seen sort of these issues in the past so we would like to look if this has to due because of configuration or any edge case.

[2022-01-07 13:26] #1318 closed

[2022-01-07 14:05] #1322 closed

[2022-01-07 15:21] sonicparke commented on #1513
@Jefiozie unfortunately I don't. It's running in a private nx repo. If you aren't able to reproduce it in a fresh setup I can try to setup a repo that will reproduce it.

[2022-01-07 17:40] #1505 closed

[2022-01-08 13:28] SanderElias commented on #1323
done

[2022-01-08 13:28] #1323 closed

[2022-01-10 01:01] hisham commented on #1513
I think I'm getting this too.

When I run scully:serve, the server immediately exits with the following errors:

[code]

I see there is a running process as follows:

` |--- 03014 hisham Scully-dev-server-website
`

after I kill this process, I'm able to run scully:serve again.

[2022-01-11 19:41] aaronfrost opened #1519 "Change peerDeps for 2.x so that it gets errors on Angular <v13.1"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2022-01-11 22:22] lan10rd opened #1520 "x Could not find project "x" in 'angular.json'."
## 🐞 Bug report

Tried on ubuntu, windows, and mac os with node 14.17.0, using the latest nx create workspace.  No matter what extra cli or config changes i make i constantly face a problem where it can't find angular.json (this is a apps/core nrwl nx monorepo, i dont even think its possible to use the angular.json variant anymore but idk, all the new nrwl workspaces have a workspace.json and each

[2022-01-12 08:34] SanderElias commented on #1520
@lan10rd I looked into your repo, and the root cause is the new NX option to have separated project.json files. We don't support this right now. I will change the title, so we can track the progress on this

[2022-01-12 15:00] lan10rd commented on #1520
thanks @SanderElias , i pulled the repo and just searched for the above warning/error language, if i can help let me know I am just a little unsure of how to build/try to fix it.  i would think it's not necessary to check angular/project/workspace.json for anything if you already specified/found the scully.config.ts, but not sure if a cli option or a config fix is best.  it looks like this is the

[2022-01-12 17:38] joeclark-phd opened #1523 "dependency conflict RE 'animations'"
## 🐞 Bug report

### Description
Maybe this is a "newbie to npm" bug, but I followed the installation instruction from the project website, and my installation fails due to a dependency conflict.

#### 🔬 Minimal Reproduction

'Yes' to proceed
'Scully platform server' as route renderer

OUTPUT:
[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>Angular CLI: 13.1.2
Node: 16.13.2
Packag

[2022-01-12 17:44] nigamkaushal commented on #1237
Hey, is there any solution for this.
I am facing same problem for a search page in my project.

[2022-01-12 19:06] Jefiozie commented on #1520
I'm not sure if this is the same behavior or issues as [this one](https://github.com/scullyio/scully/issues/1429). But in the comments is a fix for that scenario. Could you check it @lan10rd

[2022-01-12 22:43] lan10rd commented on #1520
@Jefiozie target: 'targets' in config does certainly get passed that i think thats all that was needed! its not getting my routes cause they are all lazy loaded but it think there is support for that for sure, thanks!

[2022-01-12 22:43] lan10rd commented on #1520
let me fix that with some extra options or something and ill close this issue!

[2022-01-13 07:52] SanderElias commented on #1520
Lazy routes are well supported in Scully.
However,  if you have parts of it in buildable libraries. The Guess-parser is not able to detect them. (Makes sense, as it only scans your app. if part of your routes come in from libraries, there is no way it will know about those)
The only solution we can provide right now is adding them to the extra-routes array manually.
It might be possible to create

[2022-01-13 08:06] SanderElias commented on #1523
This is an issue with NPM, and has nothing to do with Scully. use the option `--legacy-peer-deps` with npm to get a working install/
I'm closing this for now, but feel free to discuss this further. I will be happy to reopen when needed

[2022-01-13 08:06] #1523 closed

[2022-01-13 12:46] #1519 closed

[2022-01-15 18:58] nigamkaushal opened #1525 "Cannot refresh or access dynamic paths directly."
## 🐞 Bug report

### Description

I am having a dynamic route in my app -

**/search/:searchType/:destination**

This **destination** will always be random so I don't want this page to be prerendered.

[code]

#### 🔬 Minimal Reproduction

If I try to access this route

 via ***routerLink***, it works as expected.
But if I try a refresh on this page or access this route directly it gives me

#### 💻

[2022-01-15 19:04] nigamkaushal commented on #1525
#1237 Same problem as this one.

[2022-01-17 19:17] anshumankmr commented on #1319
Ditto same issue is occuring with me. Any idea on how to fix this?

[2022-01-18 04:06] hisham opened #1527 "Updating blog post causes "TypeError: this.dump is not a function" error with contentFolder plugin"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

I'm getting this error when I edit an already published blog. When I revert my edit, the error goes away.

#### 💻Your Environment

**Angular Version:**

<pre><code>

13.0.1
</code></pre>

**Scully Version:**

<pre><code>

2.0.2
</code></pre>

## 🔥 Exception or Error

<pre><code>

  ✔ ContentFolderPlugin found 9 files in folder "./proje

[2022-01-18 05:00] hisham commented on #1527
nevermind - was an issue with our own plugin and its use of yamljs

[2022-01-18 05:00] #1527 closed

[2022-01-19 20:03] BlindDespair opened #1529 "TransferStateService blocks Angular resolvers"
## 🐞 Bug report

### Description
Scully [`TransferStateService`](https://github.com/scullyio/scully/blob/main/libs/ng-lib/src/lib/transfer-state/transfer-state.service.ts) relies on `NavigationEnd` event to find out which url `data.json` should be loaded for. This makes it impossible to use [Angular Resolvers](https://angular.io/api/router/Resolve) to load the data while using `TransferStateServic

[2022-01-20 07:43] Amith278 opened #1530 "assets/scully-routes.json is NOT generated while using baseFilter and routeFilter"
## 🐞 Bug report

### Description
While running 'npx scully --routeFilter', scully-routes.json is NOT generated, which leads to "TimeoutError: Navigation timeout of 30000 ms exceeded we will retry rendering this page up to 3 times".

I have noticed, if scully-routes.json is missing, this issue arises.
If the scully-routes.json is present and i run the above command it works perfectly.

I even tried

[2022-01-20 11:44] BlindDespair opened #1531 "404.html does not include information about the site being created by scully"
## 🐞 Bug report

### Description
We have certain pages that require authentication and therefore wish not to prerender them.

I am using 'ignored' router plugin on those pages and our CDN returns 404.htmlwhen trying to open them and it gets rendered on the client side by angular correctly, but an issue arises when you first open site on such page which is not prerendered and then you try navigatin

[2022-01-24 07:44] SanderElias commented on #1529
@BlindDespair, Are you sure `ResolveStart` or `GuardsCheckEnd` are fired on routes that don't have resolvers or guards?

[2022-01-24 09:18] BlindDespair commented on #1529
[Docs](https://angular.io/api/router/ResolveStart#description) say that that's the case at the moment. It says that it may change in the future but I do believe that if it does change there will be a way to tell if there are things to be resolved or not.

[2022-01-25 09:27] BlindDespair commented on #1529
`ResolveStart` does not appear on initial navigation though, but `GuardsCheckEnd` is there for every navigation regardless if there are guards are not which makes a lot of sense. Since Scully does not load routing data on the first navigation still either of these 2 events could work. We patched `TransferStateService` locally and I can confirm that it works.

[2022-01-29 11:03] nikhilnxvverma1 commented on #1513
This worked for me too. But its not very elegant. And BTW, I did it from the activity monitor because I can't ps | grep shit

[2022-01-30 06:46] SanderElias commented on #1530
This is by design. If you use the filtering options, Scully works on a subset of the pages. That means that the route-list it uses is only a fraction of the complete list.
If that gets written to disk, it overwrites a probably more complete route-list.
Also, there is an issue, if you use a filter for `/blog/:sluf`, but `/docs/:slug`, when you write the complete list n that case, there will be rout

[2022-01-30 06:55] Amith278 commented on #1530
Use case is : Generate static page for only new dynamic path. I don't want to generate static pages for default paths every build.
So only for blog/:id

If a new blog/:id is comes in and it's not present in route-list, the build timesout.

Any work around?

[2022-01-30 07:04] SanderElias commented on #1237
Closing due to inactivity. I'll answer the left-over concern in #1525

[2022-01-30 07:04] #1237 closed

[2022-01-30 07:12] SanderElias commented on #1525
By design, the Scully dev server doesn't serve any pages that will not be generated.
This is done because this mimics the default setup of most servers where static apps will be deployed. i believe we even have documented this behavior, but not 100% sure about that. If not, I would welcome an docs PR (or at least an issue)

We do have the [`handle404` option](https://scully.io/docs/Reference/confi

[2022-01-30 07:12] #1525 closed

[2022-01-30 07:49] olierxleben commented on #1523
While the `npm install --legacy-peer-deps` works, it is triggered by the schematic and someone ran into this very easily. And quite often this is your first interaction with Scully so the DX has no giddy starting point imo.

[2022-01-31 14:08] #1529 closed

[2022-02-01 18:36] #1513 closed

[2022-02-04 08:38] Amith278 opened #1536 "Build time for scully is very poor"
## 🐞 Bug report

### Description
Scully build is very slow and not at all suitable for a production code.
Rendering 57 pages took: 12 minutes, which is very poor. This is in both AWS build and Github Build.
Rendering in local is relatively faster.

![image](https://user-images.githubusercontent.com/79908235/152497140-c3ca8e2e-80e5-4e78-9d80-ac1d6339c437.png)

#### 🔬 Minimal Reproduction

#### 💻You

[2022-02-04 14:55] fabioemoutinho commented on #1141
I also want to add to this, when installing scully in a NX repo, it does not add to .gitignore (2.1.x)

[2022-02-07 08:43] SanderElias commented on #1530
@Amith278 Can you make a minimal repro of this?
I just tested, and if I just add a file into my blog folder, and run Scully, it seems to work?

[2022-02-07 22:48] fabioemoutinho opened #1537 "Cannot find module '[...]/environment'"
## 🐞 Bug report

### Description
When running npx scully --scanRoutes --project=[project], with a config file that imports environment, error is thrown.
Not sure if this is related to https://github.com/scullyio/scully/issues/571.

#### 🔬 Minimal Reproduction
Use `import { environment } from './apps/[...]/src/environments/environment';` in config file, in an nx repo. I am not sure this would happe

[2022-02-08 04:55] SanderElias commented on #1536
@Amith278 This is not something I recognize
This is from our own tests in [Github actions](https://github.com/scullyio/scully/runs/5026329751?check_suite_focus=true):
[code]
or using the SPS render
[code]

So, it might be that your pages are taking a long time to load. Scully has to wait until the page is completely done before it can read out the HTML.
If you can make a minimal reproduction repo,

[2022-02-10 14:20] SanderElias commented on #1537
When Scully runs, it needs to load JS, the config, and everything inside of the ./scully folder are compiled by Scully before it loads the things.
However, if you pull in something that is outside of there, you become responsible for making sure it is compiled before you can load it. It might work for you if you add it to the `tsconfig.json` inside of the `./scully` folder

[2022-02-15 08:38] SanderElias commented on #1536
Closing, for now, Will reopen when there is an actionable reproduction

[2022-02-15 08:38] #1536 closed

[2022-02-21 12:29] adityakoushikr11 opened #1543 "Scully is not generating the build for the routes that has trailing slash."
## 🐞 Bug report
We have a angular application whose routing is configured in such a way that it adds a trailing slash in the end of every route.  I am pasting a snippet of angular routes that we have.
`
  { path: "home/.", component: Component1 },
  { path: "technologies/.", component: Component2 },
`
When we try to prerender the pages, scully is not recognizing the above routes. Routes not config

[2022-02-22 09:53] SanderElias commented on #1543
@adityakoushikr11 We can only render routes that are in your angular app. A route that ends with `xyz/.` will load an `index.html` file from the `xyz` folder. This is not something that angular supports out of the box as far as I know.
Can you show me your route definitions in your angular app?

[2022-02-23 21:57] weirdyang opened #1546 "npm ERR! Could not resolve dependency: npm ERR! peer @angular/animations@"12.2.16" from @angular/platform-server@12.2.16"
## 🐞 Bug report
[code]
### Description

When I run `ng add @scullyio/init`,
I get the error above.
[code]
#### 🔬 Minimal Reproduction

In an angular 13 project type the command `ng add @scullyio/init"

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 13.2.5
Node: 14.15.4
Package Manager: npm 8.3.0
OS: win32 x64

Angular: 13.2.4
... animations, cdk, cdk-experimental, common, c

[2022-02-24 11:49] SanderElias commented on #1546
@weirdyang This is not a bug. The current version doesn't officially support Angular 13.
There are 2 ways around this.
1. Use the `@next` version.
2. use the npm `--legacy-peer-deps` option

Also. we need node 14 or above, and a current NPM version. (8.3 or higher)

For both, you might want to manually install the dependencies:
[code]

If you prefer, you can replace the `@next` part with `@2` (tha

[2022-02-24 11:49] #1546 closed

[2022-02-24 16:42] weirdyang commented on #1546
Thank you, my bad for missing the requirements!

[2022-02-24 18:44] Brocco commented on #1141
I am going to work on this, hope to have a PR up to address this issue shortly.

[2022-02-28 09:20] SanderElias commented on #1141
Thanks to @Brocco, our 2.1.18 schematics will now update the `.gitIgnore` file.
Going to close this now

[2022-02-28 09:20] #1141 closed

[2022-02-28 10:38] SanderElias commented on #1543
Closing due to lack of actionable context. We will reopen if there is any.

[2022-02-28 10:38] #1543 closed

[2022-02-28 14:27] dgrbrady commented on #1546
When can we expect Angular 13 support?

[2022-02-28 15:27] dgrbrady opened #1550 "Issue with Scully CLI on Windows"
## 🐞 Bug report

### Description

Trying to run `npx sully` or `npx scully --` in windows CMD results in the following error:

[code]

Trying the same commands in WSL gives:
[code]

#### 🔬 Minimal Reproduction
1. Run `ng new` to create new angular project
2. Try adding scully via `ng add @scullyio/init`
3. The command will fail with the output `npm ERR! Could not resolve dependency: npm ERR! peer

[2022-03-01 14:41] SanderElias commented on #1550
@Jefiozie Your on windows, can you check this?

[2022-03-01 15:28] SanderElias commented on #1550
@dgrbrady Both @Jefiozie and I checked on windows, and couldn't reproduce your issue.
We can't help you unless we can reproduce the issue. Can you please provide a way for that?

[2022-03-01 16:02] dgrbrady commented on #1550
@SanderElias @Jefiozie Okay, so I made 2 separate repos, one that specifies the Puppeteer renderer and one that specifies SPS. It looks like this issue is only related to SPS as I was able to run `npx scully` in the project I used with Puppeteer. You should be able to see the SPS repo [here](https://github.com/dgrbrady/scully-test-sps)

[2022-03-01 20:38] fabioemoutinho commented on #599
@nartc a solution I found is:
- add `include: ["plugins/plugin.ts"]` to `./scully/tsconfig.json`
- in `scully.[project].config.ts`, `import './scully/plugins/plugin';`

[2022-03-02 12:06] fabioemoutinho commented on #599
For me it only compiles the plugin.ts if I specifically add it to tsconfig (when running npx scully).

[2022-03-09 10:40] Sapython opened #1556 "Cannot upgrade to Angular 13.0 when using scully."
## 🐞 Bug report
[code]
### Description
Not able to upgrade to angular v13 because Scully has a peer dependency that requires angular version less than 13.0.0

#### 🔬 Minimal Reproduction
Create a project with angular CLI v13
And add Scully to the project

 OR

Create a project in angular version 12
And upgrade to version 13

#### 💻Your Environment
Windows 11
Npm Version: 6.14.16
Node Version: v14.

[2022-03-09 16:44] SanderElias commented on #1556
I will copy-paste my answer from #1546:
This is not a bug. The current version doesn't officially support Angular 13.
There are 2 ways around this.
1. Use the `@next` version.
2. use the npm `--legacy-peer-deps` option

Also. we need node 14 or above, and a current NPM version. (8.3 or higher)

For both, you might want to manually install the dependencies:
[code]

If you prefer, you can replace th

[2022-03-09 16:44] #1556 closed

[2022-03-11 08:54] SanderElias commented on #1546
There is a bug in current node that prevents us from releasing Our V3 right now. I worked with the node team to get this fixed. When the next version of node drops, I'm going to try to move forward on making V3 our main branch

[2022-03-13 06:51] Splaktar commented on #1383
Just as a follow up on this, I had to update to RxJS v7 to get this working. It doesn't appear that v2 supports RxJS v6.

Additionally, I don't think that there are any more m1 issues in the latest Scully v2.

[2022-03-13 12:18] gfsd3v opened #1559 "TS Compiling error - Unable to setup TS plugin"
## 🐞 Bug report
Config file not understanding TS syntax

### Description
I'm trying to setup a custom plugin, I've created a TS plugin file with a `router` plugin. When I run `npx scully` I receive an error message from the import statement.

#### 💻Your Environment

**Angular & Scully Version**

<pre><code>

  "dependencies": {
    "@angular-devkit/schematics": "^13.2.6",
    "@angular/animations"

[2022-03-14 13:41] UchihaYuki opened #1560 "When scully build failed, scully.xxx.config.ts won't be compiled again."
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 12.2.16
Node: 16.13.1 (Unsupported)
Package Manager: npm 8.1.2
OS: win32 x64

Angular: 12.2.16
... animations, cli, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, platform-server
... router

Package

[2022-03-15 09:33] SanderElias commented on #1559
We have plugins set up this way in our tests, so I'm sure this can work.
A couple of questions:
1. what version of Scully/angular/node are you using
2. are you sure the tsconfig in the Scully folder is set up correctly?
3. From the error, it looks you are trying ESM. did you add a package.json with `{ "type": "module" }` ?
4. If you are using ESM, are you sure all your dependencies are also availa

[2022-03-15 09:46] SanderElias commented on #1560
@UchihaYuki

Scully can do a partial run, I'm sure in such a case you don't want to remove what's there already. Also, when you deploy to production, you don't want to kill off the people currently using the app, by removing the version they are currently using, right?
By default, Scully doesn't delete the contents of the static folder. We will always default to the save side. When you want to rem

[2022-03-15 09:46] #1560 closed

[2022-03-15 17:16] UchihaYuki opened #1562 "Wrong routes detected"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>

Angular CLI: 13.2.6
Node: 16.13.1
Package Manager: npm 8.1.2
OS: win32 x64

Angular: 13.2.6
... animations, cli, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, router
... service-worker

Package                         Version
------

[2022-03-16 08:53] Arman-91 commented on #92
https://kazicap.atlassian.net

[2022-03-16 10:37] UchihaYuki commented on #1562
I just did some debug, and found the error might be in node_modules/guess-parser/dist/guess-parser/index.js:338, the implementation of the imports function seems wrong. It can't deal with the case when a ts file under one module folder imports a ts file under another module folder. It will find wrong parent. Please look at the picture: the contents.component.ts imports pinyin-practice.service.ts.

[2022-03-16 11:33] UchihaYuki commented on #1562
If I use a seperate course-routing.module, then I'll get:
[code]

[2022-03-16 13:10] UchihaYuki commented on #1562
I solved the problem finally. It's caused by an unused imports.

[2022-03-16 13:10] #1562 closed

[2022-03-16 17:40] brendanalexdr commented on #1491
Am running into this too.  However,
`npx scully --cf scully.myapp.config.ts `
does not solve anything.

[2022-03-16 17:42] brendanalexdr commented on #1520
Am hitting this bug too.

[2022-03-17 00:57] edezekiel commented on #1556
I've found that adding a .npmrc file to an Angular v13 project with `legacy-peer-deps=true` _before_ running `ng add @scullyio/init` is another way to successfully install scully.

I took this approach from a recommendation to similar issue faced by ngrx: https://github.com/ngrx/platform/issues/2830#issuecomment-1047807929

[2022-03-17 00:58] edezekiel commented on #1546
I've found that adding a .npmrc file to an Angular v13 project with `legacy-peer-deps=true` _before_ running `ng add @scullyio/init` is another way to successfully install scully.

I took this approach from a recommendation to similar issue faced by ngrx: https://github.com/ngrx/platform/issues/2830#issuecomment-1047807929

[2022-03-17 06:14] FanYeeChok commented on #1520
been waiting for this bugs to be fix few months ago.

in order to scully workaround on NX izit we add the 'angular.json' manually?

[2022-03-18 08:48] dimakuba commented on #1491
the same issue here

[2022-03-18 10:53] stianmorsund commented on #1520
Until this is officially fixed/supported, you can get it to work by adding `target: 'targets'` inside the Scully-config as mentioned here: https://github.com/scullyio/scully/issues/1429

[2022-03-22 08:58] SanderElias commented on #1383
I'm closing this issue now, as it is resolved. We recently verified once more that we can run/build/test Scully in full on an M1 machine.

[2022-03-22 08:58] #1383 closed

[2022-03-22 09:00] SanderElias commented on #1550
@dgrbrady I finally was able to reproduce, I'm going to work on a solution this week

[2022-03-24 06:56] SanderElias commented on #1559
Closing by lack of actionable context

[2022-03-24 06:56] #1559 closed

[2022-03-24 15:19] aaronfrost commented on #1531
@BlindDespair do you have a sample site we can look at?

[2022-03-25 06:52] SanderElias commented on #1242
This is done

[2022-03-25 06:52] #1242 closed

[2022-03-25 06:53] SanderElias commented on #1142
@viztastic Does the GA plugin we provide solve your issue?

[2022-03-25 07:08] SanderElias commented on #1319
This is an issue with how NPM scripts are working and is not something Scully can solve.
If you use `npm run scully` you need to add `--` to tell NPM that you want to give parameters to the command. so run it like this:

[code]

When using NPX, you don't need to add `--` and doing so might break things
To make the whole story more cumbersome, in different versions of NPM different things happened.

[2022-03-25 07:08] #1319 closed

[2022-03-25 07:43] SanderElias commented on #1315
@JoeyMckenzie Is this still an issue? If so, we do need a way to reproduce the issue.

[2022-03-25 07:46] SanderElias commented on #1348
This problem is solved with the release of V2

[2022-03-25 07:46] #1348 closed

[2022-03-25 07:47] SanderElias commented on #1402
@Jefiozie Did we already address this in our schematic updates?

[2022-03-25 07:48] SanderElias commented on #1430
Closing due to lack of actionable context. If this still is the case, can you provide a minimal repo that reproduces this behavior? We will gladly reopen and work out the issue

[2022-03-25 07:48] #1430 closed

[2022-03-25 07:50] SanderElias commented on #1486
@SanderElias Check this for version 3. Changing from bug to enhancement.

[2022-03-25 08:37] SanderElias commented on #1119
@EatonZ I just checked the code, and with the new setup of the way the background server is started, this should no longer create the file. (I checked 2.1.27). Can you confirm?

[2022-03-25 08:39] #1240 closed

[2022-03-25 08:39] #1105 closed

[2022-03-25 08:39] #1233 closed

[2022-03-25 08:39] #1239 closed

[2022-03-25 08:39] #1241 closed

[2022-03-25 08:39] #1234 closed

[2022-03-25 08:39] #1159 closed

[2022-03-25 08:39] #1197 closed

[2022-03-25 08:39] #953 closed

[2022-03-25 08:53] Jefiozie commented on #1402
No I don't think so, assigning it to me for investigation

[2022-03-25 09:19] SanderElias commented on #1342
I'm going to close this, as we can not reproduce, and didn't receive more input from the OP.
We are happy to reopen when this changes, or there is more information

[2022-03-25 09:19] #1342 closed

[2022-03-25 09:24] SanderElias commented on #1498
Closing due to lack of actionable context. If this still is an issue, can you provide a minimal repo that reproduces this behavior? We will gladly reopen and work out the issue

[2022-03-25 09:24] #1498 closed

[2022-03-25 09:41] SanderElias commented on #773
Closing due to lack of actionable context. If this still is an issue, can you provide a minimal repo that reproduces this behavior? We will gladly reopen and work out the issue

[2022-03-25 09:41] #773 closed

[2022-03-25 09:43] SanderElias commented on #1087
duplicate

[2022-03-25 09:43] #1087 closed

[2022-03-25 09:44] SanderElias commented on #1257
this is done

[2022-03-25 09:44] #1257 closed

[2022-03-25 20:54] BlindDespair commented on #1531
@aaronfrost do you mean a repo or just a url to a deployed site. Sadly I do not have a sample site which demonstrates this deployed anywhere although we do have 1 production site with this. Although I pretty much summed it up in the description, generating any app with scully will produce `404.html` and that should contain the info about it being pre-rendered by scully just like any `page.html`

[2022-03-28 09:04] SanderElias commented on #1485
I looked into this, and it turns out there is something in node V14 that prevents the performance tracking to work correctly. I suspect this has to do with V8 and the spectre bug that was going around in that time frame. (it worked fine in earlier, and later versions)
As this is non-essential for the normal working of Scully, and creating a workaround would take quite some time and seems to take q

[2022-03-28 09:04] #1485 closed

[2022-03-28 10:09] SanderElias commented on #1448
I have been looking into this one more, and it pretty much is a duplicate of #1567.
So, I'm closing this issue, to track progress there.
(also, the PR targeting that bug will for 95% close this one too)

[2022-03-28 10:09] #1448 closed

[2022-03-28 10:53] #1382 closed

[2022-03-28 11:04] SanderElias commented on #1299
Related to #1402
I'm going to close this one, so we can concentrate discussion over there.

[2022-03-28 11:04] #1299 closed

[2022-03-28 11:07] SanderElias commented on #1298
Closing as this discussion seems resolved.
If there is still actionable content here, please let us know, and we will reopen or create a follow-up issue

[2022-03-28 11:07] #1298 closed

[2022-03-28 12:53] SanderElias commented on #1305
This is done and merged

[2022-03-28 12:53] #1305 closed

[2022-03-28 12:58] SanderElias commented on #1344
This has been done by now.
When one needs this, add the optional `expectedContentType` to the headers.
When that doesn't equal: `application/json` (which is the default) it will return the raw data it got from the response.

[2022-03-28 12:58] #1344 closed

[2022-03-28 13:02] SanderElias commented on #1349
This is implemented in #1529

[2022-03-28 13:02] #1349 closed

[2022-03-28 13:03] SanderElias commented on #1370
This seems resolved. If I'm mistaken, please let me know, and I'l reopen the issue

[2022-03-28 13:03] #1370 closed

[2022-03-28 13:07] #1428 closed

[2022-03-28 13:12] SanderElias commented on #1520
Also, this is related to #1491

[2022-04-01 15:28] ohabash opened #1568 "data.json not being created by scully cmd when using transferState in NG"
## 🐞 Bug report

### Description
I am trying to `useScullyTransferState` on angular. even though the original observable resolves fine in 4200 (dev)... in production it resolves as `undefined`. I read in an article that after `npx scully --project myProj` i should see evidence of `data.json` being created but i dont. so the lack of data.json is probably the issue. Maybe i did something wrong with

[2022-04-01 17:22] SaadMouline opened #1569 "Adding .scully/settings.yml to .gitignore file"
In our team we are two developers working on the same project. We both have to run scully locally to test our changes before releasing them.

When ran locally, scully modifies the values of **homeFolder** and **outDir** in my settings.yml file. They are changed to match the app's home folder and the folder where the static html files live on my machine. If I push the modified version of settings.y

[2022-04-03 17:24] Dok11 opened #1570 "x Error during file write Error: ENOENT: no such file or directory, mkdir '.\f\dist\static\search\:tag'"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

I think the bug in my routes maybe:
[code]

Blog is working good, but search providing an error.
My scully.conf.ts:
[code]

#### 💻Your Environment

**Angular Version:**

<pre><code>
Angular CLI: 13.3.1
Node: 14.17.0
Package Manager: npm 6.14.13
OS: win32 x64

Angular: 13.3.1
... animations, cli, common, compiler, compiler-cli, core, fo

[2022-04-03 18:02] Dok11 commented on #1570
Sorry, my bad. `map(tag => ({tag}));`

[2022-04-03 18:02] #1570 closed

[2022-04-04 06:52] hunhavoc commented on #1485
I can confirm that the issue is only appearing when using node 14. Node 12 and 16 are fine.

[2022-04-05 11:14] SanderElias commented on #1569
You can add the entire `.scully`folder to your gitIgnore without an issue.
The only thing is you need to add the `--noPrompt` CLI option in CI/CD

[2022-04-05 11:14] #1569 closed

[2022-04-05 11:20] SanderElias commented on #1568
I'm not sure what is happening, but the  `.subscribe` in your code seems off to me.
What happens if you replace:
[code]

with:
[code]

And that is assuming `this.homeCarousel$.list()` returns an observable that completes

[2022-04-06 11:30] BarbeitoAlex opened #1571 "Upgrade Angular Nx and Scully"
Upgrade Angular Nx and Scully

[2022-04-06 11:30] #1571 closed

[2022-04-06 12:34] aaronfrost opened #1572 "Incremental regeneration a la Nextjs"
## 🧩 Feature request

### Description

 we need to add incremental regeneration https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration

### Describe alternatives you've considered

 This is currently possible for any Scully user to build on top of Scully. But we need to provide it for them. It's a complex problem to solve.

[2022-04-07 03:10] SanderElias commented on #1572
@aaronfrost This is on our [roadmap](https://scully.io/docs/roadmap/) as `Build On Demand server`.
We currently lack time/funding to work on this feature.

[2022-04-07 03:10] #1572 closed

[2022-04-07 06:34] SanderElias commented on #1315
Closing, as this doesn't seem relevant anymore. If anything changes, we are happy to reopen

[2022-04-07 06:34] #1315 closed

[2022-04-07 06:36] SanderElias commented on #1402
This seems also related to #1520. Not the same issue, but e might be able to solve both with the same solution.

[2022-04-07 18:36] jadenpham opened #1573 "scully.config skips routes if the route object contains the "postRenderers": []"
## 🐞 Bug report

### Description
I am working on a project where, instead of declaring routes in app-routing.module, I am importing routes from a manifest.json file. The manifest contains a routes{} that contains different routes with data objects containing canonical, title, metaTags per route.

The scully.config file is able to scan the extraRoutes and apply the plugins from the defaultPostRende

[2022-04-12 19:00] jadenpham commented on #1573
hi, my json didn't have the string value equivalent of the plugin variable name - it has been fixed and is working as expected

[2022-04-12 19:00] #1573 closed

[2022-04-14 09:13] jiangyh1024 opened #1576 "After running npx scully, I got the same html content"
<img width="828" alt="image" src="https://user-images.githubusercontent.com/34930870/163353413-082c5e7c-b938-4502-b21c-5470e1f792de.png">

<img width="269" alt="image" src="https://user-images.githubusercontent.com/34930870/163353504-9ce28518-bdc5-4eb2-8dd1-2650f1b0cd72.png">
<img width="664" alt="image" src="https://user-images.githubusercontent.com/34930870/163353544-87d55dec-9e16-4318-8d56-fc60

[2022-04-14 09:14] jiangyh1024 commented on #1576
<img width="712" alt="image" src="https://user-images.githubusercontent.com/34930870/163353829-7f60a2dd-9152-4f5b-82d4-2796685ae06c.png">

this is the config file

[2022-04-14 09:16] jiangyh1024 commented on #1576
content in home.html and about.html is the same....

[2022-04-14 09:58] jiangyh1024 commented on #1576
It seems that this is caused by hash routing. I am using hash routing instead of h5 routing....

Don't know whether this can be regarded as a bug or not ..

[2022-04-14 13:49] SanderElias commented on #1576
Scully doesn't support hash routing. The reason is that 90% of the servers can't handle this.
We can write those files to disk, but most of the servers will have serious trouble serving those files.
(mostly, because everything after `#` is considered client-side, and the servers just truncate those)
I don't think this is something that can be solved.

[2022-04-14 13:49] #1576 closed

[2022-04-14 13:50] SanderElias commented on #1568
Closing due to lack of activity. If this problem is still current, let us know, and we will gladly reopen the issue

[2022-04-14 13:50] #1568 closed

[2022-04-15 00:51] jiangyh1024 commented on #1576
Thx, I'm going to use H5 routing

[2022-04-15 01:21] jiangyh1024 opened #1577 "scully cannot generate right html if route guard is applied"
<img width="558" alt="image" src="https://user-images.githubusercontent.com/34930870/163502782-d79a50a6-5ed9-4311-8b21-5cf12b3fd7ba.png">

after removing the guards as above, scully works as expected.

I wanna know why and how to solve the problem ?

[2022-04-16 13:11] AmineAML opened #1578 "Scully skips routes with an empty path"
## 🐞 Bug report

### Description
Any route in the routing module like this gets skipped:
[code]
In the console log where it shows the pages generated, any page with an empty route won't show nor get counted in the total pages and it doesn't get added to the scully routes file.
The only way to get it to work is by adding a name in the path.
I'm also using the sitemap plugin which won't have those p

[2022-04-18 15:59] maxcodefaster opened #1580 "Prerender just on page"
## 🧩 Feature request

### Description

Is it possible to just prerender just one page, let's say a welcome page for logged out users and let the normal router handle all other routes?

[2022-04-19 06:48] SanderElias commented on #1577
For SSG to work, Scully has to visit every page as a new user hitting that page for the first time.
So, that is what it is doing by design.
If you want to change something so it works slightly differently for your use-case, you can use `isScullyRunning()` in your code, and work around whatever you want.

Be aware, that if your app requires a log-in before displaying any content, and you are using

[2022-04-19 06:48] #1577 closed

[2022-04-27 11:02] SanderElias commented on #1578
I just checked, and it works fine.
However, you really need to have the router configured correctly to have the guess-parser pick up the routes.
That means that you need to add `pathMatch: 'full',` in a setup like yours, otherwise the parser can't distinguish it from its parent, which doesn't have a component, but just children.
[code]

[2022-04-27 11:02] #1578 closed

[2022-04-27 11:10] SanderElias commented on #1580
There are multiple ways to do this. I think the simplest is just filtering out the routes you don't want using a `routeProcess` plugin.
in your config, something like this will work:
[code]

Another way is using the route Filters cmd-line options:
- [baseFilter](https://scully.io/docs/Reference/command-line-options/#basefilter) for filtering on unhandled routes
- [routeFilter](https://scully.io/do

[2022-04-27 11:10] #1580 closed

[2022-05-01 23:08] ronaldogmartins opened #1586 "Cannot find module "...\scully\runtime\app.sps.module.js""
## 🐞 Bug report

### Description
Ionic / Angular project
Build ok (ionic cordova build browser or ionic build).
When running "npx scully" the above error occurs.

#### 🔬 Minimal Reproduction
** scully.app.config.ts: **
import { enableSPS, ScullyConfig } from '@scullyio/scully';
import { cpus } from 'os';
enableSPS();
export const config: ScullyConfig = {
  projectName: "app",
  spsModulePath: './s

[2022-05-02 20:27] Behemoth11 opened #1587 "Installation instruction should contain "npm install @scullyio/scully-plugin-puppeteer""
## 🗄️ Docs report

### Description

Every time I want to use Scully I copy and paste the code snippet from the docs for the installation. Unfortunately, every time I want to run a build, I am told to run  "npm install @scullyio/scully-plugin-puppeteer." It's not much of an issue for me, but It may bother some beginners. It would be cool if the installation could contain a notice for the plugin.

#

[2022-05-03 18:35] pauwlodev commented on #1491
i tried to run `npx scully --project other` using flag  `target: 'targets'` in my config file. But does not solve.

[2022-05-03 20:32] ronaldogmartins commented on #1586
Hi @SanderElias, good afternoon!
Please let me know if I have registered this issue in the right place and in the right way as I have no experience asking for help with using tools directly here.
Do you believe that I may have gone wrong in some configuration?
Or will you try to identify what happened? In this case, do I need to provide any more details?
Other info: does scully work with Ionic or

[2022-05-04 06:49] SanderElias commented on #1586
@ronaldogmartins Well, its explained in the [(way to basic) docs page](https://scully.io/docs/Reference/routRenders/sps/)

In short, The platform-server-renderer isn't really ready for prime time but might work well for you. As you have an ionic app, that uses web components, rendering it with default Scully will not yet work well. (We have a longstanding issue for this, but found no time to work

[2022-05-04 06:53] SanderElias commented on #1530
I'm afraid the options `--scanRoutes` and `--routeFilter` are incompatible with each other.
The filter options prevent writing the route files because they would end up in incomplete ones.

There should be a waring instead of an error, so I will eave this issue open so we can take care of that.

[2022-05-16 18:01] willyboy opened #1588 "Can't link to an anchor in a different page"
## 🐞 Bug report

### Description

The following code should work given that heading-1 exists in the page "another page":
`[go to another page](./another-page.md#heading-1)`

It does not. It appears that Scully sees it as an unmatched route. But it should see it as a matched route with an anchor.

Looking through the source, I thought maybe I could use data-hash to force it to recognize the hash bu

[2022-05-17 06:14] AaronSterlingGENEICD opened #1589 "Support for Angular 13"
## 🧩 Feature request

### Description

Apologies if this already exists somewhere, but I didn't see it after a search. Are there plans to support Angular 13?

### Describe the solution you'd like

The sticking point for our install appears to be @angular/platform-server@12. It would be nice to move past that, if not all of 13 is feasible.

### Describe alternatives you've considered

We're current

[2022-05-17 06:35] SanderElias commented on #1589
Angular 13 supports is coming with the next version. (available under the @next flag)
As I'm currently committed to another project, this has to wait.
Sponsoring/funding will help speed things up.

[2022-05-17 06:37] SanderElias commented on #1588
Are you talking about another page inside of your app, or on en "external" resource?
Can you provide a reproduction sample?

[2022-05-27 23:45] sanjay51 opened #1590 "Scully never closes Chromium instances"
## 🐞 Bug report
I was investigating slowness on my macbook and found that Scully opens new chromium instances on each run, but never closes then. As a result, the zombie instances keep hogging memory.

### Description
Here is a screenshot -
<img width="855" alt="image" src="https://user-images.githubusercontent.com/4214056/170800575-f49441bb-38e7-42e8-bcb0-d3bb14cb09c1.png">

All the chromium and

[2022-05-31 22:52] salisshuaibu11 commented on #1556
It works for me also.

[2022-06-20 15:31] zloy-kot opened #1595 "TypeError on installing scully npm package"
Hey, I'm reading an angular book and trying to follow the instructions from that book. I'm building a sample application and getting the following exception when installing scully package, actually when it asks which route renderer would I like:

TypeError: entry.message.split is not a function
    at MapSubscriber.project (D:\projects\angular\the-blog\node_modules\@angular-devkit\core\src\logger\

[2022-06-21 13:44] #1595 closed

[2022-06-27 17:28] EatonZ commented on #1119
@SanderElias I attempted to build the sample project today, but it seems it's too old and throwing errors on `npm install`.
I'll take your word for it if you noticed the issue no longer occurs. I do not have any active Angular projects right now.

[2022-06-27 17:28] #1119 closed

[2022-07-01 08:24] homesh-clearcals opened #1598 "Unhandled inline CSS error's is causing node to crash on version 16+"
## 🐞 Bug report

### While running docker build command, on RUN yarn run scully the build is encountering some inline CSS errors. As these errors are not handled the node (16) is terminating the entire process, unlike the older version where it just continues the build process.
Also, if we run in local environment, when the routes are being created, the terminal is throwing following message: ` co

[2022-07-01 14:28] mhamri opened #1599 "scully isn't generating all the routes"
## 🐞 Bug report

### Description

I have a very simple two page website, but i'm using nx to maintain it

here is my `app.module.ts`

[code]

and it's my scully config

[code]

if I run the `nx g @scullyio/init:route-discovery` i get this

[code]

i assume the 3rd line means it already knows about the privacy path.

then if I run `nx g @scullyio/init:scully`

i get this error

[code]
I assume this

[2022-07-02 18:39] mhamri commented on #1599
it's a minimal setup
https://github.com/mhamri/scully-route-bug

[2022-07-03 08:34] fredericbirke commented on #1589
Can I somehow help you with the angluar 13/14 support? I would be willing to invest some time, if this is a task that is doable for people who haven't worked on scully, yet.

[2022-07-03 13:45] WhyINeedToFillUsername commented on #1297
I have the same problem, and I'm trying to init scully (`ng add @scullyio/init`) on the official angular tour of heroes project (https://angular.io/generated/zips/toh-pt6/toh-pt6.zip).

There should be some more information to the console at least.

[2022-07-04 13:24] WhyINeedToFillUsername commented on #1297
Is there any log or some switch I could add to the command to get more information about why it failed?
I tried `ng add @scullyio/init --verbose`, but there's no more output.

[2022-07-05 06:25] appienvanveen opened #1600 "Proxy config file is not picked up"
## 🐞 Bug report

### Description
Proxyconfig file as paramter doesnt seem to work. When you put it in the config file, it does work. I want two scripts. One to generate vs production and one to generate vs development

#### 🔬 Minimal Reproduction

Add a script in your package.json
    "scully": "scully -- --proxyConfig proxy.conf.json"

#### 💻Your Environment

**Angular Version:**

13 +

<pre><cod

[2022-07-10 14:58] 2YY opened #1601 "Maybe type in json Plugin documentation page"
## 🗄️ Docs report

### Description

The snippet in "json Plugin > USAGE".

Isn't the path here `/users/:userId` instead of `/user/:userId`?

## 🔬 Minimal Reproduction

### What's the affected URL?\*\*

https://scully.io/docs/Reference/plugins/built-in-plugins/json/

### Reproduction Steps\*\*

Please visit the document page "[json Plugin](https://scully.io/docs/Reference/plugins/built-in-plugins/j

[2022-07-12 06:38] appienvanveen commented on #1600
Any help guys?

[2022-07-12 19:58] WhyINeedToFillUsername commented on #1530
Hi, I would like to add my reasoning to this question.

My use-case and expectations are: have a list of events on the main page (route "/") and their details on separate pages (routes /detail/:id). Run scully build to generate first version of sites, ship it to CDN. Then, when some new event occurs, generate only page for that. I expect that should be done by using `npx scully --baseFilter="/deta

[2022-07-18 13:44] SanderElias commented on #1589
Well, the v3 branch is out of sync with main, and needs to be synchronized, without losing any of the new stuff.
This is going to be a painful merge, and I currently don't have the bandwidth for it. Once that is done, there is only some testing and fine-tuning needed, which I can actually do.

[2022-07-20 14:47] rqman opened #1604 "ScullyRoutesService getCurrent does not produce values in case of using baseHref"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction

- add plugin base-href-rewrite with any custom value (i.e. /docs/) into scully configuration
- generate site and subscribe to ScullyRoutesService#getCurrent()

#### 💻Your Environment

**Angular Version:**

<pre><code>13.10.1</code></pre>

**Scully Version:**

<pre><code>2.1.36</code></pre>

## 🔥 Exception or Error

 Expected behaviour:

[2022-07-25 21:48] AbdurRKhalid commented on #1297
I have to abandoned one of my personal project due to this problem. The reason is that the documentation has not mentioned to solve the peered dependency issue and it can be solved with the following command:

`npm install --legacy-peer-deps`

After doing that and After doing everything correctly there was again error present that was saying that the configuration file does not exists and after do

[2022-07-27 16:38] LorenzoPaciotti commented on #1297
I just did the same thing, I'm not an expert in any way (following a tutorial) but I have the same issues as others. I did try to install manually, but subsequent commands like ng generate @scullyio/init:markdown fail with various issues.

I just did the same thing, I'm not an expert in any way (following a tutorial) but I have the same issues as you. I did try to install manually, but subsequent

[2022-08-02 20:01] Paldom commented on #912
Hi,
for me, addig proper JSON headers at backend, like
`res.set('Content-Type', 'application/json');`
solved this issue. If anyone still struggles with this one.

[2022-08-07 23:30] RinatValiullov opened #1606 "Scully doesn't generate anything"
## 🐞 Bug report

Trying to install the blog I am not getting any changes to the project. The package does nothing at all. But the dependency `@scullyio/init` is installed.
Dependency `@scullyio/ng-lib` NOT installed.

### Description

#### 🔬 Minimal Reproduction

1. Run this command in terminal `ng add @scullyio/init`
2. After choosing:
[code]
nothing happens (I don't get any answer at all):

![im

[2022-08-09 18:47] Lindurion commented on #1606
Hitting the same issue (even from a brand new Angular 14 app workspace). Debugging a little bit, exception being thown is:
`TypeError: Cannot read properties of null (reading 'toString')`

at https://github.com/scullyio/scully/blob/v2.1.39/libs/scully-schematics/src/utils/utils.ts#L151
(line 149 also throws the same error trying to invoke `null.toString()`)

Seems like the issue is `project` being

[2022-08-10 17:54] RinatValiullov commented on #1606
@Lindurion

Is this specific to Windows users only?

[2022-08-10 18:08] Lindurion commented on #1606
Nope. Just tried on macOS with a fresh Angular 14 app and hit exactly the same results above, including the need to remove the extra `--` separator before the `--project` argument.

[2022-08-10 19:00] RinatValiullov commented on #1606
@Lindurion

Tried repeat with [deprecated "defaultProject"](https://github.com/angular/angular-cli/issues/23470) and chose `Scully platform server`. Get this upstream dependency conflict:

![image](https://user-images.githubusercontent.com/9755333/183994794-08b40912-a6a6-479c-abea-0f2c1412cde8.png)

I think this is a bug with not updated versions of dependencies on the Scully side.

[2022-08-11 09:46] fredericbirke commented on #1589
With the v3 branch you mean the branch with the name `next`?

[2022-08-11 09:58] SanderElias commented on #1589
Yes, it is indeed in the Next branch.

Op do 11 aug. 2022 om 11:46 schreef fredericbirke ***@***.***

[2022-08-14 05:55] Davste93 opened #1607 "Mobile & Responsiveness"
Hi,

In certain sitiuations, responsiveness features need to be implemented via JS.

When that happens, scully will spit out the HTML as the desktop version, so if the user loads up the site from their phone, they're stuck looking at a version of the site that's a bit broken until the bundle kicks in.

Do you have any suggestions on what to do in this case?

[2022-08-17 12:16] stevermeister commented on #1606
same here :(

[code]

[2022-08-22 07:58] TatyanaMolchanova commented on #1297
Here is the type error:

npm i @scullyio/scull

The right one is:
npm i @scullyio/scully

[2022-08-24 07:05] SanderElias commented on #1606
The upstream dependency is caused by some strange handling of peer-deps. I have been looking into this but have not yet found a solution.
That being said, you can install Scully using `--force` on the npm install command.

[2022-08-27 17:26] anuj9196 commented on #1598
@homesh-clearcals any luck with the issue? I'm also facing the same issue.

[2022-08-30 04:08] TatyanaMolchanova commented on #1491
https://stackoverflow.com/questions/73442069/no-scully-configuration-file-found-scully-undefined-config-ts-path-scully-unde/73442528#73442528

[2022-08-30 04:08] TatyanaMolchanova commented on #1491
Could not find project "undefined" in 'angular.json'.

The right solutions is here!!!

in angular.json add in the root of the object:
"defaultProject": "my-blog",

{ "$schema": "./node_modules/@angular/cli/lib/config/schema.json", "version": 1, "newProjectRoot": "projects", "defaultProject": "my-blog", "projects": { "my-blog": { "projectType": "application", "schematics": { "@schematics/angular:co

[2022-08-31 04:42] TatyanaMolchanova opened #1608 "Errors 502 while deploying on AWS Scully is not running"
## 🐞 Bug report
https://stackoverflow.com/questions/73550938/cant-deploy-scully-angular-app-on-aws-502-bad-gateway

### Description

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**
14

<pre><code>

</code></pre>

**Scully Version:**

<pre><code>

</code></pre>

## 🔥 Exception or Error

<pre><code>

</code></pre>

[2022-08-31 16:18] BenLune commented on #1520
Hi,
I add everything manually and it works. I think we are more and more people splitting their projects configs.
Thank you

[2022-09-01 07:13] anuj-scanova opened #1609 "Scripts are not loading as expected"
## 🐞 Bug report

### Description
Pagespeed score is very low in comparison with SSR

#### 🔬 Minimal Reproduction
Add the Google tag manager script to the footer and generate a build
[code]

The script should load after 4 seconds. This is working well with Angular SSR and the external scripts are not detected in the Google page speed. While the Scully build of the same application, Google page spee

[2022-09-05 05:26] SanderElias commented on #1609
@anuj-scanova That is because those scripts are never run in Universal, but they _are_ when using Scully.
Make sure you are not executing those things when you are rendering through Scully.
If you want to do that in native JS, take a look [here[(https://github.com/scullyio/scully/blob/main/libs/ng-lib/src/lib/utils/isScully.ts#L2-L4)

TLDR: wrap your JS code you don't want to run when rendering li

[2022-09-05 05:26] #1609 closed

[2022-09-05 08:18] anuj-scanova commented on #1609
@SanderElias Thanks for the response but adding the script to `if` condition is now no longer loading the script.

I have confirmed that the scripts are loading in the Universal as well with the `timeout` script and due to timeout, it is not reporting in Google page speed.
While in the case of Scully, the scripts are detected in Google page speed, which looks like timeout is not working with scull

[2022-09-05 08:42] SanderElias commented on #1609
Can you explain that a bit more?
You mean when you run this in Universal, the server does wait 4 seconds,
runs the script, before shipping the code to the client?  That would entail
a 4 seconds delay in delivering every page right? I'm fairly sure that
would not do well in PageInsigths.

Scully doesn't have _any_ influence on how a script is being executed in
the browser. The workaround I gave you

[2022-09-05 10:37] anuj-scanova commented on #1609
[code]
This code snippet is added to the `index.html` file and I want to load the GTM script after 4000ms after the window has loaded.

In the universal case, the index.html file is returned with the script content and loads after 4000ms of window load on the client side (not on the server side).

Same behavior I want from the Scully as well, as this script is not part of any component or routing.

[2022-09-07 14:30] Sergiobop commented on #1491
Yeah, defaultProject is deprecated in Angular 14 and removed when you do ng update commands
I had to add it again to make scully work as @TatyanaMolchanova said.

[2022-09-15 02:16] isaac-manubag commented on #1297
i'm running with Angular 14 and I have the same issue.. I guess its safe to assume scully is not Angular 14 (maybe even Angular 13 ready yet)

[2022-09-21 11:45] anuj-scanova opened #1611 "Generate `.html` files instead of directory"
## 🧩 Feature request

### Description
Using Scully to migrate our existing static website into Angular and thus our existing static website the URL patterns like
[code]

But in angular, the URLs are given as `about-us` and `privacy-policy` which result generates the following rendered files
[code]
and the URLs are accessible like
[code]

I want to keep the URLs with `.html` extension as previously

[2022-09-22 10:38] SanderElias commented on #1611
I get why you want this option, but it goes against the grain and will create other issues.  This is not something we will not support OOB with Scully.
However, that being said, this is something you can handle yourself. you can replace the plugin that writes out the data to the filesystem.
The source is [here](https://github.com/scullyio/scully/blob/main/libs/scully/src/lib/systemPlugins/writeToF

[2022-09-22 10:38] #1611 closed

[2022-09-22 13:21] anuj-scanova commented on #1611
Thanks, @SanderElias for the help.

I tried adding the shared script in  the `scully.my-project.config.ts` file but it gives the following error
[code]

Also tried renaming the plugin and using it in `defaultPostRenderers` but the plugin does not run.

[2022-09-27 07:22] grenobnik commented on #1589
Any news on this "enhancement"?

[2022-09-27 09:21] tomastrajan opened #1615 "Scully blog (<scully-content>) break standard Angular runtime anchor navigation"
## 🐞 Bug report

### Description

#### 🔬 Minimal Reproduction
Imagine you have a reusable header component with a "Get in touch" button to use anchor navigation to scroll to the bottom to get in touch section.

This works great with standard scully, impl could be:

[code]

How lets add another route for blog and the `<scully-content>` component which will load blog content during runtime and trigg

[2022-09-27 15:44] #1615 closed

[2022-09-27 18:58] BenLune opened #1619 "flashPrevention"
## 🗄️ Docs report

### Description

The doc says '// Add the following to your `scully.config.postRenderers`'
But there is no postRenderers property at the root ScullyConfig.  Use defaultPostRenderers instead.

### What's the affected URL?
https://scully.io/docs/Reference/plugins/built-in-plugins/flashPrevention/

[2022-09-29 19:50] PassageNick commented on #1589
Looking for news here as well -- I'd help if I could, but I'm not that good.  ;-)

[2022-10-01 14:20] morenoisidro commented on #1606
Same problem here.

[code]

[2022-10-01 14:38] morenoisidro commented on #1606
As @Lindurion and @SanderElias suggested, this worked for me:

Where `PROJECT_NAME` is the one specified under `angular.json`

Output:

[code]

[2022-10-01 15:15] morenoisidro commented on #1491
Same here. Thanks @TatyanaMolchanova .

[2022-10-03 23:14] nelsongutidev opened #1622 "Scully project error when upgrading from Angular v13 to Angular v14"
## 🐞 Bug report
Scully would not build after upgrading my project to from angular v13 to angular 14

### Description

The following error was thrown:
=====================================================================================================
      Config file "./scully.undefined.config.ts" not found, only rendering routes without parameters
      The config file should have a name that i

[2022-10-03 23:18] nelsongutidev commented on #1622
:white_check_mark: Root cause of the issue and workaround:

With angular v14, the `defaultProject` property on the `angular.json` file has been removed/deprecated. While this gets fixed on Scully side, one can just add it back and Scully will build fine.

On angular.json file, add:

`"defaultProject": "your-project-name"`

[2022-10-03 23:24] nelsongutidev commented on #1599
Can you try adding the `defaultProject` property on the angular.json file with your project's name?

Example:

`"defaultProject": "your-project-name"`

[2022-10-04 11:54] Sergiobop commented on #1589
I think @SanderElias is working on it (https://github.com/scullyio/scully/pull/1617)

TY!

[2022-10-04 21:50] tomastrajan opened #1623 "Prism.js (syntax highlighting) enable line numbers"
## 🧩 Feature request

### Description

It would be great if we could enable prism.js line numbers with a simple option similar to already existing

`setPluginConfig('md', { enableSyntaxHighlighting : true });`

### Describe the solution you'd like

For example ``setPluginConfig('md', { enableSyntaxHighlighting : true, enableLineNumbers: true });``

### Describe alternatives you've considered

I ha

[2022-10-05 10:52] guerital opened #1624 "[SEO] - Add trailing slash to generated href's that have a query string"
## 🧩 Feature request

### Description

When a tag <a> is using the [queryParams] attribute, the generated URL doesn't have the trailing slash at the end:
`<a [routerLink]="['/page']" [queryParams]="{ index: 0 }"></a>`
`.../page?index=0`

instead of

`.../page/?index=0`

The missing trailing slash led to a 301 redirect which is not very good for the SEO

### Describe the solution you'd like

I have

[2022-10-11 08:15] SanderElias commented on #1623
You can load the needed plugin from within your config, ad it will work. There is no need to configure anything.

[2022-10-11 08:15] #1623 closed, assigned to nobody

[2022-10-12 19:52] mcavazotti opened #1625 "Support for Angular 14"
## 🐞 Bug report

### Description

The platform-server library doesn't support Angular v14. Updating the `packages.json` should fix it.

Sorry for not following the template

[2022-10-18 10:10] anuj-scanova opened #1626 "empty 404.html file is generated"
## 🐞 Bug report

### Description
When rendering Scully, it generates a `404.html` file at the root of the output directory with the following content
[code]

The content of the page is empty, so there is no use for this 404 file.

I created a custom 404 file and add route to the angular router
[code]

But on rendering, it gives an error
[code]

#### 🔬 Minimal Reproduction

#### 💻Your Environment

[2022-10-21 07:18] proggeramlug commented on #1625
for now you can also just `--force` the installation. Works fine for me.

[2022-10-21 07:31] proggeramlug commented on #1600
@appienvanveen I worked around the same issue by adjusting my API. I'm assuming you have an API you want to call:

[code]

It's a bit messy and not 100% accurate (resolve is not considering all callbacks) but it works for me

[2022-10-21 12:21] mcavazotti commented on #1625
That's what I'm doing, but it can't be considered a solution for this issue

Em sex., 21 de out. de 2022 04:18, Ralph Küpper ***@***.***>
escreveu:

[2022-10-28 11:35] claridgicus commented on #1625
this is causing some issues, a blank angular install and running the installation steps for scully fails

[2022-11-09 00:33] SyedMSawaid opened #1628 "Could not find project "undefined" in 'angular.json'."
## 🐞 Bug report

### Description
![image](https://user-images.githubusercontent.com/34231494/200706426-cb1e3e12-518f-4117-ae9f-1d454af87500.png)

#### 🔬 Minimal Reproduction

#### 💻Your Environment
Windows 10

**Angular Version:**

<pre><code>

     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/

[2022-11-09 00:46] SyedMSawaid commented on #1628
Never mind, resolve it using this approach.
https://stackoverflow.com/questions/73442069/no-scully-configuration-file-found-scully-undefined-config-ts-path-scully-unde/73442528#73442528

[2022-11-09 00:46] #1628 closed, assigned to nobody

[2022-11-11 07:55] govi2010 commented on #1550
@SanderElias  I am still facing issue with beta version and angular 13

[2022-11-16 10:42] MKaranusic commented on #1297
To add on to @AbdurRKhalid solution, if you still are experiencing problems with "Config file ".\scully.undefined.config.ts" not found", add deprecated  "defaultProject": "yourProjectName" to angular.json

[2022-11-25 12:06] jakubzet commented on #1427
Hi! I wonder if changes applied in versions 2.1.36 and 2.1.41 somehow alters the ignored timeout config property? I see there were changes introduced to `scully-plugin-puppeteer`.

[2022-11-25 14:40] jsanta commented on #1427
As I saw recently, nothing has changed.
Had to update my Scully configs and ended up hot patching the puppeteer plugin.
Made a Gist for this: https://gist.github.com/jsanta/4adbcdb00409c81853c8b9241fe36ccc